﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Equipment.EquipmentViewModel

@{
    ViewBag.Title = "Active Equipment";
}

@section contentHeader
{
    <h1>Active Equipment</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var activeEquipment = null;

        $(function () {
            activeEquipment = new triangle.ui.table('#current', '/Contract/Equipment/ActiveEquipment', 50);
        });

    </script>

}