﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Equipment.EquipmentViewModel

@{
    ViewBag.Title = "Active Equipment";
}

@section contentHeader
{
    <h1>Active Equipment</h1>
}
<div class="overview">
    @Html.HiddenFor(m => m.LoadingSheetID)
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "Update", "LoadingSheet", new { id = Model.LoadingSheetID }, new { @class = "btn" })
        @*<input type="button" id="addButton" class="btn btn-primary btn-add" value="Add Selected Equipment" name="AddEquipment" />*@
    </div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>

<div id="EquipmentModal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add Equipment</h3>
    </div>
    <div class="modal-body form-horizontal">
        <label for="equipmentName" class="control-label">Equipment Name</label>
        <div class="controls">
            <input type="text" id="equipmentName" name="NewEquipmentName" disabled="disabled"/>
        </div>
        <label for="quantity" class="control-label">Quantity</label>
        <div class="controls">
            <input id="Quantity" name="quantity" class="time-spinner spinner" type="number" min="0" />
        </div>
        <label for="SheetOrder" class="control-label">Order</label>
        <div class="controls">
            <input id="SheetOrder" name="order" class="time-spinner spinner" type="number" min="0" />
        </div>
    </div>
    <div class="modal-footer">
        <input id="EquipmentModalCancel" type="button" class="btn" data-dismiss="modal" value="Cancel" />
        <input id="EquipmentModalProceed" type="button" class="btn btn-primary" name="Equipment" value="Add" />
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        var activeEquipment = null;
        var selected = new Array();

        $(function () {
            activeEquipment = new triangle.ui.table('#current', '/Contract/Equipment/ActiveEquipmentLS', 10, { loadingSheetID: $("#LoadingSheetID").val() }, tableLoaded);

            $("#EquipmentModalProceed").on("click", function () {
                AddEquipment();
            });

            $(".close").on("click", function () {
                selected = [];

                var list = $(".multi-select-css-label");
                $(list).each(function (label) {
                    $(list[label]).removeClass("checked");
                });
            });

            $("#EquipmentModalCancel").on("click", function () {
                selected = [];

                var list = $(".multi-select-css-label");
                $(list).each(function (label) {
                    $(list[label]).removeClass("checked");
                });
            });
        });

        function tableLoaded() {
            var list = $(".multi-select-css-label");

            $(".multi-select-css-label").unbind().click(function () {
                if ($(this).hasClass("checked")) {
                    $(this).removeClass("checked");
                    var id = $(this).attr("for");
                    selected.splice(selected.indexOf(id), 1);
                }
                else {
                    $(this).addClass("checked");
                    var id = $(this).attr("for");
                    selected.push(id);

                    var tr = $(this).closest('tr');
                    var equipmentName = tr.find('.it-col-equipmentname span').text();
                    $("#equipmentName").val(equipmentName);

                    // increment order number
                    var loadingSheetID = $('#LoadingSheetID').val();
                    $.ajax({
                        url: '/Contract/Equipment/LoadingSheetEquipmentLastOrderNumber',
                        type: 'post',
                        data: { id: loadingSheetID },
                        success: function (a) {
                            var orderNumber = 1;
                            if (a.OrderNumber != null) {
                                orderNumber = a.OrderNumber + 1;
                            }
                            $('#SheetOrder').val(orderNumber);
                        }
                    })

                    equipmentModal = $("#EquipmentModal").modal({ backdrop: false, show: false });
                    equipmentModal.modal({ backdrop: false });

                    // z-index required to displayed in front of .primary-actions
                    equipmentModal.css('z-index', 999999999);
                }
            });

            $(list).each(function (label) {
                $(selected).each(function (id) {
                    if ($(list[label]).attr("for") == selected[id]) {
                        $(list[label]).addClass("checked");
                    }
                })
            });

            var images = $('.it-col-image span');
            $(images).each(function () {
                $(this).css('height', 'auto');
                $(this).css('padding', '4px 5px');
            });
        };

        function AddEquipment() {
            var d2 = $("#LoadingSheetID").val();
            var quantity = $("#Quantity").val();
            var order = $("#SheetOrder").val();

            var data = { selectedEquipment: selected, quantity: quantity, loadingSheetID: d2, sheetOrder: order };

            $.ajax({
                url: "/Contract/LoadingSheet/AddEquipment",
                dataType: "json",
                type: "POST",
                traditional:true,
                data: data,
                success: function (response) {
                    window.location.href = response;
                }
            });
        };

    </script>

}