﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Equipment.EquipmentViewModel

@{
    ViewBag.Title = "Inactive Equipment";
}

@section contentHeader
{
    <h1>Inactive Equipment</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var inactiveEquipment = null;

        $(function () {
            inactiveEquipment = new triangle.ui.table('#current', '/Contract/Equipment/InactiveEquipment', 50);
        });

    </script>

}