﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Equipment.EquipmentViewModel

@{
    ViewBag.Title = "Equipment Summary";
}

@section contentHeader
{
    <h1>Equipment Summary</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            <a href="@Request.UrlReferrer" class="btn">Cancel</a>
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Equipment.EquipmentID)
                    @Html.HiddenFor(m => m.Equipment.Name)
                    @Html.HiddenFor(m => m.Equipment.EquipmentTypeID)
                    @Html.HiddenFor(m => m.SheetOrder)

                    
                    @Bootstrap.TextBoxFor(m => m.Equipment.Name, new { disabled = "disabled", label = "Area Name" })
                    @Bootstrap.TextBoxFor(m => m.Equipment.EquipmentType.Name, new { disabled = "disabled", label = "Equipment Type" })
                    @Bootstrap.TextBoxFor(m => m.Quantity, new { type = "number" })
                    
                    @if(Model.ImageData != "No Image Selected"){
                        <div class="control-group">
                            <label for="File" class="control-label">Image</label>
                            <div class="controls">
                                <img alt="" src="data:image/jpeg;base64,@Model.ImageData.ToString()" width="150" height="150"/>
                            </div>
                        </div>
                    }
                    else{
                        @Bootstrap.TextBoxFor(m => m.ImageData, new { disabled = "disabled" })
                    }

                    @Bootstrap.CheckBoxFor(m => m.Equipment.IsActive, new { label = "Active?" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">

        $('#Quantity').on('change', function () {
            if ($(this).val() < 0) {
                $(this).val('0');
            };

        });

    </script>
}