﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Equipment.EquipmentViewModel

@{
    ViewBag.Title = "Update Equipment";
}

@section contentHeader
{
    <h1>Update Equipment</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Equipment.EquipmentID)
                    @Html.HiddenFor(m => m.ImageData)
                    
                    @Bootstrap.TextBoxFor(m => m.Equipment.Name, new { label = "Equipment Name" })
                    @Bootstrap.LookupFor(m => m.Equipment.EquipmentTypeID, m => m.Equipment.EquipmentType.Name, "Equipment Type")

                    <div class="control-group">
                        <label for="File" class="control-label">Image</label>
                        <div class="controls imageContainer">
                            <input type="file" id="FileImage" accept="image/*" class="equipment-image" name="Image">
                            @if(Model.ImageData == ""){
                                <div id="imagePreview"></div>
                            }
                            else{
                                <img id="currentImage" alt="" src="data:image/jpeg;base64,@Model.ImageData.ToString()" width="150" height="150"/>
                            }
                        </div>
                    </div>

                    @Bootstrap.CheckBoxFor(m => m.Equipment.IsActive, new { label = "Active" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        var equipmentTypeLookup = null;

        $(function () {
            equipmentTypeLookup = new triangle.ui.lookup("#Equipment-EquipmentTypeID" /*ID*/, "/Contract/Maintenance/GetEquipmentTypesLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);

            $("#FileImage").on("change", function () {
                var files = !!this.files ? this.files : [];
                if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support

                if (/^image/.test(files[0].type)) { // only image file
                    var reader = new FileReader(); // instance of the FileReader
                    reader.readAsDataURL(files[0]); // read the local file

                    reader.onloadend = function () { // set image data as background of div
                        $("#currentImage").remove();
                        $("#imagePreview").remove();
                        $(".imageContainer").append("<div id='imagePreview'></div>");
                        $("#imagePreview").css("background-image", "url(" + this.result + ")");
                    }
                }
            });
        });
    </script>
}