﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Areas.AreaViewModel

@{
    ViewBag.Title = "Active Area Prtocols";
}

@section contentHeader
{
    <h1>Active Area Protocols</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var activeAreas = null;

        $(function () {
            activeAreas = new triangle.ui.table('#current', '/Contract/Area/ActiveAreas', 50);
        });

    </script>

}