﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Areas.AreaViewModel

@{
    ViewBag.Title = "Inactive Area Protocols";
}

@section contentHeader
{
    <h1>Inactive Area Protocols</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var inactiveAreas = null;

        $(function () {
            inactiveAreas = new triangle.ui.table('#current', '/Contract/Area/InactiveAreas', 50);
        });

    </script>

}