﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Areas.AreaViewModel

@{
    ViewBag.Title = "New Area";
}

@section contentHeader
{
    <h1>New Area</h1>
}

<div class="area">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Update", "WorkInstruction", new { id = Model.Area.WorkInstructionID }, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span8 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(x => x.Area.WorkInstructionID)
                    @Bootstrap.LookupFor(m => m.Area.AreaID, m => m.Area.Name, "Area")
                    @Bootstrap.TextAreaFor(m => m.Area.CallProtocol, new { label = "Call Protocol", @class="callprotocol" })
                    @Bootstrap.TextBoxFor(m => m.Area.RCCNumber, new { label = "RCC Number" })
                    @Bootstrap.TextBoxFor(m => m.Area.NCCNumber, new { label = "NCC Number" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        var areaLookup = null;

        $(function () {

            areaLookup = new triangle.ui.lookup("#Area-AreaID" /*ID*/, "/Contract/Area/GetAreaLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            areaLookup.SelectedEvent = function (key, value) {
                $.post("/Contract/Area/GetAreaDetails", { areaID: value }, function (data) {
                    $("#Area-CallProtocol").val(data.call);
                    $("#Area-RCCNumber").val(data.rcc);
                    $("#Area-NCCNumber").val(data.ncc);
                });
            }

        });
    </script>
}