﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Areas.AreaViewModel

@{
    ViewBag.Title = "Area Protocol Summary";
}

@section contentHeader
{
    <h1>Area Protocol Summary</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Inactive", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span8 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Area.AreaID)
                    @Html.HiddenFor(m => m.Area.Name)
                    @Html.HiddenFor(m => m.Area.CallProtocol)
                    @Html.HiddenFor(m => m.Area.RCCNumber)
                    @Html.HiddenFor(m => m.Area.NCCNumber)

                    @Bootstrap.TextBoxFor(m => m.Area.Name, new { disabled = "disabled", label = "Area Protocol Name" })
                    @Bootstrap.TextAreaFor(m => m.Area.CallProtocol, new { disabled = "disabled", label = "Call Protocol", @class="callprotocol" })
                    @Bootstrap.TextBoxFor(m => m.Area.RCCNumber, new { disabled = "disabled", label = "RCC Number" })
                    @Bootstrap.TextBoxFor(m => m.Area.NCCNumber, new { disabled = "disabled", label = "NCC Number" })

                    @Bootstrap.CheckBoxFor(m => m.Area.IsActive, new { label = "Active?" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        
    </script>
}