﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Areas.AreaViewModel

@{
    ViewBag.Title = "Update Area Protocol";
}

@section contentHeader
{
    <h1>Update Area Protocol</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span8 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Area.AreaID)

                    @Bootstrap.TextBoxFor(m => m.Area.Name, new { label = "Area Name" })
                    @Bootstrap.TextAreaFor(m => m.Area.CallProtocol, new { label = "Call Protocol", @class="callprotocol" })
                    @Bootstrap.TextBoxFor(m => m.Area.RCCNumber, new { label = "RCC Number" })
                    @Bootstrap.TextBoxFor(m => m.Area.NCCNumber, new { label = "NCC Number" })
                    @Bootstrap.CheckBoxFor(m => m.Area.IsActive, new { label = "Active" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">

    </script>
}