﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.JobTypes.JobTypeViewModel
@{
    ViewBag.Title = "Job Types";
    var edit = new RowAction() { Icon = "icon-pencil", Link = "/Contract/Maintenance/UpdateJobType/{JobTypeID}", Title = "Edit" };    
}

@section ContentHeader{
    <h1>Job Types</h1>
}

<div class="overview">
    <div class="primary-actions">
        @Html.ActionLink("Add new job type", "NewJobType", null, new { @class = "btn btn-primary" })
    </div>
    <div class="span8">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="dataTab">
                <li class="active">
                    <a href="#current" data-toggle="tab">Active</a>
                </li>
                <li>
                    <a href="#inactive" data-toggle="tab">Inactive</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="current">
                    @Html.GenerateTable(Model, "ActiveJobTypes", new { @class = "table table-striped table-bordered" }, edit)
                </div>
                <div class="tab-pane" id="inactive">
                    @Html.GenerateTable(Model, "InactiveJobTypes", new { @class = "table table-striped table-bordered" }, edit)
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#dataTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });

    </script>
}