﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.ActionTitles.UpdateActionTitleViewModel
@{
    ViewBag.Title = "New Action Title";
}
@section contentHeader{
    <h1>New Action Title</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "ActionTitles", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Bootstrap.TextBoxFor(t => t.ActionTitle.ActionTitle)
                @Bootstrap.TextBoxFor(t => t.ActionTitle.Order)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
    </script>
}