﻿@model FMConway.Services.Checklists.Models.ChecklistQuestionModel
@{
    ViewBag.Title = "New Checklist Question";
}
@section contentHeader{
    <h1>New Checklist Question</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        <input type="submit" class="btn" value="Cancel" name="Cancel" />
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(m => m.ChecklistID)

                @Bootstrap.TextBoxFor(t => t.ChecklistQuestion)
                @Bootstrap.TextBoxFor(t => t.QuestionOrder)
            </fieldset>
        </div>
    </div>
}