﻿@model FMConway.Services.Checklists.Models.ChecklistModel
@{
    ViewBag.Title = "New Checklist";
}

@section contentHeader{
    <h1>New Checklist</h1>
}

<style>
    .checklist-options input[type="radio"] {
        outline: none;
    }

    .checklist-options .control-label {
        white-space: nowrap;
        width: 205px;
    }

    .checklist-options .controls {
        margin-left: 220px;
    }
</style>

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "Checklists", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection checklist-options">
            <fieldset>
                <legend>Details</legend>
                @Bootstrap.TextBoxFor(t => t.ChecklistName)

                @Bootstrap.RadioButtonFor(t => t.ChecklistType, "Maintenance", new { label = "Maintenance Checklist", @class = "radio" })
                @Bootstrap.RadioButtonFor(t => t.ChecklistType, "JettingRiskAssessment", new { label = "Jetting Risk Assessment", @class = "radio" })
                @Bootstrap.RadioButtonFor(t => t.ChecklistType, "TankeringPermitToWork", new { label = "Tankering Permit To Work", @class = "radio" })
                @Bootstrap.RadioButtonFor(t => t.ChecklistType, "TankeringRiskAssessment", new { label = "Tankering Risk Assessment", @class = "radio" })
                @Bootstrap.RadioButtonFor(t => t.ChecklistType, "CCTVRiskAssessment", new { label = "CCTV Risk Assessment", @class = "radio" })
                @Bootstrap.RadioButtonFor(t => t.ChecklistType, "CyclicalWorksRiskAssessment", new { label = "Cyclical Works Risk Assessment", @class = "radio" })
            </fieldset>
        </div>

        <div class="span6 control-collection">
                <fieldset>
                    <legend>Questions</legend>
                    <div class="actions">
                        <a href="#" title="Please Add Checklist First" class="ttip btn button-disabled">Add Questions</a>
                    </div>
                </fieldset>
            </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        
        $(function () {
            if ($("#IsJobTypeChecklist").is(":checked")) {
                $(".depotComplete").show();
            }

            if ($("#CompleteAtDepot").is(":checked")) {
                $(".startComplete").show();
            }

            $(".radio").on("change", function () {
                if ($(this).val() == "JobType") {
                    $(".depotComplete").slideDown(500);
                }
                else {
                    $(".depotComplete").slideUp(500);
                    $(".startComplete").slideUp(500);
                    $("#CompleteAtDepot").removeAttr("checked");
                    $("#StartOfWork").removeAttr("checked");
                }
            });

            $("#CompleteAtDepot").on("change", function () {
                if ($(this).is(":checked")) {
                    $(".startComplete").slideDown(500);
                }
                else {
                    $(".startComplete").slideUp(500);
                    //$("#StartOfWork").removeAttr("checked");
                }
            });

            $('.checklist-options .control-group:has(input[type="radio"])').each(function () {
                var group = $(this);

                var label = group.find('.control-label');
                var input = group.find('input[type="radio"]');

                label.prop('for', input.val());
                input.prop('id', input.val());
            });
        });

    </script>
}