﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.CertificateTypes.UpdateCertificateTypeViewModel
@{
    ViewBag.Title = "New Certificate Type";
}
@section contentHeader{
    <h1>New Certificate Type</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "CertificateTypes", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Bootstrap.TextBoxFor(t => t.CertificateType.Name)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
    </script>
}