﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.EquipmentTypes.UpdateEquipmentTypeViewModel
@{
    ViewBag.Title = "New Equipment Type";
}
@section contentHeader{
    <h1>New Equipment Type</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "EquipmentTypes", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Bootstrap.TextBoxFor(t => t.EquipmentType.Name)
                @Bootstrap.DropDownListFor(m => m.EquipmentType.EquipmentTypeVmsOrAssetID, Model.VmsOrAssets, new { label = "Asset" })
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
    </script>
}