﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.EmployeeAbsenceReasons.UpdateEmployeeAbsenceReasonViewModel

@{
    ViewBag.Title = "New Employee Absence Reason";
}

@section contentHeader
{
    <h1>New Employee Absence Reason</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "EmployeeAbsenceReasons", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Bootstrap.TextBoxFor(t => t.EmployeeAbsenceReason.Code)
                @Bootstrap.TextBoxFor(t => t.EmployeeAbsenceReason.Description)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
    </script>
}