﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.JobTypes.UpdateJobTypeViewModel
@{
    ViewBag.Title = "New Job Type";
}
@section contentHeader{
    <h1>New Job Type</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "JobTypes", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Bootstrap.TextBoxFor(t => t.JobType.Name)
                @Bootstrap.MultiListLookupFor(t => t.Checklists, "Checklists")
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        var checklistLookup = null;

        $(function () {
            checklistLookup = new triangle.ui.lookup("#Checklists" /*ID*/, "/Contract/Maintenance/GetJobTypeChecklistLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);
        });
    </script>
}