﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.LoadingSheetTemplates.UpdateLoadingSheetTemplateViewModel
@{
    ViewBag.Title = "New Loading Sheet Template";
}
@section contentHeader{
    <h1>New Loading Sheet Template</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "LoadingSheetTemplates", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Bootstrap.TextBoxFor(t => t.LoadingSheetTemplate.Name)
                @*@Bootstrap.LookupFor(t => t.LoadingSheetTemplate.VehicleTypeID,t => t.LoadingSheetTemplate.VehicleType.Name,"Vehicle Type")*@
            </fieldset>
        </div>
        <div class="span6 control-collection">
                <fieldset>
                    <legend>Equipment</legend>
                    <div class="actions">
                        <a href="#" title="Please Add Template First" class="ttip btn button-disabled">Add Equipment</a>
                    </div>
                </fieldset>
            </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        //var vehicleTypeLookup = null;

        //$(function () {
        //    vehicleTypeLookup = new triangle.ui.lookup("#LoadingSheetTemplate-VehicleTypeID" /*ID*/, "/Contract/Maintenance/GetVehicleTypesLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        //});

    </script>
}