﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.PriceLines.UpdatePriceLineViewModel

@{
    ViewBag.Title = "New Price Line";
}

@section contentHeader
{
    <h1>New Price Line</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "PriceLines", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Bootstrap.TextBoxFor(t => t.PriceLine.Code)
                @Bootstrap.TextBoxFor(t => t.PriceLine.Description)
                @Bootstrap.TextBoxFor(t => t.PriceLine.DefaultRate)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
    </script>
}