﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.Users.NewSystemUserModel

@{
    ViewBag.Title = "New System User";
}

@section ContentHeader
{
    <h1>New System User</h1>
}

<div class="system-users">
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "SystemUsers", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        @Bootstrap.Validation.ValidationSummary();        
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Bootstrap.TextBoxFor(m => m.User.UserName)
                    @Bootstrap.TextBoxFor(m => m.User.Email)
                    @Bootstrap.TextBoxFor(m => m.Password)
                    @Bootstrap.TextBoxFor(m => m.ConfirmationPassword)

                    @Bootstrap.LookupFor(m => m.EmployeeID, m => m.EmployeeName).RequiredIf(true).HiddenIf(Model.RoleLookup == "Customer")
                    @Bootstrap.LookupFor(m => m.CustomerID, m => m.CustomerName).RequiredIf(true).HiddenIf(Model.RoleLookup != "Customer")

                    @Bootstrap.CheckBoxFor(m => m.User.IsApproved)
                    @Bootstrap.CheckBoxFor(m => m.User.IsLockedOut)
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Role</legend>
                    @Bootstrap.LookupFor(m => m.RoleID, m => m.RoleLookup, "Role")
                </fieldset>
            </div>
        </div>    
    }
</div>

@section scripts
{
    <script>
        var employeeLookup = new triangle.ui.lookup("#EmployeeID" /*ID*/, "/Contract/Employee/GetEmployeeUserLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        employeeLookup.SelectedEvent = function (key, value, data) {
            var employeeID = value;
        };

        var customerLookup = new triangle.ui.lookup("#CustomerID" /*ID*/, "/Contract/Customer/GetCustomerUserLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        customerLookup.SelectedEvent = function (key, value, data) {
            var customerID = value;
        };

        var rolesLookup = new triangle.ui.lookup("#RoleID" /*ID*/, "/Contract/Maintenance/GetRoles" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        rolesLookup.SelectedEvent = function (key, value, data) {
            if (key == 'Customer') {
                employeeLookup.Clear();
                $('#EmployeeID-lookup .control-group').hide();
                $('#CustomerID-lookup .control-group').show();
            } else {
                customerLookup.Clear();
                $('#CustomerID-lookup .control-group').hide();
                $('#EmployeeID-lookup .control-group').show();
            }
        };

    </script>
}
