﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.VehicleAbsenceReasons.UpdateVehicleAbsenceReasonViewModel

@{
    ViewBag.Title = "New Vehicle Absence Reason";
}

@section contentHeader
{
    <h1>New Vehicle Absence Reason</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "VehicleAbsenceReasons", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Bootstrap.TextBoxFor(t => t.VehicleAbsenceReason.Code)
                @Bootstrap.TextBoxFor(t => t.VehicleAbsenceReason.Description)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
    </script>
}