﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.WeatherConditions.UpdateWeatherConditionViewModel

@{
    ViewBag.Title = "New Weather Condition";
}

@section contentHeader
{
    <h1>New Weather Condition</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "WeatherConditions", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Bootstrap.TextBoxFor(t => t.WeatherCondition.Name)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
    </script>
}