﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.Users.SystemUserModel
@{
    ViewBag.Title = "System Users";
}

@section ContentHeader{
    <h1>System Users</h1>
}

<div class="overview">

    <div class="primary-actions">
        @Html.ActionLink("Add new user", "NewSystemUser", null, new { @class = "btn btn-primary" })
    </div>
    <div class="tabbable">
        <ul class="nav nav-tabs" id="dataTab">
            <li class="active">
                <a href="#current" data-toggle="tab">Active</a>
            </li>
            <li>
                <a href="#approval" data-toggle="tab">Approval Needed</a>
            </li>
            <li>
                <a href="#lockedOut" data-toggle="tab">Locked Out</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="current">
            </div>
            <div class="tab-pane" id="approval">
            </div>
            <div class="tab-pane" id="lockedOut">
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">
        var inactiveUsers = null;
        var activeUsers = null;
        var lockedOutUsers = null;

        $(function () {
            activeUsers = new triangle.ui.table('#current', '/Contract/Maintenance/ActiveSystemUsers', 2000);
            inactiveUsers = new triangle.ui.table('#approval', '/Contract/Maintenance/InactiveSystemUsers', 2000);
            lockedOutUsers = new triangle.ui.table('#lockedOut', '/Contract/Maintenance/LockedOutSystemUsers', 2000);
        });

    </script>

}