﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.CertificateTypes.UpdateCertificateTypeViewModel
@{
    ViewBag.Title = "Update Certificate Type";
}

@section ContentHeader{
    <h1>Update Certificate Type</h1>
}
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "CertificateTypes", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>   
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.CertificateType.CertificateTypeID)
                @Html.HiddenFor(a => a.CertificateType.CreatedByID)
                @Html.HiddenFor(a => a.CertificateType.CreatedDate)
                
                @Bootstrap.TextBoxFor(m => m.CertificateType.Name)
                @Bootstrap.CheckBoxFor(m => m.CertificateType.IsActive)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">

    </script>
}