﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.VehicleTypes.UpdateVehicleTypeViewModel
@{
    ViewBag.Title = "Update Vehicle Type";
}

@section ContentHeader{
    <h1>Update Vehicle Type</h1>
}

@Bootstrap.Validation.ValidationSummary()

@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "VehicleTypes", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>   
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.VehicleType.VehicleTypeID)
                @Html.HiddenFor(a => a.VehicleType.CreatedByID)
                @Html.HiddenFor(a => a.VehicleType.CreatedDate)
                
                @Bootstrap.TextBoxFor(m => m.VehicleType.Name)
                @*@Bootstrap.MultiListLookupFor(t => t.Checklists, "Checklists")*@
                @Bootstrap.CheckBoxFor(m => m.VehicleType.IsActive)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        var checklistLookup = null;

        $(function () {
            checklistLookup = new triangle.ui.lookup("#Checklists" /*ID*/, "/Contract/Maintenance/GetVehicleTypeChecklistLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);
        });
    </script>
}