﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.VehicleAbsenceReasons.UpdateVehicleAbsenceReasonViewModel
@{
    ViewBag.Title = "Update Vehicle Absence Reason";
}

@section ContentHeader{
    <h1>Update Vehicle Absence Reason</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "VehicleAbsenceReasons", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.VehicleAbsenceReason.VehicleAbsenceReasonID)
                @Bootstrap.TextBoxFor(a => a.VehicleAbsenceReason.Code)
                @Bootstrap.TextBoxFor(a => a.VehicleAbsenceReason.Description)
                @Bootstrap.CheckBoxFor(a => a.VehicleAbsenceReason.IsActive)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
    </script>
}