﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.DisposalSites.DisposalSiteViewModel
@{
    ViewBag.Title = "Update Disposal Site";
}

@section ContentHeader{
    <h1>@ViewBag.Title</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "DisposalSites", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.DisposalSiteID)
                @Bootstrap.TextBoxFor(a => a.Name)
                @Bootstrap.CheckBoxFor(a => a.IsActive)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
    </script>
}