﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.LoadingSheetTemplates.UpdateLoadingSheetTemplateViewModel
@{
    ViewBag.Title = "Update Template";
}
@section contentHeader{
    <h1>Update Template</h1>
}

<div class="loading-sheet">
@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "LoadingSheetTemplates", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(t => t.LoadingSheetTemplate.LoadingSheetTemplateID)
                @Bootstrap.TextBoxFor(t => t.LoadingSheetTemplate.Name)
                @*@Bootstrap.LookupFor(t => t.LoadingSheetTemplate.VehicleTypeID,t => t.LoadingSheetTemplate.VehicleType.Name,"Vehicle Type")*@
                @Bootstrap.CheckBoxFor(t => t.LoadingSheetTemplate.IsActive)
            </fieldset>
        </div>
        <div class="span6 control-collection equipment">
                <fieldset>
                    <legend>Equipment</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeEquipment">
                    </div>
                    <div class="actions">
                        @Html.ActionLink("Add Equipment", "AddLoadingSheetTemplateEquipment", "Equipment", new { loadingSheetTemplateID = Model.LoadingSheetTemplate.LoadingSheetTemplateID }, new { @class = "btn" })
                        
                        <a class="btn non-equipment" href="#" title="AddNonStandardEquipment">Add Non Standard Equipment</a>
                        
                    </div>
                </fieldset>
            </div>
    </div>
    <div id="EquipmentModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Add Equipment</h3>
        </div>
        <div class="modal-body form-horizontal">
            <label for="equipmentName" class="control-label">Equipment Name</label>
            <div class="controls">
                <input type="text" id="equipmentName" name="NewEquipmentName"/>
            </div>
            <label for="quantity" class="control-label">Quantity</label>
            <div class="controls">
                <input id="quantity" name="quantity" class="time-spinner spinner" type="number" min="0" />
            </div>
            <label for="SheetOrder" class="control-label">Order</label>
            <div class="controls">
                <input id="SheetOrder" name="sheetOrder" class="time-spinner spinner" type="number" min="0" />
            </div>
        </div>
        <div class="modal-footer">
            <input id="EquipmentModalCancel" type="button" class="btn" data-dismiss="modal" value="Cancel" />
            <input id="EquipmentModalProceed" type="submit" class="btn btn-primary" name="Equipment" value="Add" />
        </div>
    </div>
}
</div>
@section scripts{
    <script type="text/javascript">
        //var vehicleTypeLookup = null;
        var loadingSheetEquipment = null;
        var equipmentModal = null;

        $(function () {
            //vehicleTypeLookup = new triangle.ui.lookup("#LoadingSheetTemplate-VehicleTypeID" /*ID*/, "/Contract/Maintenance/GetVehicleTypesLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            loadingSheetEquipment = new triangle.ui.table('#activeEquipment', '/Contract/Equipment/ActiveLoadingSheetTemplateEquipment', 5, { loadingSheetTemplateID: $("#LoadingSheetTemplate_LoadingSheetTemplateID").val() });
            loadingSheetEquipment.searchBarExpandedSize = 300;

            equipmentModal = $("#EquipmentModal").modal({ backdrop: false, show: false });
            $(".non-equipment").on("click", function () {
                equipmentModal.modal({ backdrop: false });
            });

            $("#EquipmentModalProceed").on("click", function () {
                equipmentModal.modal('hide');

            });
        });

    </script>
}