﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.WeatherConditions.UpdateWeatherConditionViewModel
@{
    ViewBag.Title = "Update Weather Condition";
}

@section ContentHeader{
    <h1>Update Weather Condition</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "WeatherConditions", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.WeatherCondition.WeatherConditionID)
                @Bootstrap.TextBoxFor(a => a.WeatherCondition.Name)
                @Bootstrap.CheckBoxFor(a => a.WeatherCondition.IsActive)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
    </script>
}