﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.JobTypes.UpdateJobTypeViewModel
@{
    ViewBag.Title = "Update Job Type";
}

@section ContentHeader{
    <h1>Update Job Type</h1>
}
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "JobTypes", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>   
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.JobType.JobTypeID)
                @Html.HiddenFor(a => a.JobType.CreatedByID)
                @Html.HiddenFor(a => a.JobType.CreatedDate)
                
                @Bootstrap.TextBoxFor(m => m.JobType.Name)
                @Bootstrap.MultiListLookupFor(t => t.Checklists, "Checklists")
                @Bootstrap.CheckBoxFor(m => m.JobType.IsActive)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        var checklistLookup = null;

        $(function () {
            checklistLookup = new triangle.ui.lookup("#Checklists" /*ID*/, "/Contract/Maintenance/GetJobTypeChecklistLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);
        });
    </script>
}