﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.Checklists.UpdateChecklistViewModel
@{
    ViewBag.Title = "Update Checklist";
}

@section ContentHeader{
    <h1>Update Checklist</h1>
}

<style>
    .checklist-options input[type="radio"] {
        outline: none;
    }

    #activeQuestions tr[data-rowdata="inactive"] {
        text-decoration: line-through;
    }

    .checklist-options .control-label {
        white-space: nowrap;
        width: 205px;
    }

    .checklist-options .controls {
        margin-left: 220px;
    }
</style>

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "Checklists", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>   
    <div class="masonry">
        <div class="span6 control-collection checklist-options">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.Checklist.ChecklistID)
                @Html.Hidden("ChecklistType", Model.Checklist.ChecklistType)
                @Html.HiddenFor(a => a.Checklist.CreatedByID)
                @Html.HiddenFor(a => a.Checklist.CreatedDate)

                @Bootstrap.TextBoxFor(m => m.Checklist.ChecklistName)

                @Bootstrap.RadioButtonFor(t => t.Checklist.ChecklistType, "Maintenance", new { label = "Maintenance Checklist", @class = "radio" })
                @Bootstrap.RadioButtonFor(t => t.Checklist.ChecklistType, "JettingRiskAssessment", new { label = "Jetting Risk Assessment", @class = "radio" })
                @Bootstrap.RadioButtonFor(t => t.Checklist.ChecklistType, "TankeringPermitToWork", new { label = "Tankering Permit To Work", @class = "radio" })
                @Bootstrap.RadioButtonFor(t => t.Checklist.ChecklistType, "TankeringRiskAssessment", new { label = "Tankering Risk Assessment", @class = "radio" })
                @Bootstrap.RadioButtonFor(t => t.Checklist.ChecklistType, "CCTVRiskAssessment", new { label = "CCTV Risk Assessment", @class = "radio" })
                @Bootstrap.RadioButtonFor(t => t.Checklist.ChecklistType, "CyclicalWorksRiskAssessment", new { label = "Cyclical Works Risk Assessment", @class = "radio" })

                @Bootstrap.CheckBoxFor(m => m.Checklist.IsActive)
            </fieldset>
        </div>

        <div class="span6 control-collection">
                <fieldset>
                    <legend>Questions</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeQuestions">
                    </div>
                    <div class="actions">
                        @Html.ActionLink("Add Question", "NewChecklistQuestion", "Maintenance", new { id = Model.Checklist.ChecklistID }, new { @class = "btn" })
                    </div>
                </fieldset>
            </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        var activeQuestions = null;

        $(function () {
            activeQuestions = new triangle.ui.table('#activeQuestions', '/Contract/Maintenance/ActiveQuestions', 8, { checklistId: $("#Checklist_ChecklistID").val() });
            activeQuestions.searchBarExpandedSize = 300;

            if ($("#ChecklistType").val() == "JobType") {
                $(".depotComplete").show();
            }

            if ($("#Checklist-CompleteAtDepot").is(":checked")) {
                $(".startComplete").show();
            }

            $(".radio").on("change", function () {
                if ($(this).val() == "JobType") {
                    $(".depotComplete").slideDown(500);
                }
                else {
                    $(".depotComplete").slideUp(500);
                    $(".startComplete").slideUp(500);
                    $("#Checklist-CompleteAtDepot").removeAttr("checked");
                    $("#Checklist-StartOfWork").removeAttr("checked");
                }
            });

            $("#Checklist-CompleteAtDepot").on("change", function () {
                if ($(this).is(":checked")) {
                    $(".startComplete").slideDown(500);
                }
                else {
                    $(".startComplete").slideUp(500);
                    //$("#Checklist-StartOfWork").removeAttr("checked");
                }
            });

            $('.checklist-options .control-group:has(input[type="radio"])').each(function () {
                var group = $(this);

                var label = group.find('.control-label');
                var input = group.find('input[type="radio"]');

                label.prop('for', input.val());
                input.prop('id', input.val());
            });
        });
    </script>
}