﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.ReasonCodes.UpdateReasonCodeViewModel
@{
    ViewBag.Title = "Update Reason Code";
}

@section ContentHeader{
    <h1>Update Reason Code</h1>
}
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "ReasonCodes", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.ReasonCode.ReasonCodeID)
                @Bootstrap.TextBoxFor(a => a.ReasonCode.Code)
                @Bootstrap.TextBoxFor(a => a.ReasonCode.Description)
                @Bootstrap.CheckBoxFor(a => a.ReasonCode.IsActive)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
    </script>
}