﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.Users.UpdateSystemUserModel

@{
    
    ViewBag.Title = "Update System User";
}

@section ContentHeader
{
    <h1>Update System User</h1>
}

@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "SystemUsers", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    
    @Bootstrap.Validation.ValidationSummary();    
    
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>

                @Html.HiddenFor(m => m.User.ID)
                @Html.HiddenFor(m => m.User.LastLoginDate)
                @Html.HiddenFor(m => m.User.LastLockoutDate)
                @Html.HiddenFor(m => m.User.PasswordResetTokenExpiration)
                @Html.HiddenFor(m => m.User.FailedPasswordAttemptCount)
                @Html.HiddenFor(m => m.User.LastPasswordChangedDate)
                @Html.HiddenFor(m => m.OriginalRoleID)
                @Html.HiddenFor(m => m.OriginalRoleLookup)

                @Bootstrap.TextBoxFor(m => m.User.UserName, new { @readonly = "readonly" })
                @Bootstrap.TextBoxFor(m => m.User.Email)

                @Bootstrap.LookupFor(m => m.EmployeeID, m => m.EmployeeName).RequiredIf(true).HiddenIf(Model.RoleLookup == "Customer")
                @Bootstrap.LookupFor(m => m.CustomerID, m => m.CustomerName).RequiredIf(true).HiddenIf(Model.RoleLookup != "Customer")

                <div class="control-group">
                    @Html.LabelFor(m => m.User.LastLoginDate, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBox("LastLoginDate", !Model.User.LastLoginDate.HasValue ? "" : Model.User.LastLoginDate.Value.ToShortDateString(), new { disabled = "disabled" })
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(m => m.User.LastLockoutDate, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBox("LastLockoutDate", !Model.User.LastLockoutDate.HasValue ? "" : Model.User.LastLockoutDate.Value.ToShortDateString(), new { disabled = "disabled" })
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(m => m.User.LastPasswordChangedDate, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBox("LastPasswordChangedDate", !Model.User.LastPasswordChangedDate.HasValue ? "" : Model.User.LastPasswordChangedDate.Value.ToShortDateString(), new { disabled = "disabled" })
                    </div>
                </div>

                @Bootstrap.TextBoxFor(m => m.User.PasswordResetTokenExpiration, new { disabled = "disabled" })

                @Bootstrap.TextBoxFor(m => m.User.FailedPasswordAttemptCount, new { disabled = "disabled" })

                @Bootstrap.CheckBoxFor(m => m.User.IsApproved)
                @Bootstrap.CheckBoxFor(m => m.User.IsLockedOut)
            </fieldset>
        </div>

        <div class="span6 control-collection">
            <fieldset>
                <legend>Role</legend>
                @Bootstrap.LookupFor(m => m.RoleID, m => m.RoleLookup, "Role")
            </fieldset>
        </div>

        <div class="span6 control-collection">
            <fieldset>
                <legend>Reset Password</legend>

                @Bootstrap.PasswordFor(m => m.Password)
                @Bootstrap.PasswordFor(m => m.ConfirmPassword)             

            </fieldset>
        </div>

    </div>

}

@section scripts
{
    <script>
        var employeeLookup = new triangle.ui.lookup("#EmployeeID" /*ID*/, "/Contract/Employee/GetEmployeeUserLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        employeeLookup.SelectedEvent = function (key, value, data) {
            var employeeID = value;
        };

        var customerLookup = new triangle.ui.lookup("#CustomerID" /*ID*/, "/Contract/Customer/GetCustomerUserLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        customerLookup.SelectedEvent = function (key, value, data) {
            var customerID = value;
        };

        var rolesLookup = new triangle.ui.lookup("#RoleID" /*ID*/, "/Contract/Maintenance/GetRoles" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        rolesLookup.SelectedEvent = function (key, value, data) {
            if (key == 'Customer') {
                employeeLookup.Clear();
                $('#EmployeeID-lookup .control-group').hide();
                $('#CustomerID-lookup .control-group').show();
            } else {
                customerLookup.Clear();
                $('#CustomerID-lookup .control-group').hide();
                $('#EmployeeID-lookup .control-group').show();
            }
        };

    </script>
}
