﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.MedicalExaminationTypes.UpdateMedicalExaminationTypeViewModel
@{
    ViewBag.Title = "Update Medical Examination Type";
}

@section ContentHeader{
    <h1>Update Medical Examination Type</h1>
}
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "MedicalExaminationTypes", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>   
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.MedicalExaminationType.MedicalExaminationTypeID)
                @Html.HiddenFor(a => a.MedicalExaminationType.CreatedByID)
                @Html.HiddenFor(a => a.MedicalExaminationType.CreatedDate)
                
                @Bootstrap.TextBoxFor(m => m.MedicalExaminationType.Name)
                @Bootstrap.CheckBoxFor(m => m.MedicalExaminationType.IsActive)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">

    </script>
}