﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.Checklists.ChecklistQuestionViewModel
@{
    ViewBag.Title = "Update Checklist Question";
}
@section contentHeader{
    <h1>Update Checklist Question</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        <input type="submit" class="btn" value="Cancel" name="Cancel" />
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(m => m.ChecklistQuestion.ID)
                @Html.HiddenFor(m => m.ChecklistQuestion.ChecklistID)

                @Bootstrap.TextBoxFor(t => t.ChecklistQuestion.ChecklistQuestion)
                @Bootstrap.TextBoxFor(t => t.ChecklistQuestion.QuestionOrder)
                @Bootstrap.CheckBoxFor(t => t.ChecklistQuestion.IsActive)
            </fieldset>
        </div>
    </div>
}