﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.ActionTitles.UpdateActionTitleViewModel
@{
    ViewBag.Title = "Update Action Title";
}

@section ContentHeader{
    <h1>Update Action Title</h1>
}
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "ActionTitles", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>   
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.ActionTitle.ActionTitleID)
                @Html.HiddenFor(a => a.ActionTitle.CreatedByID)
                @Html.HiddenFor(a => a.ActionTitle.CreatedDate)
                
                @Bootstrap.TextBoxFor(m => m.ActionTitle.ActionTitle)
                @Bootstrap.TextBoxFor(t => t.ActionTitle.Order)
                @Bootstrap.CheckBoxFor(m => m.ActionTitle.IsActive)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">

    </script>
}