﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.PriceLines.UpdatePriceLineViewModel
@{
    ViewBag.Title = "Update Price Line";
}

@section ContentHeader{
    <h1>Update Price Line</h1>
}
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "PriceLines", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.PriceLine.PriceLineID)
                @Bootstrap.TextBoxFor(m => m.PriceLine.Code)
                @Bootstrap.TextBoxFor(t => t.PriceLine.Description)
                @Bootstrap.TextBoxFor(t => t.PriceLine.DefaultRate, new { format = "0.00##" })
                @Bootstrap.CheckBoxFor(m => m.PriceLine.IsActive)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
    </script>
}