﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.EmployeeAbsenceReasons.UpdateEmployeeAbsenceReasonViewModel
@{
    ViewBag.Title = "Update Employee Absence Reason";
}

@section ContentHeader{
    <h1>Update Employee Absence Reason</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "EmployeeAbsenceReasons", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.EmployeeAbsenceReason.EmployeeAbsenceReasonID)
                @Bootstrap.TextBoxFor(a => a.EmployeeAbsenceReason.Code)
                @Bootstrap.TextBoxFor(a => a.EmployeeAbsenceReason.Description)
                @Bootstrap.CheckBoxFor(a => a.EmployeeAbsenceReason.IsActive)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
    </script>
}