﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Maintenance.EquipmentTypes.UpdateEquipmentTypeViewModel
@{
    ViewBag.Title = "Update Equipment Type";
}

@section ContentHeader{
    <h1>Update Equipment Type</h1>
}
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "EquipmentTypes", null, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>   
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.EquipmentType.EquipmentTypeID)
                @Html.HiddenFor(a => a.EquipmentType.CreatedByID)
                @Html.HiddenFor(a => a.EquipmentType.CreatedDate)
                
                @Bootstrap.TextBoxFor(m => m.EquipmentType.Name)
                @Bootstrap.DropDownListFor(m => m.EquipmentType.EquipmentTypeVmsOrAssetID, Model.VmsOrAssets, new { label = "Asset" })
                @Bootstrap.CheckBoxFor(m => m.EquipmentType.IsActive)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
    </script>
}