﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Depots.DepotViewModel

@{
    ViewBag.Title = "Inactive Depots";
}

@section contentHeader
{
    <h1>Inactive Depots</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var inactiveDepots = null;

        $(function () {
            inactiveDepots = new triangle.ui.table('#current', '/Contract/Depot/InactiveDepots', 50);
        });

    </script>

}