﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Depots.DepotViewModel

@{
    ViewBag.Title = "New Depot";
}

@section contentHeader
{
    <h1>New Depot</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Bootstrap.TextBoxFor(m => m.Depot.DepotAreaLookup, new { label = "Depot Area", disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.Depot.DepotName, new { label = "Name", disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.Depot.AddressLine1, new { label = "Address Line 1", disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.Depot.AddressLine2, new { label = "Address Line 2", disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.Depot.AddressLine3, new { label = "Address Line 3", disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.Depot.City, new { label = "City", disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.Depot.County, new { label = "County", disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.Depot.Postcode, new { label = "Postcode", disabled = "disabled" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        
    </script>
}