﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Depots.DepotViewModel

@{
    ViewBag.Title = "Update Depot";
}

@section contentHeader
{
    <h1>Update Depot</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(x => x.Depot.DepotID)
                    @Bootstrap.LookupFor(m => m.Depot.DepotAreaID, m => m.Depot.DepotAreaLookup, "Depot Area")
                    @Bootstrap.TextBoxFor(m => m.Depot.DepotName, new { label = "Name" })
                    @Bootstrap.TextBoxFor(m => m.Depot.AddressLine1, new { label = "Address Line 1" })
                    @Bootstrap.TextBoxFor(m => m.Depot.AddressLine2, new { label = "Address Line 2" })
                    @Bootstrap.TextBoxFor(m => m.Depot.AddressLine3, new { label = "Address Line 3" })
                    @Bootstrap.TextBoxFor(m => m.Depot.City, new { label = "City" })
                    @Bootstrap.TextBoxFor(m => m.Depot.County, new { label = "County" })
                    @Bootstrap.TextBoxFor(m => m.Depot.Postcode, new { label = "Postcode" })
                    @Bootstrap.CheckBoxFor(m => m.Depot.IsActive, new { label = "Active" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        var depotAreaLookup = null;

        $(function () {
            depotAreaLookup = new triangle.ui.lookup("#Depot-DepotAreaID" /*ID*/, "/Contract/DepotArea/GetDepotAreaLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        });
    </script>
}