﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Observations.ObservationViewModel

@{
    ViewBag.Title = "Observation Details";
}
@section contentHeader
{
    <h1>Observation Details</h1>
}
<div class="accident">
    
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            
            @if (Model.WorkInstructionID != null)
            {
                @Html.ActionLink("Cancel", "Details", "WorkInstructionDetails", new { id = Model.WorkInstructionID }, new { @class = "btn" })
            }
            else if (Model.JobID != null)
            {
                @Html.ActionLink("Cancel", "Update", "Job", new { id = Model.JobID }, new { @class = "btn" })
            }
            
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Observation Details</legend>
                    <div id="observation">
                        @Html.HiddenFor(m => m.ObservationID)
                        @Bootstrap.TextBoxFor(m => m.ObservationDate, new { @readonly = "readonly" })
                        @Bootstrap.TextAreaFor(m => m.ObservationDescription, new { @readonly = "readonly" })
                        @Bootstrap.TextBoxFor(m => m.Location, new { @readonly = "readonly" })
                        @Bootstrap.TextBoxFor(m => m.PeopleInvolved, new { @readonly = "readonly" })
                        @Bootstrap.TextAreaFor(m => m.CauseOfProblem, new { @readonly = "readonly" })
                    </div>
                    
                </fieldset>
            </div>

            <div class="span6 control-collection">
                <fieldset>
                    <legend>Observation Photos</legend>
                    <div id="observationPhotos">
                        
                    </div>
                    
                </fieldset>
            </div>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">

        var photos = null;

        $(function () {

            photos = new triangle.ui.table('#observationPhotos', '/Contract/Observations/GetObservationPhotos', 5, { observationID: $("#ObservationID").val() });
            photos.searchBarExpandedSize = 300;
        });
    </script>
    
}