﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Observations.ObservationViewModel

@{
    ViewBag.Title = "Observations With Shifts";
}

@section contentHeader
{
    <h1>Observations With Shifts</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var observations = null;

        $(function () {
            observations = new triangle.ui.table('#current', '/Contract/Observations/ObservationsWithShifts', 50);
        });

    </script>

}