﻿@model FMConway.MVCApp.Models.Menu.MenuViewModel

@if (Model.MenuItems.Any())
{
    <ul>

        @foreach (var menuItem in Model.MenuItems.OrderBy(o => o.Order))
        {
            <li id="@menuItem.ID" data-area="@menuItem.HasArea">

                @if (!menuItem.UrlDisabled)
                {
                    <a class="menu-item" href="@menuItem.Url"> @if (menuItem.HasIcon){ <i class="@menuItem.Icon"></i> } @menuItem.DisplayName</a>
                }
                else
                {
                    <label class="menu-item"> @if (menuItem.HasIcon){ <i class="@menuItem.Icon"></i> }  @menuItem.DisplayName</label>    
                }

                @if (!@menuItem.HasChildren) { continue; }

                @Html.Partial("NavigationMenu", new FMConway.MVCApp.Models.Menu.MenuViewModel() { MenuItems = menuItem.Children })

            </li>
        }

    </ul>
}