﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Jobs.JobViewModel

@{
    ViewBag.Title = "Cancelled / Aborted Jobs";
}

@section contentHeader
{
    <h1>Cancelled / Aborted Jobs</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var inactiveJobs = null;

        $(function () {
            inactiveJobs = new triangle.ui.table('#current', '/Contract/Job/InactiveJobs', 50);
        });

    </script>

}