﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Jobs.JobViewModel

@{
    ViewBag.Title = "Live Hire Jobs";
}

@section contentHeader
{
    <h1>Live Hire Jobs</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var jobs = null;

        $(function () {
            jobs = new triangle.ui.table('#current', '/Contract/Job/LiveHireJobs', 50);
        });

    </script>

}