﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Jobs.JobViewModel

@{
    ViewBag.Title = "New Job";
}

@section contentHeader
{
    <h1>New Job</h1>
}

<div class="job">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "LiveHires", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Bootstrap.LookupFor(m => m.Job.ContractID, m => m.Job.ContractTitle, "Contract / Phase")
                    @Html.HiddenFor(m => m.Job.SchemeID)

                    @Bootstrap.LookupFor(m => m.Job.DepotID, m => m.Job.DepotLookup, "Sub Department")
                    @Bootstrap.TextBoxFor(m => m.Job.CustomerProjectCode, "Cust Project Code")
                    @Bootstrap.TextBoxFor(m => m.Job.JobTitle, new { label = "Job Title" })
                    @Bootstrap.DatePickerFor(m => m.Job.StartDate, new { label = "Start Date" })
                    @Bootstrap.DatePickerFor(m => m.Job.EndDate, new { label = "Finish Date" })
                    @Bootstrap.TextAreaFor(m => m.Job.Description, new { label = "Job Description", @class = "auto-resize" })
                    @Bootstrap.TextAreaFor(m => m.Job.Comments)
                    @Bootstrap.CheckBoxFor(m => m.Job.IsClientSignatureRequired)
                    @*@Bootstrap.DropDownListFor(m => m.Job.JobSpeedID, Model.JobSpeed, new { label = "Job Speed" })*@
                    @*@Bootstrap.DropDownListFor(m => m.Job.StatusID, Model.JobStatus, new { label = "Job Status" })*@
                    @Bootstrap.DropDownListFor(m => m.Job.IsSuccessful, Model.IsSuccessfulStates, new { label = "Was Job Successful" })
                    @Bootstrap.LookupFor(m => m.Job.ReasonCodeID, m => m.Job.ReasonCodeLookup, "Reason Code")
                    @Bootstrap.TextAreaFor(m => m.Job.ReasonNotes, new { label = "Reason Notes" })
                    @*@Bootstrap.CheckBoxFor(m => m.Job.Rural)*@
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>&nbsp;</legend>
                    @Bootstrap.MultiListLookupFor(m => m.JobTypes, "Job Types")
                    @*@Bootstrap.MultiListLookupFor(m => m.Areas, "Area Protocols")*@
                    @Bootstrap.MultiListLookupFor(m => m.MethodStatements, "Method Statements")
                    @Bootstrap.MultiListLookupFor(m => m.ToolboxTalks, "Toolbox Talks")
                    @Bootstrap.MultiListLookupFor(m => m.JobCertificates, "Required Qualifications")
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Location</legend>
                    @Bootstrap.TextBoxFor(m => m.Job.AddressLine1, new { label = "Address Line 1" })
                    @Bootstrap.TextBoxFor(m => m.Job.AddressLine2, new { label = "Address Line 2" })
                    @Bootstrap.TextBoxFor(m => m.Job.AddressLine3, new { label = "Borough" })
                    @Bootstrap.TextBoxFor(m => m.Job.City, new { label = "City" })
                    @Bootstrap.TextBoxFor(m => m.Job.County, new { label = "County" })
                    @Bootstrap.TextBoxFor(m => m.Job.Postcode, new { label = "Postcode" })
                </fieldset>
            </div>
            <div class="control-collection span6">
                <fieldset>
                    <legend>Drawings</legend>
                    <ul class="documents">
                        @if (Model.UploadedDocuments != null)
                        {
                            int documentCount = 0;
                            foreach (var document in Model.UploadedDocuments)
                            {
                                <li class="file-add">
                                    @Html.Hidden("Documents[" + documentCount + "].DocumentID", document.DocumentID, new { @class = "document-id" })
                                    @Html.Hidden("Documents[" + documentCount + "].Title", document.Title, new { @class = "document-title" })
                                    @Html.Hidden("Documents[" + documentCount + "].Revision", document.Revision, new { @class = "document-revision" })
                                    @Html.Hidden("Documents[" + documentCount + "].FileID", document.FileID, new { @class = "document-fileid" })
                                    @Html.Hidden("Documents[" + documentCount + "].Loaded", document.Loaded, new { @class = "document-loaded" })
                                    <label title="@document.Title">@document.Title</label>
                                </li>
                                documentCount++;
                            }
                        }
                    </ul>
                    <div class="actions">
                        <div class="btn-group">
                            <button class="btn btn-large document-edit">Edit</button>
                        </div>
                    </div>
                </fieldset>
            </div>

        </div>
    }
</div>


<input type="hidden" id="RequiresDocumentTitle" value="true" />

@section footer{
    <div id="DocumentModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Upload Drawing</h3>
        </div>
        <div class="modal-body form-horizontal">
            <div class="control-group">
                <label for="DocumentTitle" class="control-label">Drawing Title</label>
                <div class="controls">
                    <input type="text" autocomplete="off" id="DocumentTitle">
                </div>
            </div>
            <div class="control-group">
                <label for="DocumentRevision" class="control-label">Drawing Revision</label>
                <div class="controls">
                    <input type="text" autocomplete="off" id="DocumentRevision">
                </div>
            </div>
            <div class="control-group">
                <label for="File" class="control-label">Drawing</label>
                <div class="controls">
                    <input type="file" id="FileDocument">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" id="DocumentModalCancel" class="btn" data-dismiss="modal">Close</a>
            <a href="#" id="DocumentModalSave" class="btn btn-primary" data-dismiss="modal">Save</a>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        var schemeLookup = null;
        var depotLookup = null;
        var jobTypesLookup = null;
        //var areasLookup = null;
        var methodStatementsLookup = null;
        var toolboxTalkLookup = null;
        var reasonCodeLookup = null;
        var certificateTypesLookup = null;

        $(function () {
            InitDocuments();

            contractLookup = new triangle.ui.lookup("#Job-ContractID" /*ID*/, "/Contract/Contract/GetContractSchemeLookup" /*URL*/, 7 /*RowCount*/, false /*IsMultiSelect*/);

            depotLookup = new triangle.ui.lookup("#Job-DepotID" /*ID*/, "/Contract/Depot/GetDepotLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            jobTypesLookup = new triangle.ui.lookup("#JobTypes" /*ID*/, "/Contract/Maintenance/GetJobTypesLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);
            //areasLookup = new triangle.ui.lookup("#Areas" /*ID*/, "/Contract/Area/GetAreaLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);
            methodStatementsLookup = new triangle.ui.lookup("#MethodStatements" /*ID*/, "/Contract/MethodStatement/GetMethodStatementLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);
            toolboxTalkLookup = new triangle.ui.lookup("#ToolboxTalks" /*ID*/, "/Contract/ToolboxTalk/GetToolboxTalkLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);
            certificateTypesLookup = new triangle.ui.lookup("#JobCertificates" /*ID*/, "/Contract/Maintenance/GetCertificateTypesLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);

            reasonCodeLookup = new triangle.ui.lookup("#Job-ReasonCodeID" /*ID*/, "/Contract/Job/GetReasonCodeLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            reasonCodeLookup.searchBarExpandedSize = 300;

            contractLookup.SelectedEvent = function (a, b, schemeData) {

                // check if scheme id is set...
                var schemeID = schemeData[0];

                if (schemeID.length) {

                    $('#Job_SchemeID').val(schemeID);

                    $.ajax({
                        url: '/contract/scheme/getsingle',
                        type: 'get',
                        data: { schemeID: schemeID },
                        cache: false,
                        success: function (c, d) {
                            //console.log(c);

                            $('#Job-DepotID').val(c.DepotID);
                            $('#Job-DepotLookup').val(c.DepotLookup);

                            $('#Job-AddressLine1').val(c.AddressLine1);
                            $('#Job-AddressLine2').val(c.AddressLine2);
                            $('#Job-AddressLine3').val(c.AddressLine3);
                            $('#Job-City').val(c.City);
                            $('#Job-County').val(c.County);
                            $('#Job-Postcode').val(c.Postcode);
                        },
                    })
                }
            }

            contractLookup.RemovedEvent = function () {
                $('#Job-DepotID').val('');
                $('#Job-DepotLookup').val('');
                $('#Job-DepotID-lookup .li-remove').remove();

                $('#Job-AddressLine1').val('');
                $('#Job-AddressLine2').val('');
                $('#Job-AddressLine3').val('');
                $('#Job-City').val('');
                $('#Job-County').val('');
                $('#Job-Postcode').val('');
            };

            // on load
            //$('#Job-StatusID').trigger('change');
            $('#Job-IsSuccessful').trigger('change');
        });

        // job status
        //$('#Job-StatusID').on('change', function (a, b) {
        //    var status = $(this).find('option:selected').text();
        //    if (status == 'Complete') {
        //        $('#Job-IsSuccessful').closest('.control-group').show();
        //    } else {
        //        $('#Job-IsSuccessful').closest('.control-group').hide();
        //        $('#Job-IsSuccessful').val('');
        //        $('#Job-IsSuccessful').trigger('change');
        //    }
        //});

        // was job successful
        $('#Job-IsSuccessful').on('change', function (a, b) {
            var wasJobSuccessful = $(this).find('option:selected').text();
            if (wasJobSuccessful == 'No') {
                $('#Job-ReasonCodeID-lookup').show();
                $('#Job-ReasonNotes').closest('.control-group').show();
            } else {
                $('#Job-ReasonCodeID-lookup').hide();
                $('#Job-ReasonCodeID').val('');
                $('#Job-ReasonCodeLookup').val('');
                $('#Job-ReasonNotes').closest('.control-group').hide();
                $('#Job-ReasonNotes').val('');
            }
        });

        function InitDocuments() {
            documentCollectionEditor = new triangle.ui.collectionEditor(".documents");
            documentCollectionEditor.Delete = function (item) {
                $(item).remove();
                var documentContainer = $(".documents");
                var itemCount = documentContainer.children(".file-add");
                itemCount.each(function (idx, ele) {
                    $(ele).find(".document-title").attr("name", "UploadedDocuments[" + idx + "].Title");
                    $(ele).find(".document-revision").attr("name", "UploadedDocuments[" + idx + "].Revision");
                    $(ele).find(".document-loaded").attr("name", "UploadedDocuments[" + idx + "].Loaded");
                    $(ele).find(".document-file").attr("name", "UploadedDocuments[" + idx + "].Document");
                });
            }

            //documentCollectionEditor.AddControl = function () {
            //    var addImage = $("<img>").prop("src", "/content/images/edit-add.png").width(48).height(48);
            //    var link = $("<a>").attr("href", "#DocumentModal").attr("data-backdrop", "false").attr("data-toggle", "modal").append(addImage);
            //    return $("<li>").append(link);
            //}

            $(documentCollectionEditor).on("add", function () {
                $("#DocumentModal").modal("show");
            })

            $('.document-edit').on("click", function (e) {
                documentCollectionEditor.Edit();
                return false;
            });

            function addControlGroupError(documentTitle, message) {
                documentTitle.closest('.control-group').addClass('error');
                var html = '<div class="help-inline">' + message + '</div>';
                $(html).insertAfter(documentTitle);
            }

            $('#DocumentModalCancel').on('click', function () {
                //Clean up validation
                $("#DocumentModal .error").removeClass("error");
                $("#DocumentModal .help-inline").remove();
                $("#DocumentModal input").val('');
            });

            $("#DocumentModal input").mousedown(function () {
                var controlGroup = $(this).parents(".control-group");
                controlGroup.removeClass("error");
                controlGroup.find(".help-inline").remove();
            });

            $('#DocumentModalSave').on('click', function () {
                var documentTitleInput = $("#DocumentTitle");
                var documentRevisionInput = $("#DocumentRevision");
                var file = $("#FileDocument");
                var IsValid = true;
                //Validate Document
                $("#DocumentModal .error").removeClass("error");
                $("#DocumentModal .help-inline").remove();
                var requiresDocumentTitle = $("#RequiresDocumentTitle");
                if (requiresDocumentTitle != null && requiresDocumentTitle.val() === "true") {
                    if (documentTitleInput.val().length == 0) {
                        addControlGroupError(documentTitleInput, "A document title must be supplied before continuing.");
                        IsValid = false;
                    }
                }
                if (file.val().length == 0) {
                    addControlGroupError(file, "A document must be supplied before continuing.");
                    IsValid = false;
                }
                if (!IsValid)
                    return false;
                //Process Document
                var documentContainer = $(".documents");
                var itemCount = documentContainer.children(".file-add").length;
                var control = $("<li>").addClass("file-add");
                var documentTitleClone = documentTitleInput.clone().attr("id", "UploadedDocument_" + itemCount + "_Title").attr("type", "hidden").addClass("document-title").attr("name", "UploadedDocuments[" + itemCount + "].Title");
                control.append(documentTitleClone);
                $("#DocumentTitle").val('');
                var documentRevisionClone = documentRevisionInput.clone().attr("id", "UploadedDocument_" + itemCount + "_Revision").attr("type", "hidden").addClass("document-revision").attr("name", "UploadedDocuments[" + itemCount + "].Revision");
                control.append(documentRevisionClone);
                $("#DocumentRevision").val('');
                //var securityLevelClone = $("<input>").attr("type", "hidden").attr("id", "UploadedDocument_" + itemCount + "_SecurityLevelID").addClass("document-security-level").attr("name", "UploadedDocuments[" + itemCount + "].SecurityLevelID").attr("value", securityLevel).hide();
                //control.append(securityLevelClone);
                var clone = file.clone().val('');
                clone.insertAfter(file);
                file.addClass("document-file").attr("id", "UploadedDocument_" + itemCount + "_Document").attr("name", "UploadedDocuments[" + itemCount + "].Document").hide().appendTo(control);
                var documentTitle = $(documentTitleClone).val();
                var lblText = documentTitle;
                if (lblText.length > 6) {
                    lblText = lblText.substring(0, 10) + "..";
                    control.attr("title", documentTitle)
                }

                var label = $("<label>").text(lblText);
                control.append(label);
                documentCollectionEditor.Add(control);
            });
        }
    </script>
}