﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Jobs.JobPriceLineViewModel

@{
    ViewBag.Title = "New Job Price Line";
}

@section contentHeader
{
    <h1>New Job Price Line</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "Update", new { id = Model.JobPriceLine.JobID }, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.JobPriceLine.JobID)
                @Bootstrap.LookupFor(a => a.JobPriceLine.PriceLineFK, m => m.JobPriceLine.Code, "Price Line")
                @Bootstrap.TextBoxFor(a => a.JobPriceLine.Description, new { @readonly = "readonly" })
                @Bootstrap.TextBoxFor(a => a.JobPriceLine.Quantity, new { @type = "number", @format = "0.##", @min = "0"})
                @Bootstrap.TextBoxFor(a => a.JobPriceLine.Rate)
                @Bootstrap.TextAreaFor(a => a.JobPriceLine.Note)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        var priceLineLookup = null;

        $(function () {
            priceLineLookup = new triangle.ui.lookup("#JobPriceLine-PriceLineFK" /*ID*/, "/Contract/Maintenance/GetPriceLinesLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);

            priceLineLookup.SelectedEvent = function (a, b) {
                $.get('/Contract/Maintenance/GetPriceLine', { id: b }, function (c) {
                    $('#JobPriceLine-Description').val(c.Description);
                    if (c.DefaultRate == null) {
                        $('#JobPriceLine-Rate').val('');
                    } else {
                        $('#JobPriceLine-Rate').val(c.DefaultRate.toFixed(2));
                    }                    
                });
            }

            priceLineLookup.RemovedEvent = function () {
                $('#JobPriceLine-Description').val('');
                $('#JobPriceLine-Rate').val('');
            }
        });

    </script>
}