﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Jobs.JobViewModel

@{
    ViewBag.Title = "Update Job";
}

@section contentHeader
{
    <h1>Update Job</h1>
}

<div class="job">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {

        <input type="hidden" id="RequiresDocumentTitle" value="true" />

        <div class="primary-actions">
            @Html.ActionLink("Cancel", "LiveHires", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Job.JobID)
                    @Html.HiddenFor(m => m.Job.SchemeID)
                    @Html.HiddenFor(m => m.Job.ContractTitle)

                    @Bootstrap.TextBoxFor(m => m.Job.JobNumber, new { @readonly = "readonly" })
                    @Bootstrap.TextBoxFor(m => m.Job.ContractNumber, new { @readonly = "readonly" })
                    @Bootstrap.LookupFor(m => m.Job.DepotID, m => m.Job.DepotLookup, "Sub Department")
                    @Bootstrap.TextBoxFor(m => m.Job.CustomerProjectCode, "Cust Project Code")
                    @Bootstrap.TextBoxFor(m => m.Job.JobTitle, new { label = "Job Title" })
                    @Bootstrap.DatePickerFor(m => m.Job.StartDate, new { label = "Start Date" })
                    @Bootstrap.DatePickerFor(m => m.Job.EndDate, new { label = "Finish Date" })
                    @Bootstrap.TextAreaFor(m => m.Job.Description, new { label = "Job Description", @class = "auto-resize" })
                    @Bootstrap.TextAreaFor(m => m.Job.Comments)
                    @Bootstrap.MultiListLookupFor(m => m.JobTypes, "Job Types")
                    @*@Bootstrap.MultiListLookupFor(m => m.Areas, "Area Protocols")*@
                    @Bootstrap.MultiListLookupFor(m => m.MethodStatements, "Method Statements")
                    @Bootstrap.MultiListLookupFor(m => m.ToolboxTalks, "Toolbox Talks")
                    @Bootstrap.MultiListLookupFor(m => m.JobCertificates, "Required Qualifications")
                    @Bootstrap.CheckBoxFor(m => m.Job.IsClientSignatureRequired)
                    @*@Bootstrap.DropDownListFor(m => m.Job.JobSpeedID, Model.JobSpeed, new { label = "Job Speed" })*@
                    @*@Bootstrap.DropDownListFor(m => m.Job.StatusID, Model.JobStatus, new { label = "Job Status" })*@
                    @Bootstrap.DropDownListFor(m => m.Job.IsSuccessful, Model.IsSuccessfulStates, new { label = "Was Job Successful" })
                    @Bootstrap.LookupFor(m => m.Job.ReasonCodeID, m => m.Job.ReasonCodeLookup, "Reason Code")
                    @Bootstrap.TextAreaFor(m => m.Job.ReasonNotes, new { label = "Reason Notes" })
                    @*@Bootstrap.CheckBoxFor(m => m.Job.Rural)*@
                    @Bootstrap.CheckBoxFor(m => m.Job.IsActive)
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Location</legend>
                    @Bootstrap.TextBoxFor(m => m.Job.AddressLine1, new { label = "Address Line 1" })
                    @Bootstrap.TextBoxFor(m => m.Job.AddressLine2, new { label = "Address Line 2" })
                    @Bootstrap.TextBoxFor(m => m.Job.AddressLine3, new { label = "Borough" })
                    @Bootstrap.TextBoxFor(m => m.Job.City, new { label = "City" })
                    @Bootstrap.TextBoxFor(m => m.Job.County, new { label = "County" })
                    @Bootstrap.TextBoxFor(m => m.Job.Postcode, new { label = "Postcode" })
                </fieldset>
            </div>
            <div class="control-collection span6">
                <fieldset>
                    <legend>Drawings</legend>
                    <ul class="documents">
                        @if (Model.Documents != null)
                        {
                            int documentCount = 0;
                            foreach (var document in Model.Documents)
                            {
                                <li class="file-add">
                                    @Html.Hidden("Documents[" + documentCount + "].DocumentID", document.DocumentID, new { @class = "document-id" })
                                    @Html.Hidden("Documents[" + documentCount + "].Title", document.Title, new { @class = "document-title" })
                                    @Html.Hidden("Documents[" + documentCount + "].Revision", document.Revision, new { @class = "document-revision" })
                                    @Html.Hidden("Documents[" + documentCount + "].FileID", document.FileID, new { @class = "document-fileid" })
                                    @Html.Hidden("Documents[" + documentCount + "].Loaded", document.Loaded, new { @class = "document-loaded" })

                                    <a href="/File/GetFile/@document.FileID">
                                        <label>@document.Title</label>
                                    </a>
                                </li>
                                documentCount++;
                            }
                        }
                    </ul>
                    <div class="actions">
                        <div class="btn-group">
                            <button class="btn btn-large document-edit">Edit</button>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="span6 control-collection">
                <fieldset>
                    <legend>Tasks</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeWorkInstructions">
                    </div>
                    <div class="actions">
                        @Html.ActionLink("Add Task", "New", "WorkInstruction", new { jobID = Model.Job.JobID }, new { @class = "btn" })
                    </div>
                </fieldset>
            </div>

            <div class="span6 control-collection">
                <fieldset>
                    <legend>Accidents</legend>
                    <div id="accidents">
                    </div>

                </fieldset>
            </div>

            <div class="span6 control-collection">
                <fieldset>
                    <legend>Observations</legend>
                    <div id="observations">
                    </div>

                </fieldset>
            </div>

            @*<div class="span6 control-collection">
                <fieldset>
                    <legend>Price Lines</legend>
                    <div class="tab-pane table-Actions-Spacing" id="pricelines">
                    </div>
                    <div class="actions">
                        <div id="JobPriceLine-PriceLineFK-lookup" class="lookup" data-title="Price Lines">
                            <input id="JobPriceLine-PriceLineFK" name="JobPriceLine.PriceLineFK" autocomplete="off" type="hidden">
                            <div class="control-group">
                                <div class="controls">
                                    <input id="JobPriceLine-Code" name="JobPriceLine.Code" autocomplete="off" type="text" readonly="readonly" class="selected" style="display:none;">
                                    <a href="#JobPriceLine-PriceLineFK-modal" class="button" role="button" data-backdrop="false" title="Price Line Lookup" data-toggle="modal">Add Price Lines</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>*@

        </div>
    }
</div>


@section footer{

    <div id="DocumentModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Upload Drawing</h3>
        </div>
        <div class="modal-body form-horizontal">
            <div class="control-group">
                <label for="DocumentTitle" class="control-label">Drawing Title</label>
                <div class="controls">
                    <input type="text" autocomplete="off" id="DocumentTitle">
                </div>
            </div>
            <div class="control-group">
                <label for="DocumentRevision" class="control-label">Drawing Revision</label>
                <div class="controls">
                    <input type="text" autocomplete="off" id="DocumentRevision">
                </div>
            </div>
            <div class="control-group">
                <label for="File" class="control-label">Drawing</label>
                <div class="controls">
                    <input type="file" id="FileDocument">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" id="DocumentModalCancel" class="btn" data-dismiss="modal">Close</a>
            <a href="#" id="DocumentModalSave" class="btn btn-primary" data-dismiss="modal">Save</a>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        var schemeLookup = null;
        var depotLookup = null;
        var jobTypesLookup = null;
        //var areasLookup = null;
        var methodStatementsLookup = null;
        var toolboxTalkLookup = null;
        var certificateTypesLookup = null;
        var jobSiteInspections = null;
        var jobSiteRecords = null;
        var jobSurveys = null;
        var jobIncidents = null;
        var jobInductions = null;
        var jobSignRequests = null;
        var jobWorkInstructions = null;
        var reasonCodeLookup = null;

        var accidents = null;
        var obserations = null;
        //var pricelines = null;

        $(function () {
            InitDocuments();

            schemeLookup = new triangle.ui.lookup("#Job-SchemeID" /*ID*/, "/Contract/Scheme/GetSchemeLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            depotLookup = new triangle.ui.lookup("#Job-DepotID" /*ID*/, "/Contract/Depot/GetDepotLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            jobTypesLookup = new triangle.ui.lookup("#JobTypes" /*ID*/, "/Contract/Maintenance/GetJobTypesLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);
            //areasLookup = new triangle.ui.lookup("#Areas" /*ID*/, "/Contract/Area/GetAreaLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);
            methodStatementsLookup = new triangle.ui.lookup("#MethodStatements" /*ID*/, "/Contract/MethodStatement/GetMethodStatementLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);
            toolboxTalkLookup = new triangle.ui.lookup("#ToolboxTalks" /*ID*/, "/Contract/ToolboxTalk/GetToolboxTalkLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);
            certificateTypesLookup = new triangle.ui.lookup("#JobCertificates" /*ID*/, "/Contract/Maintenance/GetCertificateTypesLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);
            //priceLineLookup = new triangle.ui.lookup("#JobPriceLine-PriceLineFK" /*ID*/, "/Contract/Maintenance/GetPriceLinesLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);

            //priceLineLookup.MultipleSelectedEvent = function (a, b) {
            //    var priceLineIDs = [];
            //    $(a).each(function (i, item) {
            //        priceLineIDs.push(item.key)
            //    });

            //    AddPriceLines(priceLineIDs);
            //};

            @*function AddPriceLines(IDs) {
                $.ajax({
                    url: '/Contract/Job/AddPriceLines/',
                    contentType: 'application/json; charset=utf-8',
                    type: 'post',
                    data: JSON.stringify({ priceLineIDs: IDs , jobID: $('#Job_JobID').val() }),
                    success: function (linesAdded, d) {
                        if (linesAdded) {
                            $(document.body).css({'cursor' : 'wait'});
                            window.location.href = '@Url.Action("Update", "Job")';
                        }
                    },
                });
            }*@

            LoadTasks();


            reasonCodeLookup = new triangle.ui.lookup("#Job-ReasonCodeID" /*ID*/, "/Contract/Job/GetReasonCodeLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            reasonCodeLookup.searchBarExpandedSize = 300;

            accidents = new triangle.ui.table('#accidents', '/Contract/Accidents/GetAccidentsForJob', 5, { jobID: $("#Job_JobID").val() });
            accidents.searchBarExpandedSize = 300;

            observations = new triangle.ui.table('#observations', '/Contract/Observations/GetObservationsForJob', 5, { jobID: $("#Job_JobID").val() });
            observations.searchBarExpandedSize = 300;

            //pricelines = new triangle.ui.table('#pricelines', '/Contract/Job/GetPriceLinesForJob', 5, { jobID: $("#Job_JobID").val() });
            //pricelines.searchBarExpandedSize = 300;

            // scheme
            schemeLookup.SelectedEvent = function (a, b) {
                $.ajax({
                    url: '/contract/scheme/getsingle',
                    type: 'get',
                    data: { schemeID: b },
                    cache: false,
                    success: function (c, d) {
                        //console.log(c);

                        $('#Job-DepotID').val(c.DepotID);
                        $('#Job-DepotLookup').val(c.DepotLookup);

                        $('#Job-AddressLine1').val(c.AddressLine1);
                        $('#Job-AddressLine2').val(c.AddressLine2);
                        $('#Job-AddressLine3').val(c.AddressLine3);
                        $('#Job-City').val(c.City);
                        $('#Job-County').val(c.County);
                        $('#Job-Postcode').val(c.Postcode);
                    },
                })
            };

            schemeLookup.RemovedEvent = function () {
                $('#Job-DepotID').val('');
                $('#Job-DepotLookup').val('');
                $('#Job-DepotID-lookup .li-remove').remove();

                $('#Job-AddressLine1').val('');
                $('#Job-AddressLine2').val('');
                $('#Job-AddressLine3').val('');
                $('#Job-City').val('');
                $('#Job-County').val('');
                $('#Job-Postcode').val('');
            };

            // on load
            //$('#Job-StatusID').trigger('change');
            $('#Job-IsSuccessful').trigger('change');
        });

        // job status
        //$('#Job-StatusID').on('change', function (a, b) {
        //    var status = $(this).find('option:selected').text();
        //    if (status == 'Complete') {
        //        $('#Job-IsSuccessful').closest('.control-group').show();
        //    } else {
        //        $('#Job-IsSuccessful').closest('.control-group').hide();
        //        $('#Job-IsSuccessful').val('');
        //        $('#Job-IsSuccessful').trigger('change');
        //    }
        //});

        // was job successful
        $('#Job-IsSuccessful').on('change', function (a, b) {
            var wasJobSuccessful = $(this).find('option:selected').text();
            if (wasJobSuccessful == 'No') {
                $('#Job-ReasonCodeID-lookup').show();
                $('#Job-ReasonNotes').closest('.control-group').show();
            } else {
                $('#Job-ReasonCodeID-lookup').hide();
                $('#Job-ReasonCodeID').val('');
                $('#Job-ReasonCodeLookup').val('');
                $('#Job-ReasonNotes').closest('.control-group').hide();
                $('#Job-ReasonNotes').val('');
            }
        });

        function InitDocuments() {
            documentCollectionEditor = new triangle.ui.collectionEditor(".documents");
            documentCollectionEditor.Delete = function (item) {
                //$(item).find(".active-state").val("false");
                $(item).remove();//.hide();
                var documentContainer = $(".documents");
                var itemCount = documentContainer.children(".file-add");
                itemCount.each(function (idx, ele) {
                    $(ele).find(".document-id").attr("name", "Documents[" + idx + "].DocumentID");
                    $(ele).find(".document-title").attr("name", "Documents[" + idx + "].Title");
                    $(ele).find(".document-revision").attr("name", "Documents[" + idx + "].Revision");
                    $(ele).find(".document-fileid").attr("name", "Documents[" + idx + "].FileID");
                    $(ele).find(".document-loaded").attr("name", "Documents[" + idx + "].Loaded");
                    $(ele).find(".document-file").attr("name", "Documents[" + idx + "].Document");
                });
            }

            //documentCollectionEditor.AddControl = function () {
            //    var addImage = $("<img>").prop("src", "/content/images/edit-add.png").width(48).height(48);
            //    var link = $("<a>").attr("href", "#DocumentModal").attr("data-backdrop", "false").attr("data-toggle", "modal").append(addImage);
            //    return $("<li>").append(link);
            //}

            $(documentCollectionEditor).on("add", function () {
                $("#DocumentModal").modal("show");
            })

            $('.document-edit').on("click", function (e) {
                documentCollectionEditor.Edit();
                return false;
            });

            $('#DocumentModalCancel').on('click', function () {
                //Clean up validation
                $("#DocumentModal .error").removeClass("error");
                $("#DocumentModal .help-inline").remove();
                $("#DocumentModal input").val('');
            });

            $("#DocumentModal input").mousedown(function () {
                var controlGroup = $(this).parents(".control-group");
                controlGroup.removeClass("error");
                controlGroup.find(".help-inline").remove();
            });

            function addControlGroupError(documentTitle, message) {
                documentTitle.closest('.control-group').addClass('error');
                var html = '<div class="help-inline">' + message + '</div>';
                $(html).insertAfter(documentTitle);
            }

            $('#DocumentModalSave').on('click', function () {
                var documentTitleInput = $("#DocumentTitle");
                var documentRevisionInput = $("#DocumentRevision");
                //var securityLevel = $("#Security_Levels option:selected").val();
                var file = $("#FileDocument");
                var IsValid = true;

                //Validate Document
                $("#DocumentModal .error").removeClass("error");
                $("#DocumentModal .help-inline").remove();

                var requiresDocumentTitle = $("#RequiresDocumentTitle");
                if (requiresDocumentTitle != null && requiresDocumentTitle.val() === "true") {
                    if (documentTitleInput.val().length == 0) {
                        addControlGroupError(documentTitleInput, "A document title must be supplied before continuing.");
                        IsValid = false;
                    }
                }

                if (file.val().length == 0) {
                    addControlGroupError(file, "A document must be supplied before continuing.");
                    IsValid = false;
                }

                if (!IsValid) {
                    return false;
                }

                //Process Document
                var documentContainer = $(".documents");
                var itemCount = documentContainer.children(".file-add").length;

                if (itemCount < 0) {
                    itemCount = 0;
                }

                var control = $("<li>").addClass("file-add");
                var documentTitleClone = documentTitleInput.clone().addClass("document-title").attr("type", "hidden").attr("id", "DocumentTitle-" + itemCount).attr("name", "Documents[" + itemCount + "].Title");
                control.append(documentTitleClone);
                $("#DocumentNumber").val('');
                var documentRevisionClone = documentRevisionInput.clone().addClass("document-revision").attr("type", "hidden").attr("id", "DocumentRevision-" + itemCount).attr("name", "Documents[" + itemCount + "].Revision");
                control.append(documentRevisionClone);
                $("#DocumentNumber").val('');
                //var securityLevelClone = $("<input>").attr("type", "hidden").addClass("document-slid").attr("id", "SecurityLevelID-" + itemCount).attr("name", "Documents[" + itemCount + "].SecurityLevelID").attr("value", securityLevel).hide();
                //control.append(securityLevelClone);
                var clone = file.clone().val('');
                clone.insertAfter(file);
                file.attr("id", "File-" + itemCount).addClass("document-file").attr("name", "Documents[" + itemCount + "].Document").hide().appendTo(control);
                var documentTitle = $(documentTitleClone).val();
                var lblText = documentTitle;
                if (lblText.length > 6) {
                    lblText = lblText.substring(0, 10) + "...";
                    control.attr("title", documentTitle)
                }
                //var img = $("<img>").addClass("ttip").attr({ title: "Save the job before viewing this document", src: "/Content/images/docket.png" }).tooltip();
                //control.append(img);

                var label = $("<label>").text(lblText);//.addClass("ttip").attr("title", documentTitle).tooltip();
                control.append(label);
                documentCollectionEditor.Add(control);

                documentTitleInput.val('');
                documentRevisionInput.val('');
            });
        }

        function LoadTasks() {

            $.ajax({
                url: '/Contract/WorkInstruction/JobHasCompleteWorkInstruction',
                type: 'get',
                data: { jobID: $("#Job_JobID").val() },
                cache: false,
                success: function (showExtended) {

                    $('#activeWorkInstructions').empty();

                    if (showExtended) {
                        // Show Tasks table with options to update "complete" tasks to "invoiced".
                        $.ajax({
                            url: '/Contract/WorkInstruction/ActiveWorkInstructionsForJobRaw',
                            type: 'get',
                            data: { jobID: $("#Job_JobID").val() },
                            cache: false,
                            success: function (data) {

                                if (data.length) {

                                    var rowNum = 1;

                                    var tasksDiv = $('<div id="tasksDiv">' +
                                        '<div class="tasksActions">' +
                                        '<a href="#" id="task-selectall">Select All</a> | <a href="#" id="task-unselectall">Unselect All</a>' +
                                        '</div>' +
                                        '<div id="tasksTable">' +
                                        '</div>' +
                                        '<div class="tasksActions">' +
                                        '<input type="button" id="UpdateTasks" value="Update Tasks" class="btn btn-primary" />' +
                                        '</div>' +
                                        '</div>');

                                    tasksDiv.find('#task-selectall').on("click", function () {
                                        ToggleInvoiced(true);
                                    });

                                    tasksDiv.find('#task-unselectall').on("click", function () {
                                        ToggleInvoiced(false);
                                    })

                                    tasksDiv.find('#UpdateTasks').on("click", function () {

                                        // find all checked checkboxes (and their work instruction ids)
                                        var tasks = [];
                                        $('#tasksTable tbody tr').each(function (i, row) {

                                            var row = $(row);
                                            var taskID = "";

                                            var cbx = row.find('.taskcbx');
                                            if (cbx.length) {
                                                if ($(cbx).prop("checked")) {
                                                    taskID = row.find(".taskID").val();
                                                    tasks.push(taskID);
                                                }
                                            }
                                        });

                                        // and update them
                                        if (tasks.length) {
                                            $.ajax({
                                                url: '/Contract/WorkInstruction/UpdateWorkInstructionsToInvoied',
                                                type: 'post',
                                                data: { tasks: tasks },
                                                dataType: 'json',
                                                traditional: true,
                                                success: function () {
                                                    LoadTasks();
                                                }
                                            });
                                        }

                                    });

                                    var table = $('<table>', { class: "table table-striped table-bordered table-hover" });

                                    table.append($('<thead>')
                                        .append($('<tr>')
                                            .append($('<th>', { class: "task" }).append("Task"))
                                            .append($('<th>', { class: "date" }).append("Date"))
                                            .append($('<th>', { class: "taskType" }).append("Task Type"))
                                            .append($('<th>', { class: "status" }).append("Status"))
                                            .append($('<th>', { class: "markinvoiced" }).append("Invoiced?"))));

                                    var tbody = $('<tbody>');

                                    for (var i = 0; i < data.length; i++) {
                                        var row = data[i];

                                        var tr = $('<tr>', { class: "res link" })
                                            .append($('<td class="tasklink">').append(row.WorkInstructionNumber))
                                            .append($('<td class="tasklink">').append(row.DateString))
                                            .append($('<td class="tasklink">').append(row.JobTypeName))
                                            .append($('<td class="tasklink">').append(row.Status));

                                        var td = $('<td>', { class: "markinvoiced" })
                                            .append($('<input>', { type: "hidden", class: "taskID", id: "Tasks[" + rowNum + "].WorkInstructionID", name: "Tasks[" + rowNum + "].WorkInstructionID", value: row.WorkInstructionID }));

                                        if (row.Status == "Complete") {

                                            var cbox = $('<input>', { type: "checkbox", class: "taskcbx", id: "Tasks[" + rowNum + "].MarkInvoiced", name: "Tasks[" + rowNum + "].MarkInvoiced" })
                                            td.append(cbox);
                                            //tr.append($('<td>', { class: "markinvoiced" }).append(cbox)
                                            //    .append($('<input>', { type: "hidden", id: "Tasks[" + rowNum + "].WorkInstructionID", name: "Tasks[" + rowNum + "].WorkInstructionID", value: row.WorkInstructionID })));

                                        //} else {
                                        //    tr.append($('<td>'));
                                        }

                                        tr.append(td);

                                        tr.find('.tasklink').on("click", function () {
                                            var tr = $(this).closest("tr");
                                            var taskID = tr.find(".taskID").val();

                                            location.href = "/Contract/WorkInstruction/Update/" + taskID;
                                        })

                                        tbody.append(tr);
                                        rowNum++;
                                    }

                                    table.append(tbody);
                                    var tasksTableDiv = $(tasksDiv.find('#tasksTable'));
                                    tasksTableDiv.append(table);

                                    $('#activeWorkInstructions').append(tasksDiv);
                                }

                            }
                        });

                    } else {
                        // show regular Tasks table
                        jobWorkInstructions = new triangle.ui.table('#activeWorkInstructions', '/Contract/WorkInstruction/ActiveWorkInstructionsForJob', 5, { jobID: $("#Job_JobID").val() });
                        jobWorkInstructions.searchBarExpandedSize = 300;
                    }

                }
            });
        }

        function ToggleInvoiced(checked) {

            $('#tasksTable tbody tr').each(function (i, row) {

                var row = $(row);
                var cbx = row.find('.taskcbx');
                if (cbx.length) {
                    $(cbx).prop('checked', checked);
                }
            });

        }

    </script>
}