﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Contacts.ContactViewModel

@{
    ViewBag.Title = "Update Contact";
}

@section contentHeader
{
    <h1>Update Contact</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            <input type="submit" class="btn" value="Cancel" name="Cancel" />
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Contact.ContactID)
                    @Html.HiddenFor(m => m.Contact.CustomerID)

                    @Bootstrap.TextBoxFor(m => m.Contact.ContactName, new { label = "Contact Name" })
                    @Bootstrap.TextBoxFor(m => m.Contact.JobTitle, new { label = "Job Title" })
                    @Bootstrap.TextBoxFor(m => m.Contact.PhoneNumber, new { label = "Phone Number" })
                    @Bootstrap.TextBoxFor(m => m.Contact.MobileNumber, new { label = "Mobile Number" })
                    @Bootstrap.TextBoxFor(m => m.Contact.EmailAddress, new { label = "Email Address" })
                    @Bootstrap.CheckBoxFor(m => m.Contact.IsActive, new { label = "Active" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        
    </script>
}