﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Vehicles.VehicleViewModel

@{
    ViewBag.Title = "Active Vehicles";
}

@section contentHeader
{
    <h1>Active Vehicles</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var activeVehicles = null;

        $(function () {
            activeVehicles = new triangle.ui.table('#current', '/Contract/Vehicle/ActiveVehicles', 50);
        });

    </script>

}