﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Vehicles.VehicleViewModel

@{
    ViewBag.Title = "Inactive Vehicles";
}

@section contentHeader
{
    <h1>Inactive Vehicles</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var inactiveVehicles = null;

        $(function () {
            inactiveVehicles = new triangle.ui.table('#current', '/Contract/Vehicle/InactiveVehicles', 50);
        });

    </script>

}