﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Vehicles.VehicleAbsenceViewModel

@{
    ViewBag.Title = "New Vehicle Absence";
}

@section contentHeader
{
    <h1>New Vehicle Absence</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "Update", null, new { id = Model.VehicleAbsence.VehicleID }, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.VehicleAbsence.VehicleID)
                @Bootstrap.TextBoxFor(a => a.VehicleAbsence.Vehicle, new { @readonly = "readonly" })
                @Bootstrap.LookupFor(a => a.VehicleAbsence.VehicleAbsenceReasonID, a => a.VehicleAbsence.VehicleAbsenceReason, "Absence Reason")
                @Bootstrap.DatePickerFor(a => a.VehicleAbsence.FromDate)
                @Bootstrap.DatePickerFor(a => a.VehicleAbsence.ToDate)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        var vehicleAbsenceReasons = null;

        $(function () {
            vehicleAbsenceReasons = new triangle.ui.lookup("#VehicleAbsence-VehicleAbsenceReasonID" /*ID*/, "/Contract/Maintenance/GetVehicleAbsenceReasonsLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        });
    </script>
}