﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Vehicles.VehicleViewModel

@{
    ViewBag.Title = "Vehicle Summary";
}

@section contentHeader
{
    <h1>Vehicle Summary</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Inactive", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Vehicle.VehicleID)
                    @Html.HiddenFor(m => m.Vehicle.Make)
                    @Html.HiddenFor(m => m.Vehicle.Model)
                    @Html.HiddenFor(m => m.Vehicle.Registration)
                    @Html.HiddenFor(m => m.Vehicle.VehicleTypeID)
                    @Html.HiddenFor(m => m.Vehicle.DepotID)

                    @Bootstrap.TextBoxFor(m => m.Vehicle.Make, new { disabled = "disabled", label = "Make" })
                    @Bootstrap.TextBoxFor(m => m.Vehicle.Model, new { disabled = "disabled", label = "Model" })
                    @Bootstrap.TextBoxFor(m => m.Vehicle.Registration, new { disabled = "disabled", label = "Registration" })

                    @Bootstrap.CheckBoxFor(m => m.Vehicle.IsActive, new { label = "Active?" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        
    </script>
}