﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Vehicles.VehicleViewModel

@{
    ViewBag.Title = "Update Vehicle";
}

@section contentHeader
{
    <h1>Update Vehicle</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Vehicle.VehicleID)
                    @Bootstrap.TextBoxFor(m => m.Vehicle.Make, new { label = "Make" })
                    @Bootstrap.TextBoxFor(m => m.Vehicle.Model, new { label = "Model" })
                    @Bootstrap.TextBoxFor(m => m.Vehicle.Registration, new { label = "Registration" })
                    @Bootstrap.LookupFor(m => m.Vehicle.VehicleTypeID, m => m.Vehicle.VehicleType.Name, "Vehicle Type")
                    @Bootstrap.LookupFor(m => m.Vehicle.DepotID, m => m.Vehicle.Depot.DepotName, "Depot")
                    @Bootstrap.CheckBoxFor(m => m.Vehicle.IsActive, new { label = "Active" })
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Absences</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeAbsences">
                    </div>
                    <div class="actions">
                        @Html.ActionLink("Add Absence", "NewVehicleAbsence", "Vehicle", new { vehicleID = Model.Vehicle.VehicleID }, new { @class = "btn" })
                    </div>
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        var vehicleTypeLookup = null;
        var depotLookup = null;
        var vehicleAbsences = null;

        $(function () {
            depotLookup = new triangle.ui.lookup("#Vehicle-DepotID" /*ID*/, "/Contract/Depot/GetDepotLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            vehicleTypeLookup = new triangle.ui.lookup("#Vehicle-VehicleTypeID" /*ID*/, "/Contract/Maintenance/GetVehicleTypesLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);

            vehicleAbsences = new triangle.ui.table('#activeAbsences', '/Contract/Vehicle/ActiveAbsences', 5, { vehicleID: $("#Vehicle_VehicleID").val() });
            vehicleAbsences.searchBarExpandedSize = 300;
        });
    </script>
}