﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.LoadingSheets.LoadingSheetViewModel

@{
    ViewBag.Title = "New Loading Sheet";
}

@section contentHeader
{
    <h1>New Loading Sheet</h1>
}

<div class="loading-sheet">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Update", "WorkInstruction", new { id = Model.LoadingSheet.WorkInstructionID }, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.LoadingSheet.WorkInstructionID)
                    @Bootstrap.DatePickerFor(m => m.LoadingSheet.LoadingSheetDate)
                    @Bootstrap.TextBoxFor(m => m.LoadingSheet.Name)
                    @*@Bootstrap.LookupFor(m => m.LoadingSheet.VehicleID, m => m.LoadingSheet.Vehicle.Registration, "Vehicle")
                    @Bootstrap.LookupFor(m => m.LoadingSheet.VehicleTypeID, m => m.LoadingSheet.VehicleType.Name, "Vehicle Type")*@
                    @Bootstrap.TextAreaFor(m => m.LoadingSheet.Comments)
                    @Bootstrap.LookupFor(m => m.LoadingSheet.EmployeeID, m => m.LoadingSheet.Employee.EmployeeName, "Issued By")
                    @*@Bootstrap.TextBoxFor(m => m.LoadingSheet.Site)*@

                    @*Defaulting StatusID to Current and hidding as cant see any purpose for it*@
                    @Html.HiddenFor(a => a.LoadingSheet.StatusID)
                    @*@Bootstrap.DropDownListFor(m => m.LoadingSheet.StatusID, Model.Status, new { label = "Status" })*@
                </fieldset>
            </div>
            <div class="span6 control-collection equipment">
                <fieldset>
                    <legend>Equipment</legend>
                    <div class="actions">
                        <a href="#" title="Please Add loading sheet first" class="btn button-disabled">Add Equipment</a>
                        <a href="#" title="Please Add loading sheet first" class="btn button-disabled non-equipment">Add Non Standard Equipment</a>
                    </div>
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">

        //var vehicleLookup = null;
        //var vehicleTypeLookup = null;
        var employeeLookup = null;

        $(function () {
            //vehicleLookup = new triangle.ui.lookup("#LoadingSheet-VehicleID" /*ID*/, "/Contract/Vehicle/GetVehicleLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            //vehicleTypeLookup = new triangle.ui.lookup("#LoadingSheet-VehicleTypeID" /*ID*/, "/Contract/Maintenance/GetVehicleTypesLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            employeeLookup = new triangle.ui.lookup("#LoadingSheet-EmployeeID" /*ID*/, "/Contract/Employee/GetContractManagerLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        });

    </script>
}
