﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.LoadingSheets.LoadingSheetViewModel

@{
    ViewBag.Title = "Update Loading Sheet";
}

@section contentHeader
{
    <h1>Update Loading Sheet</h1>
}

<style>
    .vmsAssetWarning {
        color: orangered;
        padding: 0 80px;
        text-align: center;
        font-style: italic;
    }
</style>

<div class="loading-sheet">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Update", "WorkInstruction", new { id = Model.LoadingSheet.WorkInstructionID }, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
            <input type="submit" class="btn btn-warning" value="Print" name="Print" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.LoadingSheet.WorkInstructionID)
                    @Html.HiddenFor(m => m.LoadingSheet.LoadingSheetID)
                    @Bootstrap.DatePickerFor(m => m.LoadingSheet.LoadingSheetDate)
                    @Bootstrap.TextBoxFor(m => m.LoadingSheet.Name)
                    @*@Bootstrap.LookupFor(m => m.LoadingSheet.VehicleID, m => m.LoadingSheet.Vehicle.Registration, "Vehicle")
                        @Bootstrap.LookupFor(m => m.LoadingSheet.VehicleTypeID, m => m.LoadingSheet.VehicleType.Name, "Vehicle Type")*@
                    @Bootstrap.TextAreaFor(m => m.LoadingSheet.Comments)
                    @Bootstrap.LookupFor(m => m.LoadingSheet.EmployeeID, m => m.LoadingSheet.Employee.EmployeeName, "Issued By")
                    @*@Bootstrap.TextBoxFor(m => m.LoadingSheet.Site)*@

                    @*Defaulting StatusID to Current and hidding as cant see any purpose for it*@
                    @Html.HiddenFor(a => a.LoadingSheet.StatusID)
                    @*@Bootstrap.DropDownListFor(m => m.LoadingSheet.StatusID, Model.Status, new { label = "Status" })*@

                    @Bootstrap.CheckBoxFor(x => x.LoadingSheet.IsActive)
                </fieldset>
            </div>
            <div class="span6 control-collection equipment">
                <fieldset>
                    <legend>Equipment</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeEquipment">
                    </div>
                    <div class="actions">
                        @Html.ActionLink("Add Equipment", "AddLoadingSheetEquipment", "Equipment", new { loadingSheetID = Model.LoadingSheet.LoadingSheetID }, new { @class = "btn" })
                        <a class="btn non-equipment" href="#" title="AddNonStandardEquipment">Add Non Standard Equipment</a>
                    </div>
                </fieldset>
                @if (Model.LoadingSheet.HasVmsOrAssetWithoutChecklist)
                {
                    <div class="vmsAssetWarning">You have loaded a Vms or Asset equipment type but have no Vms or Pre Hire checklist available</div>
                }
            </div>
        </div>


    }
</div>

@section footer{
    <div id="EquipmentModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Add Equipment</h3>
        </div>
        <div class="modal-body form-horizontal">
            <label for="equipmentName" class="control-label">Equipment Name</label>
            <div class="controls">
                <input type="text" id="equipmentName" name="NewEquipmentName" />
            </div>
            <label for="quantity" class="control-label">Quantity</label>
            <div class="controls">
                <input id="quantity" name="quantity" class="time-spinner spinner" type="number" min="0" />
            </div>
            <label for="SheetOrder" class="control-label">Order</label>
            <div class="controls">
                <input id="SheetOrder" name="sheetOrder" class="time-spinner spinner" type="number" min="0" />
            </div>
        </div>
        <div class="modal-footer">
            <input id="EquipmentModalCancel" type="button" class="btn" data-dismiss="modal" value="Cancel" />
            <input id="EquipmentModalProceed" type="submit" class="btn btn-primary" name="Equipment" value="Add" />
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">

        //var vehicleLookup = null;
        //var vehicleTypeLookup = null;
        var employeeLookup = null;
        var loadingSheetEquipment = null;
        var equipmentModal = null;

        $(function () {
            //vehicleLookup = new triangle.ui.lookup("#LoadingSheet-VehicleID" /*ID*/, "/Contract/Vehicle/GetVehicleLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            //vehicleTypeLookup = new triangle.ui.lookup("#LoadingSheet-VehicleTypeID" /*ID*/, "/Contract/Maintenance/GetVehicleTypesLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            employeeLookup = new triangle.ui.lookup("#LoadingSheet-EmployeeID" /*ID*/, "/Contract/Employee/GetContractManagerLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);

            loadingSheetEquipment = new triangle.ui.table('#activeEquipment', '/Contract/Equipment/ActiveLoadingSheetEquipment', 5, { loadingSheetID: $("#LoadingSheet_LoadingSheetID").val() });
            loadingSheetEquipment.searchBarExpandedSize = 300;

            equipmentModal = $("#EquipmentModal").modal({ backdrop: false, show: false });
            $(".non-equipment").on("click", function () {
                equipmentModal.modal({ backdrop: false });
            });

            $("#EquipmentModalProceed").on("click", function () {
                equipmentModal.modal('hide');

            });
        });

    </script>
}
