﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>FMConway | @ViewBag.Title</title>
    <link href="" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @using System.Web.Configuration
    @using FMConway.Services.Extensions

    <script src="https://kit.fontawesome.com/8e5fcc582b.js" crossorigin="anonymous"></script>

    @Styles.Render("~/Content/jquery-ui/css/ui-darkness/bundle")
    @Styles.Render("~/Content/Bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="wrapper">

        <header>
            <div class="logo">
                <a href="/">
                    <img src="/Content/images/@(WebConfigurationManager.AppSettings.Get<bool>("test-version") ? "fmconway_logo_test.png" : "fmconway_logo.png")" />
                </a>
            </div>

            <section class="content-header control-grad">
                <div class="page-title">
                    @RenderSection("ContentHeader", required: false)
                </div>
                <div class="profile">
                    @Html.ActionLink("Sign out", "logoff", "account", new { area = "" }, new { @class = "sign-out" })
                    <div class="user">
                        Welcome @Html.ActionLink(@User.Identity.Name, "UserProfile", "account", new { Area = "" }, null)
                    </div>

                </div>
            </section>
        </header>

        <nav>
            @{Html.RenderAction("NavigationMenu", "Menu", new { area = "" });}
        </nav>

        <span class="content-wrapper"></span>
        <section class="content">
            @RenderBody()
            <span class="clearfix"></span>
        </section>

        <span class="clearfix"></span>
        <footer>
        </footer>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Content/Bootstrap/JS")
    @Scripts.Render("~/Content/Core")

    <script type="text/javascript">
        var openNav = null;
        var msnry = null;

        var container = document.querySelector('.masonry');

        if (container)
            msnry = new Masonry(container);

        //var menuScroller = new triangle.ui.scroller($("nav > ul"));

        //*var mainScroller = new scroller($(".content").children()[0]);

        function toggleMenuScroller() {
            //            menuScroller.Toggle();
        }

        $(document).ajaxComplete(function () { $(".masonry").masonry(); /*mainScroller.Toggle();*/ });

        //*$("[data-toggle='tab']").on('click', function () {

        //     mainScroller.Toggle();
        //});

        $(document).ready(function () {

            triangle.ui.menu.init();

            if (msnry) {

                $("textarea").bind('mouseup', function () {
                    setTimeout(function () { msnry.layout(); }, 30);
                }
                );
                //msnry.on('layoutComplete', function () {
                //  mainScroller.Toggle();
                //});

                $("[data-dismiss='modal']").on('click', function () {
                    msnry.layout();
                });

                $("[data-toggle='tab']").on('click', function () {
                    setTimeout(function () { msnry.layout(); }, 30);
                });

                $(".masonryClick").on('click', function () {
                    setTimeout(function () { msnry.layout(); }, 30);
                });
            }

            $("tr.dAct").on("click", function () {

                location.href = $(this).data("da");

            });

            $(window).keydown(function (event) {
                if (event.target.tagName == 'TEXTAREA') {
                    return true;
                }

                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });

            $('.ttip').tooltip();
            $(".datepicker").datepicker({ dateFormat: "dd/mm/yy" });
            $(".spinner").spinner();

            $(".spinner").on('keyup', function (e) {

                var max = $(this).attr("max");
                var val = $(this).val();
                var p = parseInt(max);
                if (parseInt(val) > p) {
                    $(this).spinner("value", p);
                    e.preventDefault();
                    return;
                }

            });

            $(".spinner").on('keydown', function (e) {
                if (e.which > 46) {
                    var keyCode = e.keyCode || e.which;
                    if (keyCode >= 96 && keyCode <= 105) {
                        // Numpad keys
                        keyCode -= 48;
                    }
                    var s = String.fromCharCode(keyCode);

                    var rex = new RegExp(/[0-9]/);
                    var match = rex.test(s)
                    if (!match) {
                        e.preventDefault();
                        return;
                    }
                }

            });

            //$('.modal').on('show', function () {

            //    $('.content').append($('<div class="modal-backdrop fade in"></div>'));
            //}).on('hide', function () { $('.modal-backdrop').remove(); });;

        });

    </script>

    @RenderSection("scripts", required: false)    
    @RenderSection("footer", required: false)
</body>
</html>
