﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FMConway | @ViewBag.Title</title>

    @Styles.Render("~/Content/Bootstrap")
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="login-container">
        <div>
            <div class="login">
                <div class="banner">
                    @RenderSection("Banner")

                </div>
                @RenderBody()
            </div>

        </div>
    </div>
    @*@RenderSection("Scripts",false)*@

</body>
</html>
