﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.AreaCertificates.AreaCertificateViewModel

@{
    ViewBag.Title = "New Employee Qualification";
}

@section contentHeader
{
    <h1>New Employee Qualification</h1>
}

<div class="contract">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            <input type="submit" class="btn" value="Cancel" name="Cancel" />
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.AreaCertificate.EmployeeID)
                    @Bootstrap.TextBoxFor(m => m.AreaCertificate.CertificateName, new { label = "Certificate Name" })
                    @Bootstrap.LookupFor(m => m.AreaCertificate.CertificateTypeID, m => m.AreaCertificate.CertificateType.Name, "Certificate Type")
                  @*  @Bootstrap.LookupFor(m => m.AreaCertificate.AreaID, m => m.AreaCertificate.Area.Name, "Area") *@
                    @Bootstrap.TextAreaFor(m => m.AreaCertificate.CertificateDescription, new { label = "Description" })
                    @Bootstrap.DatePickerFor(m => m.AreaCertificate.ExpiryDate, new { label = "Expiry Date" })
                </fieldset>
            </div>

            <div class="control-collection span6">
                <fieldset>
                    <legend>Documents</legend>
                    <ul class="documents">
                        @if (Model.UploadedDocuments != null)
                        {
                            int documentCount = 0;
                            foreach (var document in Model.UploadedDocuments)
                            {
                            <li class="file-add">
                                @Html.Hidden("Documents[" + documentCount + "].DocumentID", document.DocumentID, new { @class = "document-id" })
                                @Html.Hidden("Documents[" + documentCount + "].Number", document.Number, new { @class = "document-number" })
                                @Html.Hidden("Documents[" + documentCount + "].FileID", document.FileID, new { @class = "document-fileid" })
                                @Html.Hidden("Documents[" + documentCount + "].Loaded", document.Loaded, new { @class = "document-loaded" })
                                <a href="/File/GetFile/@document.FileID">
                                    <img src="~/Content/images/docket.png" /><label>@document.Number</label></a>
                            </li>            
                                documentCount++;
                            }
                        }
                    </ul>
                    <div class="actions">
                        <div class="btn-group">
                            <button class="btn btn-large document-edit">Edit</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div> 
    }
</div>

<input type="hidden" id="RequiresDocumentNumber" value="true" />

@section footer{

    <div id="DocumentModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Upload Document</h3>
        </div>
        <div class="modal-body form-horizontal">
            <div class="control-group">
                <label for="DocumentNumber" class="control-label">Document Number</label>
                <div class="controls">
                    <input type="text" autocomplete="off" id="DocumentNumber">
                </div>
            </div>
            <div class="control-group">
                <label for="File" class="control-label">Document</label>
                <div class="controls">
                    <input type="file" id="FileDocument">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" id="DocumentModalCancel" class="btn" data-dismiss="modal">Close</a>
            <a href="#" id="DocumentModalSave" class="btn btn-primary" data-dismiss="modal">Save</a>
        </div>
    </div>

}

@section scripts{
    <script type="text/javascript">

        var certificateTypeLookup = null;
        var areaLookup = null;

        $(function () {
            InitDocuments();

            certificateTypeLookup = new triangle.ui.lookup("#AreaCertificate-CertificateTypeID" /*ID*/, "/Contract/Maintenance/GetCertificateTypesLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            areaLookup = new triangle.ui.lookup("#AreaCertificate-AreaID" /*ID*/, "/Contract/Area/GetAreaLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        });

        function InitDocuments() {
            documentCollectionEditor = new triangle.ui.collectionEditor(".documents");
            documentCollectionEditor.Delete = function (item) {
                $(item).remove();
                var documentContainer = $(".documents");
                var itemCount = documentContainer.children(".file-add");
                itemCount.each(function (idx, ele) {
                    $(ele).find(".document-number").attr("name", "UploadedDocuments[" + idx + "].Number");
                    $(ele).find(".document-loaded").attr("name", "UploadedDocuments[" + idx + "].Loaded");
                    $(ele).find(".document-file").attr("name", "UploadedDocuments[" + idx + "].Document");
                });
            }

            $(documentCollectionEditor).on("add", function () {
                $("#DocumentModal").modal("show");
            })

            $('.document-edit').on("click", function (e) {
                documentCollectionEditor.Edit();
                return false;
            });

            $('#DocumentModalCancel').on('click', function () {
                //Clean up validation
                $("#DocumentModal .error").removeClass("error");
                $("#DocumentModal .help-inline").remove();
                $("#DocumentModal input").val('');
            });

            $("#DocumentModal input").mousedown(function () {
                var controlGroup = $(this).parents(".control-group");
                controlGroup.removeClass("error");
                controlGroup.find(".help-inline").remove();
            });

            $('#DocumentModalSave').on('click', function () {
                var documentNumberInput = $("#DocumentNumber");
                var file = $("#FileDocument");
                var IsValid = true;
                //Validate Document
                $("#DocumentModal .error").removeClass("error");
                $("#DocumentModal .help-inline").remove();
                var requiresDocumentNumber = $("#RequiresDocumentNumber");
                if (requiresDocumentNumber != null && requiresDocumentNumber.val() === "true") {
                    if (documentNumberInput.val().length == 0) {
                        var controlGroup = documentNumberInput.parents(".control-group");
                        controlGroup.addClass("error");
                        $("<span>").addClass("help-inline").text("A document number must be supplied before continuing.").insertAfter(documentNumberInput);
                        IsValid = false;
                    }
                }
                if (file.val().length == 0) {
                    var controlGroup = file.parents(".control-group");
                    controlGroup.addClass("error");
                    $("<span>").addClass("help-inline").text("A document must be supplied before continuing.").insertAfter(file);
                    IsValid = false;
                }
                if (!IsValid)
                    return false;
                //Process Document
                var documentContainer = $(".documents");
                var itemCount = documentContainer.children(".file-add").length;
                var control = $("<li>").addClass("file-add");
                var documentNumberClone = documentNumberInput.clone().attr("id", "UploadedDocument_" + itemCount + "_Number").attr("type", "hidden").addClass("document-number").attr("name", "UploadedDocuments[" + itemCount + "].Number");
                control.append(documentNumberClone);
                $("#DocumentNumber").val('');
                //var securityLevelClone = $("<input>").attr("type", "hidden").attr("id", "UploadedDocument_" + itemCount + "_SecurityLevelID").addClass("document-security-level").attr("name", "UploadedDocuments[" + itemCount + "].SecurityLevelID").attr("value", securityLevel).hide();
                //control.append(securityLevelClone);
                var clone = file.clone().val('');
                clone.insertAfter(file);
                file.addClass("document-file").attr("id", "UploadedDocument_" + itemCount + "_Document").attr("name", "UploadedDocuments[" + itemCount + "].Document").hide().appendTo(control);
                var documentNumber = $(documentNumberClone).val();
                var lblText = documentNumber;
                if (lblText.length > 6) {
                    lblText = lblText.substring(0, 5) + "...";
                    control.attr("title", documentNumber)
                }

                var label = $("<label>").text(lblText);
                control.append(label);
                documentCollectionEditor.Add(control);
            });
        }

    </script>
}