﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.AreaCertificates.AreaCertificateViewModel

@{
    ViewBag.Title = "Update Employee Qualification";
}

@section contentHeader
{
    <h1>Update Employee Qualification</h1>
}

<div class="contract">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            <input type="submit" class="btn" value="Cancel" name="Cancel" />
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.AreaCertificate.AreaCertificateID)
                    @Html.HiddenFor(m => m.AreaCertificate.EmployeeID)
                    @Bootstrap.TextBoxFor(m => m.AreaCertificate.CertificateName, new { label = "Certificate Name" })
                    @Bootstrap.LookupFor(m => m.AreaCertificate.CertificateTypeID, m => m.AreaCertificate.CertificateType.Name, "Certificate Type")
                    @* @Bootstrap.LookupFor(m => m.AreaCertificate.AreaID, m => m.AreaCertificate.Area.Name, "Area") *@
                    @Bootstrap.TextAreaFor(m => m.AreaCertificate.CertificateDescription, new { label = "Description" })
                    @Bootstrap.DatePickerFor(m => m.AreaCertificate.ExpiryDate, new { label = "Expiry Date" })
                    @Bootstrap.CheckBoxFor(m => m.AreaCertificate.IsActive)
                </fieldset>
            </div>

            <div class="control-collection span6">
                <fieldset>
                    <legend>Documents</legend>
                    <ul class="documents">
                        @if (Model.Documents != null)
                        {
                            int documentCount = 0;
                            foreach (var document in Model.Documents)
                            {
                            <li class="file-add">
                                @Html.Hidden("Documents[" + documentCount + "].DocumentID", document.DocumentID, new { @class = "document-id" })
                                @Html.Hidden("Documents[" + documentCount + "].Number", document.Number, new { @class = "document-number" })
                                @Html.Hidden("Documents[" + documentCount + "].FileID", document.FileID, new { @class = "document-fileid" })
                                @Html.Hidden("Documents[" + documentCount + "].Loaded", document.Loaded, new { @class = "document-loaded" })
                                
                                <a href="/File/GetFile/@document.FileID">
                                   <label>@document.Number</label></a>
                            </li>            
                                documentCount++;
                            }
                        }
                    </ul>
                    <div class="actions">
                        <div class="btn-group">
                            <button class="btn btn-large document-edit">Edit</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div> 
    }
</div>

<input type="hidden" id="RequiresDocumentNumber" value="true" />

@section footer{
    <div id="DocumentModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Upload Document</h3>
        </div>
        <div class="modal-body form-horizontal">
            <div class="control-group">
                <label for="DocumentNumber" class="control-label">Document Name</label>
                <div class="controls">
                    <input type="text" autocomplete="off" id="DocumentNumber">
                </div>
            </div>
            <div class="control-group">
                <label for="File" class="control-label">Document</label>
                <div class="controls">
                    <input type="file" id="FileDocument">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" id="DocumentModalCancel" class="btn" data-dismiss="modal">Close</a>
            <a href="#" id="DocumentModalSave" class="btn btn-primary" data-dismiss="modal">Save</a>
        </div>
    </div>}

@section scripts{
    <script type="text/javascript">

        var certificateTypeLookup = null;
        var areaLookup = null;

        $(function () {
            InitDocuments();

            certificateTypeLookup = new triangle.ui.lookup("#AreaCertificate-CertificateTypeID" /*ID*/, "/Contract/Maintenance/GetCertificateTypesLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            areaLookup = new triangle.ui.lookup("#AreaCertificate-AreaID" /*ID*/, "/Contract/Area/GetAreaLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        });

        function InitDocuments() {
            documentCollectionEditor = new triangle.ui.collectionEditor(".documents");
            documentCollectionEditor.Delete = function (item) {
                //$(item).find(".active-state").val("false");
                $(item).remove();//.hide();
                var documentContainer = $(".documents");
                var itemCount = documentContainer.children(".file-add");
                itemCount.each(function (idx, ele) {
                    $(ele).find(".document-id").attr("name", "Documents[" + idx + "].DocumentID");
                    $(ele).find(".document-number").attr("name", "Documents[" + idx + "].Number");
                    $(ele).find(".document-fileid").attr("name", "Documents[" + idx + "].FileID");
                    $(ele).find(".document-loaded").attr("name", "Documents[" + idx + "].Loaded");
                    $(ele).find(".document-file").attr("name", "Documents[" + idx + "].Document");
                });
            }

            $(documentCollectionEditor).on("add", function () {
                $("#DocumentModal").modal("show");
            })

            $('.document-edit').on("click", function (e) {
                documentCollectionEditor.Edit();
                return false;
            });

            $('#DocumentModalCancel').on('click', function () {
                //Clean up validation
                $("#DocumentModal .error").removeClass("error");
                $("#DocumentModal .help-inline").remove();
                $("#DocumentModal input").val('');
            });

            $("#DocumentModal input").mousedown(function () {
                var controlGroup = $(this).parents(".control-group");
                controlGroup.removeClass("error");
                controlGroup.find(".help-inline").remove();
            });

            function addControlGroupError(documentTitle, message) {
                documentTitle.closest('.control-group').addClass('error');
                var html = '<div class="help-inline">' + message + '</div>';
                $(html).insertAfter(documentTitle);
            }

            $('#DocumentModalSave').on('click', function () {
                var documentNumberInput = $("#DocumentNumber");
                var securityLevel = $("#Security_Levels option:selected").val();
                var file = $("#FileDocument");
                var IsValid = true;
                //Validate Document
                $("#DocumentModal .error").removeClass("error");
                $("#DocumentModal .help-inline").remove();
                var requiresDocumentNumber = $("#RequiresDocumentNumber");
                if (requiresDocumentNumber != null && requiresDocumentNumber.val() === "true") {
                    if (documentNumberInput.val().length == 0) {
                        addControlGroupError(documentNumberInput, "A document number must be supplied before continuing.");
                        IsValid = false;
                    }
                }

                if (file.val().length == 0) {
                    addControlGroupError(file, "A document must be supplied before continuing.");
                    IsValid = false;
                }

                if (!IsValid)
                    return false;
                //Process Document
                var documentContainer = $(".documents");
                var itemCount = documentContainer.children(".file-add").length;

                if (itemCount < 0) {
                    itemCount = 0;
                }

                var control = $("<li>").addClass("file-add");
                var documentNumberClone = documentNumberInput.clone().addClass("document-number").attr("type", "hidden").attr("id", "DocumentNumber-" + itemCount).attr("name", "Documents[" + itemCount + "].Number");
                control.append(documentNumberClone);
                $("#DocumentNumber").val('');
                //var securityLevelClone = $("<input>").attr("type", "hidden").addClass("document-slid").attr("id", "SecurityLevelID-" + itemCount).attr("name", "Documents[" + itemCount + "].SecurityLevelID").attr("value", securityLevel).hide();
                //control.append(securityLevelClone);
                var clone = file.clone().val('');
                clone.insertAfter(file);
                file.attr("id", "File-" + itemCount).addClass("document-file").attr("name", "Documents[" + itemCount + "].Document").hide().appendTo(control);
                var documentNumber = $(documentNumberClone).val();
                var lblText = documentNumber;
                if (lblText.length > 6) {
                    lblText = lblText.substring(0, 5) + "...";
                    control.attr("title", documentNumber)
                }

                var label = $("<label>").text(lblText);
                control.append(label);
                documentCollectionEditor.Add(control);
            });
        }

    </script>
}