﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Employees.EmployeeViewModel

@{
    ViewBag.Title = "Inactive Employees";
}

@section contentHeader
{
    <h1>Inactive Employees</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var inactiveEmployees = null;

        $(function () {
            inactiveEmployees = new triangle.ui.table('#current', '/Contract/Employee/InactiveEmployees', 50);
        });

    </script>

}