﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Employees.EmployeeViewModel

@{
    ViewBag.Title = "New Employee";
}

@section contentHeader
{
    <h1>New Employee</h1>
}

<style>
    .vehicle-warning {
        text-align: center;
        font-size: 12px;
        color: #ff3030;
    }
</style>

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Bootstrap.TextBoxFor(m => m.Employee.EmployeeName, new { label = "Employee Name" })
                    @Bootstrap.DropDownListFor(m => m.Employee.EmployeeTypeID, Model.EmployeeTypes, new { label = "Employee Type" })
                    @Bootstrap.TextBoxFor(m => m.Employee.PhoneNumber, new { label = "Phone Number" })
                    @Bootstrap.TextBoxFor(m => m.Employee.EmailAddress, new { label = "Email Address" })
                    @Bootstrap.CheckBoxFor(m => m.Employee.AgencyStaff)
                    @Bootstrap.TextBoxFor(m => m.Employee.AgencyName, new { label = "Agency Name" })
                    @Bootstrap.CheckBoxFor(m => m.Employee.IsCurrentlyEmployeed)
                    @Bootstrap.LookupFor(m => m.Employee.DepotID, m => m.Employee.Depot.DepotName, "Depot")

                    @Bootstrap.LookupFor(m => m.Employee.VehicleID, m => m.Employee.Vehicle, "Vehicle")
                    <div class="vehicle-warning" style="display:none">
                        This vehicle is assigned to: [employee name]<br />
                        By saving you will overwrite this vehicles employee
                    </div>

                    @Bootstrap.DatePickerFor(m => m.Employee.StartDate, new { label = "Date Started" })

                    @Bootstrap.CheckBoxFor(m => m.AddNewUser)
                </fieldset>
            </div>            
            @*<div class="span6 control-collection">
                <fieldset>
                    <legend>Occupational Health Record</legend>
                    <div class="actions">
                        <a href="#" title="Please Add Employee First" class="ttip btn button-disabled">Add Examination</a>
                    </div>
                </fieldset>
            </div>*@
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Qualifications</legend>
                    <div class="actions">
                        <a href="#" title="Please Add Employee First" class="btn button-disabled">Add Qualification</a>
                    </div>
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Certificates</legend>
                    <div class="actions">
                        <a href="#" title="Please Add Employee First" class="btn button-disabled">Add Certificate</a>
                    </div>
                </fieldset>
            </div>
            <div class="span6 control-collection" id="userBox">
                <fieldset>
                    <legend>New User Details</legend>
                    @Bootstrap.TextBoxFor(m => m.Username, new { autocomplete = "new-password" }).RequiredIf(true)
                    @Bootstrap.PasswordFor(m => m.Password, new { autocomplete = "new-password" }).RequiredIf(true)
                    @Bootstrap.PasswordFor(m => m.ConfirmPassword).RequiredIf(true)
                    @Bootstrap.LookupFor(m => m.RoleID, m => m.RoleLookup, "Role").RequiredIf(true)
                </fieldset>
            </div>
            
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        var depotLookup = null;
        var rolesLookup = null;
        var vehicleLookup = null;

        var user = $('#AddNewUser');
        var userBox = $('#userBox');

        $(function () {
            depotLookup = new triangle.ui.lookup("#Employee-DepotID" /*ID*/, "/Contract/Depot/GetDepotLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            rolesLookup = new triangle.ui.lookup("#RoleID" /*ID*/, "/Contract/Maintenance/GetRoles" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            rolesLookup.UrlParameters = function () {
                return { excludeCustomer: true };
            }

            vehicleLookup = new triangle.ui.lookup("#Employee-VehicleID" /*ID*/, "/Contract/Vehicle/GetVehicleLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            vehicleLookup.Selected = function (a, b) {
                $('#Employee-VehicleID').val(b);
                $('#Employee-Vehicle').val(a);

                $.ajax({
                    url: '/contract/vehicle/getvehiclesemployee',
                    type: 'get',
                    data: { vehicleID: b },
                    success: function (c, d) {
                        var employeeID = $('#Employee_EmployeeID').val();
                        var vehicleWarning = $('.vehicle-warning');

                        if (c.EmployeeID && c.EmployeeID != employeeID) {
                            var text =
                                'This vehicle is assigned to: ' + c.Employee + '<br />' +
                                'By saving you will overwrite this vehicles employee';

                            vehicleWarning.empty();
                            vehicleWarning.append(text);
                            vehicleWarning.show();
                        } else {
                            vehicleWarning.hide();
                        }
                    },
                });
            }

            vehicleLookup.RemovedEvent = function () {
                $('.vehicle-warning').hide();
            }

            if (!$('#AddNewUser').prop('checked')) {
                userBox.hide();
            }

            user.on("change", function () {
                if (this.checked) {
                    userBox.show();
                }
                else {
                    userBox.hide();
                }
            });
        });
    </script>
}