﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Employees.EmployeeAbsenceViewModel

@{
    ViewBag.Title = "New Employee Absence";
}

@section contentHeader
{
    <h1>New Employee Absence</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "Update", null, new { id = Model.EmployeeAbsence.EmployeeID }, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.EmployeeAbsence.EmployeeID)
                @Bootstrap.TextBoxFor(a => a.EmployeeAbsence.Employee, new { @readonly = "readonly" })
                @Bootstrap.LookupFor(a => a.EmployeeAbsence.EmployeeAbsenceReasonID, a => a.EmployeeAbsence.EmployeeAbsenceReason, "Absence Reason")
                @Bootstrap.DatePickerFor(a => a.EmployeeAbsence.FromDate)
                @Bootstrap.DatePickerFor(a => a.EmployeeAbsence.ToDate)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        var employeeAbsenceReasons = null;

        $(function () {
            employeeAbsenceReasons = new triangle.ui.lookup("#EmployeeAbsence-EmployeeAbsenceReasonID" /*ID*/, "/Contract/Maintenance/GetEmployeeAbsenceReasonsLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        });
    </script>
}