﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Employees.EmployeeViewModel

@{
    ViewBag.Title = "Update Employee";
}

@section contentHeader
{
    <h1>Update Employee</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Inactive", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Employee.EmployeeID)
                    @Html.HiddenFor(m => m.Employee.EmployeeTypeID)
                    @Html.HiddenFor(m => m.Employee.EmployeeName)
                    @Html.HiddenFor(m => m.Employee.PhoneNumber)
                    @Html.HiddenFor(m => m.Employee.EmailAddress)
                    @Html.HiddenFor(m => m.Employee.EmployeeName)
                    @Html.HiddenFor(m => m.Employee.AgencyStaff)
                    @Html.HiddenFor(m => m.Employee.AgencyName)
                    @Html.HiddenFor(m => m.Employee.IsCurrentlyEmployeed)
                    @Html.HiddenFor(m => m.Employee.DepotID)
                    @Html.HiddenFor(m => m.Employee.VehicleID)
                    @Html.HiddenFor(m => m.Employee.StartDate)
                    @Html.HiddenFor(m => m.Employee.EndDate)
                    
                    @Bootstrap.TextBoxFor(m => m.Employee.EmployeeName, new { disabled = "disabled", label = "Employee Name" })
                    @Bootstrap.TextBoxFor(m => m.Employee.EmployeeType.Name, new { disabled = "disabled", label = "Employee Type" })
                    @Bootstrap.TextBoxFor(m => m.Employee.PhoneNumber, new { disabled = "disabled", label = "Phone Number" })
                    @Bootstrap.TextBoxFor(m => m.Employee.EmailAddress, new { disabled = "disabled", label = "Email Address" })

                    @Bootstrap.CheckBoxFor(m => m.Employee.IsActive, new { label = "Is Active?" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">

    </script>
}