﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Employees.EmployeeViewModel

@{
    ViewBag.Title = "Update Employee";
}

@section contentHeader
{
    <h1>Update Employee</h1>
}

<style>
    .vehicle-warning {
        text-align: center;
        font-size: 12px;
        color: #ff3030;
    }
</style>

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Employee.EmployeeID)

                    @Bootstrap.TextBoxFor(m => m.Employee.EmployeeName, new { label = "Employee Name" })
                    @Bootstrap.TextBoxFor(m => m.Employee.Username, new { @readonly = "readonly" })
                    @Bootstrap.DropDownListFor(m => m.Employee.EmployeeTypeID, Model.EmployeeTypes, new { label = "Employee Type" })
                    @Bootstrap.TextBoxFor(m => m.Employee.PhoneNumber, new { label = "Phone Number" })
                    @Bootstrap.TextBoxFor(m => m.Employee.EmailAddress, new { label = "Email Address" })
                    @Bootstrap.CheckBoxFor(m => m.Employee.AgencyStaff)
                    @Bootstrap.TextBoxFor(m => m.Employee.AgencyName, new { label = "Agency Name" })
                    @Bootstrap.CheckBoxFor(m => m.Employee.IsCurrentlyEmployeed)
                    @Bootstrap.LookupFor(m => m.Employee.DepotID, m => m.Employee.Depot.DepotName, "Depot")

                    @Bootstrap.LookupFor(m => m.Employee.VehicleID, m => m.Employee.Vehicle, "Vehicle")
                    <div class="vehicle-warning" style="display:none">
                        This vehicle is assigned to: [employee name]<br />
                        By saving you will overwrite this vehicles employee
                    </div>

                    @Bootstrap.DatePickerFor(m => m.Employee.StartDate, new { label = "Date Started" })
                    @Bootstrap.DatePickerFor(m => m.Employee.EndDate, new { label = "Date Left" })

                    @Bootstrap.CheckBoxFor(m => m.Employee.IsActive, new { label = "Active" })
                </fieldset>
            </div>
            @*<div class="span6 control-collection">
                <fieldset>
                    <legend>Occupational Health Record</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeMedicalExaminations">
                    </div>
                    <div class="actions">
                        @Html.ActionLink("Add Examination", "Create", "MedicalExamination", new { employeeID = Model.Employee.EmployeeID }, new { @class = "btn" })
                    </div>
                </fieldset>
            </div>*@
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Qualifications</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeAreaCertificates">
                    </div>
                    <div class="actions">
                        @Html.ActionLink("Add Qualification", "Create", "AreaCertificate", new { employeeID = Model.Employee.EmployeeID }, new { @class = "btn" })
                    </div>
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Certificates</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeFirstAidCertificates">
                    </div>
                    <div class="actions">
                        @Html.ActionLink("Add Certificate", "Create", "FirstAidCertificate", new { employeeID = Model.Employee.EmployeeID }, new { @class = "btn" })
                    </div>
                </fieldset>
            </div>
            @*<div class="span6 control-collection">
                <fieldset>
                    <legend>Area Inductions</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeAreaInductions">
                    </div>
                    <div class="actions">
                        @Html.ActionLink("Add Induction", "Create", "AreaInduction", new { employeeID = Model.Employee.EmployeeID }, new { @class = "btn" })
                    </div>
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Site Inductions</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeSiteInductions">
                    </div>
                    <div class="actions">
                    </div>
                </fieldset>
            </div>*@
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Timesheets</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeTimesheets">
                    </div>
                    <div class="actions">
                        @Html.ActionLink("Add Timesheet", "CreateTimesheet", "Timesheet", new { employeeID = Model.Employee.EmployeeID }, new { @class = "btn" })
                    </div>
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Absences</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeAbsences">
                    </div>
                    <div class="actions">
                        @Html.ActionLink("Add Absence", "NewEmployeeAbsence", "Employee", new { employeeID = Model.Employee.EmployeeID }, new { @class = "btn" })
                    </div>
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        var depotLookup = null;
        var medicalExaminations = null;
        var areaCertificates = null;
        var firstAidCertificates = null;
        var areaInductions = null;
        var siteInductions = null;
        var employeeTimesheets = null;
        var employeeAbsences = null;
        var vehicleLookup = null;

        $(function () {
            depotLookup = new triangle.ui.lookup("#Employee-DepotID" /*ID*/, "/Contract/Depot/GetDepotLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);

            medicalExaminations = new triangle.ui.table('#activeMedicalExaminations', '/Contract/MedicalExamination/ActiveMedicalExaminations', 5, { employeeID: $("#Employee_EmployeeID").val() });
            medicalExaminations.searchBarExpandedSize = 300;

            areaCertificates = new triangle.ui.table('#activeAreaCertificates', '/Contract/AreaCertificate/ActiveAreaCertificates', 5, { employeeID: $("#Employee_EmployeeID").val() });
            areaCertificates.searchBarExpandedSize = 300;

            firstAidCertificates = new triangle.ui.table('#activeFirstAidCertificates', '/Contract/FirstAidCertificate/ActiveFirstAidCertificates', 5, { employeeID: $("#Employee_EmployeeID").val() });
            firstAidCertificates.searchBarExpandedSize = 300;

            //areaInductions = new triangle.ui.table('#activeAreaInductions', '/Contract/AreaInduction/ActiveAreaInductions', 5, { employeeID: $("#Employee_EmployeeID").val() });
            //areaInductions.searchBarExpandedSize = 300;

            //siteInductions = new triangle.ui.table('#activeSiteInductions', '/Contract/SiteInduction/ActiveSiteInductionsForEmployee', 5, { employeeID: $("#Employee_EmployeeID").val() });
            //siteInductions.searchBarExpandedSize = 300;

            employeeTimesheets = new triangle.ui.table('#activeTimesheets', '/Contract/Timesheet/ActiveTimesheets', 5, { employeeID: $("#Employee_EmployeeID").val() });
            employeeTimesheets.searchBarExpandedSize = 300;

            employeeAbsences = new triangle.ui.table('#activeAbsences', '/Contract/Employee/ActiveAbsences', 5, { employeeID: $("#Employee_EmployeeID").val() });
            employeeAbsences.searchBarExpandedSize = 300;

            vehicleLookup = new triangle.ui.lookup("#Employee-VehicleID" /*ID*/, "/Contract/Vehicle/GetVehicleLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            vehicleLookup.Selected = function (a, b) {
                $('#Employee-VehicleID').val(b);
                $('#Employee-Vehicle').val(a);

                $.ajax({
                    url: '/contract/vehicle/getvehiclesemployee',
                    type: 'get',
                    data: { vehicleID: b },
                    success: function (c, d) {
                        var employeeID = $('#Employee_EmployeeID').val();
                        var vehicleWarning = $('.vehicle-warning');

                        if (c.EmployeeID && c.EmployeeID != employeeID) {
                            var text =
                                'This vehicle is assigned to: ' + c.Employee + '<br />' +
                                'By saving you will overwrite this vehicles employee';

                            vehicleWarning.empty();
                            vehicleWarning.append(text);
                            vehicleWarning.show();
                        } else {
                            vehicleWarning.hide();
                        }
                    },
                });
            }

            vehicleLookup.RemovedEvent = function () {
                $('.vehicle-warning').hide();
            }
        });
    </script>
}