﻿@{
    ViewBag.Title = "Dashboard";
}

@section contentHeader
{
    <h1>Dashboard</h1>
}

<style>
    .dashboard-logo {
        min-width: 100%;
        min-height: 100%;
        background-image: url("/Content/images/fmconway_logo_dashboard.png");
        background-repeat: no-repeat;
        background-position: center;
    }
</style>

<div class="dashboard-logo"></div>

<div class="primary-actions"></div>
<div class="overview"></div>

@section scripts{


}