﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.WorkInstructions.WorkInstructionViewModel

@{
    ViewBag.Title = "Active Work Instructions";

    var isCustomer = User.IsInRole("Customer");
    var defaultTab = isCustomer ? "complete" : "current";
}

@section contentHeader
{
    <h1>Active Tasks</h1>
}

<div class="overview">
    <div class="primary-actions">
        
    </div>
   
    <div class="tabbable">
        <ul class="nav nav-tabs" id="widataTab" style="width: auto">
            <li class="@(defaultTab == "current" ? "active" : "")" @(isCustomer ? "style=display:none" : "")>
                <a href="#current" data-toggle="tab">All</a>
            </li>
            <li class="@(defaultTab == "ready" ? "active" : "")" @(isCustomer ? "style=display:none" : "")>
                <a href="#ready" data-toggle="tab">Ready To Schedule</a>
            </li>
            <li class="@(defaultTab == "scheduled" ? "active" : "")" @(isCustomer ? "style=display:none" : "")>
                <a href="#scheduled" data-toggle="tab">Scheduled</a>
            </li>
            <li class="@(defaultTab == "complete" ? "active" : "")">
                <a href="#complete" data-toggle="tab">Completed</a>
            </li>
            <li class="@(defaultTab == "invoiced" ? "active" : "")" @(isCustomer ? "style=display:none" : "")>
                <a href="#invoiced" data-toggle="tab">Invoiced</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane @(defaultTab == "current" ? "active" : "")" id="current">

            </div>
            <div class="tab-pane @(defaultTab == "ready" ? "active" : "")" id="ready">

            </div>
            <div class="tab-pane @(defaultTab == "scheduled" ? "active" : "")" id="scheduled">

            </div>
            <div class="tab-pane @(defaultTab == "complete" ? "active" : "")" id="complete">

            </div>
            <div class="tab-pane @(defaultTab == "invoiced" ? "active" : "")" id="invoiced">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#widataTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });

        var activeWorkInstructions = null;
        var completeWorkInstructions = null;
        var scheduledWorkInstructions = null;
        var readyWorkInstructions = null;

        $(function () {
            activeWorkInstructions = new triangle.ui.table('#current', '/Contract/WorkInstruction/ActiveWorkInstructionsAll', 50);
            completeWorkInstructions = new triangle.ui.table('#complete', '/Contract/WorkInstruction/ActiveWorkInstructionsComplete', 50);
            scheduledWorkInstructions = new triangle.ui.table('#scheduled', '/Contract/WorkInstruction/ActiveWorkInstructionsScheduled', 50);
            readyWorkInstructions = new triangle.ui.table('#ready', '/Contract/WorkInstruction/ActiveWorkInstructionsReady', 50);
            invoicedWorkInstructions = new triangle.ui.table('#invoiced', '/Contract/WorkInstruction/ActiveWorkInstructionsInvoiced', 50);
        });

    </script>
}