﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.WorkInstructions.WorkInstructionViewModel

@{
    ViewBag.Title = "Inactive Work Instructions";
}

@section contentHeader
{
    <h1>Inactive Tasks</h1>
}
<div class="overview">
    <div class="primary-actions">

    </div>

    <div id="current">

    </div>

    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var oohshifts = null;

        $(function () {
            oohshifts = new triangle.ui.table('#current', '/Contract/WorkInstruction/InactiveWorkInstructionsMain', 50);
        });

    </script>

}