﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.WorkInstructions.NewWorkInstructionViewModel

@{
    ViewBag.Title = "New Task";
}

@section contentHeader
{
    <h1>New Task</h1>
}

<style>
    input.transition-500ms {
        -webkit-transition: background .5s;
        -moz-transition: background .5s;
        -o-transition: background .5s;
        transition: background .5s
    }

    #WorkInstruction-ReasonNotes {
        height: 125px;
    }

    .priceline-table{
        width:460px;
    }
    .priceline-code {
        width: 20px;
    }

    .priceline-desc {
        
    }

    .priceline-rate{
        width:50px;
    }

    #priceline-notes {
        padding:5px;
    }

    .priceline-notes-input {
        width: 135px;
    }

    .shift-type {
        padding: 5px 40px 5px 40px;
        line-height: normal;
        margin-right: 2px;
        font-size: 12px;
        border-radius: 5px;
        box-shadow: unset !important;
    }

    .shift-type.active {
        background-color: #8bec7c;
    }
</style>

<div class="workinstruction">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Update", "Job", new { id = Model.WorkInstruction.JobID }, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Task Details</legend>
                    @Html.HiddenFor(m => m.WorkInstruction.JobID)
                    @Html.HiddenFor(m => m.WorkInstruction.OrderNumber)
                    @Bootstrap.LookupFor(m => m.WorkInstruction.DepotID, m => m.WorkInstruction.DepotLookup, "Depot")
                    @Bootstrap.DatePickerFor(m => m.WorkInstruction.StartDate)

                    @*@Bootstrap.TextBoxFor(m => m.WorkInstruction.TrafficManagementActivities)*@

                    <div class="control-group time">
                        <label for="#Start-Hour" class="control-label">Shift Start Time</label>
                        <div class="controls">
                            <input id="Start-Hour" name="StartHour" class="time-spinner spinner" type="number" min="0" max="23" value="@Model.StartHour" />
                            <input id="Start-Min" name="StartMin" class="time-spinner spinner" type="number" min="0" max="59" value="@Model.StartMin" />
                        </div>
                    </div>

                    <div class="control-group time">
                        <label for="#Finish-Hour" class="control-label">Shift Finish Time</label>
                        <div class="controls">
                            <input id="Finish-Hour" name="FinishHour" class="time-spinner spinner" type="number" min="0" max="23" value="@Model.FinishHour" />
                            <input id="Finish-Min" name="FinishMin" class="time-spinner spinner" type="number" min="0" max="59" value="@Model.FinishMin" />
                        </div>
                    </div>

                    <div class="control-group shift-type-container">
                        <label class="control-label">Shift Type</label>
                        <div class="controls">
                            @Html.HiddenFor(a => a.WorkInstruction.IsNightShift)
                            <button type="button" class="btn shift-type @(!Model.WorkInstruction.IsNightShift ? "active" : "")" data-type="false">Day</button>
                            <button type="button" class="btn shift-type @(Model.WorkInstruction.IsNightShift ? "active" : "")" data-type="true">Night</button>
                        </div>
                    </div>

                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.ClientReferenceNumber)
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.SRWNumber)
                    @Bootstrap.TextAreaFor(m => m.WorkInstruction.Comments, new { @class = "auto-resize" })
                    @Bootstrap.LookupFor(m => m.WorkInstruction.EmployeeID, m => m.WorkInstruction.Employee.EmployeeName, "Issued By")


                    <div class="control-group time">
                        <label for="#WorkInstruction-MaintenanceChecklistReminderInMinutes" class="control-label">@Html.LabelFor(m => m.WorkInstruction.MaintenanceChecklistReminderInMinutes)</label>
                        <div class="controls">
                            <input id="WorkInstruction-MaintenanceChecklistReminderInMinutes" name="WorkInstruction.MaintenanceChecklistReminderInMinutes" class="transition-500ms time-spinner spinner" type="number" min="0" value="@Model.WorkInstruction.MaintenanceChecklistReminderInMinutes" />
                        </div>
                    </div>

                    @Bootstrap.CheckBoxFor(m => m.WorkInstruction.IsOutOfHours, new { label = "Out of Hours" })
                    @*@Bootstrap.CheckBoxFor(m => m.WorkInstruction.IsChargeable, new { label = "Chargeable" })*@
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.Status, new { label = "Status", disabled = "disabled" })
                    @*@Bootstrap.LookupFor(m => m.WorkInstruction.AreaID, m => m.WorkInstruction.AreaName, "Area Protocol")*@
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Location</legend>
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.AddressLine1, new { label = "Address Line 1" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.AddressLine2, new { label = "Address Line 2" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.AddressLine3, new { label = "Borough" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.City, new { label = "City" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.County, new { label = "County" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.Postcode, new { label = "Postcode" })
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Job Details</legend>
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.Client, new { disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.ContractNumber, new { disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.ContractTitle, new { disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.SchemeTitle, new { disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.JobTitle, new { disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m=>m.WorkInstruction.CustomerProjectCode, new { disabled = "disabled" })
                    @Bootstrap.MultiListLookupFor(m => m.Drawings, "Drawings")
                    @Bootstrap.MultiListLookupFor(m => m.MethodStatements, "Method Statements")
                    @Bootstrap.MultiListLookupFor(m => m.ToolboxTalks, "Toolbox Talks")
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Task Types & Checklists</legend>
                    
                    @Bootstrap.LookupFor(m => m.WorkInstruction.JobTypeID, m => m.WorkInstruction.JobType, "Task Type")

                    <div id="installWI" style="display: none">
                        @Bootstrap.LookupFor(m => m.WorkInstruction.InstallWIID, m => m.WorkInstruction.InstallWI, "Install")
                    </div>                    

                    @*@Bootstrap.LookupFor(m => m.WorkInstruction.ChecklistID, m => m.WorkInstruction.Checklist, "Checklist")*@

                    <div id="WorkInstruction-ChecklistID-lookup" class="lookup" style="display: none;"  data-title="Task Types & Checklists">
                        <input id="WorkInstruction-ChecklistID" name="WorkInstruction.ChecklistID" autocomplete="off" type="hidden">
                        <div class="control-group">
                            <label class="control-label" for="WorkInstruction-Checklist">Checklist</label>
                            <div class="controls">
                                <input id="WorkInstruction-Checklist" name="WorkInstruction.Checklist" autocomplete="off" type="text" readonly="readonly" class="selected">
                                <a href="#WorkInstruction-ChecklistID-modal" class="lookup-button" role="button" data-backdrop="false" title="Checklist Lookup" data-toggle="modal"></a>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="span6 control-collection" style="display:none">
                <fieldset>
                    <legend>Price Lines</legend>
                    @*@Bootstrap.LookupFor(m => m.PriceLineFK, m => m.PriceLineCode, "Add Price Line")*@
                    <div class="tab-pane table-Actions-Spacing" id="pricelines">
                    </div>
                    <div class="actions">
                        <div id="WorkInstructionPriceLine-PriceLineFK-lookup" class="lookup"  data-title="Price Lines">
                            <input id="WorkInstructionPriceLine-PriceLineFK" name="WorkInstructionPriceLine.PriceLineFK" autocomplete="off" type="hidden">
                            <div class="control-group">
                                <div class="controls">
                                    <input id="WorkInstructionPriceLine-Code" name="WorkInstructionPriceLine.Code" autocomplete="off" type="text" readonly="readonly" class="selected" style="display:none;">
                                    <a href="#WorkInstructionPriceLine-PriceLineFK-modal" class="button" role="button" data-backdrop="false" title="Price Line Lookup" data-toggle="modal">Add Price Lines</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table id="priceLineTable" class="table table-bordered table-striped">
                        <thead>
                            <tr class="table priceline-table">
                                <th>Code</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Rate</th>
                                <th>Total</th>
                                <th>Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model.PriceLines != null)
                            {
                                int i = 0;
                                foreach(var line in Model.PriceLines)
                                {
                                    var total = line.Quantity * line.Rate;
                                    <tr data-id=@i>
                                        <td class="priceline-code">@line.Code </td>
                                        <td class="priceline-desc">@line.Description</td>
                                        <td class="princeline-quantity"><input class="priceline-quantity-input" type="number" step="1" style="width:60px;" onchange="updatePriceLineQuantity(this);" value="@line.Quantity.ToString()"/></td>
                                        <td class="priceline-rate"><input class="priceline-rate-input" type="number" step="0.01" style="width:60px;" onchange="updatePriceLineRate(this);" value="@line.Rate.ToString()"/></td>
                                        <td>@total</td>
                                        <td id="priceline-notes"><textarea class="priceline-notes-input" onchange="updatePriceLineNote(this);">@line.Note</textarea></td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                    <div id="priceLineData" style="display:none">
                        @{string priceLineFK = Model.PriceLineFK.HasValue ? Model.PriceLineFK.ToString() : null; }
                        <input id="WorkInstructionPriceLine-PriceLineFK" name="WorkInstructionPriceLine-PriceLineFK" value="@priceLineFK"/>
                        <input id="PriceLineFK" name="PriceLineFK" value="@priceLineFK"/>
                        @if (Model.PriceLines != null)
                        {
                            int i = 0;
                            foreach (var line in Model.PriceLines)
                            {
                                <div class="priceLineItem" data-id="@i">
                                    <input name=PriceLines[@i].PriceLineFK value="@line.PriceLineFK">
                                    <input name=PriceLines[@i].Code value="@line.Code">
                                    <input name=PriceLines[@i].Description value="@line.Description">
                                    <input name=PriceLines[@i].Rate value="@line.Rate.ToString()">
                                    <input name=PriceLines[@i].Note value="@line.Note">
                                </div>
                                i++;
                            }
                        }
                    </div>
                    @*@Bootstrap.TextBoxFor(m => m.PriceLineDescription, new { labe = "Description", @readonly = "readonly" })
                    @Bootstrap.TextBoxFor(m => m.PriceLineRate, new { label = "Rate" })
                    @Bootstrap.TextAreaFor(m => m.PriceLineNote, new { label = "Note" })*@
                </fieldset>

            </div>

           

        </div> 
    }
</div>
@section scripts{
    <script type="text/javascript">
        var depotLookup = null;
        var employeeLookup = null;
        var drawingLookup = null;
        var methodStatementLookup = null;
        var toolboxTalkLookup = null;
        var jobTypeLookup = null;
        var installWI = null;
        var checklistLookup = null;
        //var areaLookup = null;
        var reasonCodeLookup = null;
        var priceLineLookup = null;


        $(function () {
            // day / night shift
            $('#Start-Hour').on('spinstop', function () {
                var startHour = +$(this).val();
                var isNightShift = startHour >= 17;
                $('.shift-type[data-type="' + isNightShift + '"]').click();
            });

            $('.shift-type').on('click', function () {
                var base = $(this);
                var type = $(this).data('type');
                var isActive = base.hasClass('active');
                if (isActive) {
                    return;
                }
                base.addClass('active');
                base.siblings('.shift-type').removeClass('active');
                $('#WorkInstruction_IsNightShift').val(type);
            });

            depotLookup = new triangle.ui.lookup("#WorkInstruction-DepotID" /*ID*/, "/Contract/Depot/GetDepotLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            employeeLookup = new triangle.ui.lookup("#WorkInstruction-EmployeeID" /*ID*/, "/Contract/Employee/GetEmployeeLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            
            drawingLookup = new triangle.ui.lookup("#Drawings" /*ID*/, "/Contract/Job/GetDrawingsForJobLookup?jobID=" + $("#WorkInstruction_JobID").val() /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);
            //drawingLookup.UrlParameters = function () {
            //    return { jobID: $("#WorkInstruction_JobID").val() };
            //}
            methodStatementLookup = new triangle.ui.lookup("#MethodStatements" /*ID*/, "/Contract/MethodStatement/GetMethodStatementsForJobLookup?jobID=" + $("#WorkInstruction_JobID").val() /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);
            //methodStatementLookup.UrlParameters = function () {
            //    return { jobID: $("#WorkInstruction_JobID").val() };
            //}
            toolboxTalkLookup = new triangle.ui.lookup("#ToolboxTalks" /*ID*/, "/Contract/ToolboxTalk/GetToolboxTalkLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);

            jobTypeLookup = new triangle.ui.lookup("#WorkInstruction-JobTypeID" /*ID*/, "/Contract/Maintenance/GetJobTypesLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            jobTypeLookup.SelectedEvent = function () {
                jobTypeSelected();
                var jobTypeID = $("#WorkInstruction-JobTypeID").val();
                var data = { JobTypeID: jobTypeID}

                $.get("/Contract/WorkInstruction/GetDefaultMethodStatement", data)
                    .done(function (data) {
                        
                        var status = data.Status;
                        var id = data.MethodStatementModel.MethodStatementID;
                        var name = data.MethodStatementModel.Title;
                        var liCount = $('#MethodStatements li').length;

                        if (status == false) {
                            var listItems = $("#MethodStatements li");
                
                            $("#MethodStatements li").each(function () {
                                var methodId = $(this).find(".hidden-key").val();
                                if (methodId == id) {
                                    this.remove();
                                }
                            });
                        }
                        else {
                            var add = true;
                            $("#MethodStatements li").each(function () {
                                var methodId = $(this).find(".hidden-key").val();
                                if (methodId == id) {
                                    add = false;
                                }
                            });
                            if (add) { 
                                var statement = "<input type='hidden' class='hidden-key' name='MethodStatements[" + liCount + "].Key' value='" + id + "'>";
                                var title = "<input type='hidden' class='hidden-value' name='MethodStatements[" + liCount + "].Value' value='" + name + "'>";
                                var remove = "<a class='mli-remove' href='#'><i class='icon-remove icon-inactive'></i></a>"
                                $("#MethodStatements").append("<li class='selected'>" + name + statement + title + remove + "</li>");
                                methodStatementLookup.HookupRemovalEvents();
                            }
                        }
 
                 });

                //$.ajax({
                //    url: '/Contract/WorkInstruction/SetDefaultMethodStatement',
                //    type: 'POST',
                //    data: data,
                //    cache: false,
                //    contentType: false,
                //    processData: false,
                //    success: (result) => {
                //           alert("Test")
                //    }
                //});

            };
            jobTypeLookup.RemovedEvent = function () {
                jobTypeSelected();
            };

            var reminderInMinutesDefault = 120;

            function jobTypeSelected() {
                var jobType = $("#WorkInstruction-JobType").val();
                var reminderInMinutes = $('#WorkInstruction-MaintenanceChecklistReminderInMinutes');

                // show install wi
                if (jobType == 'De-install' || jobType == 'VMS - Install and De-install') {
                    $("#installWI").show();
                } else {
                    $("#installWI").hide();
                    $('#WorkInstruction-InstallWIID').val('');
                    $('#WorkInstruction-InstallWI').val('');
                }

                // checklist disabled (not required in any job type workflow)
                //$("#WorkInstruction-ChecklistID-lookup").hide();

                //if (jobType == 'Maintenance') {
                //    $("#WorkInstruction-ChecklistID-lookup").show();
                //} else {
                //    $("#WorkInstruction-ChecklistID-lookup").hide();
                //    $('#WorkInstruction-ChecklistID').val('');
                //    $('#WorkInstruction-Checklist').val('');
                //}

                // set reminder in minutes
                if (jobType == 'Maintenance' || jobType == 'VMS - Install and De-install') {
                    if (reminderInMinutes.val() == '') {
                        reminderInMinutes.val(reminderInMinutesDefault);
                    }
                }
            }

            checklistLookup = new triangle.ui.lookup("#WorkInstruction-ChecklistID" /*ID*/, "/Contract/Maintenance/GetJobTypeChecklistLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);

            //areaLookup = new triangle.ui.lookup("#WorkInstruction-AreaID" /*ID*/, "/Contract/Area/GetAreaLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);

            installWI = new triangle.ui.lookup("#WorkInstruction-InstallWIID" /*ID*/, "/Contract/WorkInstruction/GetInstallWILookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            installWI.UrlParameters = {"jobID" : $('#WorkInstruction_JobID').val() };
            // on load
            jobTypeSelected();

            priceLineLookup = new triangle.ui.lookup("#WorkInstructionPriceLine-PriceLineFK" /*ID*/, "/Contract/Maintenance/GetPriceLinesLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);

            priceLineLookup.MultipleSelectedEvent = function (a, b) {
                var index = $('#priceLineTable tbody tr').length;
                $(a).each(function (i, item) {
                    if (existingPriceLine(item.key) == 'false' ) {
                        $.get('/Contract/Maintenance/GetPriceLine', { id: item.key }, function (c) {
                            $('#priceLineTable tbody').append('<tr data-id="' + index + '">' +
                                '<td class="priceline-code">' + c.Code + ' </td>' +
                                '<td class="priceline-desc">' + c.Description + '</td>' +
                                '<td class="priceline-quantity"><input class="priceline-quantity-input" type="number" step="1" style="width:60px;" onchange="updatePriceLineQuantity(this);" value="1"/></td>' +
                                '<td class="priceline-rate"><input class="priceline-rate-input" type="number" step="0.01" style="width:60px;" onchange="updatePriceLineRate(this);" value="' + c.DefaultRate.toFixed(2) + '"/></td>' +
                                '<td class="priceline-total">' + c.DefaultRate.toFixed(2) + ' </td>' +
                                '<td id = "priceline-notes"> <textarea class="priceline-notes-input" onchange="updatePriceLineNote(this);"></textarea></td >' +
                                '</tr>');

                            $('#priceLineData').append('<div class="priceLineItem" data-id="' + index + '"><input name=PriceLines[' + index + '].PriceLineFK value="' + item.key + '">' +
                                '<input name=PriceLines[' + index + '].Code value="' + c.Code + '">' +
                                '<input name=PriceLines[' + index + '].Description value="' + c.Description + '">' +
                                '<input name=PriceLines[' + index + '].Quantity value="1">' +
                                '<input name=PriceLines[' + index + '].Rate value="' + c.DefaultRate.toFixed(2) + '">' +
                                '<input name=PriceLines[' + index + '].Note value=""></div>');
                            $('#WorkInstructionPriceLine-PriceLineFK').attr('value', item.key);
                            $('#PriceLineFK').attr('value', item.key);

                            index++;

                        });
                    }                  
                });
            };


            //priceLineLookup.SelectedEvent = function (a, b) {
            //    $.get('/Contract/Maintenance/GetPriceLine', { id: b }, function (c) {
            //        $('#PriceLineDescription').val(c.Description);
            //        if (c.DefaultRate == null) {
            //            $('#PriceLineRate').val('');
            //        } else {
            //            $('#PriceLineRate').val(c.DefaultRate.toFixed(2));
            //        }
            //    });
            //}

            priceLineLookup.RemovedEvent = function () {
                $('#PriceLineDescription').val('');
                $('#PriceLineRate').val('');
            }

        });
        function existingPriceLine(priceLineID) {
            var res = 'false'
            $('#priceLineData .priceLineItem').each(function () {
                if ($(this).find('input[name$="PriceLineFK"]').val() == priceLineID) {
                    res = 'true';
                }
            });

            return res;;
        }

        function updatePriceLineQuantity(quantity) {
            var rate = $(quantity).closest('tr').find('.priceline-rate-input').val() || 0;
            var total = $(quantity).closest('tr').find('.priceline-total');
            var dataID = ($(quantity).closest('tr').data('id'));

            $('#priceLineData').find('div[data-id="' + dataID + '"]').find('input[name$="Quantity"]').attr('value', $(quantity).val());

            total.html((parseFloat(rate) * parseFloat($(quantity).val() || 0)).toFixed(2));
        }

        function updatePriceLineRate(rate) {
            var quant = $(rate).closest('tr').find('.priceline-quantity-input').val() || 0;
            var total = $(rate).closest('tr').find('.priceline-total');
            var dataID = ($(rate).closest('tr').data('id'));

            $('#priceLineData').find('div[data-id="' + dataID + '"]').find('input[name$="Rate"]').attr('value', $(rate).val());

            total.html((parseFloat(quant) * parseFloat($(rate).val()|| 0)).toFixed(2));
        }

        function updatePriceLineNote(note) {
            var dataID = ($(note).closest('tr').data('id'));
            $('#priceLineData').find('div[data-id="' + dataID + '"]').find('input[name$="Note"]').attr('value', $(note).val());
        }

        // pulse background colour - set transition on element to get fading effect
        function pulseBackgroundColor(element) {
            element.css('background-color', '#deffcf');
            setTimeout(function () {
                element.css('background-color', '#fff');
            }, 500);
        }
    </script>
}