﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.WorkInstructions.WorkInstructionPriceLineViewModel

@{
    ViewBag.Title = "New Work Instruction Price Line";
}

@section contentHeader
{
    <h1>New Work Instruction Price Line</h1>
}

@Bootstrap.Validation.ValidationSummary()
@using (Bootstrap.BeginHorizontalForm())
{
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "Update", new { id = Model.WorkInstructionPriceLine.WorkInstructionID }, new { @class = "btn" })
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
    <div class="masonry">
        <div class="span6 control-collection">
            <fieldset>
                <legend>Details</legend>
                @Html.HiddenFor(a => a.WorkInstructionPriceLine.WorkInstructionID)
                @Bootstrap.LookupFor(a => a.WorkInstructionPriceLine.PriceLineFK, m => m.WorkInstructionPriceLine.Code, "Price Line")
                @Bootstrap.TextBoxFor(a => a.WorkInstructionPriceLine.Description, new { @readonly = "readonly" })
                @Bootstrap.TextBoxFor(a => a.WorkInstructionPriceLine.Quantity, new { @type = "number", @format = "0.##", @min = "0" })
                @Bootstrap.TextBoxFor(a => a.WorkInstructionPriceLine.Rate)
                @Bootstrap.TextAreaFor(a => a.WorkInstructionPriceLine.Note)
            </fieldset>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        var priceLineLookup = null;

        $(function () {
            priceLineLookup = new triangle.ui.lookup("#WorkInstructionPriceLine-PriceLineFK" /*ID*/, "/Contract/Maintenance/GetPriceLinesLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);

            priceLineLookup.SelectedEvent = function (a, b) {
                console.log(b);
                $.get('/Contract/Maintenance/GetPriceLine', { id: b }, function (c) {
                    $('#WorkInstructionPriceLine-Description').val(c.Description);
                    if (c.DefaultRate == null) {
                        $('#WorkInstructionPriceLine-Rate').val('');
                    } else {
                        $('#WorkInstructionPriceLine-Rate').val(c.DefaultRate.toFixed(2));
                    } 
                });
            }

            priceLineLookup.RemovedEvent = function () {
                $('#WorkInstructionPriceLine-Description').val('');
                $('#WorkInstructionPriceLine-Rate').val('');
            }
        });

    </script>
}