﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.WorkInstructions.ShiftProgressVM

@{
    ViewBag.Title = "New Shift Progress";
}

@section contentHeader
{
    <h1>New Shift Progress</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Update", new { id = Model.WorkInstructionID }, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.WorkInstructionID)

                    @Bootstrap.DatePickerFor(m => m.StartedDate)
                    <div class="control-group time">
                        <label for="#Start-Hour" class="control-label">Start Time</label>
                        <div class="controls">
                            <input id="Start-Hour" name="StartedHour" class="time-spinner spinner" type="number" min="0" max="23" value="@Model.StartedHour" />
                            <input id="Start-Min" name="StartedMin" class="time-spinner spinner" type="number" min="0" max="59"  value="@Model.StartedMin"  />
                        </div>
                    </div>
                    @Bootstrap.DropDownListFor(m => m.ShiftProgressID, Model.ShiftProgresses, new { label = "Status" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        
        

        $(function () {
           
        });

    </script>
}