﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.WorkInstructions.RepeatWorkInstructionViewModel

@{
    ViewBag.Title = "Repeat Task";
}

@section contentHeader
{
    <h1>Repeat Task</h1>
}

<div class="workinstruction">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Update", "WorkInstruction", new { id = Model.WorkInstructionID }, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
            
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Task Details</legend>
                    @Html.HiddenFor(m => m.JobID)
                    @Html.HiddenFor(m => m.WorkInstructionID)

                    @Bootstrap.TextBoxFor(m => m.WorkInstructionNumber, new { disabled = "disabled", label = "Parent Work Instruction"})
                    @*@Bootstrap.TextBoxFor(m => m.StartDate, new { disabled = "disabled", label = "Parent Start Date"})*@
                    @Bootstrap.TextAreaFor(m => m.Comments, new { @class = "auto-resize" })
                    @Bootstrap.TextBoxFor(m => m.EmployeeName, new { disabled = "disabled" })
                    @*@Bootstrap.TextBoxFor(m => m.Location, new { disabled = "disabled" })*@
                    @*@Bootstrap.TextBoxFor(m => m.TrafficManagementActivities, new { })*@
                    @*@Bootstrap.TextBoxFor(m => m.JobType, new { disabled = "disabled" })*@
                    @Bootstrap.DropDownListFor(m => m.JobTypeID, Model.JobType, new { label = "Job Type" })
                    @*@Bootstrap.LookupFor(m => m.JobTypeID, m => m.JobType, "Job Type")*@
                    <div id="installWI">
                        @Bootstrap.LookupFor(m => m.InstallWIID, m => m.InstallWI, "Install")
                    </div>
                    @Bootstrap.LookupFor(m => m.ChecklistID, m => m.Checklist, "Checklist")
                    @Bootstrap.CheckBoxFor(m => m.IsActive)
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Job Details</legend>
                    @Bootstrap.TextBoxFor(m => m.Client, new { disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.ContractNumber, new { disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.ContractTitle, new { disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.SchemeTitle, new { disabled = "disabled" })                    
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Job Details</legend>
                    @Bootstrap.TextBoxFor(m => m.AddressLine1)
                    @Bootstrap.TextBoxFor(m => m.AddressLine2)
                    @Bootstrap.TextBoxFor(m => m.AddressLine3)
                    @Bootstrap.TextBoxFor(m => m.City)
                    @Bootstrap.TextBoxFor(m => m.County)
                    @Bootstrap.TextBoxFor(m => m.Postcode)
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Repeat Details</legend>
                    @Bootstrap.DatePickerFor(m => m.sequenceStartDate, new { label = "Effective From"})
                    <div id="sequenceEndDateBox">
                        @Bootstrap.DatePickerFor(m => m.sequenceEndDate, new { label = "Effective Until"})
                    </div>
                    @Bootstrap.DropDownListFor(m => m.RepeatID, Model.RepeatType, new { label = "Repeat Type" })
                    <div id="weekendBox">
                        @Bootstrap.DropDownListFor(m => m.WeekendInstructionID, Model.WeekendInstruction, new { label = "Weekend Behaviour" })
                    </div>
                    <div id="frequencyBox">
                        @Bootstrap.DropDownListFor(m => m.DayFrequencyID, Model.DayFrequency, new { label = "Select Frequency" })
                    </div>
                    <div id="weekdays">
                        @Bootstrap.CheckBoxFor(m => m.Sunday)
                        @Bootstrap.CheckBoxFor(m => m.Monday)
                        @Bootstrap.CheckBoxFor(m => m.Tuesday)
                        @Bootstrap.CheckBoxFor(m => m.Wednesday)
                        @Bootstrap.CheckBoxFor(m => m.Thursday)
                        @Bootstrap.CheckBoxFor(m => m.Friday)
                        @Bootstrap.CheckBoxFor(m => m.Saturday)   
                    </div>                 
                </fieldset>
            </div>
        </div> 
    }
</div>
@section scripts{
    <script type="text/javascript">

        $(function () {
            var repeat = $('#RepeatID');
            var weekend = $('#WeekendInstructionID');
            var day = $('#DayFrequencyID');

            //var jobTypeLookup = new triangle.ui.lookup("#JobTypeID" /*ID*/, "/Contract/Maintenance/GetJobTypesLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            var checklistLookup = new triangle.ui.lookup("#ChecklistID" /*ID*/, "/Contract/Maintenance/GetJobTypeChecklistLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            var installWI = new triangle.ui.lookup("#InstallWIID" /*ID*/, "/Contract/WorkInstruction/GetInstallWILookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            installWI.UrlParameters = {"jobID" : $('#WorkInstruction_JobID').val() };
            // job type and checklist
            $("#JobTypeID").on('change', function () {
                var jobType = $(this).find('option:selected').text();

                // show install wi
                if (jobType == 'De-install' || jobType == 'VMS - Install and De-install') {
                    $("#installWI").show();
                } else {
                    $("#installWI").hide();
                    $('#InstallWIID').val('');
                    $('#InstallWI').val('');
                }

                // checklist disabled (not required in any job type workflow)
                $("#ChecklistID-lookup").hide();

                //if (jobType == 'Maintenance') {
                //    $("#ChecklistID-lookup").show();
                //} else {
                //    $("#ChecklistID-lookup").hide();
                //    $('#ChecklistID').val('');
                //    $('#Checklist').val('');
                //}
            });

            // default hide
            $('#weekdays').hide();
            $('#weekendBox').hide();
            $('#frequencyBox').hide();

            // repeat
            repeat.on('change', function ()
            {
                console.log(repeat.val());
                if (repeat.val() == "1") {
                    $('#weekendBox').hide();
                    $('#weekdays').hide();
                    $('#frequencyBox').hide();
                    $('#sequenceEndDateBox').show();
                }
                else if (repeat.val() == "2")
                {
                    $('#weekendBox').show();
                    $('#weekdays').hide();
                    $('#frequencyBox').hide();
                    $('#sequenceEndDateBox').show();
                }
                else if (repeat.val() == "3") {
                    $('#weekendBox').hide();
                    $('#frequencyBox').show();
                    $('#weekdays').show();
                    $('#sequenceEndDateBox').show();
                }
                else if (repeat.val() == "5")
                {
                    $('#weekendBox').hide();
                    $('#frequencyBox').show();
                    $('#weekdays').show();
                    $('#sequenceEndDateBox').show();
                }
                else if (repeat.val() == "6")
                {
                    $('#weekendBox').hide();
                    $('#frequencyBox').hide();
                    $('#weekdays').hide();
                    $('#sequenceEndDateBox').hide();
                }
                else {
                    $('#weekendBox').hide();
                    $('#frequencyBox').hide();
                    $('#weekdays').hide();
                    $('#sequenceEndDateBox').show();
                }
            });

            // onload
            $("#JobTypeID").trigger('change');
        });
    </script>
}