﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.WorkInstructions.WorkInstructionViewModel

@{
    ViewBag.Title = "Repeated Work Instructions";
}

@section contentHeader
{
    <h1>Repeated Work Instructions From Work Instruction @Model.WorkInstruction.WorkInstructionNumber @Model.WorkInstruction.AddressLine1</h1>
}

@Html.HiddenFor(m => m.WorkInstruction.WorkInstructionID)

<div class="overview">
    <div class="primary-actions">

    </div>
    <div class="tabbable">
        <ul class="nav nav-tabs" id="widataTab">
            <li class="active">
                <a href="#current" data-toggle="tab">All</a>
            </li>

        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="current">

            </div>

        </div>
    </div>

</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#widataTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });

        var activeWorkInstructions = null;

        $(function () {
            activeWorkInstructions = new triangle.ui.table('#current', '/Contract/WorkInstruction/RepeatWIList', 50, { workInstructionID: $("#WorkInstruction_WorkInstructionID").val() });
        });

    </script>
}