﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.WorkInstructions.WorkInstructionViewModel

@using FMConway.Services.Extensions

@{
    ViewBag.Title = "Update Task";

    var isCustomer = User.IsInRole("Customer");
    var isOutOfHours = Model.WorkInstruction.JobID == null;
}

@section contentHeader
{
    <h1>Update Task</h1>
}

<style>
    #shiftProgress table tbody tr td:first-child {
        white-space: nowrap;
    }

    #activeLoadingSheets tr th {
        white-space: nowrap;
    }

    input.transition-500ms {
        -webkit-transition: background .5s;
        -moz-transition: background .5s;
        -o-transition: background .5s;
        transition: background .5s
    }

    #WorkInstruction-StartDate {
        width: 102px;
    }

    .start-date-scheduler-link {
        font-size: 12px;
        top: 1px;
        position: relative;
        margin-left: 7px;
    }

    #WorkInstruction-ReasonNotes {
        height: 125px;
    }

    .docSelected {
        text-align: center;
    }

    #activeLoadingSheets .it-cont {
        min-height: 120px;
    }

    #shiftProgress .it-cont {
        min-height: 145px;
    }

    #shiftProgress .it-table-con {
        overflow: hidden;
    }

    #activeTasks .it-cont {
        min-height: 340px;
    }

    #activeTasks .it-table-con {
        overflow: hidden;
    }

    .out-of-hours-info {
        color: red;
        margin-bottom: 14px;
        padding: 0 25px;
        text-align: center;
        font-size: 13px;
    }

    .shift-type {
        padding: 5px 40px 5px 40px;
        line-height: normal;
        margin-right: 2px;
        font-size: 12px;
        border-radius: 5px;
        box-shadow: unset !important;
    }

    .shift-type.active {
        background-color: #8bec7c;
    }
</style>

<div class="workinstruction">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Update", "Job", new { id = Model.WorkInstruction.JobID }, new { @class = "btn" }).HiddenIf(isCustomer || isOutOfHours)
            @Html.ActionLink("Go To Out of Hours", "ViewOutOfHours", "OutOfHours", new { id = Model.WorkInstruction.WorkInstructionID }, new { @class = "btn" }).HiddenIf(!isOutOfHours)
            <input type="submit" class="btn btn-primary" value="Save" @(isCustomer || isOutOfHours ? "style=display:none" : "") />
            @if (Model.WorkInstruction.Status == "Scheduled" || Model.WorkInstruction.Status == "Complete")
            {
                @Html.ActionLink("Go To Details", "Details", "WorkInstructionDetails", new { id = Model.WorkInstruction.WorkInstructionID }, new { @class = "btn" }).HiddenIf(isCustomer)
            }
            @if (Model.WorkInstruction.Status == "Complete")
            {
                @Html.ActionLink("Download Job Sheet", "WorkInstructionReport", "Report", new { id = Model.WorkInstruction.WorkInstructionID }, new { @class = "btn", target = "_blank" }).HiddenIf(isOutOfHours)
                @*@Html.ActionLink("Download Briefing", "GetBriefingSheet", "WorkInstruction", new { workInstructionID = Model.WorkInstruction.WorkInstructionID }, new { @class = "btn", @style = "margin-left:3px", target = "_blank" })*@

                if (Model.WorkInstruction.JobType == "Install" || Model.WorkInstruction.JobType == "Complete Install - Man on Site - De-install")
                {
                    @Html.ActionLink("Download On Hire Note", "GetOnHireNote", "WorkInstruction", new { workInstructionID = Model.WorkInstruction.WorkInstructionID }, new { @class = "btn", @style = "margin-left:3px", target = "_blank" }).HiddenIf(isCustomer || isOutOfHours)
                }

                if (Model.WorkInstruction.JobType == "De-install" || Model.WorkInstruction.JobType == "Complete Install - Man on Site - De-install" || Model.WorkInstruction.JobType == "VMS - Install and De-install")
                {
                    @Html.ActionLink("Download Off Hire Note", "GetOffHireNote", "WorkInstruction", new { workInstructionID = Model.WorkInstruction.WorkInstructionID }, new { @class = "btn", @style = "margin-left:3px", target = "_blank" }).HiddenIf(isCustomer || isOutOfHours)
                }
            }
            @if (Model.WorkInstruction.InstallWIID.HasValue)
            {
                @Html.ActionLink("Go To Install", "Update", "WorkInstruction", new { id = Model.WorkInstruction.InstallWIID.Value }, new { @class = "btn" }).HiddenIf(isCustomer || isOutOfHours)
            }
            @Html.ActionLink("Repeat", "RepeatWorkInstruction", "WorkInstruction", new { id = Model.WorkInstruction.WorkInstructionID }, new { @class = "btn" }).HiddenIf(isCustomer || isOutOfHours)
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Task Details</legend>
                    @Html.HiddenFor(m => m.WorkInstruction.JobID)
                    @Html.HiddenFor(m => m.WorkInstruction.WorkInstructionID)
                    @Html.HiddenFor(m => m.WorkInstruction.OrderNumber)
                    @Html.HiddenFor(m => m.ShowTasks)
                    @Html.HiddenFor(m => m.ShiftID)

                    <div class="out-of-hours-info" @(Model.WorkInstruction.JobID != null ? "style=display:none" : "")>Out of Hours tasks must be assigned a Job before they can be fully accessed. Do this from the "Out of Hours" editor</div>

                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.WorkInstructionNumber, new { label = "Task Number", @readonly = "readonly" })

                    @if (Model.WorkInstruction.InstallWIID.HasValue)
                    {
                        @Bootstrap.TextBoxFor(m => m.WorkInstruction.InstallWI, new { disabled = "disabled" })
                    }

                    @Bootstrap.LookupFor(m => m.WorkInstruction.DepotID, m => m.WorkInstruction.DepotLookup, "Depot", isCustomer)
                    @*@Bootstrap.DatePickerFor(m => m.WorkInstruction.StartDate)*@

                    <div class="control-group">
                        <label class="control-label" for="WorkInstruction-StartDate">Start Date</label>
                        <div class="controls">
                            <input id="WorkInstruction-StartDate" name="WorkInstruction.StartDate" autocomplete="off" type="text" class="datepicker" value="@Model.WorkInstruction.StartDate.ToShortDateString()" @(isCustomer ? "disabled" : "")>
                            @{
                                DateTime d1 = Model.WorkInstruction.StartDate.StartOfWeek(DayOfWeek.Monday);
                                DateTime d2 = DateTime.Now.StartOfWeek(DayOfWeek.Monday);

                                if (d1.Date == d2.Date)
                                {
                                    <a class="start-date-scheduler-link" href="/Operation/Schedule/ViewScheduler#Anchor-@Model.WorkInstruction.StartDate.DayOfWeek" @(isCustomer ? "style=display:none" : "")>View Scheduler</a>
                                }
                                else
                                {
                                    string dateString = d1.Month.ToString("00") + "%2F" + d1.Day.ToString("00") + "%2F" + d1.Year.ToString() + " 00%3A00%3A00";
                                    <a class="start-date-scheduler-link" href="/Operation/Schedule/ViewScheduler?startDate=@dateString#Anchor-@Model.WorkInstruction.StartDate.DayOfWeek" @(isCustomer ? "style=display:none" : "")>View Scheduler</a>
                                }
                            }
                        </div>
                    </div>

                    @*@Bootstrap.TextBoxFor(m => m.WorkInstruction.TrafficManagementActivities)*@

                    <div class="control-group time">
                        <label for="#Start-Hour" class="control-label">Shift Start Time</label>
                        <div class="controls">
                            <input id="Start-Hour" name="StartHour" class="time-spinner spinner" type="number" min="0" max="23" value="@Model.StartHour" @(isCustomer ? "readonly" : "") />
                            <input id="Start-Min" name="StartMin" class="time-spinner spinner" type="number" min="0" max="59" value="@Model.StartMin" @(isCustomer ? "readonly" : "") />
                        </div>
                    </div>

                    @*@Bootstrap.DatePickerFor(m => m.WorkInstruction.FinishDate)*@

                    <div class="control-group time">
                        <label for="#Finish-Hour" class="control-label">Shift Finish Time</label>
                        <div class="controls">
                            <input id="Finish-Hour" name="FinishHour" class="time-spinner spinner" type="number" min="0" max="23" value="@Model.FinishHour" @(isCustomer ? "readonly" : "") />
                            <input id="Finish-Min" name="FinishMin" class="time-spinner spinner" type="number" min="0" max="59" value="@Model.FinishMin" @(isCustomer ? "readonly" : "") />
                        </div>
                    </div>

                    <div class="control-group shift-type-container">
                        <label class="control-label">Shift Type</label>
                        <div class="controls">
                            @Html.HiddenFor(a => a.WorkInstruction.IsNightShift)
                            <button type="button" class="btn shift-type @(!Model.WorkInstruction.IsNightShift ? "active" : "")" data-type="false">Day</button>
                            <button type="button" class="btn shift-type @(Model.WorkInstruction.IsNightShift ? "active" : "")" data-type="true">Night</button>
                        </div>
                    </div>

                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.ClientReferenceNumber).ReadonlyIf(isCustomer)
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.SRWNumber).ReadonlyIf(isCustomer)
                    @Bootstrap.TextAreaFor(m => m.WorkInstruction.Comments, new { @class = "auto-resize" }).ReadonlyIf(isCustomer)
                    @Bootstrap.LookupFor(m => m.WorkInstruction.EmployeeID, m => m.WorkInstruction.Employee.EmployeeName, "Issued By", isCustomer)

                    @*<div class="control-group time">
            <label for="#FirstCone-Hour" class="control-label">First Cone Time</label>
            <div class="controls">
                <input id="FirstCone-Hour" name="FirstConeHour" class="time-spinner spinner" type="number" min="0" max="23" value="@Model.FirstConeHour" />
                <input id="FirstCone-Min" name="FirstConeMin" class="time-spinner spinner" type="number" min="0" max="59" value="@Model.FirstConeMin" />
            </div>
        </div>*@

                    @*<div class="control-group time">
            <label for="#FirstCone-Hour" class="control-label">Last Cone Time</label>
            <div class="controls">
                <input id="LastCone-Hour" name="LastConeHour" class="time-spinner spinner" type="number" min="0" max="23" value="@Model.LastConeHour" />
                <input id="LastCone-Min" name="LastConeMin" class="time-spinner spinner" type="number" min="0" max="59" value="@Model.LastConeMin" />
            </div>
        </div>*@

                    <div class="control-group time">
                        <label for="#WorkInstruction-MaintenanceChecklistReminderInMinutes" class="control-label">@Html.LabelFor(m => m.WorkInstruction.MaintenanceChecklistReminderInMinutes)</label>
                        <div class="controls">
                            <input id="WorkInstruction-MaintenanceChecklistReminderInMinutes" name="WorkInstruction.MaintenanceChecklistReminderInMinutes" class="time-spinner spinner" type="number" min="0" value="@Model.WorkInstruction.MaintenanceChecklistReminderInMinutes" @(isCustomer ? "readonly" : "") />
                        </div>
                    </div>

                    @Bootstrap.CheckBoxFor(m => m.WorkInstruction.IsOutOfHours, new { label = "Out of Hours" }).ReadonlyIf(isCustomer)

                    @Bootstrap.DropDownListFor(m => m.WorkInstruction.StatusID, Model.WorkInstructionStatus, new { label = "Status" }).DisabledIf(isCustomer)
                    @Html.HiddenFor(a => a.WorkInstruction.Status)
                    @Html.HiddenFor(a => a.WorkInstruction.OriginalStatusID)

                    @if (Model.WorkInstruction.Status == "Invoiced")
                    {
                        var InvoiceDate = Model.WorkInstruction.InvoiceDate == null ? "" : Model.WorkInstruction.InvoiceDate.GetValueOrDefault().ToShortDateString();
                        <div class="control-group">
                            <label class="control-label" for="WorkInstruction-InvoiceDate">Invoice Date</label>
                            <div class="controls">
                                <input id="WorkInstruction-InvoiceDate" name="WorkInstruction.InvoiceDate" autocomplete="off" type="text" class="datepicker" value="@InvoiceDate" @(isCustomer ? "disabled" : "")>
                            </div>
                        </div>
                    }
                    @Bootstrap.DropDownListFor(m => m.WorkInstruction.IsSuccessful, Model.IsSuccessfulStates, new { label = "Was Task Successful" }).DisabledIf(isCustomer).HiddenIf(Model.WorkInstruction.Status != "Complete")
                    @Bootstrap.LookupFor(m => m.WorkInstruction.ReasonCodeID, m => m.WorkInstruction.ReasonCodeLookup, "Reason Code", isCustomer).HiddenIf(Model.WorkInstruction.IsSuccessful ?? true, Model.WorkInstruction.IsSuccessful ?? true)
                    @Bootstrap.TextAreaFor(m => m.WorkInstruction.ReasonNotes, new { label = "Reason Notes" }).ReadonlyIf(isCustomer).HiddenIf(Model.WorkInstruction.IsSuccessful ?? true)
                    @*@Bootstrap.LookupFor(m => m.WorkInstruction.AreaID, m => m.WorkInstruction.AreaName, "Area Protocol")*@
                    @*@Bootstrap.TextBoxFor(m => m.WorkInstruction.JobSpeed, new { @readonly = "" })*@
                    @Bootstrap.CheckBoxFor(m => m.WorkInstruction.IsActive).ReadonlyIf(isCustomer)
                </fieldset>
            </div>

            <div class="span6 control-collection">
                <fieldset>
                    <legend>Location</legend>
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.AddressLine1, new { label = "Address Line 1" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.AddressLine2, new { label = "Address Line 2" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.AddressLine3, new { label = "Borough" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.City, new { label = "City" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.County, new { label = "County" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.Postcode, new { label = "Postcode" })
                </fieldset>
            </div>

            <div class="span6 control-collection">
                <fieldset>
                    <legend>Job Details</legend>
                    <div class="tab-pane table-Actions-Spacing" id="">
                    </div>
                    <div class="actions">
                        @Html.ActionLink("View Job", "Update", "Job", new { id = Model.WorkInstruction.JobID }, new { @class = "btn" }).HiddenIf(isCustomer)
                    </div>
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.Client, new { @readonly = "readonly" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.ContractNumber, new { @readonly = "readonly" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.ContractTitle, new { @readonly = "readonly" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.SchemeTitle, new { @readonly = "readonly" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.JobTitle, new { @readonly = "readonly" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction.CustomerProjectCode, new { @readonly = "readonly" })
                    @*@Bootstrap.MultiListLookupFor(m => m.Drawings, "Drawings")*@
                    @Bootstrap.MultiListLookupFor(m => m.MethodStatements, "Method Statements", isCustomer)
                    @Bootstrap.MultiListLookupFor(m => m.ToolboxTalks, "Toolbox Talks", isCustomer)
                </fieldset>
            </div>

            <div class="span6 control-collection">
                <fieldset>
                    <legend>Task Types & Checklists</legend>
                    @Bootstrap.LookupFor(m => m.WorkInstruction.JobTypeID, m => m.WorkInstruction.JobType, "Task Type", true)

                    @if (Model.WorkInstruction.ChecklistID != null)
                    {
                        @Bootstrap.LookupFor(m => m.WorkInstruction.ChecklistID, m => m.WorkInstruction.Checklist, "Checklist", true);
                    }

                    @if (Model.WorkInstruction.InstallWIID != null && !String.IsNullOrEmpty(Model.WorkInstruction.InstallWI))
                    {
                        <div class="control-group">
                            <div class="controls">
                                <a target="_blank" href="../Update/@Model.WorkInstruction.InstallWIID">Go To Install WI @Model.WorkInstruction.InstallWI</a>
                            </div>
                        </div>
                    }
                </fieldset>
            </div>

            <div class="span6 control-collection" style="display:none">
                <fieldset>
                    <legend>Price Lines</legend>
                    <div class="tab-pane table-Actions-Spacing" id="pricelines" data-title="Price Lines">
                    </div>
                    <div class="actions">
                        @*@Html.ActionLink("Add Price Line", "NewPriceLine", "WorkInstruction", new { workInstructionID = Model.WorkInstruction.WorkInstructionID }, new { @class = "btn" })*@
                        <div id="WorkInstructionPriceLine-PriceLineFK-lookup" class="lookup">
                            <input id="WorkInstructionPriceLine-PriceLineFK" name="WorkInstructionPriceLine.PriceLineFK" autocomplete="off" type="hidden">
                            <div class="control-group">
                                <div class="controls">
                                    <input id="WorkInstructionPriceLine-Code" name="WorkInstructionPriceLine.Code" autocomplete="off" type="text" readonly="readonly" class="selected" style="display:none;">
                                    <a href="#WorkInstructionPriceLine-PriceLineFK-modal" class="button" role="button" data-backdrop="false" title="Price Line Lookup" data-toggle="modal">Add Price Lines</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="span6 control-collection loading-sheet">
                <fieldset>
                    <legend>Loading Sheets</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeLoadingSheets">
                    </div>
                    <div class="actions">
                        @Html.ActionLink("New", "New", "LoadingSheet", new { workInstructionID = Model.WorkInstruction.WorkInstructionID }, new { @class = "btn" }).HiddenIf(isCustomer)
                        <a class="btn template" href="#TemplateModal" data-toggle="modal" role="button" title="UseTemplate" @(isCustomer ? "style=display:none" : "")>Select Template</a>
                    </div>
                </fieldset>
            </div>

            <div class="span6 control-collection">
                <fieldset>
                    <legend>Drawings</legend>
                    <ul class="documents">
                        @if (Model.Documents != null)
                        {
                            int documentCount = 0;
                            foreach (var document in Model.Documents)
                            {
                                <li class="file-add">
                                    @Html.Hidden("Documents[" + documentCount + "].DocumentID", document.DocumentID, new { @class = "document-id" })
                                    @Html.Hidden("Documents[" + documentCount + "].Title", document.Title, new { @class = "document-title" })
                                    @Html.Hidden("Documents[" + documentCount + "].Revision", document.Revision, new { @class = "document-revision" })
                                    @Html.Hidden("Documents[" + documentCount + "].FileID", document.FileID, new { @class = "document-fileid" })
                                    @Html.Hidden("Documents[" + documentCount + "].Loaded", document.Loaded, new { @class = "document-loaded" })
                                    @Html.Hidden("Documents[" + documentCount + "].DrawingID", document.DrawingID, new { @class = "document-drawingID" })
                                    <a href="/File/GetFile/@document.FileID">
                                        <label>@document.Title</label>
                                    </a>
                                </li>
                                documentCount++;
                            }
                        }
                    </ul>
                    <a class="jobDocumentLink" href="#JobDocumentModel" data-toggle="modal" role="button" hidden="hidden">JobDocs</a>
                    <div class="actions">
                        <div class="btn-group">
                            <button type="button" class="btn btn-large document-addFromJob" @(isCustomer ? "style=display:none" : "")>Add from Job</button>
                            <button class="btn btn-large document-edit" @(isCustomer ? "style=display:none" : "")>Edit</button>
                        </div>
                    </div>
                    <div id="docsFromJob" style="display:none;">
                        <ul>
                        </ul>
                    </div>
                </fieldset>
            </div>

            @if (Model.ShiftID.HasValue)
            {
                <div class="span6 control-collection">
                    <fieldset>
                        <legend>Shift Progress</legend>
                        <div class="tab-pane table-Actions-Spacing" id="shiftProgress">
                        </div>
                        <div class="actions">
                            @*@Html.ActionLink("Add Shift Progress", "NewShiftProgress", "WorkInstruction", new { shiftID = Model.ShiftID.Value, workInstructionID = Model.WorkInstruction.WorkInstructionID }, new { @class = "btn" })*@
                        </div>
                    </fieldset>
                </div>
            }

            @if (Model.ShowTasks)
            {
                <div class="span12 control-collection">
                    <fieldset>
                        <legend>Task Items</legend>
                        <div id="activeTasks">
                        </div>
                    </fieldset>
                </div>
            }
        </div>


    }
</div>

@section footer{

    <div id="TemplateModal" class="modal hide fade" data-backdrop="static">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Select Template</h3>
        </div>
        <div class="modal-body form-horizontal">
            @Bootstrap.DropDownListFor(m => m.LoadingSheetTemplateID, Model.LoadingSheetTemplates, new { label = "Template" })
        </div>
        <div class="modal-footer">
            <input id="TemplateModalCancel" type="button" class="btn" data-dismiss="modal" value="Cancel" />
            <input id="TemplateModalProceed" type="submit" class="btn btn-primary" name="Template" value="Add" />
        </div>
    </div>
    <div id="DocumentModal" class="modal hide fade" data-backdrop="static">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Upload Drawing</h3>
        </div>
        <div class="modal-body form-horizontal">
            <div class="control-group">
                <label for="DocumentTitle" class="control-label">Drawing Title</label>
                <div class="controls">
                    <input type="text" autocomplete="off" id="DocumentTitle">
                </div>
            </div>
            <div class="control-group">
                <label for="DocumentRevision" class="control-label">Drawing Revision</label>
                <div class="controls">
                    <input type="text" autocomplete="off" id="DocumentRevision">
                </div>
            </div>
            <div class="control-group">
                <label for="File" class="control-label">Drawing</label>
                <div class="controls">
                    <input type="file" id="FileDocument">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" id="DocumentModalCancel" class="btn" data-dismiss="modal">Close</a>
            <a href="#" id="DocumentModalSave" class="btn btn-primary" data-dismiss="modal">Save</a>
        </div>
    </div>

    <div id="JobDocumentModel" class="modal hide fade" data-backdrop="static">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Job Documents</h3>
        </div>
        <div class="modal-body form-horizontal">
            <div class="control-group">
                <table class="jobDocsTable table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Revision</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="modal-footer">
            <a href="#" id="JobDocumentModalCancel" class="btn" data-dismiss="modal">Close</a>
            <a href="#" id="JobDocumentModalSave" class="btn btn-primary" data-dismiss="modal">Select</a>
        </div>
    </div>
}
<input type="hidden" id="RequiresDocumentTitle" value="true" />

@section scripts{
    <script type="text/javascript">
        var depotLookup = null;
        var employeeLookup = null;
        var drawingLookup = null;
        var methodStatementLookup = null;
        var toolboxTalkLookup = null;
        var jobTypeLookup = null;
        var checklistLookup = null;
        var tasks = null;
        //var areaLookup = null;
        var shiftProgress = null;
        var pricelines = null;
        var reasonCodeLookup = null;
        var priceLineLookup = null;

        $(function () {
            InitDocuments();

            // day / night shift
            $('#Start-Hour').on('spinstop', function () {
                var startHour = +$(this).val();
                var isNightShift = startHour >= 17;
                $('.shift-type[data-type="' + isNightShift + '"]').click();
            });

            $('.shift-type').on('click', function () {
                var base = $(this);
                var type = $(this).data('type');
                var isActive = base.hasClass('active');
                if (isActive) {
                    return;
                }
                base.addClass('active');
                base.siblings('.shift-type').removeClass('active');
                $('#WorkInstruction_IsNightShift').val(type);
            });

            depotLookup = new triangle.ui.lookup("#WorkInstruction-DepotID" /*ID*/, "/Contract/Depot/GetDepotLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);

            priceLineLookup = new triangle.ui.lookup("#WorkInstructionPriceLine-PriceLineFK" /*ID*/, "/Contract/Maintenance/GetPriceLinesLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);

            priceLineLookup.MultipleSelectedEvent = function (a, b) {
                var priceLineIDs = [];
                $(a).each(function (i, item) {
                    priceLineIDs.push(item.key)
                });

                AddPriceLines(priceLineIDs);
            };

            function AddPriceLines(IDs) {
                $.ajax({
                    url: '/Contract/WorkInstruction/AddPriceLines/',
                    contentType: 'application/json; charset=utf-8',
                    type: 'post',
                    data: JSON.stringify({ priceLineIDs: IDs , workInstructionID: $('#WorkInstruction_WorkInstructionID').val() }),
                    success: function (linesAdded, d) {
                        if (linesAdded) {
                            $(document.body).css({'cursor' : 'wait'});
                            window.location.href = '@Url.Action("Update", "WorkInstruction")';
                        }
                    },
                });
            }

            if ($("#ShiftID").val() !== "") {
                shiftProgress = new triangle.ui.table('#shiftProgress', '/Contract/WorkInstruction/ShiftProgressList', 5, { shiftID: $("#ShiftID").val(), workInstructionID: $("#WorkInstruction_WorkInstructionID").val() });
                shiftProgress.searchBarExpandedSize = 300;
            }

            employeeLookup = new triangle.ui.lookup("#WorkInstruction-EmployeeID" /*ID*/, "/Contract/Employee/GetEmployeeLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);

            drawingLookup = new triangle.ui.lookup("#Drawings" /*ID*/, "/Contract/Job/GetDrawingsForJobLookup?jobID=" + $("#WorkInstruction_JobID").val() /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);

            methodStatementLookup = new triangle.ui.lookup("#MethodStatements" /*ID*/, "/Contract/MethodStatement/GetMethodStatementsForJobLookup?jobID=" + $("#WorkInstruction_JobID").val() /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);

            toolboxTalkLookup = new triangle.ui.lookup("#ToolboxTalks" /*ID*/, "/Contract/ToolboxTalk/GetToolboxTalkLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);

            jobTypeLookup = new triangle.ui.lookup("#JobTypes" /*ID*/, "/Contract/Maintenance/GetJobTypesLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            jobTypeLookup.SelectedEvent = function () {
                jobTypeSelected();
            };

            var reminderInMinutesDefault = 120;

            function jobTypeSelected() {
                var jobType = $("#WorkInstruction-JobType").val();

                // show install wi
                if (jobType == 'De-install' || jobType == 'VMS - Install and De-install') {
                    $("#installWI").show();
                } else {
                    $("#installWI").hide();
                    $('#WorkInstruction-InstallWIID').val('');
                    $('#WorkInstruction-InstallWI').val('');
                }

                // checklist disabled (not required in any job type workflow)
                $("#WorkInstruction-ChecklistID-lookup").hide();

                // set reminder in minutes
                if (jobType == 'Maintenance' || jobType == 'VMS - Install and De-install') {
                    if (reminderInMinutes.val() == '') {
                        reminderInMinutes.val(reminderInMinutesDefault);
                    }
                }
            }

            checklistLookup = new triangle.ui.lookup("#Checklists" /*ID*/, "/Contract/Maintenance/GetJobTypeChecklistLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);

            loadingSheets = new triangle.ui.table('#activeLoadingSheets', '/Contract/LoadingSheet/ActiveLoadingSheets', 5, { workInstructionID: $("#WorkInstruction_WorkInstructionID").val() });
            loadingSheets.searchBarExpandedSize = 300;

            var showTasks = $('#ShowTasks');

            if (showTasks.val() == 'True') {
                tasks = new triangle.ui.table('#activeTasks', '/Contract/Task/ActiveTasks', 20, { workInstructionID: $("#WorkInstruction_WorkInstructionID").val() });
                tasks.searchBarExpandedSize = 300;
            }

            //areaLookup = new triangle.ui.lookup("#WorkInstruction-AreaID" /*ID*/, "/Contract/Area/GetAreaLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);

            templateModal = $("#TemplateModal").modal({ show: false });


            $("#TemplateModalProceed").on("click", function () {

                var template = $("#TemplateModal").find("#LoadingSheetTemplateID").val();

                $("form")
                    .append($("<input>", { type: "hidden", name: "LoadingSheetTemplateID" }).val(template))
                    .append($("<input>", { type: "hidden", name: "Template", value:"Add" }).val(template))
                    .submit();

                templateModal.modal('hide');
            });
        
            pricelines = new triangle.ui.table('#pricelines', '/Contract/WorkInstruction/GetPriceLinesForWorkInstruction', 5, { workInstructionID: $("#WorkInstruction_WorkInstructionID").val() });
            pricelines.searchBarExpandedSize = 300;

            reasonCodeLookup = new triangle.ui.lookup("#WorkInstruction-ReasonCodeID" /*ID*/, "/Contract/Job/GetReasonCodeLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            reasonCodeLookup.searchBarExpandedSize = 300;

            try {
                jobTypeSelected();
            } catch { }

            //console.log("jd", $('#JobDocumentModalSave')[0]);

            // work instruction status
            $('#WorkInstruction-StatusID').on('change', function (a, b) {
                var status = $(this).find('option:selected').text();
                if (status == 'Complete' || status == 'Invoiced') {
                    $('#WorkInstruction-IsSuccessful').closest('.control-group').show();
                    $(".masonry").masonry();
                } else {
                    $('#WorkInstruction-IsSuccessful').closest('.control-group').hide();
                    $('#WorkInstruction-IsSuccessful').val('');
                    $('#WorkInstruction-IsSuccessful').trigger('change');
                }
            });

            // was work instruction successful
            $('#WorkInstruction-IsSuccessful').on('change', function (a, b) {
                var wasWorkInstructionSuccessful = $(this).find('option:selected').text();
                if (wasWorkInstructionSuccessful == 'No') {
                    $('#WorkInstruction-ReasonCodeID-lookup').show();
                    $('#WorkInstruction-ReasonNotes').closest('.control-group').show();
                } else {
                    $('#WorkInstruction-ReasonCodeID-lookup').hide();
                    $('#WorkInstruction-ReasonCodeID').val('');
                    $('#WorkInstruction-ReasonCodeLookup').val('');
                    $('#WorkInstruction-ReasonNotes').closest('.control-group').hide();
                    $('#WorkInstruction-ReasonNotes').val('');
                }
                $(".masonry").masonry();
            });

            // on load
            $('#WorkInstruction-StatusID').trigger('change');
            $('#WorkInstruction-IsSuccessful').trigger('change');


            $('#JobDocumentModalSave').on('click', function () {
                console.log("save");

                var newDrawings = [];
                var existingDrawings = [];
                var index = $('#docsFromJob ul li').length;

                $('.documents li').each(function(){
                    existingDrawings.push($(this).find('.document-drawingID').val());
                });


                $('.jobDocsTable tbody tr').each(function () {
                    var selected = $(this).find('.jobDocSelected input').is(':checked');
                    var title = $(this).find('.title').html();
                    var revision = $(this).find('.revision').html();
                    var jobDrawingID = $(this).find('.jobDrawingID').val();

                    if (selected && (jQuery.inArray(jobDrawingID, existingDrawings) == -1)) {
                        newDrawings.push(drawing = { _id: jobDrawingID, _title: title, _revision: revision });
                    }

                });
                console.log("new drawings", newDrawings);

                $(newDrawings).each(function (a, item) {

                    console.log("load");

                    $('.documents').append('<li data-id="' + index + '" class="file-add-new"> ' +
                        '<input class="document-drawingID" value="' + item._id + '" style="display:none;">' +
                        //'<img class="ttip" title="" src="/Content/images/docket.png" data-original-title="Save the job before viewing this document"/> ' +
                        '<label>'+ item._title + '</label> ' +
                        '</li>');

                    $('#docsFromJob ul').append(
                        '<li data-id="' + index + '">' +
                        '<input id="DocumentsFromJob[' + index + ']" name="DocumentsFromJob[' + index + ']" type="text" value="' + item._id + '"/>' +
                        '' +
                        '</li>'
                    );
                    index++;
                });
            });

        });
        // pulse background colour - set transition on element to get fading effect
        function pulseBackgroundColor(element) {
            element.css('background-color', '#deffcf');
            setTimeout(function () {
                element.css('background-color', '#fff');
            }, 500);
        }

        function InitDocuments() {
            documentCollectionEditor = new triangle.ui.collectionEditor(".documents");
            documentCollectionEditor.Delete = function (item) {
                $(item).remove();
                var documentContainer = $(".documents");
                var itemCount = documentContainer.children(".file-add");
                itemCount.each(function (idx, ele) {
                    $(ele).find(".document-id").attr("name", "Documents[" + idx + "].DocumentID");
                    $(ele).find(".document-fileid").attr("name", "Documents[" + idx + "].FileID");
                    $(ele).find(".document-drawingID").attr("name", "Documents[" + idx + "].DrawingID");
                    $(ele).find(".document-title").attr("name", "Documents[" + idx + "].Title");
                    $(ele).find(".document-revision").attr("name", "Documents[" + idx + "].Revision");
                    $(ele).find(".document-loaded").attr("name", "Documents[" + idx + "].Loaded");
                    $(ele).find(".document-file").attr("name", "Documents[" + idx + "].Document");
                });
                var jobDoc = $('#docsFromJob ul').find('[data-id="' + $(item).data('id') + '"]');
                $(jobDoc).remove();
            }

            //documentCollectionEditor.AddControl = function () {
            //    var addImage = $("<i>", {class:"fa fa-plus"});//.prop("src", "/content/images/edit-add.png").width(48).height(48);
            //    var link = $("<a>").attr("href", "#DocumentModal").attr("data-backdrop", "false").attr("data-toggle", "modal").append(addImage);
            //    return $("<li>").append(link);
            //}

            $(documentCollectionEditor).on("add", function () {
                $("#DocumentModal").modal("show");
            })

            $('.document-edit').on("click", function (e) {
                documentCollectionEditor.Edit();
                return false;
            });

            $('.document-addFromJob').on("click", function (e) {
                $('#JobDocumentModel table tbody').empty();
                $('.jobDocumentLink').click();
                e.stopPropagation();
                $.ajax({
                    url: '/Contract/Job/GetDrawingsForJobLookup/',
                    type: 'get',
                    data: { jobID: $("#WorkInstruction_JobID").val(), rowCount: '7', page: '0', query: '' },
                    success: function (c, d) {
                        $(c.Rows).each(function (row, data) {
                            $('#JobDocumentModel table tbody').append('<tr><td class="title">' + data.TableData[0] + '</td><td class="revision"> ' + data.TableData[1] + '</td><td class=jobDocSelected style="text-align: center;"><input type="checkbox"/> <input class="jobDrawingID" style="display:none;" value=' + data.Value + ' /></td> </tr>')
                        });
                    },
                });
            });

            $('#DocumentModalCancel').on('click', function () {
                //Clean up validation
                $("#DocumentModal .error").removeClass("error");
                $("#DocumentModal .help-inline").remove();
                $("#DocumentModal input").val('');
            });

            $("#DocumentModal input").mousedown(function () {
                var controlGroup = $(this).parents(".control-group");
                controlGroup.removeClass("error");
                controlGroup.find(".help-inline").remove();
            });

            $('#DocumentModalSave').on('click', function () {
                var documentTitleInput = $("#DocumentTitle");
                var documentRevisionInput = $("#DocumentRevision");
                var file = $("#FileDocument");
                var IsValid = true;
                //Validate Document
                $("#DocumentModal .error").removeClass("error");
                $("#DocumentModal .help-inline").remove();

                var requiresDocumentTitle = $("#RequiresDocumentTitle");
                if (requiresDocumentTitle != null && requiresDocumentTitle.val() === "true") {
                    if (documentTitleInput.val().length == 0) {
                        var controlGroup = documentTitleInput.parents(".control-group");
                        controlGroup.addClass("error");
                        $("<span>").addClass("help-inline").text("A document title must be supplied before continuing.").insertAfter(documentTitleInput);
                        IsValid = false;
                    }
                }

                if (file.val().length == 0) {
                    var controlGroup = file.parents(".control-group");
                    controlGroup.addClass("error");
                    $("<span>").addClass("help-inline").text("A document must be supplied before continuing.").insertAfter(file);
                    IsValid = false;
                }

                if (!IsValid)
                    return false;

                //Process Document
                var documentContainer = $(".documents");
                var itemCount = documentContainer.children(".file-add").length;
                var newcount = documentContainer.children(".new").length;
                var control = $("<li>").addClass("file-add").addClass("new");
                var documentTitleClone = documentTitleInput.clone().attr("id", "UploadedDocument_" + newcount + "_Title").attr("type", "hidden").addClass("document-title").attr("name", "UploadedDocuments[" + newcount + "].Title");

                control.append(documentTitleClone);

                $("#DocumentTitle").val('');

                var documentRevisionClone = documentRevisionInput.clone().attr("id", "UploadedDocument_" + newcount + "_Revision").attr("type", "hidden").addClass("document-revision").attr("name", "UploadedDocuments[" + newcount + "].Revision");
                control.append(documentRevisionClone);

                $("#DocumentRevision").val('');
                //var securityLevelClone = $("<input>").attr("type", "hidden").attr("id", "UploadedDocument_" + itemCount + "_SecurityLevelID").addClass("document-security-level").attr("name", "UploadedDocuments[" + itemCount + "].SecurityLevelID").attr("value", securityLevel).hide();
                //control.append(securityLevelClone);
                var clone = file.clone().val('');
                clone.insertAfter(file);
                file.addClass("document-file").attr("id", "UploadedDocument_" + newcount + "_Document").attr("name", "UploadedDocuments[" + newcount + "].Document").hide().appendTo(control);

                var documentTitle = $(documentTitleClone).val();
                var lblText = documentTitle;
                if (lblText.length > 6) {
                    lblText = lblText.substring(0, 10) + "..";
                    control.attr("title", documentTitle)
                }

                //var img = $("<img>").addClass("ttip").attr({ title: "Save the job before viewing this document", src: "/Content/images/docket.png" }).tooltip();
                //control.append(img);

                var label = $("<label>").text(lblText);//.addClass("ttip").attr("title", documentTitle).tooltip();
                control.append(label);
                documentCollectionEditor.Add(control);
            });
        }
    </script>
}