﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.MedicalExaminations.MedicalExaminationViewModel

@{
    ViewBag.Title = "Update Medical Examination";
}

@section contentHeader
{
    <h1>Update Medical Examination</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            <input type="submit" class="btn" value="Cancel" name="Cancel" />
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.MedicalExamination.MedicalExaminationID)
                    @Html.HiddenFor(m => m.MedicalExamination.EmployeeID)
                    @Bootstrap.TextBoxFor(m => m.MedicalExamination.MedicalExaminationName, new { label = "Name" })
                    @Bootstrap.LookupFor(m => m.MedicalExamination.MedicalExaminationTypeID, m => m.MedicalExamination.MedicalExaminationType.Name, "Examination Type")
                    @Bootstrap.TextAreaFor(m => m.MedicalExamination.MedicalExaminationDescription, new { label = "Description" })
                    @Bootstrap.DatePickerFor(m => m.MedicalExamination.ExaminationDate, new { label = "Date" })
                    @Bootstrap.CheckBoxFor(m => m.MedicalExamination.IsActive, new { label = "Active" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">

        var examinationTypeLookup = null;

        $(function () {
            examinationTypeLookup = new triangle.ui.lookup("#MedicalExamination-MedicalExaminationTypeID" /*ID*/, "/Contract/Maintenance/GetMedicalExaminationTypesLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        });

    </script>
}