* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

html,
body {
    height: 100%;
}

#schedulerImage {
    width: 147px;
    height: 90px;
    margin-top: 5px;
}

#container {
    height: 100%;
}

#menu {
    height: 100%;
    width: 250px;
    position: fixed;
}

    #menu #logo {
        text-align: center;
    }

    #menu h1 {
        font-size: 18px;
        margin: 5px;
        color: #727272;
    }

.filters {
    width: 100%;
    position: relative;
    /*padding: 5px;*/
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    background-color: #f9f9f9;
}

    .filters #page {
        background-color: #035942;
        color: white;
    }

    .filters > div:last-child {
        border-top: 1px solid #dbdbdb;
    }

    .filters select {
        width: 200px;
        height: 30px;
        border: none;
        background: #fff;
    }

    .filters button {
        cursor: pointer;
        float: right;
        margin: 0px;
        padding: 0;
        width: 50px;
        background-color: #faae19;
        border: none;
        height: 30px;
        color: #fff;
    }

    /*    .filters .depotLookup select {
        width: 200px;
        height: 30px;
    }

    .filters .depotLookup button {
        float: right;
        margin: 0px;
        padding: 0;
        width: 50px;
        background-color: #faae19;
        border: none;
        height: 30px;
        color: #fff;
        border: 1px solid #7a5102;
        border-right: none;
        border-left: none;
    }*/

    .filters #page button {
        width: 50px;
        border: none;
        background-color: #057d5a;
        padding: 0;
        margin: 0;
        height: 30px;
        color: #fff;
        text-align: center;
        float: left;
        font-size: 12px;
    }

    .filters label {
        font-size: 12px;
        display: block;
        width: 150px;
        float: left;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }

.panel {
    float: left;
    width: 100%;
    position: relative;
}

    .panel ul {
        list-style: none;
        border: 1px solid #dadada;
        overflow: auto;
        padding: 2px;
        height: 200px;
        border-left: none;
        border-right: none;
    }

#WeekStart {
    background-color: #035942;
    color: #fff;
    text-align: center;
    border-style: none;
    padding: 7px 0;
}

#WeekStart:focus {
    outline: none;
}

/*resource search*/
.resource-search {
    margin: 4px;
}

#employee-search,
#vehicle-search {
    margin-left: 0px;
    padding: 0 2px;
    width: calc(100% - 22px);
}

.checkbox-filter {
    margin-left: 4px;
}

    .checkbox-filter label {
        position: relative;
        vertical-align: top;
        top: 1px;
        font-size: 13px;
    }

.job:hover::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}



.job {
    cursor: pointer;
}

    .job label {
        cursor: pointer;
    }

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#schedInfo {
    position: absolute;
    top: 0;
    left: 250px;
    right: 0;
    height: 51px;
    border-bottom: 1px solid #b0b0b0;
    border-left: 1px solid #b0b0b0;
    z-index: 2;
}

    #schedInfo > div {
        float: left;
    }

    #schedInfo .i {
        float: left;
    }

        #schedInfo .i span {
            width: 70px;
            text-align: center;
            display: block;
            color: #777;
        }

        #schedInfo .i .c {
            font-size: 27px;
            font-weight: bold;
        }

        #schedInfo .i .d {
            font-size: 12px;
        }

    #schedInfo .le {
        width: 490px;
    }

    #schedInfo .ledg {
        margin-left: 5px;
    }

        #schedInfo .ledg .c {
            height: 22px;
            margin-top: 2px;
            border: 2px solid #dadada;
            width: 115px;
            font-size: 12px;
            line-height: 20px;
            color: #333;
            cursor: pointer;
            user-select: none;
        }

        #schedInfo .ledg .c.active {
            border: 2px solid #0034ff;
        }

#scheduler {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 250px;
    right: 0;
    /*padding: 5px;*/
    display: block;
    overflow-y: auto;
}

    #scheduler > div {
        width: 100%;
        height: 100%;
        border: 1px solid #b0b0b0;
        border-top: none;
        background-color: #fff;
        overflow: auto;
    }

        #scheduler > div:first-child {
            border-top: 1px solid #b0b0b0;
        }

    #scheduler .group {
        min-width: 100%;
        position: relative;
    }


        #scheduler .group > div:first-child {
            width: 100px;
            height: 100%;
            border-right: 1px solid #dadada;
            position: absolute;
            display: block;
            overflow-y: auto;
        }

        #scheduler .group .dayColumn {
            width: 100%;
            height: 100%;
            padding: 3px;
            display: table-cell;
            text-align: center;
        }

            #scheduler .group .dayColumn .statuses {
                height: 25%;
                border-left: 2px solid #808080;
                border-bottom: 2px solid #808080;
            }

        #scheduler .group .segments {
            position: absolute;
            left: 100px;
            right: 0;
            top: 0;
            bottom: 0;
            display: block;
            overflow-y: auto;
        }

            #scheduler .group .segments .seg {
                min-width: 100%;
                /*border: 1px solid #808080;*/
                float: left;
                min-height: 100%;
                background-image: url("/Content/images/fmconway_logo_faded.png");
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }

    /*#scheduler .group .segments .seg label {
                    float: left;
                    clear: left;
                }*/

    #scheduler #time {
        height: 30px;
        border: 1px solid #808080;
    }

    #scheduler .group.day {
        height: 100%;
    }

        #scheduler #time, #scheduler .group.day > div:first-child {
            background-color: #f9f9f9;
            display: table;
        }

            #scheduler .group.day > div:first-child > div {
                vertical-align: middle;
                line-height: 100%;
                color: #777;
            }

.jobs {
    float: left;
    position: relative;
}

.job {
    border: 1px solid #959595;
    height: 120px;
    background-color: #d5b82a;
    /*border-radius: 5px;*/
    position: relative;
    float: left;
    margin: 2px;
    overflow-y: auto;
}

.job.long {
    min-width: 480px;
}

.job.med {
    width: 300px;
    height: 205px;
}

.job .info {
    width: 100%;
    font-size: 13px;
}

.job .info .h {
width: 100%;
padding: 3px;
height: 21px;
}

.job .info .h label {
float: left;
}

.job .info .h label:first-of-type {
    position: absolute;
    top: 2px;
    width:145px;
    height: 16px;
    font-weight:bold;
    overflow: hidden;
}

.job .info .h label:last-of-type {
    position: absolute;
    top: 2px;
    width: 122px;
    right: 27px;
    text-align: right;
    font-weight: bold;
    overflow: hidden;
}

.job .info .h .order-number {
    position: absolute;
    top: 2px;
    right: 3px;
    width: 19px;
    padding: 0px;
    margin: 0;
    border: 1px solid #a2a2a2;
    background-color: white;
    font-size: 12px;
    text-align: center;
    line-height: 14px;
}

.job .info .h .order-number:hover {
    background-color: #a3ffa9;
}

.job .info > div > div {
float: left;
width: 50%;
padding: 3px;
}

.job .info .c {
height: 160px;
overflow: auto;
}

.job .info label {
display: block;
}



.job .times {
font-size: 12px;
margin-left: 3px;
font-style: italic;
display: inline-block;
vertical-align: middle;
}

.job .times div {
float: left;
width: 50%;
}

.job .scheduled {
text-align: center;
font-size: 12px;
}

.job .items {
min-width: 198px;
font-size: 12px;
padding: 3px;
}

.job .items > div {
    float: left;
    padding: 3px;
    /*border-radius: 5px;*/
    font-size: 10px;
}

.job .items.op {
    padding-bottom: 0;
}

.job .items.op .Operative {
    position: relative;
    border: 1px solid #c15c06;
    background-color: #ef995c;
    clear: both;
}

.job .items.op .Operative:not(:last-of-type) {
    margin-bottom: 1px;
}

.job .items.ve {
    padding-bottom: 0;
}

.job .items.ve .Vehicle {
    border: 1px solid #3eb507;
    background-color: #92e08c;
    clear: both;
}

.job .items.ve .Vehicle:not(:last-of-type) {
    margin-bottom: 1px;
}

    .job .items > div.placeholder {
        border: 1px dashed #808080;
        background-color: #fff;
        min-width: 198px;
        min-height: 23px;
        pointer-events: none;
    }

.job .items > div.no {
    min-width: 198px;
    height: 23px;
    border: 1px dashed #000;
    color: #000;
    pointer-events: none;
}

.job .items .rem {
    margin-left: 3px;
    cursor: pointer;
}


.alertify .ajs-dialog {
    max-width: 30% !important;
}



.job .fo {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 21px;
    border-top: 1px solid;
}

.job .job-speed {
    float: right;
    font-size: 15px;
    margin-right: 5px;
}

.job .confirm {
    width: 50%;
    float: left;
}

.job .unconfirm {
    float: right;
    width: 50%;
}

.job .save {
    width: 50%;
    float: left;
    padding-right: 2px;
}


#schedInfo .NoShift {
    background-color: #d5e3f3;
}

.job.NoShift {
    background-color: #d5e3f3;
}
.jobtable.NoShift {
    background-color: #d5e3f3;
}

.job.NoShift .h {
border-bottom: 1px solid #5785b9;
}

.job.NoShift .fo {
border-top: 1px solid #5785b9;
}

.job.NoShift .h,
.job.NoShift .h label:last-child,
.job.NoShift .fo {
background-color: #abccf1;
}

.job.NoShift .fo .confirmButton {
    height: 20px;
    border: none;
    background-color: #d5e3f3;
    width: 100%;
    cursor: pointer;
}

.job.NoShift .fo .confirmButton:hover {
    background-color: #91aecf;
    color: white;
}

.job.NoShift .fo .saveButton {
    height: 20px;
    border: none;
    background-color: #d5e3f3;
    width: 100%;
    cursor: pointer;
}

.job.NoShift .fo .saveButton:hover {
    background-color: #91aecf;
    color: white;
}

#schedInfo .NotStarted {
background-color: #fff5c2;
}

.job.NotStarted {
background-color: #fff5c2;
}
.jobtable.NotStarted {
background-color: #fff5c2;
}
.job.NotStarted .h {
border-bottom: 1px solid #b9a436;
}

.job.NotStarted .fo {
border-top: 1px solid #b9a436;
}

.job.NotStarted .h,
.job.NotStarted .h label:last-child,
.job.NotStarted .fo {
background-color: #ffee93;
}

.job.NotStarted .fo .confirmButton {
    height: 20px;
    border: none;
    background-color: #d5e3f3;
    width: 100%;
    cursor: pointer;
}

.job.NotStarted .fo .confirmButton:hover {
    background-color: #91aecf;
    color: white;
}

.job.NotStarted .fo .saveButton {
    height: 20px;
    border: none;
    background-color: #d5e3f3;
    width: 100%;
    cursor: pointer;
}

.job.NotStarted .fo .saveButton:hover {
    background-color: #91aecf;
    color: white;
}

.job .fo .unconfirmButton {
    height: 20px;
    border: none;
    background-color: #f2ecbe;
    width: 100%;
    cursor: pointer;
    outline: 1px solid #9b9b9b;
}

.job .fo .unconfirmButton:hover {
    background-color: #f2dbbe;
    color: black;
}

#schedInfo .ChecksCompleted {
background-color: #f9d6ff;
}

.job.ChecksCompleted {
    background-color: #f9d6ff;
}
.jobtable.ChecksCompleted {
    background-color: #f9d6ff;
}

.job.ChecksCompleted .h {
    border-bottom: 1px solid #cc5be1;
}

.job.ChecksCompleted .fo {
    border-top: 1px solid #cc5be1;
}

.job.ChecksCompleted .h,
.job.ChecksCompleted .h label:last-child,
.job.ChecksCompleted .fo {
    background-color: #f3b9fe;
}

#schedInfo .TasksStarted {
    background-color: #bcfff3;
}

.job.TasksStarted {
    background-color: #bcfff3;
}
.jobtable.TasksStarted {
    background-color: #bcfff3;
}

.job.TasksStarted .h {
    border-bottom: 1px solid #77d5c4;
}

.job.TasksStarted .fo {
    border-top: 1px solid #77d5c4;
}

.job.TasksStarted .h,
.job.TasksStarted .h label:last-child,
.job.TasksStarted .fo {
    background-color: #85efdc;
}


#schedInfo .Completed {
    background-color: #9effa3;
}

#schedInfo .Completed-Deinstall {
    background-color: #fdff70;
}

.job.Completed {
    background-color: #9effa3;
}

.jobtable.Completed {
    background-color: #9effa3;
}

.job.Completed .h {
    border-bottom: 1px solid #54c359;
}

.job.Completed .fo {
    border-top: 1px solid #54c359;
}

.job.Completed .h,
.job.Completed .h label:last-child,
.job.Completed .fo {
    background-color: #6ee974;
}

.job.Completed[data-jobtype="De-install"] {
    background-color: #fdff70;
}

.job.Completed[data-jobtype="De-install"] .h {
    border-bottom: 1px solid #dbb100;
}

.job.Completed[data-jobtype="De-install"] .fo {
    border-top: 1px solid #dbb100;
}

.job.Completed[data-jobtype="De-install"] .h,
.job.Completed[data-jobtype="De-install"] .h label:last-child,
.job.Completed[data-jobtype="De-install"] .fo {
    background-color: #ffce00;
}

#schedInfo .Cancelled {
    background-color: #eaeaea;
}

.job.Cancelled {
    background-color: #eaeaea;
    color: #9f9f9f;
}
.jobtable.Cancelled {
    background-color: #eaeaea;
    color: #9f9f9f;
}

.job.Cancelled .h {
    border-bottom: 1px solid #c8c8c8;
}

.job.Cancelled .fo {
    border-top: 1px solid #c8c8c8;
}

.job.Cancelled .h,
.job.Cancelled .h label:last-child,
.job.Cancelled .fo {
    background-color: #dddddd;
}

.job.active {
    background-color: #ecf7ff !important;
}

.job.active .h {
    border-bottom: 1px solid #ecf7ff !important;
}

.job.active .fo {
    border-top: 1px solid #ecf7ff !important;
}

.job.active .h,
.job.active .h label:last-child,
.job.active .fo {
    background-color: #ecf7ff !important;
}

.job-description-link {
    text-decoration: none;
}

.job-description-link:hover {
    text-decoration: underline;
}

.searchMatch {
    border: 4px solid #ff0000 !important;
}
.search-query-input {
    margin: 2px;
}

/* Search layout */
.search-container .search-query i {
    right: 3px;
    top: 6px;
    cursor: pointer;
}

.icon-search {
    background-position: -48px 0;
}

[class^="icon-"],
[class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../../content/images/glyphicons-halflings.png");
    background-repeat: no-repeat;
}

/*.popup-tooltip*/
.popup-container {
    position: absolute;
    width: 350px;
    border: 1px solid #555;
    background-color: #eee;
}

.popup-container .popup-header {
    border-bottom: 1px solid #555;
    padding: 4px;
    background-color: #86d3a7;
}

.popup-container .popup-close {
    float: right;
    position: relative;
    top: -1px;
    right: 1px;
}

.popup-container .popup-close:hover {
    cursor: pointer;
    color: #c10000;
}

.popup-container .popup-body {
    font-size: 14px;
    padding: 8px;
    max-height: 200px;
    overflow: auto;
}

/*order-number-modal*/
.order-number-modal {
    position: absolute;
    width: 300px;
    border: 1px solid #555;
    background-color: #eee;
}

.order-number-modal .container {
    margin-top: 8px;
    margin-bottom: 12px;
    text-align: center;
}

.order-number-modal .header {
    border-bottom: 1px solid #555;
    padding: 4px;
    background-color: #86d3a7;
}

.order-number-modal .header span {
    font-size: 14px;
}

.order-number-modal .close-button {
    float: right;
    position: relative;
    top: 0;
    right: 1px;
}

.order-number-modal .close-button:hover {
    cursor: pointer;
    color: #c10000;
}

.order-number-modal .row {
    margin-bottom: 6px;
    user-select: none;
}

.order-number-modal .selection {
    display: inline-block;
    border: 1px solid black;
    padding: 12px;
    cursor: pointer;
}

.order-number-modal .selection:hover {
    background-color: #d5e7ff;
}

.order-number-modal .selection.active {
    background-color: #a6cdff;
}






.inlinejob.NoShift {
    background-color: #d5e3f3;
}


.inlinejob.NotStarted {
    background-color: #fff5c2;
}


.inlinejob.ChecksCompleted {
    background-color: #f9d6ff;
}


.inlinejob.TasksStarted {
    background-color: #bcfff3;
}


.inlinejob.Completed {
    background-color: #9effa3;
}


.inlinejob.Cancelled {
    background-color: #eaeaea;
}

.inlinejob.active {
    background-color: #ecf7ff !important;
}

    .inlinejob.active .h {
        border-bottom: 1px solid #ecf7ff !important;
    }

.inlinejobjobactive .fo {
    border-top: 1px solid #ecf7ff !important;
}

.inlinejob.active .h,
.inlinejob.active .h label:last-child,
.inlinejob.active .fo {
    background-color: #ecf7ff !important;
}


#schedInfo .ledg .n {
    height: 22px;
    margin-top: 2px;
    border: 1px solid #dadada;
    width: 115px;
    font-size: 12px;
    line-height: 20px;
    color: #333;
}

.showAllSelected {
    border: solid 1px black !important;
}

.inlinejob .items.op .Operative {
    border: 1px solid #c15c06;
    background-color: #ef995c;
}

.inlinejob .items.ve .Vehicle {
    border: 1px solid #3eb507;
    background-color: #92e08c;
}

.inlinejob .items > div.placeholder {
    border: 1px dashed #808080;
    background-color: #fff;
    min-width: 198px;
    /*height: 23px;*/
    pointer-events: none;
}

.inlinejob .items > div.no {
    min-width: 198px;
    height: 23px;
    border: 1px dashed #000;
    color: #000;
    pointer-events: none;
}

.inlinejob .items .rem {
    margin-left: 3px;
    cursor: pointer;
}


.order-number {

    padding: 0;
    margin: 0;
    border: 1px solid #a2a2a2;
    background-color: #fff;
    font-size: 12px;
    text-align: center;
    line-height: 14px
}

.order-number:hover {
        background-color: #a3ffa9
 }

