﻿* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    height: 100%;
}

a, a:hover, a:focus, select:focus, .btn:focus {
    outline: 0;
    text-decoration: none;
}

tr {
    height: 28px;
}

textarea {
    resize: vertical;
}

select {
    line-height: initial;
    font-size: 11px;
    padding-left: 3px;
}

fieldset {
    position: relative;
    padding-top: 50px;
}

.input-validation-error {
    /*border-color: #b94a48 !important;*/
    border: 1px solid #b94a48 !important;
}

.twrap {
    position: absolute;
    top: 32px;
    left: 7px;
    right: 7px;
    bottom: 0;
    overflow: auto;
}

/*JQUERY DATE PICKER*/

.ui-widget-content {
    background: none repeat scroll 0 0 #262626;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 0;
    background: #fbfbfb;
    border: 1px solid #d5d5d5;
    box-shadow: none;
}

    textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
        box-shadow: none;
        border-color: #d1d5f4;
    }

.btn-group > .btn:first-child, .btn-group > .btn:last-child, .btn-group > .dropdown-toggle, .dropdown-menu {
    border-radius: 0;
}

.pagination ul > .active > a,
.pagination ul > .active > a:hover {
    background-color: #E3F1FC;
    color: #0088CC;
}

.table-bordered {
    border-radius: 0;
}

.excel-export-container {
    float: right;
    margin-right: 8px;
    margin-top: 3px;
    margin-bottom: 5px;
}

    .excel-export-container img {
        opacity: 0.9;
    }

        .excel-export-container img:hover {
            opacity: 1;
        }

.search-container {
    margin-bottom: 5px;
    display: inline-block;
}

    .search-container .search-query {
        position: relative;
        height: 25px;
    }

        .search-container .search-query input {
            width: 200px;
            height: 100%;
            padding: 0px;
            padding-left: 5px;
            margin: 0;
            transition: all ease-in .2s;
        }

            .search-container .search-query input:focus {
                width: 300px;
            }



        .search-container .search-query i {
            position: absolute;
            right: 3px;
            top: 6px;
            cursor: pointer;
        }

.btn {
    border: thin solid #ccc;
    border-radius: 0 0 0 0;
    box-shadow: none;
    padding: 6px 20px;
    background-image: none;
    display: inline;
    background-color: #fff;
}

.btn-warning {
    background-color: #faa732;
}

.button-disabled {
    background-color: #D3D3D3;
    border: thin solid #CCCCCC;
    cursor: not-allowed !important;
    padding: 6px 20px;
}

a.button-disabled {
    color: #808080 !important;
}

.masonry [class*="span"] {
    margin-left: 0;
    margin-right: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(49, 88, 61, 0.30);
    -moz-box-shadow: 0 1px 3px rgba(49, 88, 61, 0.30);
    box-shadow: 0 1px 3px rgba(49, 88, 61, 0.30);
    /*-webkit-box-shadow: 0px 3px 9px rgba(50, 50, 50, 0.5);
-moz-box-shadow:    0px 3px 9px rgba(50, 50, 50, 0.5);
box-shadow:         0px 3px 9px rgba(50, 50, 50, 0.5);*/
}


.icon-themed {
    background-image: url('/Content/images/glyphicons-halflings-themed.png');
}

.icon-inactive {
    background-image: url('/Content/images/glyphicons-halflings-inactive.png');
}

    .icon-inactive:hover {
        background-image: url('/Content/images/glyphicons-halflings-themed.png');
    }

header {
    /*border-bottom: 1px solid #333333;*/
    height: 99px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

    header .logo {
        margin-left: 5px;
        margin-top: 25px;
        width: 189px;
    }

        header .logo img {
            width: 189px;
            height: 45px;
        }

body {
    /*background-color:#434343;*/
    /*background-color: #262626;*/
    padding: 0;
}

fieldset legend {
    /*display: none;*/
    line-height: 33px;
    margin-bottom: 10px;
    position: absolute;
    top: 0px;
}

.wrapper {
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
}

.ajax-loader img {
    /*  height: 29px;
    margin: 20% auto;
    vertical-align: middle;
    width: 220px;*/

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.ajax-error {
    height: 100px;
    overflow: hidden;
}

    .ajax-error p {
        color: #B94A48;
        display: block;
        margin: 35px auto auto;
        text-align: center;
        width: 300px;
    }

.pagination ul a {
    width: 16px;
}


.actions {
    /*padding-left: 160px;*/
    position: absolute;
    right: 0;
    top: 0px;
}

    /*@-moz-document url-prefix() {

    .actions {
    padding-left: 160px;
    position: absolute;
    right: 0;
    top: -45px;
}

}*/


    .actions a {
        display: block;
        margin-top: 10px;
    }

nav {
    position: fixed;
    top: 99px;
    width: 201px;
    z-index: 0;
    bottom: 0;
    /*background-color: #262626;*/
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #57596a #262626;
    background-color: #1f2029;
}

    nav > ul {
        margin: 0;
        width: 200px;
    }

    nav label {
        margin: 0;
    }

    nav > ul > li > ul {
        box-shadow: 0 1px 10px 0 #111111 inset;
        clear: both;
        margin: 0;
    }

        nav > ul > li > ul > li {
            min-height: 25px;
        }

            nav > ul > li > ul > li > .menu-item {
                color: #FFFFFF;
                display: block;
                padding: 3px 10px;
            }

                nav > ul > li > ul > li > .menu-item:hover {
                    background-color: #111;
                }

    nav > ul > li > .menu-item {
        color: #ccc;
        display: block;
        padding: 7px 5px;
    }

        nav > ul > li > .menu-item:hover {
            background-color: #555;
        }

    nav .menu-item:hover {
        text-decoration: none;
        color: #fff;
    }

    nav > ul > li > .menu-item > i {
        margin-right: 5px;
    }

    nav > ul > li {
        min-height: 30px;
        background-color: #1f2029;
    }

    nav ul li {
        list-style: none;
        position: relative;
    }

.content-wrapper {
    background-color: #EEEEEE;
    background-image: linear-gradient(to right bottom, #EEEEEE 0%, #FFFFFF 100%);
    border-left: 2px solid #333333;
    bottom: 0;
    height: auto !important;
    left: 201px;
    min-height: 100%;
    position: fixed;
    right: 0;
    top: 52px;
}

/*.content-wrapper .content-header,
    .content-wrapper .breadcrumb,
    .content-wrapper .content {
        padding-left: 10px;
    }*/

/*.content-wrapper .content {
        position: relative;
        padding-top: 50px;
    }*/

.content-header {
    background-color: #31583D;
    height: 57px;
    left: 200px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

    .content-header h1 {
        font-size: 25px;
        margin: 11px 0 0;
        color: #52535e;
    }


.content {
    bottom: 0;
    left: 200px;
    overflow: auto;
    margin-top: 41px;
    padding-left: 7px;
    position: fixed;
    right: 0;
    top: 58px;
    z-index: 1;
}

.page-title {
    border-left: 2px solid #333333;
    height: 55px;
    left: 200px;
    padding-left: 5px;
    position: fixed;
    right: 0;
    top: 0px;
}


/*.control-grad {
    background-image: -ms-linear-gradient(top, #EDEDED 0%, #D1D1D1 100%);
    background-image: -moz-linear-gradient(top, #EDEDED 0%, #D1D1D1 100%);
    background-image: -o-linear-gradient(top, #EDEDED 0%, #D1D1D1 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EDEDED), color-stop(1, #D1D1D1));
    background-image: -webkit-linear-gradient(top, #EDEDED 0%, #D1D1D1 100%);
    background-image: linear-gradient(to bottom, #EDEDED 0%, #D1D1D1 100%);
}*/

/*.content-wrapper .breadcrumb {
        border-bottom: thin solid #BBBBBB;
        border-radius: 0 0 0 0;
        border-top: thin solid #BBBBBB;
        height: 10px;
        padding: 0;
    }*/

.login-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: url('/Content/images/bg.jpg');
    background-size: cover;
    display: table;
}

    .login-container > div {
        display: table-cell;
        vertical-align: middle;
    }

.login {
    min-height: 230px;
    margin: 10% auto;
    width: 410px;
    /*background-color: #F2F2F2;*/
    /*border: thin solid #000;*/
    /*-moz-box-shadow: 0px 0px 16px 0px #000;
    -webkit-box-shadow: 0px 0px 16px 0px #000;
    box-shadow: 0px 0px 16px 0px #000;*/
}

    .login .banner {
        height: 110px;
        margin-bottom: 20px;
        width: 410px;
        text-align: center;
        background: #fff;
        border: 1px solid #242424;
        padding: 10px;
        box-sizing: border-box;
    }

        .login .banner img {
            height: 90px;
        }

        .login .banner h1 {
            color: #AFAFC5;
            font-size: 20px;
            margin: 0 10px;
        }

    .login .loginForm {
        margin-top: 20px;
    }

    .login .actions {
        position: relative;
        margin-top: 20px;
        padding-left: 95px;
        top: 0px;
    }

        .login .actions .control-group {
            margin: 0;
        }

        .login .actions .control-label {
            width: 102px;
        }


    .login .user,
    .login .password {
        position: relative;
        margin-top: 10px;
    }


        .login .user input,
        .login .password input {
            width: 100%;
            box-sizing: border-box;
            padding: 12px;
            font-size: 18px;
            height: 33px;
            border: 1px solid #5c5c5c;
        }



        .login .user i, .login .password i {
            position: absolute;
            right: 67px;
            top: 7px;
            z-index: 1;
        }

    .login .form-horizontal .control-label {
        width: 120px;
    }

    .login .form-horizontal .controls {
        float: left;
        margin-left: 10px;
    }

    .login .alert {
        margin: 10px;
    }


.primary-actions {
    background-color: #FBFBFB;
    /*border-bottom: 1px solid #fff;*/
    border-left: 2px solid #333333;
    /*border-top: 1px solid #fff;*/
    height: 34px;
    left: 200px;
    padding: 5px 10px;
    position: fixed;
    right: 0;
    top: 55px;
    z-index: 1;
}

    .primary-actions input, .primary-actions a {
        /*border: thin solid #ccc;*/
        font-size: 16px;
        display: inline-block;
    }

form > .alert {
    margin-top: 5px;
    margin-right: 5px;
}

.form-horizontal .controls {
    position: relative;
    margin-bottom: 5px;
}

.form-horizontal .control-label {
    width: 170px;
    padding-top: 3px;
    position: relative;
}

.form-horizontal .control-group {
    margin-bottom: 0;
}

    .form-horizontal .control-group[data-required="true"] .control-label span {
        color: #b94a48;
        position: absolute;
        right: -5px;
    }

.table-bordered {
    border: 1px solid #f9f9f9;
}

    .table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
        border-top-left-radius: 0;
    }

    .table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child {
        border-top-right-radius: 0;
    }

.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #f9faff;
}

thead tr {
    /*border-bottom:1px solid #999999;*/
    /*-webkit-box-shadow:0 2px 3px rgba(49, 88, 61, 0.5);
    -moz-box-shadow: 0 2px 3px rgba(49, 88, 61, 0.5);
    box-shadow: 0 2px 3px rgba(49, 88, 61, 0.5);
    position:relative;*/
}

.overview th {
    position: relative;
    color: #fff;
}

.tab-content > .tab-pane {
    width: 100%;
}

.table th, .table td {
    border-top: 1px solid #f0f0f0;
    line-height: 27px;
    padding: 4px 7px;
    text-align: left;
    vertical-align: top;
}

.table th {
    background-color: #fbfbfb;
}

.table-bordered th,
.table-bordered td {
    border-left: none;
    vertical-align: middle;
}

    .table-bordered th:first-child,
    .table-bordered td:first-child {
        border-left: none;
    }

legend + .control-group {
    margin-top: 0;
}

.lookup .lookup-button {
    background-color: #c6dcef;
    border: 1px solid #d5d5d5;
    display: inline-block;
    height: 26px;
    position: absolute;
    left: 219px;
    top: 0;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

    .lookup .lookup-button.disabled,
    .lookup .lookup-button.disabled:hover {
        /*background-position: 0px -1px;*/
        background-color: #d8d9dd;
    }


    .lookup .lookup-button:hover {
        /*background-position: 0px -27px;*/
        background-color: #82b2dc;
    }

.lookup .control-group.error .controls .lookup-multi-list {
    border-color: #B94A48;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.lookup .control-group.error .controls .help-inline {
    margin-left: 30px;
    position: absolute;
    top: 3px;
}


.lookup .li-remove {
    position: absolute;
    right: 64px;
    top: 4px;
}

.lookup.disabled .li-remove,
.lookup.disabled .mli-remove {
    display: none;
}

.modal-header {
    min-height: 30px;
}

    .modal-header h3 {
        float: left;
        margin: 0 10px 0 0;
        width: 270px;
    }

    .modal-header .close {
        margin-top: 7px;
        opacity: 1;
    }

    .modal-header span {
        clear: both;
        display: block;
    }

.modal-body {
    min-height: 300px;
    max-height: 400px;
}

    .modal-body .action-select {
        cursor: pointer;
        display: block;
        height: 17px;
        margin: 1px auto;
        width: 17px;
    }


.time-spinner.spinner.ui-spinner-input {
    margin: 0;
}

/*Custom checkbox*/
input[type=checkbox].css-checkbox {
    /*display: none;*/
    position: absolute;
    left: -9999px;
}

    input[type=checkbox].css-checkbox + label.multi-select-css-label {
        background-repeat: no-repeat;
        cursor: pointer;
        display: block;
        height: 17px;
        margin: 1px auto;
        width: 17px;
    }

.input-append .add-on, .input-prepend .add-on {
    height: 16px;
    font-size: 14px;
    padding: 4px 5px;
}

input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    padding: 4px 6px;
    box-shadow: none;
    border: 1px solid #d5d5d5;
    background: #fbfbfb;
}

select {
    height: 28px;
}

.control-collection {
    position: relative;
    -moz-box-sizing: content-box;
}

    .control-collection .controls.input-prepend {
        display: block;
    }

        .control-collection .controls.input-prepend input {
            width: 120px;
        }

label.multi-select-css-label.checked {
    background-position: 0 -17px;
}

.multi-select-css-label {
    background-image: url('/content/images/elegant.png');
}

.single-select-css-icon {
    background-image: url('/content/images/elegant_blue.png');
}

    .single-select-css-icon:hover {
        background-position: 0 -17px;
    }

.lookup-multi-list {
    display: inline-block;
    min-height: 115px;
    margin: 0;
    padding: 4px 6px 1px;
    width: 206px;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    vertical-align: middle;
    /*border-radius: 4px 0 4px 4px;*/

    background: #fbfbfb;
    border: 1px solid #d5d5d5;
}

    .lookup-multi-list li {
        list-style: none;
        border-top: solid 1px #CCC;
        height: 25px;
        padding-top: 3px;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
    }

        .lookup-multi-list li:first-child {
            border-top: none;
            padding-top: 0px;
        }

        .lookup-multi-list li .mli-remove {
            float: right;
            position: absolute;
            right: 0px;
            background: #f6f6f6;
        }

.documents {
    list-style: none;
    height: 180px;
    overflow: auto;
}


    .documents > li {
        position: relative;
        padding: 5px;
        margin: 0 5px 5px 5px;
        background: #fff;
        box-shadow: 0 0 5px #e6e6e6;
        height: 25px;
    }

        .documents > li > a {
            cursor: pointer;
        }

        .documents > li:first-child {
            margin-top: 5px;
        }

        .documents > li label {
            word-wrap: break-word;
        }

.edit {
    border: thin dashed #CCCCCC;
    display: block;
    margin-top: 20px;
    /*padding-top: 10px;*/
    position: relative;
    background-color: #fbfbfb;
    /*box-shadow: 0 0 5px 0;*/
}

    .edit .edit-controls {
        /*background-color: #E2E2E2;*/
        /*border: thin solid #CCCCCC;*/
        height: 25px;
        right: -1px;
        position: absolute;
        top: -27px;
        /*box-shadow: 0 0 5px 0;*/
    }

        .edit .edit-controls a {
            background: url("/content/images/edit-exit-gs.png") no-repeat scroll 2px 4px transparent;
            cursor: pointer;
            display: block;
            float: left;
            padding: 2px;
            text-indent: -9999px;
            width: 16px;
        }

.editable {
    position: relative;
}

    .editable .edit-box {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

        .editable .edit-box a {
            display: block;
            margin-right: 10px;
        }

        .editable .edit-box i {
            cursor: pointer;
            color: #b94a48;
        }

.editable-new {
    border: thin dashed #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .editable-new i {
        font-size: 20px;
    }

.control-group input[readonly] {
    cursor: default;
}


nav, header, .content-header, .page-title, .content, .primary-actions {
    position: absolute;
}

.page-title {
    left: 0;
}

.content-wrapper, .content {
    overflow: auto;
    scrollbar-width: thin;
}

.primary-actions {
    top: 55px;
    left: 200px;
    z-index: 999999999;
    position: fixed;
    background-color: #F9F9F9;
    box-shadow: inset 0 1px 7px #e6e6e6;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #3071a9;
        border-color: #285e8e;
    }

.content-wrapper {
    top: 0px;
}

/*lookup modal hover*/
.modal table tbody tr {
    cursor: pointer;
}

.modal table tbody tr th {
    cursor: default;
}

    .modal table tbody tr:hover td:last-child .single-select-css-icon {
        background-position: 0 -17px;
    }

/*table rows with action hover*/
table tr.link {
    cursor: pointer;
}

table tr.dAct {
    cursor: pointer;
}

.equipmentQuantity {
    width: 50px;
}

.required {
    position: absolute;
    color: #b94a48;
    line-height: 1;
}

/*info-modal*/
.info-modal .form-horizontal {
    margin: 0;
}

.info-modal .modal-header h3 {
    width: initial;
    font-size: 18px;
}

/*readonly checkbox*/
.form-horizontal input[type="checkbox"][readonly] {
    pointer-events: none;
    opacity: 0.3;
    background-color: transparent;
}

.form-horizontal label.control-label[data-disabled] {
    pointer-events: none;
}

/*input-resize (used in conjunction with SetLabelSize() HtmlHelper)*/
.input-resize .lookup .controls input.selected,
.input-resize .lookup .controls .lookup-multi-list {
    width: calc(100% - 14px);
}

.input-resize .lookup .controls .lookup-button {
    left: initial;
    right: -26px;
}

.input-resize .lookup .controls .li-remove {
    right: 5px;
    top: 3px;
}

.input-resize .lookup .controls .mli-remove {
    right: -1px;
    top: 0;
}

.input-resize ul.lookup-multi-list {
    font-size: 12px;
}

.input-resize .lookup-multi-list li {
    min-height: 23px;
}

.input-resize .controls > input[type="text"],
.input-resize .controls > textarea,
.input-resize .controls > .tp-wrap > textarea {
    width: calc(100% - 14px);
}

/*spinner - hide arrows when readonly*/
.ui-spinner-input[readonly] ~ .ui-spinner-button {
    display: none;
}
