﻿body {
    /*background-color: #262626;*/
}


.tabbable {
    flex: 1;
    display: flex;
    flex-direction: column;
}

    .tabbable .tab-content {
        flex: 1;
        overflow: hidden;
    }

.documents {
    background: #fbfbfb;
    margin: 0;
}

.it-cont .it-load {
    opacity: 0.6;
}

header {
    background-color: #fff;
}

    header .logo {
        margin-left: 8px;
        margin-top: 5px;
    }

        header .logo img {
            display: block;
            max-width: 100%;
            max-height: 90px;
            width: auto;
            height: auto;
            margin: 0 auto;
        }

    header .content-header {
        background-color: transparent;
    }

.content-wrapper {
    /*border-left-width: 1px;*/
    border-left-width: 0px;
    background-color: #fff;
    background-image: none;
}

.primary-actions {
    border-left-width: 1px;
}

.actions a.btn,
.actions button.btn {
    border: none;
    background: none;
    padding: 0;
    color: #0088cc;
    /*color: #6aa6b5;*/
    font-weight: normal;
    margin-top: 10px;
    font-size: 15px;
}

    .actions a.btn:not(:last-of-type) {
        padding-right: 7px;
        border-right: 1px solid #bababa;
        margin-right: 2px;
    }

    .actions button.btn:not(:last-of-type) {
        padding-right: 7px;
        border-right: 1px solid #bababa;
        margin-right: 2px;
    }

    .actions button.btn:last-of-type {
        padding-left: 7px;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
    background-color: #f0f0f0;
}




/*.table-striped tbody > tr:nth-child(2n) > td, .table-striped tbody > tr:nth-child(2n) > th {
    background-color: #f9faff;
}*/

.modal {
    border-radius: 0;
}


.page-title {
    border-left-width: 1px;
    border-top-width: 1px;
}


nav > ul > li > .menu-item {
    color: #c8c8c8;
    display: block;
    padding: 7px 10px;
}

    nav > ul > li > .menu-item:hover {
        background-color: #252d40;
    }

nav > ul > li > ul {
    background-color: #1b1c24;
    box-shadow: none;
    clear: both;
    margin: 0;
    color: #fff;
}

    nav > ul > li > ul > li > .menu-item {
        color: #C0C0C0;
        display: block;
        padding: 3px 10px;
        padding-left: 17px;
    }

        nav > ul > li > ul > li > .menu-item i {
            width: 20px;
            text-align: center;
            color: #595c6f;
        }

        nav > ul > li > ul > li > .menu-item:hover {
            background-color: #252d40;
        }

nav .menu-item:hover {
    text-decoration: none;
}

nav > ul > #Home-Index {
    background-color: #035942;
    border-radius: 5px 0 0 5px;
    margin: 5px 0px 5px 5px;
    padding-left: 0px;
}

    nav > ul > #Home-Index .menu-item {
        padding-left: 6px;
    }

        nav > ul > #Home-Index .menu-item i {
            margin-right: 2px;
        }

    nav > ul > #Home-Index:hover, nav > ul > #Home-Index a:hover {
        background-color: #087558;
        border-radius: 5px 0 0 5px;
    }

.nav-tabs > li > a {
    border: none;
    border-radius: unset;
}

.nav-tabs > li {
    /*margin-bottom: -2px;*/
    translate: 0 2px;
}

.nav-tabs a {
    color: #555555;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    border: none;
    background-color: inherit;
    border-bottom: 3px solid #08c;
    color: #0088cc;
}


#topDataTab {
    margin-bottom: 0;
}

.scroll-rail {
    background-color: #555555;
    margin: 21px 0 0 7px;
    width: 3px;
}

.scroll-bar {
    height: 200px;
    position: absolute;
    top: 20px;
    width: 16px;
}

    .scroll-bar .bar {
        background-color: #EEEEEE;
        border-radius: 3px 3px 3px 3px;
        height: 100%;
        width: 5px;
        margin: 0 6px;
        cursor: pointer;
    }

.nav-scroll {
    background-color: #262626;
    bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
}




.login .banner {
    background-color: none;
}

    .login .banner h1 {
        color: #303068;
        font-size: 20px;
        margin: 0 10px;
    }

.login .btn-primary {
    background-color: #2D9500;
    border: 1px solid #000;
    width: 110px;
}

.login .forgot {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    clear: both;
    color: #DD9A00;
    margin-top: 3px;
}

    .login .forgot:hover {
        color: #fff;
        text-decoration: none;
    }

.profile {
    height: 25px;
    position: absolute;
    right: 20px;
    top: 23px;
}

    .profile .user {
        border-right: 1px solid #333333;
        padding-right: 10px;
    }

        .profile .user a {
            color: #dd9a00;
            font-weight: 700;
            margin-left: 5px;
        }

    .profile .sign-out {
        color: #303068;
        font-weight: 600;
        margin-left: 10px;
    }

    .profile .user, .profile .sign-out {
        float: right;
    }


legend {
    border-color: #6aa6b5;
    text-transform: uppercase;
    color: #52535e;
}

.control-collection {
    /*border: thin solid #CCCCCC;*/
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 5px 10px;
}

.masonry [class*="span"] {
    margin-right: 10px;
    box-shadow: none;
}

.time .ui-widget-content {
    background: none;
    border: none;
}

.time .ui-corner-all {
    border-radius: 0;
}

.time a:hover {
    cursor: pointer;
}

.time-spinner {
    width: 50px;
}

/*404*/

#notFound {
    position: relative;
    width: 580px;
    margin: 0 auto;
}

    #notFound label {
        font-size: 110px;
        height: 120px;
        position: relative;
        line-height: 1;
    }

    #notFound p {
        font-size: 17px;
        font-weight: bolder;
        left: 55px;
        position: absolute;
        top: 430px;
    }

/*JOBS*/

.overview {
    margin-right: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

    .overview #current {
        height: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }

    .overview .tab-pane {
        height: 100%;
        margin-bottom: 10px;
        display: none !important;
        flex-direction: column;
    }

        .overview .tab-pane.active {
            display: flex !important;
        }


.it-table .ajax-loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

    .it-table .ajax-loader .bg {
        background: #fafbff;
        opacity: 0.8;
        width: 100%;
        height: 100%;
    }
/*.overview th {
        color: black;
        border-bottom: 1px solid #98989f;
        background-color: #F8F8F8;
    }

    .overview .table-hover tbody tr:hover > td {
        background-color: #E4E4F6;
    }

    .overview table .job-number {
        width: 90px;
    }

    .overview table .works-order-number {
        width: 150px;
    }

    .overview table .job-limit {
        width: 65px;
    }

    .overview table .job-description {
        width: 350px;
    }

    .overview table .net-amount {
        width: 85px;
    }

    .overview table .job-raised {
        width: 80px;
    }

    .overview table td {
        font-size: 11px;
        line-height: 20px;
    }

    .overview table tr {
        height: 23px;*/
/*cursor: pointer;*/
/*}*/
.jobs .search-query {
    width: 193px;
}

.job-costs, .job-dockets {
    min-height: 118px;
}

.job-comments {
    min-height: 170px;
}

.job-commentborder {
    margin-top: 20px;
}

.job .photos {
    float: left;
}

.job .bx-wrapper .bx-prev {
    left: -50px;
    z-index: 1;
}

.job .bx-wrapper .bx-next {
    right: -50px;
    z-index: 1;
}

.job #contractual-job {
    display: none;
}

.job .on-site-resource a {
    display: block;
    float: left;
    margin-right: 1px;
}

@media screen and (min-width:1715px) {

    .job .photos {
        width: 1464px;
    }

    .job .risk-assessment {
        width: 965px;
    }

    .risk-assessment .other-text {
        width: 500px;
    }
}

@media screen and (min-width:1213px) and (max-width:1714px) {

    .job .photos {
        width: 962px;
    }

    .job .risk-assessment {
        width: 965px;
    }

    .risk-assessment .other-text {
        width: 500px;
    }
}

@media screen and (max-width:1212px) {

    .job .photos {
        width: 460px;
    }

    .job .risk-assessment {
        width: 460px;
    }

    .risk-assessment .other-text {
        width: 300px;
    }
}

@media screen and (max-width:1279px) {

    .job .bx-wrapper .bx-prev {
        left: 0;
        margin: 10px;
        top: 100%;
    }

    .job .bx-wrapper .bx-next {
        right: 0;
        margin: 10px;
        top: 100%;
    }
}



.job .risk-question {
    border: thin solid;
    padding: 15px;
}

.job .risk-answer {
}

.job .dockets {
    list-style: none;
    height: 180px;
}


    .job .dockets > li {
        float: left;
        margin-right: 5px;
        width: 64px;
        height: 84px;
        position: relative;
    }

        .job .dockets > li > a {
            cursor: pointer;
        }

            .job .dockets > li > a > img {
                float: left;
            }

        .job .dockets > li label {
            clear: both;
            float: left;
            text-align: center;
            width: 64px;
            word-wrap: break-word;
        }




#tasksDiv .tasksActions {
    text-align: right;
}

#tasksTable .markinvoiced {
    text-align: center;
}



.survey .photos {
    list-style: none;
    height: 180px;
}


    .survey .photos > li {
        float: left;
        margin-right: 5px;
        width: 64px;
        height: 84px;
        position: relative;
    }

        .survey .photos > li > a {
            cursor: pointer;
        }

            .survey .photos > li > a > img {
                float: left;
            }

        .survey .photos > li label {
            clear: both;
            float: left;
            text-align: center;
            width: 64px;
            word-wrap: break-word;
        }


.incident .photos {
    list-style: none;
    height: 180px;
}


    .incident .photos > li {
        float: left;
        margin-right: 5px;
        width: 64px;
        height: 84px;
        position: relative;
    }

        .incident .photos > li > a {
            cursor: pointer;
        }

            .incident .photos > li > a > img {
                float: left;
            }

        .incident .photos > li label {
            clear: both;
            float: left;
            text-align: center;
            width: 64px;
            word-wrap: break-word;
        }

.table thead th {
    vertical-align: top;
    /*background-color: #f9f9f9;*/
    color: #727272;
}


.quotesummary #ibnModal .modal-body {
    height: 70px;
}


/*QUOTES*/

.quotes .quote-description {
    min-height: 200px;
}

.quote-management {
    min-height: 530.5px;
}

.quote-managementupdate {
    min-height: 580.4px;
}

.quote .quoteDocuments {
    width: 960px;
}

.quotesummary .quoteDocuments {
    width: 960px;
}

/*TEAMS*/
.team-description {
    min-height: 379px;
}

.team-management {
    min-height: 379px;
}

/*SKILLS*/
.skills .skill-description {
    min-height: 120px;
}

.skills table {
    width: 482px;
}

.skills .icon-remove:hover {
    background-image: url("/Content/images/glyphicons-halflings-themed.png");
}

.skills table .name {
}

.skills table .expires {
    width: 40px;
}

.skills table .expiry-date {
    width: 80px;
}

.skills table .table-actions {
    width: 10px;
}

.skills #HiddenCreate {
    display: none;
}

/*STAFF*/
.staff .staff-description {
    min-height: 200px;
}

.staff .address-description {
    min-height: 200px;
}

.staff .contact-description {
    min-height: 200px;
}

.staff .skill-description {
    min-height: 100px;
}

#DocketModal .modal-body {
    height: 135px;
}

/*SITE*/
.site .move-actions {
    width: 55px;
}

    .site .move-actions a {
        display: block;
        float: left;
        margin-right: 1px;
    }

.site .priority {
    width: 20px;
}

.site .siteDocuments {
    width: 960px;
}

.site .icon-arrow-up:hover {
    background-image: url("/Content/images/glyphicons-halflings-green.png");
}

.site .icon-arrow-down:hover {
    background-image: url("/Content/images/glyphicons-halflings-green.png");
}

.site .icon-remove:hover {
    background-image: url("/Content/images/glyphicons-halflings-themed.png");
}

.site .comment-text {
    max-width: 370px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#ViewCommentModal .modal-body {
    min-height: 50px;
}

.invoice #InvoiceModal label {
    cursor: default;
}

/*Customer*/
/*.span12
{
    width: 460px;
    height: 395px;
}*/

.member {
    margin: 0 !important;
}

.member-type {
    padding: 10px 0 5px;
    margin-bottom: 5px;
}

    .member-type .control-group {
        margin-bottom: 5px;
    }

.invoice label.dockets {
    margin-left: 1px;
}

.system-users .member {
    margin-bottom: 5px;
}

.invoice li.dockets {
    margin-left: 25px;
}

/*Customer*/
.table-Actions-Spacing td:first-child {
    width: 18px;
}


/*Finished Jobs*/

.risk-assessment .table td {
    padding: 0;
    border: none;
}

.risk-assessment .answer-container {
    width: 50px;
}



.risk-assessment .answer {
    width: inherit;
    height: 38px;
    border: none;
    border-left: 1px solid #999999;
    text-align: center;
    line-height: 37px;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(bottom, rgb(235,235,235) 11%, rgb(255,255,255) 70% /*, rgb(227,227,227) 100%*/ );
    background-image: -o-linear-gradient(bottom, rgb(235,235,235) 11%, rgb(255,255,255) 70% /*, rgb(227,227,227) 100%*/ );
    background-image: -moz-linear-gradient(bottom, rgb(235,235,235) 11%, rgb(255,255,255) 70% /*, rgb(227,227,227) 100%*/ );
    background-image: -webkit-linear-gradient(bottom, rgb(235,235,235) 11%, rgb(255,255,255) 70% /*, rgb(227,227,227) 100%*/ );
    background-image: -ms-linear-gradient(bottom, rgb(235,235,235) 11%, rgb(255,255,255) 70% /*, rgb(227,227,227) 100%*/ );
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.11, rgb(235,235,235)), color-stop(0.7, rgb(255,255,255)) /*, color-stop(1, rgb(227,227,227)) */ );
}

.risk-assessment .answer-checked.yes {
    background: #afffb2; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FmZmZiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NGVkOGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #afffb2 0%, #84ed8a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afffb2), color-stop(100%,#84ed8a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #afffb2 0%,#84ed8a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #afffb2 0%,#84ed8a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #afffb2 0%,#84ed8a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #afffb2 0%,#84ed8a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afffb2', endColorstr='#84ed8a',GradientType=0 ); /* IE6-8 */
}

.risk-assessment .answer-checked.no {
    background: #ffb1af; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjFhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjg4ODgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffb1af 0%, #ef8888 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb1af), color-stop(100%,#ef8888)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffb1af 0%,#ef8888 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffb1af 0%,#ef8888 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffb1af 0%,#ef8888 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffb1af 0%,#ef8888 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb1af', endColorstr='#ef8888',GradientType=0 ); /* IE6-8 */
}

.risk-assessment .answer-checked.na {
    background: #b2ddff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IyZGRmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YWNhZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #b2ddff 0%, #8acaf2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2ddff), color-stop(100%,#8acaf2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b2ddff 0%,#8acaf2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b2ddff 0%,#8acaf2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b2ddff 0%,#8acaf2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b2ddff 0%,#8acaf2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2ddff', endColorstr='#8acaf2',GradientType=0 ); /* IE6-8 */
}

.risk-assessment .questions thead th {
    color: #fff;
    margin-bottom: 3px;
    background: #565656; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2NTY1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzFjMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #565656 0%, #1c1c1c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #565656 0%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #565656 0%,#1c1c1c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #565656 0%,#1c1c1c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #565656 0%,#1c1c1c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-8 */
}

.risk-assessment .questions tbody tr {
    border-bottom: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #999999;
}

.risk-assessment .questions tbody td:first-child {
    line-height: 37px;
    padding-left: 15px;
}

.weekly-checklist .questions table td {
    padding: 0;
}

.weekly-checklist .answer-container {
    width: 50px;
    padding-left: 0px;
    padding-right: 0px;
}

.weekly-checklist .answer {
    width: inherit;
    height: 38px;
    border: none;
    border-left: 1px solid #999999;
    text-align: center;
    line-height: 37px;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(bottom, rgb(235,235,235) 11%, rgb(255,255,255) 70% /*, rgb(227,227,227) 100%*/ );
    background-image: -o-linear-gradient(bottom, rgb(235,235,235) 11%, rgb(255,255,255) 70% /*, rgb(227,227,227) 100%*/ );
    background-image: -moz-linear-gradient(bottom, rgb(235,235,235) 11%, rgb(255,255,255) 70% /*, rgb(227,227,227) 100%*/ );
    background-image: -webkit-linear-gradient(bottom, rgb(235,235,235) 11%, rgb(255,255,255) 70% /*, rgb(227,227,227) 100%*/ );
    background-image: -ms-linear-gradient(bottom, rgb(235,235,235) 11%, rgb(255,255,255) 70% /*, rgb(227,227,227) 100%*/ );
    background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.11, rgb(235,235,235)), color-stop(0.7, rgb(255,255,255)) /*, color-stop(1, rgb(227,227,227)) */ );
}

.weekly-checklist .answer-checked.yes {
    background: #afffb2; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FmZmZiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NGVkOGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #afffb2 0%, #84ed8a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afffb2), color-stop(100%,#84ed8a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #afffb2 0%,#84ed8a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #afffb2 0%,#84ed8a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #afffb2 0%,#84ed8a 100%); /* IE10+ */
    background: linear-gradient(to bottom, #afffb2 0%,#84ed8a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afffb2', endColorstr='#84ed8a',GradientType=0 ); /* IE6-8 */
}

.weekly-checklist .answer-checked.no {
    background: #ffb1af; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYjFhZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjg4ODgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffb1af 0%, #ef8888 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb1af), color-stop(100%,#ef8888)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffb1af 0%,#ef8888 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffb1af 0%,#ef8888 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffb1af 0%,#ef8888 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffb1af 0%,#ef8888 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb1af', endColorstr='#ef8888',GradientType=0 ); /* IE6-8 */
}

.weekly-checklist .questions thead th {
    color: #fff;
    margin-bottom: 3px;
    background: #565656; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU2NTY1NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYzFjMWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #565656 0%, #1c1c1c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#1c1c1c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #565656 0%,#1c1c1c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #565656 0%,#1c1c1c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #565656 0%,#1c1c1c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #565656 0%,#1c1c1c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-8 */
}

.weekly-checklist .questions tbody tr {
    border: 1px solid #ccc;
}

.weekly-checklist .questions tbody td:first-child {
    line-height: 37px;
    padding-left: 15px;
}


#JobNotDoneModal .modal-body {
    height: 200px;
}

#WorkplanModal .modal-body {
    height: 120px;
}

.site-contract .radioSchedule {
    display: inline;
}

.generate-modal-body {
    min-height: 100px;
    padding: 15px;
}

.documentDropDown {
    display: inline-block;
}

.includeDockets {
    display: inline-block;
    float: left;
}

.customer-details {
    display: block;
    position: relative;
}

.sub-tab .nav-tabs > .active > a,
.sub-tab .nav-tabs > .active > a:hover,
.sub-tab .nav-tabs > .active > a:focus {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 20px;
    border: none;
    border-left: 1px solid;
    border-left-color: #0088CC;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    color: #0088CC;
    text-decoration: underline;
}

.sub-tab .nav-tabs > li > a {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 20px;
    border: none;
    border-left: 1px solid;
    border-left-color: #0088CC;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
}

    .sub-tab .nav-tabs > li > a:hover {
        background: none;
    }

.sub-tab .nav-tabs > .active:first-child > a,
.sub-tab .nav-tabs > li:first-child > a {
    border-left: none;
    margin-left: 8px;
}

.calendar {
    float: left;
}

    .calendar .calendar-table {
        margin-left: 1px;
    }

        .calendar .calendar-table .corner {
            border: 1px solid black;
            text-align: center;
            font-size: large;
            font-weight: bold;
            width: 200px;
            height: 30px;
            background-color: #C8D7EC;
        }

        .calendar .calendar-table .topRow {
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-top: 1px solid black;
            text-align: center;
            font-size: large;
            font-weight: bold;
            width: 200px;
            height: 30px;
            background-color: #C8D7EC;
        }

        .calendar .calendar-table .secondRow {
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
            text-align: center;
            font-size: large;
            font-weight: bold;
            width: 200px;
            height: 30px;
            background-color: #A6C0E1;
        }

        .calendar .calendar-table .cell {
            text-align: left;
            border-left: solid 1px black;
            border-bottom: solid 1px black;
            border-top: solid 1px black;
            padding-left: 5px;
            width: 185px;
            height: 25px;
            background-color: #DCE8D6;
            table-layout: fixed;
            word-wrap: hyphenate;
        }

        .calendar .calendar-table .cellActions {
            border-right: solid 1px black;
            border-top: solid 1px black;
            border-bottom: solid 1px black;
            width: 15px;
            height: 25px;
            background-color: #DCE8D6;
        }

        .calendar .calendar-table .skillCell {
            text-align: left;
            border-left: solid 1px black;
            border-bottom: solid 1px black;
            border-top: solid 1px black;
            padding-left: 5px;
            width: 185px;
            height: 25px;
            background-color: #ff948f;
            table-layout: fixed;
            word-wrap: hyphenate;
        }

        .calendar .calendar-table .skillCellActions {
            border-right: solid 1px black;
            border-top: solid 1px black;
            border-bottom: solid 1px black;
            width: 15px;
            height: 25px;
            background-color: #ff948f;
        }

        .calendar .calendar-table .blankCell {
            text-align: left;
            border: solid 1px black;
            padding-left: 5px;
            width: 185px;
            height: 25px;
            background-color: #e6e6e6;
        }

        .calendar .calendar-table .blankCellActions {
            border-right: solid 1px black;
            border-top: solid 1px black;
            border-bottom: solid 1px black;
            width: 15px;
            height: 25px;
            background-color: #e6e6e6;
        }

.timesheet .timesheet-table thead td {
    border: solid 2px black;
    text-align: center;
    width: 125px;
    height: 30px;
    font-weight: bold;
    background-color: #C8D7EC;
}

.timesheet .timesheet-table tbody td {
    border: solid 1px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
    text-align: center;
    width: 125px;
    height: 30px;
    font-weight: normal;
    background-color: #FFFFFF;
}

.customer .disabledCheck {
    width: 10px;
    height: 10px;
    border: 1px solid #8b8b8b;
    background: #FAFAFA;
    margin-top: 6px;
    display: inline-block;
    /*EEEEEE*/
}

.comment-action-options {
    display: inline-block;
    margin-right: -20px;
    margin-left: 65px;
}

.comment-text-buttons {
    display: inline-block;
}

.comment-radio-buttons {
    display: inline-block;
    margin-right: 45px;
}

/*ICONS*/
.cicon-tip {
    background: url("/content/images/tip.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 30px;
    position: absolute;
    right: -8px;
    top: 0px;
    width: 10px;
    cursor: help;
}

.small-warning {
    font-size: 10px;
    color: grey;
    margin-left: 30px;
}

.asset .equipment-image {
    width: 275px;
}

.asset #imagePreview {
    width: 100px;
    height: 100px;
    background-position: center center;
    background-size: cover;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
    display: inline-block;
}

.workinstruction .loading-sheet {
    display: inline-block;
}

.details .accidents {
    display: inline-block;
}

.details .observations {
    display: inline-block;
}

.loading-sheet .actions a {
    display: inline-block;
}

.loading-sheet .equipment {
    width: 500px;
}

.left-align {
    width: 225px;
    float: left;
    padding-bottom: 5px;
}

.schedule-filter {
    display: inline-block;
    height: 28px;
    padding: 0px 20px;
}

.callprotocol {
    width: 350px;
    height: 200px;
}

#widataTab {
    width: 1200px;
}

.outOfHours table tbody tr[data-selectable] {
    cursor: pointer;
}

.assignOOH {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.btn-select {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: thin solid #428bca;
    border-radius: 0 0 0 0;
    box-shadow: none;
    padding: 6px 20px;
    background-image: none;
    display: inline;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-repeat: repeat-x;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

.btn-close {
    background-color: #ccc;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: thin solid #ccc;
    border-radius: 0 0 0 0;
    box-shadow: none;
    padding: 6px 20px;
    background-image: none;
    display: inline;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
}
