﻿@model FMConway.MVCApp.Areas.Operation.ViewModels.LoadingSheets.LoadingSheetViewModel

@{
    ViewBag.Title = "Active Loading Sheets";
}

@section contentHeader
{
    <h1>Active Loading Sheets</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var activeLoadingSheets = null;

        $(function () {
            activeLoadingSheets = new triangle.ui.table('#current', '/Operation/LoadingSheet/ActiveLoadingSheets', 50);
        });

    </script>

}