﻿@model FMConway.MVCApp.Areas.Operation.ViewModels.LoadingSheets.LoadingSheetViewModel

@{
    ViewBag.Title = "Inactive Loading Sheets";
}

@section contentHeader
{
    <h1>Inactive Loading Sheets</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var inactiveLoadingSheets = null;

        $(function () {
            inactiveLoadingSheets = new triangle.ui.table('#current', '/Operation/LoadingSheet/InactiveLoadingSheets', 50);
        });

    </script>

}