﻿@model FMConway.MVCApp.Areas.Operation.ViewModels.LoadingSheets.LoadingSheetViewModel

@{
    ViewBag.Title = "Loading Sheet Summary";
}

@section contentHeader
{
    <h1>Loading Sheet Summary</h1>
}

<div class="site-inspection">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Inactive", "LoadingSheet", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.LoadingSheet.LoadingSheetID)
                    @Bootstrap.TextBoxFor(m => m.LoadingSheet.LoadingSheetDate.ToShortDateString(), new { label = "Date", disabled = "disabled" })
                   @* @Bootstrap.TextBoxFor(m => m.LoadingSheet.Vehicle.Registration, new { label = "Vehicle", disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.LoadingSheet.VehicleType.Name, new { label = "Vehicle Type", disabled = "disabled" })*@
                    @Bootstrap.TextAreaFor(m => m.LoadingSheet.Comments, new { label = "Comments", disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.LoadingSheet.Employee.EmployeeName, new { label = "Issued By", disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.LoadingSheet.Status, new { label = "Status", disabled = "disabled" })
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Equipment</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeEquipment">
                    </div>
                    <div class="actions">
                        <a href="#" class="ttip btn button-disabled">Add Equipment</a>
                    </div>
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">

        var loadingSheetEquipment = null;

        $(function () {
            loadingSheetEquipment = new triangle.ui.table('#activeEquipment', '/Contract/Equipment/ActiveLoadingSheetEquipment', 5, { loadingSheetID: $("#LoadingSheet_LoadingSheetID").val() });
            loadingSheetEquipment.searchBarExpandedSize = 300;
        });

    </script>
}
