﻿@model FMConway.MVCApp.Areas.Operation.ViewModels.LoadingSheets.LoadingSheetViewModel

@{
    ViewBag.Title = "Update Loading Sheet";
}

@section contentHeader
{
    <h1>Update Loading Sheet</h1>
}

<div class="site-inspection">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", "LoadingSheet", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.LoadingSheet.LoadingSheetID)
                    @Bootstrap.DatePickerFor(m => m.LoadingSheet.LoadingSheetDate, new { label = "Date", disabled = "disabled" })
                    @*@Bootstrap.LookupFor(m => m.LoadingSheet.VehicleID, m => m.LoadingSheet.Vehicle.Registration, "Vehicle")
                    @Bootstrap.TextBoxFor(m => m.LoadingSheet.VehicleType.Name, new { label = "Vehicle Type", disabled = "disabled" })*@
                    @Bootstrap.TextAreaFor(m => m.LoadingSheet.Comments, new { label = "Comments", disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.LoadingSheet.Employee.EmployeeName, new { label = "Issued By", disabled = "disabled" })
                    @*@Bootstrap.TextBoxFor(m => m.LoadingSheet.Site, new { label = "Site", disabled = "disabled" })*@
                    @Bootstrap.DropDownListFor(m => m.LoadingSheet.StatusID, Model.Status, new { label = "Status" })
                    @Bootstrap.CheckBoxFor(x => x.LoadingSheet.IsActive)
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Equipment</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeEquipment">
                    </div>
                    <div class="actions">
                        <a href="#" class="ttip btn button-disabled">Add Equipment</a>
                    </div>
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">

        //var vehicleLookup = null;
        var loadingSheetEquipment = null;

        $(function () {
            //vehicleLookup = new triangle.ui.lookup("#LoadingSheet-VehicleID" /*ID*/, "/Contract/Vehicle/GetVehicleLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);

            loadingSheetEquipment = new triangle.ui.table('#activeEquipment', '/Contract/Equipment/ActiveLoadingSheetEquipment', 5, { loadingSheetID: $("#LoadingSheet_LoadingSheetID").val() });
            loadingSheetEquipment.searchBarExpandedSize = 300;
        });

    </script>
}
