﻿@model global::FMConway.MVCApp.Areas.Operation.ViewModels.Schedule.ScheduleDayVM

<a class="anchor-link" name="Anchor-@(Model.Date.DayOfWeek)"></a>

<div class="day clearfix" data-date="@Model.Date.ToString("dd/MM/yyyy")">
    <div class="inlinejobs">
        <div class="" data-date="@Model.Date.ToString("dd/MM/yyyy")">
            <div class="segments clearfix">
                <input id="@Model.Date.ToString("dddd")SchedulesCount" value="@Model.Schedules.Count" hidden="hidden" />

                @if (Model.Schedules.Count > 0)
                {
                <table style="border:1px solid black;width:98%;margin-bottom:15px" class="styled-table">
                    <tr>

                        <th width="25px">

                        </th>

                        <th width="300px">
                            Contract
                        </th>
                        <th width="400px">
                            Address
                        </th>
                        <th width="200px">
                            Vehicle Reg
                        </th>
                        <th width="200px">
                            Person Assigned
                        </th>
                        <th width="50px">
                            Shift Type
                        </th>
                        <th width="50px">

                        </th>
                    </tr>
                    @foreach (var s in Model.Schedules)
                    {
                        string shift = s.IsNightShift ? "Day" : "Night";

                       
                        <tr class="inlinejob row1-visibility @s.ShiftProgress @shift closed" id="@s.ScheduleID" data-depoid="@s.DepoID" data-shifttype="@shift" data-jobtype="@s.JobType" data-workinstructionid="@s.WorkInstructionID">
                            <td>
                                <div class="order-number" data-order-number="@s.OrderNumber">@s.OrderNumber</div>
                                
                            </td>


                            <td>
                                <input type="hidden" class="schedule-updated-date" value="@s.UpdatedDate.ToString("dd/MM/yyyy HH:mm:ss")" />
                                @s.Contract  (<a href="/Contract/WorkInstruction/Update/@s.WorkInstructionID">@("WIN " + s.WorkInstructionNumber)</a>)
                            </td>
                            <td class="cell-contents">
                                <div>
                                    @s.Address
                                </div>

                            </td>
                            <td>
                                @foreach (var veh in s.Vehicles)
                                {

                                    <span>@veh.Make @veh.Model (@veh.Registration)</span> <br />


                                }
                            </td>
                            <td>
                                @foreach (var op in s.Operatives)
                                {
                                    @op.EmployeeName<br />


                                }
                            </td>
                            <td align="center">
                                @{
                                    string shiftImage = s.IsNightShift ? "sun.png" : "moon.png";
                                }
                                <img src="~/Images/@shiftImage" class="shiftsize" />

                            </td>
                            <td align="center">
                                <img src="~/Images/plus.png" data-id="@s.WorkInstructionID" class="img-showdetails" />
                            </td>
                        </tr>


                        <tr class="row2-visibility row2-visibility-@s.WorkInstructionID @s.ShiftProgress" style="display:none" data-depoid="@s.DepoID" data-shifttype="@shift" data-jobtype="@s.JobType" data-workinstructionid="@s.WorkInstructionID">
                            <td colspan="7">
                                <table style="border:1px solid black;width:98%;margin-bottom:15px" class="styled-table inlinejob @s.ShiftProgress" id="inlinejob-@s.ScheduleID" data-id="@s.ScheduleID" data-depoid="@s.DepoID" data-jobtype="@s.JobType" data-workinstructionid="@s.WorkInstructionID">
                                    <tr class="@s.ShiftProgress">
                                        <td class="table-title">
                                            <input type="hidden" class="schedule-updated-date" value="@s.UpdatedDate.ToString("dd/MM/yyyy HH:mm:ss")" />
                                            <span>Contract Name</span>
                                        </td>
                                        <td class="table-content">@s.Contract</td>
                                        <td class="table-title">Time / Order</td>
                                        <td class="table-content">
                                            <span>@s.StartDate.ToString("HH:mm") until @s.EndDate.ToString("HH:mm")</span>
                                        </td>
                                        <td class="table-title">Vehicles</td>
                                        <td class="table-title">Operatives</td>
                                        <td width="150px" style="min-width: 240px">Actions</td>
                                    </tr>
                                    <tr>
                                        <td class="table-title">Address</td>
                                        <td class="table-content">@s.Address</td>
                                        <td class="table-title">Type</td>
                                        <td class="table-content">@s.JobType</td>
                                        <td class="table-content" rowspan="5" valign="top">
                                            <div class="tdScroll">
                                                <div class="items ve clearfix @Model.Date.ToString("dddd").ToLower()">
                                                    <div class="no" @(s.Vehicles.Any() ? "style=display:none" : "")>Vehicles</div>
                                                    @foreach (var veh in s.Vehicles)
                                                    {
                                                        <div class="Vehicle" data-id="@veh.VehicleID" id="@veh.VehicleID">
                                                            @veh.Make @veh.Model (@veh.Registration)
                                                            <div class="rem fa fa-remove" style="@(s.Confirmed && s.HasShift ? "display:none" : "")"></div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td class="table-content" rowspan="5" valign="top">
                                            <div class="tdScroll">
                                                <div class="items op clearfix @Model.Date.ToString("dddd").ToLower()">
                                                    <div class="no" @(s.Operatives.Any() ? "style=display:none" : "")>Operatives</div>
                                                    @foreach (var op in s.Operatives)
                                                    {
                                                        <div class="Operative" data-id="@op.EmployeeID" id="@op.EmployeeID">
                                                            @op.EmployeeName
                                                            <div class="rem fa fa-remove" style="@(s.Confirmed && s.HasShift ? "display:none" : "")"></div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td class="table-content" align="center" rowspan="5">
                                            <div class="foInline">
                                                <div>
                                                    @if (!s.Cancelled)
                                                    {
                                                        var canUnconfirm = s.ShiftProgress == "NotStarted";
           
                                                        <div class="save clearfix" style="@(!s.Confirmed ? "" : "display:none;")">
                                                            <button class="btn saveButton">Save</button>
                                                        </div>

                                                        <div class="confirm clearfix" style="@(s.HasShift && !s.Confirmed ? "" : "display:none;")">
                                                            <button class="btn confirmButton">Confirm</button>
                                                        </div>

                                                        <div class="unconfirm clearfix" style="@(s.Confirmed && canUnconfirm ? "" : "display:none;")">
                                                            <button class="btn unconfirmButton">Unconfirm</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="table-title">Day/Night</td>
                                        <td class="table-content">
                                            @if (s.IsNightShift)
                                            {
                                                <span>Day Shift</span>
                                            }
                                            else
                                            {
                                                <span>Night Shift</span>
                                            }
                                        </td>
                                        <td class="table-title">Project Code</td>
                                        <td class="table-content">@s.JobCustomerProjectCode</td>
                                    </tr>
                                    <tr>
                                        <td class="table-title">Win Number</td>
                                        <td class="table-content"> <a href="/Contract/WorkInstruction/Update/@s.WorkInstructionID" class="workinstruction-hyperlink">@("WIN " + s.WorkInstructionNumber)</a></td>
                                        <td class="table-title">Approved Time</td>
                                        <td class="table-content">
                                            <p id="@(s.ScheduleID + "_time")">
                                                @if (s.HasShift)
                                                {
                                                    var allShiftProgresses = new List<KeyValuePair<DateTime, string>>
                                                                                                                                                                                                                                                                 {
                            new KeyValuePair<DateTime, string>(s.CompletedTime, "Completed: " + s.CompletedTime.ToString("HH:mm")),
                            new KeyValuePair<DateTime, string>(s.TasksStartedTime, "Tasks Started: " + s.TasksStartedTime.ToString("HH:mm")),
                            new KeyValuePair<DateTime, string>(s.CheckCompletedTime, "Checks Completed: " + s.CheckCompletedTime.ToString("HH:mm")),
                            new KeyValuePair<DateTime, string>(s.CancelledTime, "Cancelled: " + s.CancelledTime.ToString("HH:mm"))
                         };

                                                    // List<KeyValuePair> always returns a record even if there is no results, the key and value are defaulted when this happens
                                                    var latestShiftProgress = allShiftProgresses.Where(a => a.Key.TimeOfDay.Ticks > 0).OrderByDescending(a => a.Key).FirstOrDefault();
                                                    if (latestShiftProgress.Key != default(DateTime))
                                                    {
                                                        @latestShiftProgress.Value;
                                                    }
                                                }
                                            </p>
                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>
                    }
                </table>
                                    }


            </div>
        </div>
    </div>
</div>
