﻿@model global::FMConway.MVCApp.Areas.Operation.ViewModels.Schedule.ScheduleDayVM

<a class="anchor-link" name="Anchor-@(Model.Date.DayOfWeek)"></a>

<div class="group day clearfix" data-date="@Model.Date.ToString("dd/MM/yyyy")">
    <div>
        <div class="dayColumn">
            @Model.Date.ToString("dddd dd/MM/yyyy")
            <input id="@Model.Date.ToShortDateString()_dateInput" value="@Model.Date.ToShortDateString()" style="display:none" />
            <div id="@Model.Date.ToShortDateString()_confirmAll" class="confirmAll" style="display:none">Confirm All</div>
        </div>
    </div>
    <div class="segments clearfix">
        <div class="seg">
            <div class="jobs">
                <div class="row">
                    <input id="@Model.Date.ToString("dddd")SchedulesCount" value="@Model.Schedules.Count" hidden="hidden" />

                    @foreach (var s in Model.Schedules)
                    {
                        
                        <div class="job unselectable med @Model.Date.ToString("dddd") @s.ShiftProgress" id="@s.ScheduleID" data-depoid="@s.DepoID" data-jobtype="@s.JobType" data-workinstructionid="@s.WorkInstructionID">
                            <input type="hidden" class="schedule-updated-date" value="@s.UpdatedDate.ToString("dd/MM/yyyy HH:mm:ss")" />

                            <div class="required-job-certificates">
                                @foreach (var requiredCertificateTypeIDs in s.RequiredCertificateTypeIDs)
                                {
                                    <input type="hidden" class="job-certificate-type" value="@requiredCertificateTypeIDs" />
                                }
                            </div>

                            <div class="info clearfix">
                                <div class="h">
                                    <label title="@s.Contract">@s.Contract</label>
                                    <label>@s.ContractNumber</label>
                                    <div class="order-number" data-order-number="@s.OrderNumber">@s.OrderNumber</div>
                                </div>

                                <div class="c">
                                    <div class="extraDetails @Model.Date.ToString("dddd").ToLower()">
                                        <label>@s.Address</label>
                                        <a href="/Contract/WorkInstruction/Update/@s.WorkInstructionID" class="workinstruction-hyperlink">@("WIN " + s.WorkInstructionNumber)</a>
                                    </div>

                                    <div class="top-right">
                                        <img class="day-night-icon" src="~/Content/images/@(s.IsNightShift ? "icon_night_24x24.png" : "icon_day_24x24.png")" title="@(s.IsNightShift ? "Night Shift" : "Day Shift")" />
                                        <label>@s.StartDate.ToString("HH:mm") until @s.EndDate.ToString("HH:mm")</label>
                                        <div class="extraDetails @Model.Date.ToString("dddd").ToLower()">
                                            <label>@s.TrafficManagementActivities</label>
                                            <label>@s.JobType</label>
                                            <label>@s.JobCustomerProjectCode</label>
                                            <a class="job-description-link popup-tooltip" href="#" data-popup-tooltip-text="@s.TaskDetails">Task Details</a>
                                        </div>
                                    </div>

                                    <div class="items ve clearfix @Model.Date.ToString("dddd").ToLower()">
                                        <div class="no" @(s.Vehicles.Any() ? "style=display:none" : "")>Vehicles</div>
                                        @foreach (var veh in s.Vehicles)
                                        {
                                            <div class="Vehicle" data-id="@veh.VehicleID" id="@veh.VehicleID">
                                                @veh.Make @veh.Model (@veh.Registration)
                                                <div class="rem fa fa-remove" style="@(s.Confirmed && s.HasShift ? "display:none" : "")"></div>
                                            </div>
                                        }
                                    </div>

                                    <div class="items op clearfix @Model.Date.ToString("dddd").ToLower()">
                                        <div class="no" @(s.Operatives.Any() ? "style=display:none" : "")>Operatives</div>
                                        @foreach (var op in s.Operatives)
                                        {
                                            <div class="Operative" data-id="@op.EmployeeID" id="@op.EmployeeID">
                                                @op.EmployeeName
                                                <div class="rem fa fa-remove" style="@(s.Confirmed && s.HasShift ? "display:none" : "")"></div>
                                            </div>
                                        }
                                    </div>

                                </div>
                            </div>
                            <div class="fo">
                                @{ var anyTimestamps = s.CompletedTime.Ticks > 0 || s.TasksStartedTime.Ticks > 0 || s.CheckCompletedTime.Ticks > 0 || s.CancelledTime.Ticks > 0; }
                                <div class="times clearfix @Model.Date.ToString("dddd").ToLower()" @(!anyTimestamps ? "style=display:none" : null)>
                                    <p id="@(s.ScheduleID + "_time")">
                                        @if (s.HasShift)
                                        {
                                            var allShiftProgresses = new List<KeyValuePair<DateTime, string>>
                                                                    {
                                                new KeyValuePair<DateTime, string>(s.CompletedTime, "Completed: " + s.CompletedTime.ToString("HH:mm")),
                                                new KeyValuePair<DateTime, string>(s.TasksStartedTime, "Tasks Started: " + s.TasksStartedTime.ToString("HH:mm")),
                                                new KeyValuePair<DateTime, string>(s.CheckCompletedTime, "Checks Completed: " + s.CheckCompletedTime.ToString("HH:mm")),
                                                new KeyValuePair<DateTime, string>(s.CancelledTime, "Cancelled: " + s.CancelledTime.ToString("HH:mm"))
                                            };

                                            // List<KeyValuePair> always returns a record even if there is no results, the key and value are defaulted when this happens
                                            var latestShiftProgress = allShiftProgresses.Where(a => a.Key.TimeOfDay.Ticks > 0).OrderByDescending(a => a.Key).FirstOrDefault();
                                            if (latestShiftProgress.Key != default(DateTime))
                                            {
                                                @latestShiftProgress.Value;
                                            }
                                        }
                                    </p>
                                </div>

                                <div>
                                    @if (!s.Cancelled)
                                    {

                                        var canUnconfirm = s.ShiftProgress == "NotStarted";
                                        <div class="save clearfix" style="@(!s.Confirmed ? "" : "display:none;")">
                                            <button class="saveButton">Save</button>
                                        </div>

                                        <div class="confirm clearfix" style="@(s.HasShift && !s.Confirmed ? "" : "display:none;")">
                                            <button class="confirmButton">Confirm</button>
                                        </div>

                                        <div class="unconfirm clearfix" style="@(s.Confirmed && canUnconfirm ? "" : "display:none;")">
                                            <button class="unconfirmButton">Unconfirm</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

