﻿@model FMConway.MVCApp.Areas.Operation.ViewModels.Schedule.SchedulerViewModel

@using System.Web.Configuration
@using FMConway.Services.Extensions
@using System.Globalization;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Scheduler</title>

    <script src="https://use.fontawesome.com/a49a5cc5ae.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.11.1/alertify.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.11.1/css/alertify.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.11.1/css/themes/semantic.min.css" />

    @Styles.Render("~/Content/Scheduler_css")
    @Styles.Render("~/Content/jquery-ui/css/ui-darkness/bundle")

    <style>
        #container[data-workinstructionid=""] #operatives ul:after {
            content: 'Select a task';
            position: absolute;
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 5px;
            font-style: italic;
            font-size: 12px;
        }

        #operatives ul {
            position: relative;
        }

            #operatives ul li {
                font-size: 14px;
                border-left: 3px solid #ef995c;
                margin-bottom: 5px;
                padding-left: 3px;
                min-height: 23px;
                line-height: 23px;
            }

        #operatives .operatives-depo {
            font-size: 12px;
            font-style: italic;
            float: right;
        }

        #operatives .operatives-type {
            font-size: 12px;
        }

        #container[data-workinstructionid=""] #vehicles ul:after {
            content: 'Select a task';
            position: absolute;
            top: 5px;
            right: 5px;
            bottom: 5px;
            left: 5px;
            font-style: italic;
            font-size: 12px;
        }

        #vehicles ul {
            position: relative;
        }

            #vehicles ul li {
                font-size: 14px;
                border-left: 3px solid #92e08c;
                margin-bottom: 5px;
                padding-left: 3px;
                min-height: 23px;
                line-height: 23px;
            }

                #operatives ul li:hover,
                #vehicles ul li:hover {
                    cursor: pointer;
                    background-color: #fcfcfc;
                }

        .workinstruction-hyperlink {
            float: left;
            clear: left;
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;
        }

            .workinstruction-hyperlink:hover {
                text-decoration: underline;
            }

        .anchor-link {
            display: block;
            visibility: hidden;
        }

        #schedInfo .summary-days a {
            float: left;
        }

            #schedInfo .summary-days a.active .i span {
                color: #006bc5;
            }

        .operativeInUse {
            color: red;
        }

        .vehicleInUse {
            color: red;
        }

        .multiSelectText {
            font-size: 12px;
            width: 180px;
            height: 16px;
        }

        .multiSelectStatus {
            overflow: hidden;
            padding: 5px;
            font-size: 14px;
            width: 145px;
            display: inline-block;
            height: 23px;
        }

        .multiSelectContainer {
            max-height: 200px;
            overflow-y: scroll;
            overflow-x: hidden;
        }

        .confirmAll {
            color: black;
            border: 1px solid #3eb507;
            background-color: #92e08c;
            margin-top: 5px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 10px;
            cursor: pointer;
        }

            .confirmAll:hover {
                font-weight: bold;
                background-color: #9effa3;
            }

        table, th, td {
            border: 1px solid;
            border-spacing: 0px;
            border-collapse: collapse;
        }

        td {
            padding: 3px;
        }

        .job {
            font-size: 12px;
        }

        .tdScroll {
            height: 65px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .btn {
            border: thin solid #ccc;
            padding: 6px 20px;
            background-color: #fff;
            width: 100px;
            height: 45px;
            margin: 10px;
            overflow: hidden;
        }

        .job .order-number {
            display: inline-block;
            width: 19px;
            margin-left: 4px;
            border: 1px solid #a2a2a2;
            background-color: white;
            font-size: 12px;
            text-align: center;
            line-height: 14px;
        }

            .job .order-number:hover {
                background-color: #a3ffa9;
            }

        .saveButton,
        .confirmButton,
        .unconfirmButton {
            cursor: pointer;
        }

        .job .unconfirm {
            /*float: unset;*/
        }

        .styled-table {
            border-collapse: collapse;
            margin: 15px 0;
            margin-left: 15px;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
            border-color: grey;
        }

        styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }


        .styled-table th,
        .styled-table td {
            padding: 4px 5px;
            border-color: grey;
        }

        .table-title {
            font-weight: bold;
        }

        .table-content {
            background-color: white;
        }

        .ledg .c {
            cursor: pointer;
        }

        .ledg .active {
            border: 1px solid black !important;
        }

        .shiftsize {
            width: 12px;
            height: 12px;
            text-align: center;
            cursor: pointer;
        }

        .img-showdetails, .img-alldetails, .expand {
            width: 12px;
            height: 12px;
            cursor: pointer;
        }

        .cell-contents{
            max-width:300px;
        }

        .cell-contents div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        } 
    </style>

</head>
<body>

    <div id="container" data-workinstructionid="">
        <div id="menu">
            @*<div id="logo"><a href="/"><img id="schedulerImage" src="/Content/images/@(WebConfigurationManager.AppSettings.Get<bool>("test-version") ? "fmconway_logo_test.png" : "fmconway_logo.png")" /></a></div>*@
            <div id="logo"><a href="/"><img id="schedulerImage" src="/Content/images/fmconway_logo.png" /></a></div>
            @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
            {
                <div class="filters">
                    <div id="page" class="clearfix">
                        <button type="submit" class="fa fa-chevron-left" value="@Model.WeekStart.AddDays(-7)" name="day"></button>
                        <label>
                            <input type="text" class="datepicker" id="WeekStart" value="@Model.WeekStart.ToString("ddd dd/MM/yyyy")" data-readonly-show="true" readonly="">
                        </label>
                        <button type="submit" class="fa fa-chevron-right" value="@Model.WeekStart.AddDays(7)" name="day" style="float:right;"></button>
                    </div>
                    @Html.HiddenFor(m => m.ContractID)
                    @Html.HiddenFor(m => m.DepotID)
                    @Html.HiddenFor(m => m.UpdatedTime)

                    <div class="contractLookup clearfix">

                        <span id="contract-selection" class="multiSelectStatus"></span>
                        <button type="submit" class="fa fa-filter" value="@Model.WeekStart" name="startDate" style="float:right;"></button>
                        <button type="button" id="btnToggleContracts" class="fa fa-arrow-down" style="float:right;"></button>

                        <div style="display: none; padding: 5px;" id="contractMultiSelect">
                            <div class="multiSelectContainer">

                                <div style="overflow:hidden" class="multiSelectText">
                                    <input type="checkbox" name="SelectedContracts" value="all" id="chkSelectAllContracts"
                                           @if (Model.SelectedContracts != null && Model.SelectedContracts.Contains("all")) { <text> checked </text> } />
                                    <span class="multiSelectText">All</span>
                                </div>

                                @foreach (var contract in @Model.Contracts)
                                {
                                    <div style="overflow:hidden" class="multiSelectText">
                                        <input type="checkbox"
                                               name="SelectedContracts"
                                               value="@contract.ID" class="contract-input"
                                               data-contractname="@contract.ContractTitle"
                                               @if (contract != null && Model.SelectedContracts != null && Model.SelectedContracts.Contains(contract.ID.ToString())) { <text> checked </text> } />
                                        <span>@contract.ContractTitle</span><br />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="customerLookup clearfix">
                        <span id="customer-selection" class="multiSelectStatus"></span>

                        <button type="submit" class="fa fa-filter" value="@Model.WeekStart" name="startDate" style="float:right;"></button>
                        <button type="button" id="btnToggleCustomers" class="fa fa-arrow-down" style="float:right;"></button>

                        <div style="display:none;padding:5px" id="customerMultiSelect">
                            <div class="multiSelectContainer">
                                <div style="overflow:hidden" class="multiSelectText">
                                    <input type="checkbox" name="SelectedCustomers" id="chkSelectAllCustomers" value="all"
                                           @if (Model.SelectedCustomers != null && Model.SelectedCustomers.Contains("all")) { <text> checked </text> } />
                                    <span class="multiSelectText">All</span>
                                </div>
                                @foreach (var customer in @Model.Customers)
                                {
                                    <div style="overflow:hidden" class="multiSelectText">
                                        <input type="checkbox"
                                               name="SelectedCustomers"
                                               class="customer-input"
                                               value="@customer.CustomerID"
                                               data-customername="@customer.CustomerName"
                                               @if (customer != null && Model.SelectedCustomers != null && Model.SelectedCustomers.Contains(customer.CustomerID.ToString())) { <text> checked </text> } />
                                        <span class="multiSelectText">@customer.CustomerName</span><br />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="depotLookup">
                        <select id="Depots">
                            @foreach (var depot in Model.Depots)
                            {
                                <option value="@depot.Value" @(depot.Selected ? "selected" : "")>@depot.Text</option>
                            }
                        </select>
                        <button type="submit" class="fa fa-filter" value="@Model.WeekStart" name="startDate" style="float:right;"></button>
                    </div>
                </div>
            }

            <div id="operatives" class="panel">
                <h1>Employees</h1>
                <div class="resource-search">
                    <i class="icon-search"></i>
                    <input type="text" id="employee-search" placeholder="Search" />
                </div>
                <div class="checkbox-filter">
                    <input type="checkbox" id="qualified-staff">
                    <label for="qualified-staff" class="unselectable">Only qualified employees</label>
                </div>
                <div class="checkbox-filter">
                    <input type="checkbox" id="available-staff">
                    <label for="available-staff" class="unselectable">Only available employees</label>
                </div>
                <ul id="ulEmployees">
                    @foreach (var e in Model.Employees)
                    {
                        var qualifications = String.Join(",", e.CertificateTypeID.Select(a => "\"" + a + "\""));
                        var absences = String.Join(",", e.Absences.Select(a => "\"" + a.ToShortDateString() + "\""));
                        <li class="clearfix" data-id="@e.EmployeeID" data-name="@e.EmployeeName" data-isagency="@e.AgencyStaff" data-depoid="@e.DepotID" data-depo="@e.Depot.DepotName" data-vehicleid="@e.VehicleID" data-type="@e.EmployeeType.Name" draggable="true" ondragstart="drag(event)" data-qualifications='[@qualifications]' data-absences='[@absences]' style="display:none">@(e.EmployeeName)</li>
                    }
                </ul>
            </div>

            <div id="vehicles" class="panel">
                <h1>Vehicles</h1>
                <div class="resource-search">
                    <i class="icon-search"></i>
                    <input type="text" id="vehicle-search" placeholder="Search" />
                </div>
                <div class="checkbox-filter">
                    <input type="checkbox" id="available-vehicle">
                    <label for="available-vehicle" class="unselectable">Only available vehicles</label>
                </div>
                <ul id="ulVehicles">
                    @foreach (var v in Model.Vehicles)
                    {
                        var absences = String.Join(",", v.Absences.Select(a => "\"" + a.ToShortDateString() + "\""));
                        <li class="clearfix" data-id="@v.VehicleID" draggable="true" ondragstart="drag(event)" data-absences='[@absences]' style="display:none">@(v.Make + " " + v.Model + " (" + v.Registration + ")")</li>
                    }
                </ul>
            </div>
        </div> <!--menu-->

        <div id="schedInfo">

            <div class="clearfix summary-days">

                @foreach (var total in Model.DayTotals)
                {
                    var active = "";
                    if (total.Day.Date == Model.Day)
                    {
                        active = "active";
                    }

                    <a class="@active" href="/Operation/Schedule/ViewInlineScheduler?day=@total.Day.Year-@total.Day.Month-@total.Day.Day">
                        <div class="i">
                            <span class="c">@total.ScheduleCount</span>
                            <span class="d">@total.Day.ToString("dddd")</span>
                        </div>
                    </a>
                }
            </div>
            <div class="le clearfix">
                <div class="ledg-col">
                    <div class="i ledg">
                        <span class="c NoShift" data-status="NoShift">No Shift</span>
                    </div>

                    <div class="i ledg">
                        <span class="c NotStarted" data-status="NotStarted">Not Started</span>
                    </div>

                    <div class="i ledg">
                        <span class="c ChecksCompleted" data-status="ChecksCompleted">Checks Completed</span>
                    </div>
                </div>

                <div class="ledg-col">
                    <div class="i ledg">
                        <span class="c TasksStarted" data-status="TasksStarted">Tasks Started</span>
                    </div>

                    <div class="i ledg">
                        <span class="c Completed" data-status="Completed">Completed</span>
                    </div>

                    <div class="i ledg">
                        <span class="c Cancelled" data-status="Cancelled">Cancelled</span>
                    </div>
                </div>
                <div class="ledg-col">
                    <div class="i ledg">
                        <span class="n Day" data-shifttype="Day">
                            <img src="~/Images/sun.png" class="shiftsize" />
                        </span>
                    </div>

                    <div class="i ledg">
                        <span class="n Night" data-shifttype="Night">
                            <img src="~/Images/moon.png" class="shiftsize" />
                        </span>
                    </div>
                </div>
            </div>
            <div>
                <div class="i ledg">
                    <span class="n expand">Show All</span>
                </div>
            </div>
        </div>
    </div>

    <div id="scheduler">
        @Html.Partial("InlineScheduleDay", new global::FMConway.MVCApp.Areas.Operation.ViewModels.Schedule.ScheduleDayVM { Date = Model.Day.Value, Schedules = Model.Schedules.OrderByDescending(o => !o.IsNightShift).ThenBy(s => s.TopVehicleRegistration).ToList() })
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    @Scripts.Render("~/Content/SchedulerInline_js")
    @Scripts.Render("~/bundles/jqueryui")

    <script>
        $(function () {

            $("#WeekStart").datepicker({
                dateFormat: 'D dd/mm/yy',
                beforeShowDay: function (date) {
                    var day = date.getDay();
                    return [(day == 1), ''];
                },
                onSelect: function (date, datepicker) {
                    console.log(datepicker)
                    var dateFormatted = datepicker.selectedYear + "-" + (datepicker.selectedMonth + 1) + "-" + datepicker.selectedDay;
                    console.log(dateFormatted)
                    var url = "/Operation/Schedule/ViewInlineScheduler?day=" + dateFormatted
                    window.location.replace(url);
                },

            })

            contractSelected();
            customerSelected();
        });

        $("#btnToggleContracts").click(function () {
            $("#contractMultiSelect").toggle();
        });

        function contractSelected() {
            var selectedCount = $('.contract-input:checkbox:checked').length;
            $("#chkSelectAllContracts").prop("checked", false);
            if (selectedCount == 1) {
                var checkbox = $('.contract-input:checkbox:checked')[0]
                $("#contract-selection").text(($(checkbox).attr("data-contractname")))
            }
            else if (selectedCount > 1) {
                $("#contract-selection").text("Multiple Contracts")
            }
            else {
                $("#contract-selection").text("Select Contract(s)")
            }
        }
        $(".contract-input").click(function () {
            contractSelected();
        });

        $("#btnToggleCustomers").click(function () {
            $("#customerMultiSelect").toggle();
        });

        function customerSelected() {
            var selectedCount = $('.customer-input:checkbox:checked').length;
            $("#chkSelectAllCustomers").prop("checked", false);
            if (selectedCount == 1) {
                var checkbox = $('.customer-input:checkbox:checked')[0]

                $("#customer-selection").text(($(checkbox).attr("data-customername")))
            }
            else if (selectedCount > 1) {
                $("#customer-selection").text("Multiple Customers")
            }
            else {
                $("#customer-selection").text("Select Customer(s)")
            }
        }
        $(".customer-input").click(function () {
            customerSelected();
        });

        $("#chkSelectAllContracts").click(function () {
            var isChecked = $(this).is(":checked");
            $(".contract-input").prop("checked", isChecked);
        });


        $("#chkSelectAllCustomers").click(function () {
            var isChecked = $(this).is(":checked");
            $(".customer-input").prop("checked", isChecked);
        });

    </script>

</body>
</html>