﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Accidents.AccidentViewModel

@{
    ViewBag.Title = "Accident Details";
}
@section contentHeader
{
    <h1>Accident Details</h1>
}
<div class="accident">
    
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @if(Model.WorkInstructionID != null)
            {
                @Html.ActionLink("Cancel", "Details", "WorkInstructionDetails", new { id = Model.WorkInstructionID }, new { @class = "btn" })
            }
            else if (Model.JobID != null)
            {
                @Html.ActionLink("Cancel", "Update", "Job", new { id = Model.JobID }, new { @class = "btn" })
            }
            
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Accident Details</legend>
                    <div id="accident">
                        @Html.HiddenFor(m => m.AccidentID)
                        @Bootstrap.TextBoxFor(m => m.AccidentDate, new { @readonly = "readonly"})
                        @Bootstrap.TextAreaFor(m => m.AccidentDescription, new { @readonly = "readonly"})
                        @Bootstrap.TextBoxFor(m => m.Location, new { @readonly = "readonly"})
                        @Bootstrap.TextBoxFor(m => m.PeopleInvolved, new { @readonly = "readonly"})
                        @Bootstrap.TextBoxFor(m => m.PersonsReporting, new { @readonly = "readonly"})
                        @Bootstrap.TextBoxFor(m => m.Registrations, new { @readonly = "readonly"})
                        @Bootstrap.TextBoxFor(m => m.Witnesses, new { @readonly = "readonly"})
                        @Bootstrap.TextBoxFor(m => m.ActionTaken, new { @readonly = "readonly" })
                    </div>
                    
                </fieldset>
            </div>

            <div class="span6 control-collection">
                <fieldset>
                    <legend>Accident Photos</legend>
                    <div id="accidentPhotos">
                        
                    </div>
                    
                </fieldset>
            </div>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">

        var photos = null;

        $(function () {

            photos = new triangle.ui.table('#accidentPhotos', '/Contract/Accidents/GetAccidentPhotos', 5, { accidentID: $("#AccidentID").val() });
            photos.searchBarExpandedSize = 300;
        });
    </script>
    
}