﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Accidents.AccidentViewModel

@{
    ViewBag.Title = "Accidents Without Shifts";
}

@section contentHeader
{
    <h1>Accidents Without Shifts</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var accidents = null;

        $(function () {
            accidents = new triangle.ui.table('#current', '/Contract/Accidents/AccidentsWithoutShifts', 50);
        });

    </script>

}