﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Customers.CustomerViewModel

@{
    ViewBag.Title = "Inactive Customers";
}

@section contentHeader
{
    <h1>Inactive Customers</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var inactiveCustomers = null;

        $(function () {
            inactiveCustomers = new triangle.ui.table('#current', '/Contract/Customer/InactiveCustomers', 50);
        });

    </script>

}