﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Customers.CustomerViewModel

@{
    ViewBag.Title = "New Customer";
}

@section contentHeader
{
    <h1>New Customer</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Bootstrap.TextBoxFor(m => m.Customer.CustomerName, new { label = "Customer Name" })
                    @Bootstrap.TextBoxFor(m => m.Customer.AccountNumber, new { label = "Account Number" })
                    @Bootstrap.TextBoxFor(m => m.Customer.AddressLine1, new { label = "Address Line 1" })
                    @Bootstrap.TextBoxFor(m => m.Customer.AddressLine2, new { label = "Address Line 2" })
                    @Bootstrap.TextBoxFor(m => m.Customer.AddressLine3, new { label = "Address Line 3" })
                    @Bootstrap.TextBoxFor(m => m.Customer.City, new { label = "City" })
                    @Bootstrap.TextBoxFor(m => m.Customer.County, new { label = "County" })
                    @Bootstrap.TextBoxFor(m => m.Customer.Postcode, new { label = "Postcode" })
                    @Bootstrap.TextAreaFor(m => m.Customer.Comments, new { label = "Comments" })
                    @Bootstrap.TextBoxFor(m => m.Customer.PhoneNumber, new { label = "Phone Number" })
                    @Bootstrap.TextBoxFor(m => m.Customer.FaxNumber, new { label = "Fax Number" })
                    @Bootstrap.TextBoxFor(m => m.Customer.EmailAddress, new { label = "Email Address" })
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Contacts</legend>
                    <div class="actions">
                        <a href="#" title="Please save customer first." class="btn button-disabled">Add Contact</a>
                    </div>
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        
    </script>
}