﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Customers.CustomerViewModel

@{
    ViewBag.Title = "Customer Summary";
}

@section contentHeader
{
    <h1>Customer Summary</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            <input type="submit" class="btn " value="Cancel" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Customer.CustomerID)

                    @Bootstrap.TextBoxFor(m => m.Customer.CustomerName, new { disabled = "disabled", label = "Customer Name" })
                    @Bootstrap.TextBoxFor(m => m.Customer.AccountNumber, new { disabled = "disabled", label = "Account Number" })
                    @Bootstrap.TextBoxFor(m => m.Customer.AddressLine1, new { disabled = "disabled", label = "Address Line 1" })
                    @Bootstrap.TextBoxFor(m => m.Customer.AddressLine2, new { disabled = "disabled", label = "Address Line 2" })
                    @Bootstrap.TextBoxFor(m => m.Customer.AddressLine3, new { disabled = "disabled", label = "Address Line 3" })
                    @Bootstrap.TextBoxFor(m => m.Customer.City, new { disabled = "disabled", label = "City" })
                    @Bootstrap.TextBoxFor(m => m.Customer.County, new { disabled = "disabled", label = "County" })
                    @Bootstrap.TextBoxFor(m => m.Customer.Postcode, new { disabled = "disabled", label = "Postcode" })
                    @Bootstrap.TextAreaFor(m => m.Customer.Comments, new { disabled = "disabled", label = "Comments" })
                    @Bootstrap.TextBoxFor(m => m.Customer.PhoneNumber, new { disabled = "disabled", label = "Phone Number" })
                    @Bootstrap.TextBoxFor(m => m.Customer.FaxNumber, new { disabled = "disabled", label = "Fax Number" })
                    @Bootstrap.TextBoxFor(m => m.Customer.EmailAddress, new { disabled = "disabled", label = "Email Address" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        
    </script>
}