﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Customers.CustomerViewModel

@{
    ViewBag.Title = "Update Customer";
}

@section contentHeader
{
    <h1>Update Customer</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Customer.CustomerID)

                    @Bootstrap.TextBoxFor(m => m.Customer.CustomerName, new { label = "Customer Name" })
                    @Bootstrap.TextBoxFor(m => m.Customer.AccountNumber, new { label = "Account Number" })
                    @Bootstrap.TextBoxFor(m => m.Customer.CustomerCode, new { label = "Customer Code" })
                    @Bootstrap.TextBoxFor(m => m.Customer.AddressLine1, new { label = "Address Line 1" })
                    @Bootstrap.TextBoxFor(m => m.Customer.AddressLine2, new { label = "Address Line 2" })
                    @Bootstrap.TextBoxFor(m => m.Customer.AddressLine3, new { label = "Address Line 3" })
                    @Bootstrap.TextBoxFor(m => m.Customer.City, new { label = "City" })
                    @Bootstrap.TextBoxFor(m => m.Customer.County, new { label = "County" })
                    @Bootstrap.TextBoxFor(m => m.Customer.Postcode, new { label = "Postcode" })
                    @Bootstrap.TextAreaFor(m => m.Customer.Comments, new { label = "Comments" })
                    @Bootstrap.TextBoxFor(m => m.Customer.PhoneNumber, new { label = "Phone Number" })
                    @Bootstrap.TextBoxFor(m => m.Customer.FaxNumber, new { label = "Fax Number" })
                    @Bootstrap.TextBoxFor(m => m.Customer.EmailAddress, new { label = "Email Address" })
                    @Bootstrap.CheckBoxFor(m => m.Customer.IsActive, new { label = "Active" })
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Contacts</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeContacts">
                    </div>
                    <div class="actions">
                        @Html.ActionLink("Add Contact", "New", "Contact", new { id = Model.Customer.CustomerID }, new { @class = "btn" })
                    </div>
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        var activeContacts = null;

        $(function () {
            activeContacts = new triangle.ui.table('#activeContacts', '/Contract/Contact/ActiveContacts', 5, { customerId: $("#Customer_CustomerID").val() });
            activeContacts.searchBarExpandedSize = 300;
        });
    </script>
}