﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Tasks.ActivtyRiskAssessmentVM
@{
    ViewBag.Title = "Activity Risk Assessment";
}

@section contentHeader
{
    <h1>@ViewBag.Title</h1>
}

<style>
    #Notes {
        min-height: 163px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<div class="cl">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data", @class = "validation-ignore-hidden form-horizontal" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Back", "ViewTask", "Task", new { id = Model.TaskID }, new { @class = "btn" })
            @*<button type="submit" class="btn btn-primary">Save</button>*@
        </div>

        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>

                    @Html.HiddenFor(a => a.ActivityRiskAssessmentID)
                    @Html.HiddenFor(a => a.TaskID)
                    @Html.HiddenFor(a => a.CleansingLogID)
                    @Html.HiddenFor(a => a.RoadSpeedID)
                    @Html.HiddenFor(a => a.TMRequirementID)

                    @Bootstrap.TextBoxFor(a => a.RoadName, new { @readonly = "readonly" })
                    @Bootstrap.TextBoxFor(a => a.RoadSpeed, new { @readonly = "readonly" })
                    @Bootstrap.TextBoxFor(a => a.TMRequirement, new { @readonly = "readonly" })
                    @Bootstrap.CheckBoxFor(a => a.Schools, new { @disabled = "disabled" })
                    @Bootstrap.CheckBoxFor(a => a.PedestrianCrossings, new { @disabled = "disabled" })
                    @Bootstrap.CheckBoxFor(a => a.TreeCanopies, new { @disabled = "disabled" })
                    @Bootstrap.CheckBoxFor(a => a.WaterCourses, new { @disabled = "disabled" })
                    @Bootstrap.CheckBoxFor(a => a.OverheadCables, new { @disabled = "disabled" })
                    @Bootstrap.CheckBoxFor(a => a.AdverseWeather, new { @disabled = "disabled" })
                    @Bootstrap.TextAreaFor(a => a.Notes, new { @readonly = "readonly" })
                    @Bootstrap.TextBoxFor(a => a.CreatedDate, new { @readonly = "readonly" })
                </fieldset>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script type="text/javascript">
    </script>
}