﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Tasks.CleansingLogViewModel

@{
    ViewBag.Title = "Cleansing Log Details";
}

@section contentHeader
{
    <h1>@ViewBag.Title</h1>
}

<style>
    #Comments {
        min-height: 163px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<div class="cl">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data", @class = "validation-ignore-hidden form-horizontal" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Back", "ViewTask", "Task", new { id = Model.TaskID }, new { @class = "btn" })
            <button type="submit" class="btn btn-primary">Save</button>
        </div>

        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>

                    @Html.HiddenFor(a => a.CleansingLogID)
                    @Html.HiddenFor(a => a.TaskID)
                    @Html.HiddenFor(a => a.WorkInstructionID)

                    @Bootstrap.TextBoxFor(a => a.Road)
                    @Bootstrap.TextBoxFor(a => a.Section)
                    @Bootstrap.LookupFor(a => a.LaneID, a => a.LaneLookup, "Lane")
                    @Bootstrap.LookupFor(a => a.DirectionID, a => a.DirectionLookup, "Direction")
                    @Bootstrap.TextBoxFor(a => a.StartMarker)
                    @Bootstrap.TextBoxFor(a => a.EndMarker)
                    @Bootstrap.TextBoxFor(a => a.GulliesCleaned, new { format = "0.#", data_type = "decimals" })
                    @Bootstrap.TextBoxFor(a => a.GulliesMissed, new { format = "0.#", data_type = "decimals" })
                    @Bootstrap.TextBoxFor(a => a.CatchpitsCleaned, new { format = "0.#", data_type = "decimals" })
                    @Bootstrap.TextBoxFor(a => a.CatchpitsMissed, new { format = "0.#", data_type = "decimals" })
                    @Bootstrap.TextBoxFor(a => a.Channels, new { format = "0.#", data_type = "decimals" })
                    @Bootstrap.TextBoxFor(a => a.SlotDrains, new { format = "0.#", data_type = "decimals" })
                    @Bootstrap.TextBoxFor(a => a.Defects, new { format = "0.#", data_type = "decimals" })
                    @Bootstrap.TextAreaFor(a => a.Comments)
                    @Bootstrap.TextBoxFor(a => a.CreatedDate, new { @readonly = "readonly" })
                </fieldset>
                <div id="taskPhotoDialog" title="Task Photo Upload" style="display:none;padding:10px">
                    <div id="photoForm">
                        @Bootstrap.TextBoxFor(m => m.CleansingLogPhoto.Longitude, new { data_type = "decimals" })
                        @Bootstrap.TextBoxFor(m => m.CleansingLogPhoto.Latitude, new { data_type = "decimals" })
                        @Bootstrap.TextAreaFor(m => m.CleansingLogPhoto.Comments)
                        <label>Task Photo</label><input type="file" id="filCleansingLogPhoto" />
                        <button id="btnUploadCleansingTaskPhoto" onclick="return false" style="float:right">Upload</button>
                    </div>
                    <div id="photoLoader" style="display:none">
                        <img src="~/Content/images/loader.svg" class="center" />
                    </div>
                </div>
            </div>


            <div class="span10 control-collection">
                <fieldset>
                    <legend>Photos</legend>
                    <a href="#" id="lnkOpenCleansingTaskPhotoDialog" style="float:right">Add Photo</a>
                    <div id="photos"></div>
                </fieldset>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script type="text/javascript">
        var photos = new triangle.ui.table('#photos', '/Contract/Task/GetCleansingLogPhotos', 20, { cleansingLogID: $("#CleansingLogID").val() });
        lanesLookup = new triangle.ui.lookup("#LaneID" /*ID*/, "/Contract/Task/GetLanesLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        lanesLookup = new triangle.ui.lookup("#DirectionID" /*ID*/, "/Contract/Task/GetDirectionsLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);

        var bootstrapButton = $.fn.button.noConflict()
        $("#lnkOpenCleansingTaskPhotoDialog").click(function () {
            $("#taskPhotoDialog").dialog({
                width: 500
            });;
        });

        $("#btnUploadCleansingTaskPhoto").click(function () {
            $("#photoForm").hide();
            $("#photoLoader").show();
            const formData = new FormData(document.forms.item(0));

            formData.append("file", $("#filCleansingLogPhoto")[0].files[0]);
            formData.append("CleansingLogPhoto.Latitude", $("#CleansingLogPhoto-Latitude").val());
            formData.append("CleansingLogPhoto.Longitude", $("#CleansingLogPhoto-Longitude").val());
            formData.append("CleansingLogPhoto.Comments", $("#CleansingLogPhoto-Comments").val());
            $.ajax({
                url: '/Contract/Task/UploadCleansingLogPhoto',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: (result) => {
                    $('#taskPhotoDialog').dialog('close')
                    $("#photos").html("");
                    var photos = new triangle.ui.table('#photos', '/Contract/Task/GetCleansingLogPhotos', 20, { cleansingLogID: $("#CleansingLogID").val() });
                    console.log($("#TaskID").val())
                    console.log(photos);
                    photos.searchBarExpandedSize = 300;
                    $("#photoForm").show();
                    $("#photoLoader").hide();
                }
            });
        });



    </script>
}