﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Tasks.UnloadingProcessViewModel

@{
    ViewBag.Title = "Unloading Process Details";
}

@section contentHeader
{
    <h1>@ViewBag.Title</h1>
}

<style>
    #Comments {
        min-height: 163px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<div class="cl">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data", @class = "validation-ignore-hidden form-horizontal" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Back", "ViewTask", "Task", new { id = Model.TaskID }, new { @class = "btn" })
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
        
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset class="input-resize">
                    <legend>Details</legend>
                    @Html.HiddenFor(a => a.UnloadingProcessID)
                    @Html.HiddenFor(a => a.TaskID)
                    @Html.HiddenFor(a => a.WorkInstructionID)

                    @Bootstrap.TextBoxFor(a => a.DepartToDisposalSiteDate).SetLabelSize(200)
                    @Bootstrap.TextBoxFor(a => a.ArriveAtDisposalSiteDate).SetLabelSize(200)
                    @Bootstrap.TextBoxFor(a => a.DisposalSiteLookup, new { @readonly = "readonly" }).SetLabelSize(200)
                    @Bootstrap.TextBoxFor(a => a.WasteTicketNumber).SetLabelSize(200)
                    @Bootstrap.TextBoxFor(a => a.VolumeOfWasteDisposed, new { format = "0.##", data_type = "decimals" }).SetLabelSize(200)
                    @Bootstrap.TextAreaFor(a => a.Comments).SetLabelSize(200)
                    @Bootstrap.TextBoxFor(a => a.LeaveDisposalSiteDate).SetLabelSize(200)
                </fieldset>

                <div id="taskPhotoDialog" title="Task Photo Upload" style="display:none;padding:10px">
                    <div id="photoForm">
                        @Bootstrap.TextBoxFor(m => m.UnloadingProcessPhoto.Longitude, new { data_type = "decimals" })
                        @Bootstrap.TextBoxFor(m => m.UnloadingProcessPhoto.Latitude, new { data_type = "decimals" })
                        @Bootstrap.TextAreaFor(m => m.UnloadingProcessPhoto.Comments)
                        <label>Task Photo</label><input type="file" id="filUnloadingPhoto" />
                        <button id="btnUploadUnloadingProcessPhoto" onclick="return false" style="float:right">Upload</button>
                    </div>
                    <div id="photoLoader" style="display:none">
                        <img src="~/Content/images/loader.svg" class="center" />
                    </div>
                </div>

            </div>

            <div class="span10 control-collection">
                <fieldset>
                    <legend>Photos</legend>
                    <a href="#" id="lnkOpenUnloadingProcessDialog" style="float:right">Add Photo</a>
                    <div id="photos"></div>
                </fieldset>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script type="text/javascript">
        var bootstrapButton = $.fn.button.noConflict()

        $('#DepartToDisposalSiteDate').datetimepicker({
            format: 'd/m/Y H:i',
            step: 15
        });
        $('#ArriveAtDisposalSiteDate').datetimepicker({
            format: 'd/m/Y H:i',
            step: 15
        });
        $('#LeaveDisposalSiteDate').datetimepicker({
            format: 'd/m/Y H:i',
            step: 15
        });

        var photos = new triangle.ui.table('#photos', '/Contract/Task/GetUnloadingProcessPhotos', 20, { unloadingProcessID: $("#UnloadingProcessID").val() });

        $("#lnkOpenUnloadingProcessDialog").click(function () {
            $("#taskPhotoDialog").dialog({
                width: 500
            });;
        });

        $("#btnUploadUnloadingProcessPhoto").click(function () {
            $("#photoForm").hide();
            $("#photoLoader").show();
            const formData = new FormData(document.forms.item(0));
          

            formData.append("file", $("#filUnloadingPhoto")[0].files[0]);
            formData.append("UnloadingProcessPhoto.Latitude", $("#UnloadingProcessPhoto-Latitude").val());
            formData.append("UnloadingProcessPhoto.Longitude", $("#UnloadingProcessPhoto-Longitude").val());
            formData.append("UnloadingProcessPhoto.Comments", $("#UnloadingProcessPhoto-Comments").val());
            $.ajax({
                url: '/Contract/Task/UploadUploadingProcessPhoto',
                type: 'POST',
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: (result) => {
                    $('#taskPhotoDialog').dialog('close')
                    $("#photos").html("");
                    var photos = new triangle.ui.table('#photos', '/Contract/Task/GetUnloadingProcessPhotos', 20, { unloadingProcessID: $("#UnloadingProcessID").val() });
                    console.log($("#TaskID").val())
                    console.log(photos);
                    photos.searchBarExpandedSize = 300;
                    $("#photoForm").show();
                    $("#photoLoader").hide();
                }
            });
        });


    </script>
}