﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Tasks.TaskViewModel

@{
    ViewBag.Title = "Task Item Details";
}

@section contentHeader
{
    <h1>@Model.Name Task Item for Work Instruction No. @Model.WINumber</h1>
}

<style>
    .workinstruction table tbody tr[data-selectable] {
        cursor: pointer;
    }

        .workinstruction table tbody tr[data-selectable].active,
        .workinstruction table tbody tr[data-selectable].active:hover {
            background-color: #dee5ff;
        }

        .workinstruction table tbody tr[data-selectable]:hover {
            background-color: #f5f5f5;
        }
        #checklistAnswers{background-color:white;color:black}
        .rdoChecklistAnswer {margin:10px}

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

<div class="workinstruction">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data", @class = "validation-ignore-hidden form-horizontal" }))
    {
        <div class="primary-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/Contract/WorkInstructionDetails/Details/@Model.WorkInstructionID" class="btn">Cancel</a>

        </div>

        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.WorkInstructionID)
                    @Html.HiddenFor(m => m.TaskID)
                    @Bootstrap.TextBoxFor(m => m.Name, new { @readonly = "readonly" })
                    @Bootstrap.TextBoxFor(m => m.TaskType, new { label = "Task Item Type", @readonly = "readonly" })
                    @Bootstrap.TextBoxFor(m => m.StartTime, new { @label = "Shift Start Time" })
                    @Bootstrap.TextBoxFor(m => m.EndTime, new { @label = "Shift End Time" })
                    @Bootstrap.TextBoxFor(m => m.Latitude, new { data_type = "decimals" })
                    @Bootstrap.TextBoxFor(m => m.Longitude, new { data_type = "decimals" })
                    @if (Model.Latitude != 0 && Model.Longitude != 0)
                    {
                        <div class="control-group time">
                            <div class="controls">
                                <a href="https://www.google.co.uk/maps/place/@Model.Latitude,@Model.Longitude" target="_blank">View GPS Location</a>
                            </div>
                        </div>
                    }

                    @if (Model.Notes != null)
                    {
                        @Bootstrap.TextAreaFor(m => m.Notes)
                    }

                    @if (Model.IsWeather)
                    {
                        @Bootstrap.TextBoxFor(m => m.Weather, new { @readonly = "readonly" })
                    }

                    <div id="taskPhotoDialog" title="Task Photo Upload" style="display:none;padding:10px">
                        <div id="taskPhotoForm">
                            @Bootstrap.TextBoxFor(m => m.TaskPhotoLongitude, new { data_type = "decimals" })
                            @Bootstrap.TextBoxFor(m => m.TaskPhotoLatitude, new { data_type = "decimals" })
                            <label>Task Photo</label><input type="file" id="TaskPhoto" />
                            <button id="btnUploadTaskPhoto" onclick="return false" style="float:right">Upload</button>
                        </div>
                        <div id="taskPhotoLoader" style="display:none">
                            <img src="~/Content/images/loader.svg" class="center" />
                        </div>
                    </div>



                    <div id="taskChecklistAnswerPhotoDialog" title="Task Checklist Photo Upload" style="display:none;padding:10px">
                        <div id="taskChecklistAnswerPhotoForm">
                            @Bootstrap.TextBoxFor(m => m.TaskChecklistAnswerPhoto.Longitude, new { data_type = "decimals" })
                            @Bootstrap.TextBoxFor(m => m.TaskChecklistAnswerPhoto.Latitude, new { data_type = "decimals" })
                            <div style="display:none">
                                @Bootstrap.TextBoxFor(m => m.TaskChecklistAnswerPhoto.TaskChecklistAnswerID)
                            </div>
                            <label>Task Checklist Photo</label><input type="file" id="filPhotoLoaderTaskAnswer" />
                            <button id="btnUploadTaskChecklistPhoto" onclick="return false" style="float:right">Upload</button>
                        </div>
                        <div id="photoLoaderTaskAnswer" style="display:none">
                            <img src="~/Content/images/loader.svg" class="center" />
                        </div>

                    </div>


                    <div id="riskAssessmentDialog" title="Risk Assessment Checklist" style="display: none; margin: 10px;">
                        <div id="checklistAnswers"></div>
                        <div id="checklistQuestion" style="display:none;padding:10px">
                            <label>Answer</label>
                            <label>
                                No @Html.RadioButtonFor(m => m.CheckListAnswer.ChecklistAnswer, 0, new { style = "margin:10px" })
                            </label>
                            <label>
                                Yes @Html.RadioButtonFor(m => m.CheckListAnswer.ChecklistAnswer, 1, new { style = "margin:10px" })
                            </label>
                            <label>
                                NA @Html.RadioButtonFor(m => m.CheckListAnswer.ChecklistAnswer, 2, new { style = "margin:10px" })
                                @Bootstrap.TextBoxFor(m => m.CheckListAnswer.Reason)
                            </label>
                            <div style="display:none">
                                @Html.TextBoxFor(m => m.CheckListAnswer.ChecklistAnswerID)
                            </div>
                            <div style="height:25px">
                                <button id="btnCancelUpdateCheckList" style="float:right;margin-left:10px">Cancel</button>
                                <button id="btnUpdateCheckList" style="float:right">Update</button>

                            </div>

                        </div>
                    </div>
                </fieldset>
            </div>



            @if (Model.AreaCall != null)
            {
                <div class="span6 control-collection">
                    <fieldset>
                        <legend>Area Call</legend>
                        @Bootstrap.TextBoxFor(m => m.AreaCall.NCCNumber, new { @readonly = "readonly" })
                        @Bootstrap.TextBoxFor(m => m.AreaCall.RCCNumber, new { @readonly = "readonly" })
                        @Bootstrap.TextAreaFor(m => m.AreaCall.CallProtocol, new { @readonly = "readonly" })
                        @Bootstrap.TextBoxFor(m => m.AreaCall.Reference, new { @readonly = "readonly" })
                        @Bootstrap.TextBoxFor(m => m.AreaCall.PersonsName, new { @readonly = "readonly" })
                        @if (Model.AreaCall.ExtraDetails != null)
                        {
                            @Bootstrap.TextAreaFor(m => m.AreaCall.ExtraDetails, new { @readonly = "readonly" })
                        }
                    </fieldset>
                </div>
            }

            @if (Model.ActivityDetails != null)
            {
                <div class="span6 control-collection">
                    <fieldset>
                        <legend>Activity Details</legend>
                        @Bootstrap.TextBoxFor(m => m.ActivityDetails.SiteName)
                        @Bootstrap.TextBoxFor(m => m.ActivityDetails.ClientReferenceNumber)
                        @Bootstrap.LookupFor(a => a.ActivityDetails.ActivityPriorityID, a => a.ActivityDetails.ActivityPriorityLookup, "Activity Priority")
                        @Bootstrap.TextBoxFor(m => m.ActivityDetails.Operator)
                        <div style="display:none">
                            @Bootstrap.TextBoxFor(m => m.ActivityDetails.ActivityPriorityID)
                            @Bootstrap.TextBoxFor(m => m.ActivityDetails.WorkInstructionID)
                        </div>
                    </fieldset>
                </div>
            }

            @if (Model.HasActivityRiskAssessments)
            {
                <div class="span6 control-collection">
                    <fieldset>
                        <legend>Activity Roads</legend>
                        <div id="activity-risk-assessment"></div>
                    </fieldset>
                </div>
            }

            @if (Model.CleansingLog)
            {
                <div class="span6 control-collection">
                    <fieldset>
                        <legend>Cleansing Logs</legend>
                        <div id="cleansing-logs"></div>
                    </fieldset>
                </div>
            }

            @if (Model.UnloadingProcess)
            {
                <div class="span6 control-collection">
                    <fieldset>
                        <legend>Unloading Processes</legend>
                        <div id="unloading-processes"></div>
                    </fieldset>
                </div>
            }

            @if (Model.Checklist)
            {
                <div class="@(Model.IsRiskAssessment ? "span10" : "span6") control-collection">

                    <fieldset>
                        <a href="#" id="lnkOpenRiskAssessmentDialog" style="float:right">Edit CheckList</a>
                        <legend>Checklist Answers</legend>

                        <div id="checklist"></div>
                    </fieldset>
                </div>

                <div class="span6 control-collection" id="checklist-answer-photos-container" style="display: none">
                    <fieldset>
                        <legend>Photos</legend><a href="#" id="lnkOpenTaskChecklistAnswerPhotoDialog" style="float:right">Edit CheckList Photos</a>
                        <div id="checklist-answer-photos"></div>
                    </fieldset>
                </div>
            }

            @if (Model.Signatures)
            {
                <div class="span6 control-collection">
                    <fieldset>
                        <legend>Signatures</legend>
                        <div id="signatures"></div>
                    </fieldset>
                </div>
            }

            @if (Model.PhotosRequired)
            {
                <div class="span6 control-collection">
                    <fieldset>
                        <a href="#" id="lnkOpenTaskPhotoDialog" style="float:right">Add Photo</a>
                        <legend>Task Photos</legend>

                        <div id="photos"></div>
                    </fieldset>
                </div>
            }

            @if (Model.Equipment)
            {
                <div class="span10 control-collection">
                    <fieldset>
                        <legend>Task Equipment</legend>
                        <div id="equipment"></div>
                    </fieldset>
                </div>

                <div class="span6 control-collection" id="assets-installed-container" style="display: none">
                    <fieldset>
                        <legend>Assets Installed</legend>
                        <span class="fa"></span>
                        <table id="installedTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="no." style="width: 105px;">No.</th>
                                    <th class="asset-number">Asset Number</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <div id="assets-installed"></div>
                        <div id="add-installed-asset" class="actions">
                            <a class="btn button">Add</a>
                        </div>
                    </fieldset>
                </div>

                <div class="span6 control-collection" id="assets-collected-container" style="display: none">
                    <fieldset>
                        <legend>Assets Collected</legend>
                        <table id="collectedTable" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="no." style="width: 105px;">No.</th>
                                    <th class="asset-number">Asset Number</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div id="assets-collected"></div>
                    </fieldset>
                </div>
            }

        </div>

    }
</div>

@section scripts{
    <script type="text/javascript">

        var installation = true;



        $(document).ready(function () {
            var bootstrapButton = $.fn.button.noConflict()
            populateRiskAssessment(); 
            WireUpCheckList();
            lanesLookup = new triangle.ui.lookup("#ActivityDetails-ActivityPriorityID" /*ID*/, "/Contract/Task/GetActivityPrioritiesLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            if ($('#TaskType').val() != 'Equipment Install') {
                $('#add-installed-asset').hide();
                installation = false;
            }

            $("#btnUploadTaskPhoto").click(function () {
                if ($("#TaskPhoto")[0].files[0] == null) {
                    alert("Please select a photo");
                    return;
                }

                $("#taskPhotoForm").hide();
                $("#taskPhotoLoader").show();
                
                const formData = new FormData(document.forms.item(0));
                formData.append("file", $("#TaskPhoto")[0].files[0]);
                formData.append("TaskPhotoLatitude", $("#TaskPhotoLatitude").val());
                formData.append("TaskPhotoLongitude", $("#TaskPhotoLongitude").val());
                $.ajax({
                    url: '/Contract/Task/UploadTaskPhoto',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: (result) => {
                        $('#taskPhotoDialog').dialog('close')
                        $("#photos").html("");
                        var photos = new triangle.ui.table('#photos', '/Contract/Task/GetTaskPhotos', 20, { taskID: $("#TaskID").val() });
                        console.log($("#TaskID").val())
                        console.log(photos);
                        photos.searchBarExpandedSize = 300;
                        $("#taskPhotoForm").show(); 
                        $("#taskPhotoLoader").hide();
                        $("#TaskPhotoLatitude").val("0");
                        $("#TaskPhotoLongitude").val("0");
                        $("#TaskPhoto").val("")
                    }
                });
            });

            $("#btnUpdateCheckList").click(function () {
              

                const formData = new FormData(document.forms.item(0));
                formData.append("CheckListAnswer.ChecklistAnswerID", $("#CheckListAnswer_ChecklistAnswerID").val());
                formData.append("CheckListAnswer.Reason", $("#CheckListAnswer-Reason").val());
                formData.append("CheckListAnswer.ChecklistAnswer", $("input[name='CheckListAnswer.ChecklistAnswer']:checked").val());

                $.ajax({
                    url: '/Contract/Task/UpdateCheckListAnswer',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: (result) => {
                        populateRiskAssessment() 
                        //$('#checklist').html('');
                        //var checklist = new triangle.ui.table('#checklist', '/Contract/Task/GetTaskChecklistAnswers', 20, { taskID: $("#TaskID").val() });
                        //checklist.searchBarExpandedSize = 300;
                        //checklist.LoadedEvent = function () {
                        //    WireUpCheckList();
                        //};
                    }
                });
            });

            $("#btnUploadTaskChecklistPhoto").click(function () {
                if ($("#filPhotoLoaderTaskAnswer")[0].files[0] == null) {
                    alert("Please select a photo");
                    return;
                }
                $("#taskChecklistAnswerPhotoForm").hide();
                $("#photoLoaderTaskAnswer").show();

                const formData = new FormData(document.forms.item(0));
             
                formData.append("file", $("#filPhotoLoaderTaskAnswer")[0].files[0]);
                formData.append("TaskChecklistAnswerPhoto.Longitude", $("#TaskChecklistAnswerPhoto-Longitude").val());
                formData.append("TaskChecklistAnswerPhoto.Latitude", $("#TaskChecklistAnswerPhoto-Latitude").val());
                formData.append("TaskChecklistAnswerPhoto.TaskChecklistAnswerID", $("#TaskChecklistAnswerPhoto-TaskChecklistAnswerID").val());
                $.ajax({
                    url: '/Contract/Task/UploadTaskChecklistPhoto',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: (result) => {
                        $('#taskChecklistAnswerPhotoDialog').dialog('close')
                        $("#checklist-answer-photos").html("");

                        var photos = new triangle.ui.table('#checklist-answer-photos', '/Contract/Task/GetTaskChecklistAnswerPhotos', 20, { taskChecklistAnswerID: $("#TaskChecklistAnswerPhoto-TaskChecklistAnswerID").val() });
                        photos.searchBarExpandedSize = 300;
                        
                        $("#taskChecklistAnswerPhotoForm").show();
                        $("#photoLoaderTaskAnswer").hide();
                        $("#TaskChecklistAnswerPhoto-Longitude").val("0");
                        $("#TaskChecklistAnswerPhoto-Latitude").val("0");
                        $("#filPhotoLoaderTaskAnswer").val("")
    
                    }
                });
            });


            $("#lnkOpenTaskPhotoDialog").click(function () {
                $("#taskPhotoDialog").dialog({
                    width: 500
                });;
            });

            $("#lnkOpenTaskChecklistAnswerPhotoDialog").click(function () {
                $("#taskChecklistAnswerPhotoDialog").dialog({
                    width: 500
                });;
            });
            
            $("#btnCancelUpdateCheckList").click(function () {

                $("#checklistAnswers").show();
                $("#checklistQuestion").hide();
            });

            $("#lnkOpenRiskAssessmentDialog").click(function () {
                $("#riskAssessmentDialog").dialog({
                    width: 900
                });
                populateRiskAssessment();
            });

            function populateRiskAssessment() {
                $("#checklistAnswers").html("");
                var checklistAnswers = new triangle.ui.table('#checklistAnswers', '/Contract/Task/GetTaskChecklistAnswers', 20, { taskID: $("#TaskID").val() });
                checklistAnswers.searchBarExpandedSize = 300;
  


                checklistAnswers.LoadedEvent = function () {

                var checklistTable = $('#checklistAnswers table')
               
                checklistTable.find('tbody tr').each(function () {
                    var tr = $(this);

                    $(tr).on('click', function () {
                        var rowData = tr.attr('data-rowdata');
                        var split = rowData.split(',');

                        var taskChecklistAnswerID = split[0];
                        var answer = split[1];
                        var reason = $(tr).find(".it-col-reason").find(".val").html();
                        console.log(reason)
                        console.log(answer)
                        console.log(taskChecklistAnswerID)
                        $("#CheckListAnswer_ChecklistAnswerID").val(taskChecklistAnswerID)
                        $("#CheckListAnswer-Reason").val(reason)
                        $("input[name='CheckListAnswer.ChecklistAnswer'][value=" + answer + "]").prop('checked', true);
                        $("#checklistAnswers").hide();
                        $("#checklistQuestion").show();
                    });
                });
                }

                $("#checklistAnswers").show(); 
                $("#checklistQuestion").hide();
            }

            $('#StartTime').datetimepicker({
                format: 'd/m/Y H:i',
                step: 15
            });
            $('#EndTime').datetimepicker({
                format: 'd/m/Y H:i',
                step: 15
            });
        })

      
        var checklist = new triangle.ui.table('#checklist', '/Contract/Task/GetTaskChecklistAnswers', 20, { taskID: $("#TaskID").val() });
        checklist.searchBarExpandedSize = 300;

        checklist.LoadedEvent = function () {
            var checklistTable = $('#checklist table');
            if (!checklistTable.length) {
                return;
            }

            checklistTable.removeClass('table-striped');
            checklistTable.removeClass('table-hover');

            var firstRowText = checklistTable.find('tbody tr:first td:first').text();
            if (firstRowText == 'No results found.') {
                return;
            }

            checklistTable.find('tbody tr').each(function () {
                var tr = $(this);

                if (!tr.hasAttr('data-rowdata')) {
                    return true;
                }

                var rowData = tr.attr('data-rowdata');
                var split = rowData.split(',');

                var taskChecklistAnswerID = split[0];
                var answer = +split[1];

                tr.attr('data-taskChecklistAnswerID', taskChecklistAnswerID);
                tr.attr('data-answer', answer);

                //if (answer == 0) {  //Originally only 'High' risks could have reasons and pictures but this has been changed to allow all levels to have reasons
                tr.attr('data-selectable', true);
                //}
            });
        }
        function WireUpCheckList() {
            $('#checklist').on('click', 'tbody tr', function () {
                var base = $(this);

                if (!base.hasAttr('data-selectable')) {
                    return;
                }

                if (base.hasClass('active')) {
                    $('#checklist-answer-photos-container').hide();
                    base.removeClass('active');
                    return;
                }

                base.siblings().removeClass('active');
                base.addClass('active');

                var taskChecklistAnswerID = base.attr('data-taskChecklistAnswerID');
                var answer = +base.attr('data-answer');

                $('#checklist-answer-photos-container').show();
                $('#checklist-answer-photos').html("");
                $('#TaskChecklistAnswerPhoto-TaskChecklistAnswerID').val(taskChecklistAnswerID);

                var assets = new triangle.ui.table('#checklist-answer-photos', '/Contract/Task/GetTaskChecklistAnswerPhotos', 20, { taskChecklistAnswerID: taskChecklistAnswerID });
                assets.searchBarExpandedSize = 300;
            });
        }


        var signatures = new triangle.ui.table('#signatures', '/Contract/Task/GetTaskSignatures', 20, { taskID: $("#TaskID").val() });
        signatures.searchBarExpandedSize = 300;

        var photos = new triangle.ui.table('#photos', '/Contract/Task/GetTaskPhotos', 20, { taskID: $("#TaskID").val() });
        photos.searchBarExpandedSize = 300;

        var equipment = new triangle.ui.table('#equipment', '/Contract/Task/GetTaskEquipment', 20, { workInstructionID: $("#WorkInstructionID").val() });
        equipment.searchBarExpandedSize = 300;

        equipment.LoadedEvent = function () {
            var equipmentTable = $('#equipment table');
            if (!equipmentTable.length) {
                return;
            }

            equipmentTable.removeClass('table-striped');
            equipmentTable.removeClass('table-hover');

            var firstRowText = equipmentTable.find('tbody tr:first td:first').text();
            if (firstRowText == 'No results found.') {
                return;
            }

            equipmentTable.find('tbody tr').each(function () {
                var tr = $(this);

                var rowData1 = tr.attr('data-rowdata');
                var split1 = rowData1.split(',');

                var equipmentID = split1[0];
                var taskEquipmentID = split1[4];
                var hasEquipmentInstallTask = parseBool(split1[1]);
                var hasEquipmentCollectionTask = parseBool(split1[2]);
                var isVmsOrAsset = parseBool(split1[3]);

                tr.attr('data-equipmentID', equipmentID);
                tr.attr('data-taskEquipmentID', taskEquipmentID);
                tr.attr('data-hasEquipmentInstallTask', hasEquipmentInstallTask);
                tr.attr('data-hasEquipmentCollectionTask', hasEquipmentCollectionTask);

                if (isVmsOrAsset) {
                    tr.attr('data-selectable', true);
                }
            });

            var firstTr = equipmentTable.find('tbody tr:first-child');
            var rowData = firstTr.attr('data-rowdata');
            var split = rowData.split(',')
            var hasEquipmentInstallTask = parseBool(split[1]);
            var hasEquipmentCollectionTask = parseBool(split[2]);

            if (!hasEquipmentInstallTask) {
                var qtyInstalledIndex = $('#equipment thead tr th.qty-installed').index() + 1;
                $('#equipment thead tr th:nth-child(' + qtyInstalledIndex + ')').hide();
                $('#equipment tbody tr td:nth-child(' + qtyInstalledIndex + ')').hide();
            }

            if (!hasEquipmentCollectionTask) {
                var qtyCollectedIndex = $('#equipment thead tr th.qty-collected').index() + 1;
                $('#equipment thead tr th:nth-child(' + qtyCollectedIndex + ')').hide();
                $('#equipment tbody tr td:nth-child(' + qtyCollectedIndex + ')').hide();
            }
        }

        $('#equipment').on('click', 'tbody tr', function () {
            var base = $(this);

            if (!base.hasAttr('data-selectable')) {
                return;
            }

            if (base.hasClass('active')) {
                $('#assets-installed-container').hide();
                $('#assets-collected-container').hide();
                base.removeClass('active');
                return;
            }

            base.siblings().removeClass('active');
            base.addClass('active');

            var equipmentID = base.attr('data-equipmentID');
            var hasEquipmentInstallTask = parseBool(base.attr('data-hasEquipmentInstallTask'));
            var hasEquipmentCollectionTask = parseBool(base.attr('data-hasEquipmentCollectionTask'));

            if (hasEquipmentInstallTask) {
                var installedTable = $('#installedTable');
                $('#installedTable tbody').empty();
                $('#assets-installed-container').show();

                $.ajax({
                    url: '/Contract/Task/GetTaskEquipmentAssets',
                    data: { workInstructionID: $("#WorkInstructionID").val(), equipmentID: equipmentID, taskType: "Equipment Install", rowCount: 30, page: 0, query: "" },
                    beforeSend: function () {
                        $(installedTable, 'tbody').append(
                            '<tr><td colspan="3" style="text-align: center;"> <img src="/Content/Images/loader.gif" /></td></tr>'
                        );
                    },
                    success: function (res, a) {
                        $('#installedTable tbody').empty();
                        var i = 0;
                        $(res.Rows).each(function () {
                            $(installedTable, 'tbody').append(
                                '<tr data-id="' + $(this)[0].TableData[2] + '"class="res">' +
                                '<td>' + $(this)[0].TableData[2] + '</td>' +
                                '<td><input autocomplete="off" class="installation-asset-number" name="AssetsInstalled[' + i + '].AssetNumber" type="text" value="' + $(this)[0].TableData[3] + '"/>' +
                                (installation ? '<img class="remove-installed-asset" src="/Content/Images/edit-delete.png" style="height:20px; margin-top: 5px; float:right; cursor:pointer; opacity:0.6;" />' : '') +
                                '<input name="AssetsInstalled[' + i + '].AssetID" type="hidden" value="' + $(this)[0].TableData[0] + '" />' +
                                '<input name="AssetsInstalled[' + i + '].EquipmentID" type="hidden" value="' + $(this)[0].TableData[1] + '" />' +
                                '<input name="AssetsInstalled[' + i + '].ItemNumber" type="hidden" value="' + $(this)[0].TableData[2] + '" /></td>' +
                                '</tr>');
                            i++;
                        });
                    }
                });

                //var assets = new triangle.ui.table('#assets-installed', '/Contract/Task/GetTaskEquipmentAssets', 20, { workInstructionID: $("#WorkInstructionID").val(), equipmentID: equipmentID, taskType: "Equipment Install" });
                //assets.searchBarExpandedSize = 300;
            }

            if (hasEquipmentCollectionTask) {
                var collectedTable = $('#collectedTable');
                $('#collectedTable tbody').empty();
                $('#assets-collected-container').show();

                $.ajax({
                    url: '/Contract/Task/GetTaskEquipmentAssets',
                    data: { workInstructionID: $("#WorkInstructionID").val(), equipmentID: equipmentID, taskType: "Equipment Collection", rowCount: 30, page: 0, query: "" },
                    beforeSend: function () {
                        $(collectedTable, 'tbody').append(
                            '<tr><td colspan="3" style="text-align: center;"> <img src="/Content/Images/loader.gif" /></td></tr>'
                        );
                    },
                    success: function (res, a) {
                        $('#collectedTable tbody').empty();
                        var i = 0;
                        $(res.Rows).each(function () {
                            $(collectedTable, 'tbody').append(
                                '<tr data-id="' + $(this)[0].TableData[2] + '"class="res">' +
                                '<td>' + $(this)[0].TableData[2] + '</td>' +
                                '<td><input autocomplete="off" class="collection-asset-number" name="AssetsCollected[' + i + '].AssetNumber" type="text" value="' + $(this)[0].TableData[3] + '"/>' +
                                '<input name="AssetsCollected[' + i + '].AssetID" type="hidden" value="' + $(this)[0].TableData[0] + '" />' +
                                '<input name="AssetsCollected[' + i + '].EquipmentFK" type="hidden" value="' + $(this)[0].TableData[1] + '" /></td>' +
                                '<input name="AssetsCollected[' + i + '].ItemNumber" type="hidden" value="' + $(this)[0].TableData[2] + '" /></td>' +
                                '</tr>');
                            i++;
                        });
                    }
                });


                //var assets = new triangle.ui.table('#assets-collected', '/Contract/Task/GetTaskEquipmentAssets', 20, { workInstructionID: $("#WorkInstructionID").val(), equipmentID: equipmentID, taskType: "Equipment Collection" });
                //assets.searchBarExpandedSize = 300;
            }
        });

        $('#add-installed-asset').on('click', function () {
            $('#equipment').attr('title', 'Save changes to Assets before selecting Equipment.');
            $('#equipment table tbody').attr('style', 'cursor: not-allowed');
            $('#equipment table tbody tr').each(function () {
                $(this).removeAttr('data-selectable');
            });
            $('#equipment').off('click');
            $('.remove-installed-asset').hide();

            var equipmentID = $('#equipment table > tbody').find('.active').data('equipmentid');
            var index = 0;
            index = $('#installedTable > tbody > tr').length;
            index;
            var num = $('#installedTable > tbody > tr').last().data('id') + 1;
            $('#installedTable > tbody').append(
                '<tr data-id="' + num + '"class="res">' +
                '<td>' + num + '</td>' +
                '<td><input autocomplete="off" class="installation-asset-number" name="AssetsInstalled[' + index + '].AssetNumber" type="text" value=""/>' +
                '<input name="AssetsInstalled[' + index + '].AssetID" type="hidden" value="00000000-0000-0000-0000-000000000000" />' +
                '<input name="AssetsInstalled[' + index + '].EquipmentID" type="hidden" value="' + equipmentID + '" />' +
                '<input name="AssetsInstalled[' + index + '].ItemNumber" type="hidden" value="' + num + '"/></td >' +
                '</tr>');
        })

        $(document).on('click', '.remove-installed-asset', function () {
            $('#equipment').attr('title', 'Save Asset Number changes before selecting Equipment.');
            $('#equipment table tbody').attr('style', 'cursor: not-allowed');
            $('#equipment table tbody tr').each(function () {
                $(this).removeAttr('data-selectable');
            });
            $('#equipment').off('click');
            $('#add-installed-asset').hide();

            var row = $(this).parent().parent();
            row.remove();

            var installedAssets = $('#installedTable > tbody > tr');
            var i = 0;

            installedAssets.each(function () {
                $(this).find($("input[name$='AssetNumber']")).attr('name', 'AssetsInstalled[' + i + '].AssetNumber');
                $(this).find($("input[name$='AssetID']")).attr('name', 'AssetsInstalled[' + i + '].AssetID');
                $(this).find($("input[name$='EquipmentID']")).attr('name', 'AssetsInstalled[' + i + '].EquipmentID');
                $(this).find($("input[name$='ItemNumber']")).attr('name', 'AssetsInstalled[' + i + '].ItemNumber');
                i++;
            });
        })

        if ($('#TaskType').val() != 'Equipment Install') {
            $('.remove-installed-asset').hide();
            $('#add-installed-asset').hide();
        }

        var cleansingLogs = new triangle.ui.table('#cleansing-logs', '/Contract/Task/GetCleansingLogs', 999, { taskID: $("#TaskID").val() });
        var activityRiskAssessments = new triangle.ui.table('#activity-risk-assessment', '/Contract/Task/GetActivityRiskAssessments', 999, { taskID: $("#TaskID").val() });
        var unloadingProcesses = new triangle.ui.table('#unloading-processes', '/Contract/Task/GetUnloadingProcesses', 999, { taskID: $("#TaskID").val() });

        // helpers
        function parseBool(val) {
            if ((typeof val === 'string' && (val.toLowerCase() === 'true' || val.toLowerCase() === 'yes')) || val === 1)
                return true;
            else if ((typeof val === 'string' && (val.toLowerCase() === 'false' || val.toLowerCase() === 'no')) || val === 0)
                return false;
            return null;
        }

        $.fn.hasAttr = function (attribute) {
            var attr = $(this).attr(attribute);
            if (typeof attr !== typeof undefined && attr !== false) {
                return true;
            }
            return false;
        }

        $(document).on('keyup', '.installation-asset-number', function () {
            var input = $(this);
            $('#equipment').attr('title', 'Save Asset Number changes before selecting Equipment.');
            $('#equipment table tbody').attr('style', 'cursor: not-allowed');
            $('#equipment table tbody tr').each(function () {
                $(this).removeAttr('data-selectable');
            });
            $('#equipment').off('click');

            var changedItemNo = $(input).parent().parent().data('id');

            $('#collectedTable > tbody > tr').each(function () {
                var collectionAssetNo = $(this).data('id');
                if (collectionAssetNo == changedItemNo) {
                    $(this).find($("input[name$='AssetNumber']")).val($(input).val());
                }
            });
        });

        $(document).on('keyup', '.collection-asset-number', function () {
            var input = $(this);
            $('#equipment').attr('title', 'Save Asset Number changes before selecting Equipment.');
            $('#equipment table tbody').attr('style', 'cursor: not-allowed');
            $('#equipment table tbody tr').each(function () {
                $(this).removeAttr('data-selectable');
            });
            $('#equipment').off('click');

            var changedItemNo = $(input).parent().parent().data('id');

            $('#installedTable > tbody > tr').each(function () {
                var installnAssetNo = $(this).data('id');
                if (installnAssetNo == changedItemNo) {
                    $(this).find($("input[name$='AssetNumber']")).val($(input).val());
                }
            });
        });

    </script>
}