﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.MethodStatements.MethodStatementViewModel

@{
    ViewBag.Title = "Active Method Statements";
}

@section contentHeader
{
    <h1>Active Method Statements</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var activeMethodStatements = null;

        $(function () {
            activeMethodStatements = new triangle.ui.table('#current', '/Contract/MethodStatement/ActiveMethodStatements', 50);
        });

    </script>

}