﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.MethodStatements.MethodStatementViewModel

@{
    ViewBag.Title = "New Method Statements";
}

@section contentHeader
{
    <h1>New Method Statements</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Bootstrap.TextBoxFor(m => m.MethodStatement.Title, new { label = "Title" })
                  @*  @Bootstrap.TextBoxFor(m => m.MethodStatement.Revision, new { label = "Revision" }) *@
                    
                    <div class="control-group">
                        <label for="File" class="control-label">Body</label>
                        <div class="controls">
                            <input type="file" id="File" name="file" />
                        </div>
                    </div>

                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        
    </script>
}