﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.MethodStatements.MethodStatementViewModel

@{
    ViewBag.Title = "Method Statement Summary";
}

@section contentHeader
{
    <h1>Method Statement Summary</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            <input type="submit" class="btn " value="Cancel" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.MethodStatement.MethodStatementID)
                    
                    @Bootstrap.TextBoxFor(m => m.MethodStatement.Title, new { disabled = "disabled", label = "Title" })
                    @Bootstrap.TextBoxFor(m => m.MethodStatement.Revision, new { disabled = "disabled", label = "Revision" })
                    <div class="control-group">
                        <label for="File" class="control-label">Body</label>
                        <div class="controls">
                            @if (Model.MethodStatement.FileID.HasValue)
                            {
                                <a href="/File/GetFile/@Model.MethodStatement.FileID.Value">@Model.FileName</a>
                            }
                        </div>
                    </div>
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        
    </script>
}