﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.MethodStatements.MethodStatementViewModel

@{
    ViewBag.Title = "Update Method Statements";
}

@section contentHeader
{
    <h1>Update Method Statements</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.MethodStatement.MethodStatementID)
                    
                    @Bootstrap.TextBoxFor(m => m.MethodStatement.Title, new { label = "Title" })
                 @*   @Bootstrap.TextBoxFor(m => m.MethodStatement.Revision, new { label = "Revision" }) *@
                    <div class="control-group">
                        <label for="File" class="control-label">Body</label>
                        <div class="controls">
                            @if (Model.MethodStatement.FileID.HasValue)
                            {
                                <a href="/File/GetFile/@Model.MethodStatement.FileID.Value">@Model.FileName</a>
                            }
                            <input type="file" id="File" name="file" />
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.MethodStatement.FileID)
                    @Bootstrap.CheckBoxFor(m => m.MethodStatement.IsActive, new { label = "Active" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        $("#File").on("change", function () {
            $("#MethodStatement_FileID").val("");
        });
    </script>
}