﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.DepotAreas.DepotAreaViewModel

@{
    ViewBag.Title = "Inactive Depot Areas";
}

@section contentHeader
{
    <h1>Inactive Depot Areas</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var inactiveDepotAreas = null;

        $(function () {
            inactiveDepotAreas = new triangle.ui.table('#current', '/Contract/DepotArea/InactiveDepotAreas', 50);
        });

    </script>

}