﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.DepotAreas.DepotAreaViewModel

@{
    ViewBag.Title = "New Depot Area";
}

@section contentHeader
{
    <h1>New Depot Area</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Bootstrap.TextBoxFor(m => m.DepotArea.Name, new { label = "Name" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        
    </script>
}