﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Application Error";
}

@section contentHeader
{
    <h1>Application Error</h1>
}

<div class="primary-actions">
</div>

<hgroup class="title">
    <h2 class="error">An error occurred while processing your request.</h2>
</hgroup>
