﻿@{
    ViewBag.Title = "Page Not Found";
}


@section contentHeader
{
    <h1>404</h1>
}
<div class="primary-actions">
    </div>
<div id="notFound">
    <label>Oops!</label>
    <p>It's looking like you may have taken a wrong turn.</p>
    <img src="~/Content/images/Oops.png" />
</div>