﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Schemes.SchemeViewModel

@{
    ViewBag.Title = "New Phase";
}

@section contentHeader
{
    <h1>New Phase</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            <input type="submit" class="btn" value="Cancel" name="Cancel" />
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Scheme.ContractID)
                    @Bootstrap.TextBoxFor(m => m.Scheme.SchemeTitle, new { label = "Title" })
                    @Bootstrap.TextBoxFor(m => m.Scheme.SchemeDescription, new { label = "Description" })
                    @Bootstrap.TextBoxFor(m => m.Scheme.AddressLine1, new { label = "Address Line 1" })
                    @Bootstrap.TextBoxFor(m => m.Scheme.AddressLine2, new { label = "Address Line 2" })
                    @Bootstrap.TextBoxFor(m => m.Scheme.AddressLine3, new { label = "Address Line 3" })
                    @Bootstrap.TextBoxFor(m => m.Scheme.City, new { label = "City" })
                    @Bootstrap.TextBoxFor(m => m.Scheme.County, new { label = "County" })
                    @Bootstrap.TextBoxFor(m => m.Scheme.Postcode, new { label = "Postcode" })
                    @Bootstrap.TextAreaFor(m => m.Scheme.Comments, new { label = "Comments" })
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Jobs</legend>
                    <div class="actions">
                        <a href="#" title="Please Add Phase First" class="ttip btn button-disabled">Add Job</a>
                    </div>
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        
    </script>
}