﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Schemes.SchemeViewModel

@{
    ViewBag.Title = "Update Phase";
}

@section contentHeader
{
    <h1>Update Phase</h1>
}

<style>
    #activeJobs table thead tr th {
        white-space: nowrap;
    }
</style>

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            <input type="submit" class="btn" value="Cancel" name="Cancel" />
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Scheme.SchemeID)
                    @Html.HiddenFor(m => m.Scheme.ContractID)
                    @Bootstrap.TextBoxFor(m => m.Scheme.SchemeTitle, new { label = "Title" })
                    @Bootstrap.TextBoxFor(m => m.Scheme.SchemeDescription, new { label = "Description" })
                    @Bootstrap.TextBoxFor(m => m.Scheme.AddressLine1, new { label = "Address Line 1" })
                    @Bootstrap.TextBoxFor(m => m.Scheme.AddressLine2, new { label = "Address Line 2" })
                    @Bootstrap.TextBoxFor(m => m.Scheme.AddressLine3, new { label = "Address Line 3" })
                    @Bootstrap.TextBoxFor(m => m.Scheme.City, new { label = "City" })
                    @Bootstrap.TextBoxFor(m => m.Scheme.County, new { label = "County" })
                    @Bootstrap.TextBoxFor(m => m.Scheme.Postcode, new { label = "Postcode" })
                    @Bootstrap.TextAreaFor(m => m.Scheme.Comments, new { label = "Comments" })
                    @Bootstrap.CheckBoxFor(m => m.Scheme.IsActive, new { label = "Active" })
                </fieldset>
            </div>
            <div class="span12 control-collection">
                <fieldset>
                    <legend>Jobs</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeJobs">
                    </div>
                    <div class="actions">
                        @Html.ActionLink("Add Job", "New", "Job", new { schemeID = Model.Scheme.SchemeID }, new { @class = "btn" })
                    </div>
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        var schemeJobs = null;

        $(function () {
            schemeJobs = new triangle.ui.table('#activeJobs', '/Contract/Job/ActiveJobsForScheme', 5, { schemeID: $("#Scheme_SchemeID").val() });
            schemeJobs.searchBarExpandedSize = 300;
        });
    </script>
}