﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.ToolboxTalks.ToolboxTalkViewModel

@{
    ViewBag.Title = "Active Toolbox Talks";
}

@section contentHeader
{
    <h1>Active Toolbox Talks</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var activeToolboxTalks = null;

        $(function () {
            activeToolboxTalks = new triangle.ui.table('#current', '/Contract/ToolboxTalk/ActiveToolboxTalks', 50);
        });

    </script>

}