﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.ToolboxTalks.ToolboxTalkViewModel

@{
    ViewBag.Title = "New Toolbox Talk";
}

@section contentHeader
{
    <h1>New Toolbox Talk</h1>
}

<style>
    #ToolboxTalk-Title {
        width: 350px;
    }

    #ToolboxTalk-Revision {
        width: 350px;
    }

    #ToolboxTalk-Body {
        width: calc(100% - 30px);
        height: 240px;
    }
</style>

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span12 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Bootstrap.TextBoxFor(m => m.ToolboxTalk.Title, new { label = "Title" })
                    @Bootstrap.TextBoxFor(m => m.ToolboxTalk.Revision, new { label = "Revision" })
                    @Bootstrap.TextAreaFor(m => m.ToolboxTalk.Body, new { label = "Body" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        
    </script>
}