﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.ToolboxTalks.ToolboxTalkViewModel

@{
    ViewBag.Title = "Toolbox Talk Summary";
}

@section contentHeader
{
    <h1>Toolbox Talk Summary</h1>
}

<div class="asset">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            <input type="submit" class="btn " value="Cancel" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.ToolboxTalk.ToolboxTalkID)
                    
                    @Bootstrap.TextBoxFor(m => m.ToolboxTalk.Title, new { disabled = "disabled", label = "Title" })
                    @Bootstrap.TextBoxFor(m => m.ToolboxTalk.Revision, new { disabled = "disabled", label = "Revision" })
                    @Bootstrap.TextAreaFor(m => m.ToolboxTalk.Body, new { disabled = "disabled", label = "Body" })
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        
    </script>
}