﻿@model FMConway.MVCApp.Models.LoginModel

@using System.Web.Configuration
@using FMConway.Services.Extensions

@{
    ViewBag.Title = "Log in";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

@section Banner
{
    <img src="~/Content/images/@(WebConfigurationManager.AppSettings.Get<bool>("test-version") ? "fmconway_logo_test.png" : "fmconway_logo.png")" />
}

<div id="loginForm">

    @using (Bootstrap.BeginHorizontalForm())
    {
        @Html.AntiForgeryToken()
        @Bootstrap.Validation.ValidationSummary()

        if (!string.IsNullOrEmpty(ViewBag.Info))
        {
            <div class="alert alert-info">
                <p>@ViewBag.Info</p>
            </div>
        }

        if (!string.IsNullOrEmpty(ViewBag.Error))
        {
            <div class="alert alert-error">
                <p>@ViewBag.Error</p>
            </div>
        }

        <div class="user">
            @*@Bootstrap.TextBoxFor(m => m.UserName, new { autofocus = "autofocus" })*@

            @Html.TextBoxFor(m => m.UserName, new { placeholder = "User", autofocus = "autofocus" })
            @*<i class="icon-user"></i>*@
        </div>


        <div class="password">
            @*@Bootstrap.PasswordFor(m => m.Password)*@

            @Html.PasswordFor(m => m.Password, new { placeholder = "Password", autofocus = "autofocus" })

            @*<i class="icon-lock"></i>*@
        </div>

        <div class="actions">
            <input type="submit" value="Log in" name="login" class="btn btn-primary" />
            <input type="submit" value="Forgotten Password?" name="forgot" class="forgot" />
            @*@Html.ActionLink("Forgotten Password?", "ResetPassword", "Account", new { @class = "forgot" })*@
        </div>
        <span class="clearfix"></span>
    }
</div>


@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
