﻿@{
    ViewBag.Title = "Reset";
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}

@section Banner{
    <h1>Reset password</h1>
}

<style>
    .form-horizontal {
        background-color: #e3e3e3;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid black;
    }
</style>

<div id="loginForm">

    @using (Bootstrap.BeginHorizontalForm())
    {
        @Html.AntiForgeryToken()
        @Bootstrap.Validation.ValidationSummary()
        <div class="control-group">
            <label class="control-label">New Password</label>
            <div class="controls">
                <input type="password" name="password" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Confirm Password</label>
            <div class="controls">
                <input type="password" name="confirmationPassword" />
            </div>
        </div>
        <div class="actions span3">
            <input type="submit" value="Reset" class="btn btn-primary" />
        </div>
        <span class="clearfix"></span>
            
    }

</div>
