﻿@{
    ViewBag.Title = "Profile";
}



@section contentHeader{
    <h1>Profile</h1>
}

@Bootstrap.Validation.ValidationSummary()

<div class="primary-actions"></div>

<div class="span6 control-collection">
    @using (Html.BeginForm("UpdateEmail", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Change Email</legend>

            <div class="control-group">
                <label class="control-label">Current Email</label>
                <div class="controls">
                    @Html.TextBox("currentEmail", (string)ViewBag.CurrentEmail, new { @readonly = "readonly" })
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Email</label>
                <div class="controls">
                    @Html.TextBox("email", null, new { autocomplete = "off" })
                </div>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <button class="btn btn-large document-edit" type="submit">Save</button>
                </div>
            </div>

        </fieldset>
    }
</div>

<div class="span6 control-collection">
    @using (Html.BeginForm("UpdatePassword", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken() 
        <fieldset>
            <legend>Change Password</legend>

            <div class="control-group">
                <label class="control-label">Current Password</label>
                <div class="controls">
                    @Html.Password("OldPassword", null, new { autocomplete = "off" })

                </div>
            </div>

            <div class="control-group">
                <label class="control-label">New Password</label>
                <div class="controls">
                    @Html.Password("NewPassword", null, new { autocomplete = "off" })
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Confirm New Password</label>
                <div class="controls">
                    @Html.Password("ConfirmPassword", null, new { autocomplete = "off" })
                </div>
            </div>
            <div class="actions">
                <div class="btn-group">
                    <button class="btn btn-large document-edit" type="submit">Save</button>
                </div>
            </div>
        </fieldset>
    }
</div>


