﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Report.DailyDiaryViewModel

@{
    ViewBag.Title = "Daily Diary";
}

@section contentHeader {
    <h1>Daily Diary</h1>
}

<style>
    #current table tr th {
        white-space: nowrap;
    }

        #current table tr th:not(:last-child) {
            width: 1%;
        }

    #current table tr td {
        white-space: nowrap;
    }

    .fieldset-compact {
        display: inline-block;
        padding-top: 39px;
        margin-bottom: 4px;
        padding-right: 9px;
    }

        .fieldset-compact legend span {
            margin-left: 9px;
        }
</style>


<div class="primary-actions"></div>

<div class="overview">

    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <fieldset class="fieldset-compact">
            <legend><span>Filters</span></legend>
            <div class="span5 control-collection" style="margin-bottom: 0">
                <div class="control-group">
                    <label class="control-label" for="StartDate">Start Date</label>
                    <div class="controls">
                        <input type="text" id="StartDate" name="StartDate" autocomplete="off" class="datepicker" value="@Model.StartDate.ToShortDateString()">
                    </div>
                </div>
            </div>
        </fieldset>
    }

    <div id="current"></div>
    <span class="clearfix"></span>
</div>


@section scripts {
    <script type="text/javascript">
        var table = null;

        $(function () {
            table = new triangle.ui.table('#current', '/Contract/Report/ActiveDailyDiary', 50, { StartDate: $('#StartDate').val().reformatDate() }, null, null, false);

            $('#StartDate').on('change', function () {
                table.urlParams = {
                    StartDate: $(this).val().reformatDate()
                };
                table.GetPage(0);
            });
        });

        // dd/mm/yyyy to yyyy-mm-dd
        String.prototype.reformatDate = function () {
            if (!this) return null;
            return this.split('/').reverse().join('-');
        }
    </script>
}