﻿@{
    ViewBag.Title = "Active Employee Absences";
}

@section contentHeader {
    <h1>Active Employee Absences</h1>
}

<style>
    #current table tr th {
        white-space: nowrap;
    }

    #current table tr th:not(:last-child) {
        width: 1%;
    }

    #current table tr td {
        white-space: nowrap;
    }
</style>

<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>

@section scripts {
    <script type="text/javascript">
        var activeEmployeeAbsences = null;

        $(function () {
            activeEmployeeAbsences = new triangle.ui.table('#current', '/Contract/Report/ActiveEmployeeAbsences', 50, null, null, null, false);
        });
    </script>
}