﻿@{
    ViewBag.Title = "On Hire Report";
}

@section contentHeader {
    <h1>On Hire Report</h1>
}

<style>
    #current table tr th {
        white-space: nowrap;
    }

    #current table tr th:not(:last-child) {
        width: 1%;
    }

    #current table tr td {
        white-space: nowrap;
    }
</style>

<div class="overview">
    <div class="primary-actions"></div>

    <div id="current"></div>
    <span class="clearfix"></span>
</div>

@section scripts {
    <script type="text/javascript">
        var table = null;

        $(function () {
            table = new triangle.ui.table('#current', '/Contract/Report/ActiveOnHire', 50, null, null, null, false);
        });
    </script>
}