﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Report.DailyDiaryViewModel

@{
    ViewBag.Title = "Performance Report";
}

@section contentHeader {
    <h1>Performance Report</h1>
}

<style>
    #current table tr th {
        white-space: nowrap;
    }

        #current table tr th:not(:last-child) {
            width: 1%;
        }

    #current table tr td {
        white-space: nowrap;
    }
</style>


<div class="primary-actions"></div>
<span class="clearfix"></span>

<div class="overview">
    <div id="current"></div>
    <span class="clearfix"></span>
</div>


@section scripts {
    <script type="text/javascript">
        var table = null;

        $(function () {
            table = new triangle.ui.table('#current', '/Contract/Report/ActivePerformance', 50, null, null, null, false);
        });
    </script>
}