﻿@{
    ViewBag.Title = "Job / Task Price Lines";
}

@section contentHeader {
    <h1>Job / Task Price Lines</h1>
}

<style>
    .overview table tr th {
        white-space: nowrap;
    }

    .overview table tr th:not(:last-child) {
        width: 1%;
    }

    .overview table tr td {
        white-space: nowrap;
    }
</style>

<div class="overview">
    <div class="primary-actions"></div>

    <div class="tabbable">
        <ul class="nav nav-tabs" id="dataTab">
            <li class="active">
                <a href="#jobs" data-toggle="tab">Jobs</a>
            </li>
            <li>
                <a href="#workInstructions" data-toggle="tab">Tasks</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="jobs"></div>
            <div class="tab-pane" id="workInstructions"></div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var jobPriceLines = null;
        var workInstructionPriceLines = null;

        $(function () {
            jobPriceLines = new triangle.ui.table('#jobs', '/Contract/Report/ActiveJobPriceLines', 50, null, null, null, false);
            workInstructionPriceLines = new triangle.ui.table('#workInstructions', '/Contract/Report/ActiveWorkInstructionPriceLines', 50, null, null, null, false);
        });
    </script>
}