﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Report.ActiveTasksViewModel
@{
    ViewBag.Title = "Tasks";
}

@section contentHeader {
    <h1>Completed Tasks </h1>
}

<style>
    #current table tr th {
        white-space: nowrap;
    }

    #current table tr th:not(:last-child) {
        width: 1%;
    }

    #current table tr td {
        white-space: nowrap;
    }

    .invoiceDateContainer {
        display:inline-block;
        margin-left:20px;
    }
    .saveDisabled {
        cursor:not-allowed;
    }
    .taskNumColumn {
        width: 100px;
    }
    .taskStartDateColumn {
        width: 100px;
    }
    .taskTypeColumn {
        width: 300px;
    }
    .taskStatusColumn {
        width: 100px;
    }
    .taskInvoicedColumn {
        width: 100px;
        text-align:center;

    }
    .taskInvoiceDateColumn {
        width: 100px;
    }


</style>
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
    <div class="primary-actions">
        <a id="save" class="btn btn-primary" onclick="save()">Save</a>
        <a id="selectAll" class="btn btn-secondary">Select All</a>
        <input id="submit" type="submit" value="Submit" style="display:none">     
        <div class="invoiceDateContainer">
         <span>Invoice Date:</span> <input style="padding: 5px 0 5px 0; width:120px; font-size:12px"  name="InvoiceDate" id="InvoiceDate" type="date" value="@Model.InvoiceDate.ToString("yyyy-MM-dd")"/>
            </div>
    </div>

    <div class="overview">
        <div>
           
        </div>

    <div id="current">
        <div class="excel-export-container">
            <a href="/Contract/Report/ActiveTasks?rowCount=9999999&amp;page=0&amp;query=&amp;excelexport=1"><img src="/Images/export-excel.png"></a>
        </div>

        @*<div class="search-container">
            <div class="search-query" style="width: 200px;">
                <i class="icon-search"></i>
                <input type="text" class="search-query-input" placeholder="Search">
            </div>            
        </div>*@

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th style="display:none"></th>
                    <th class="taskNumColumn">Task</th>
                    <th class="taskNumColumn">Job</th>
                    <th class="taskNumColumn">Customer</th>
                    <th class="taskNumColumn">Contract Manager</th>
                    <th class="taskNumColumn">Contract Number</th>
                    <th class="taskNumColumn">Job Title</th>
                    <th class="taskStartDateColumn">Start Date</th>
                    <th class="taskNumColumn">Issued By</th>
                    <th class="taskNumColumn">Scheduled</th>
                    <th class="taskDepotColumn">Depot</th>
                    <th class="taskTypeColumn">Task Type</th>
                    <th class="taskStatusColumn">Task Status</th>
                    @*<th class="taskNumColumn">Speed</th>*@
                    <th class="taskInvoicedColumn">Invoiced</th>
                    <th class="taskInvoiceDateColumn">Invoice Date</th>
                </tr>
            </thead>
            <tbody>
        @{ 
            var i = 0;

            foreach (var task in Model.Tasks.OrderBy(o => o.TaskNumber))
            {
                var invoiceDate = @task.InvoiceDate.HasValue ? @task.InvoiceDate.ToString().Substring(0, 10) : "";
                <tr>
                    <td class="hiddenColumn" style="display:none">
                        <input name="Tasks[@i].TaskID" value="@task.TaskID"/>
                        <input name="Tasks[@i].InvoiceDate" value="@task.InvoiceDate.ToString()" />
                    </td>
                    <td class="taskNumColumn"><a href="~/Contract/WorkInstruction/Update/@task.TaskID" target="_blank">@task.TaskNumber.ToString()</a></td>
                    <td>@task.JobNumber</td>
                    <td>@task.CustomerName</td>
                    <td>@task.ContractManager</td>
                    <td>@task.ContractNumber</td>
                    <td>@task.JobTitle</td>
                    <td class="taskStartDateColumn">@task.TaskDate.ToShortDateString()</td>
                    <td>@task.IssuedBy</td>
                    <td>@task.Scheduled</td>
                    <td class="taskDepotColumn">@task.Depot</td>
                    <td class="taskTypeColumn">@task.TaskType</td>
                    <td class="taskStatusColumn">@task.TaskStatus</td>
                    @*<td>@task.Speed</td>*@
                    @{ var disabled = task.Invoiced ? (Object) new { @label = "",  @disabled="disabled" } : new { @label = "" } ;}
                    <td style="text-align:center;" class="taskInvoicedColumn">@Html.CheckBoxFor(x => x.Tasks[i].Invoiced, disabled)</td>
                    <td class="taskInvoiceDateColumn">@invoiceDate</td>
                </tr>
                i++;
            }
        }
            </tbody>
        </table>
    </div>
    <span class="clearfix"></span>
</div>
    }

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript">
        var table = null;

        function save() {
            var date = $('#InvoiceDate').val();
            date = date.substr(8, 2) + "/" + date.substr(5, 2) + "/" + date.substr(0, 4);
            ConfirmDialog('Are you sure you want update the Status of the selected Tasks to "Invoiced" on ' + date);
        }

        function toggleSelection() {
            $('.table > tbody > tr').each(function () {
                var invoiced = $(this).find('input[id$= "Invoiced"]');
                if (!invoiced.is(':checked')) {
                    invoiced.prop('checked', true);
                }
            });
        }

        function addInvoiceDates() {
            $('.table > tbody > tr').each(function () {
                var invoiced = $(this).find('input[id$= "Invoiced"]');
                var invoiceDate = $(this).find('.taskInvoiceDateColumn').html();
               
                if (invoiced.is(':checked') && !invoiceDate) {
                    console.log(invoiced.is(':checked'), invoiceDate);
                    $(this).find('.hiddenColumn input[name$= "InvoiceDate"]').val($('#InvoiceDate').val());
                }

            });
        }

        function ConfirmDialog(message) {
            $('<div></div>').appendTo('body')
                .html('<div><h6>' + message + '?</h6></div>')
                .dialog({
                    modal: true,
                    title: 'Confirm Update',
                    zIndex: 10000,
                    autoOpen: true,
                    width: 'auto',
                    resizable: false,
                    buttons: {
                        Yes: function () {
                            addInvoiceDates();
                            $('#submit').click();
                            $(this).dialog("close");
                        },
                        No: function () {
                            $(this).dialog("close");
                        }
                    },
                    close: function (event, ui) {
                        $(this).remove();
                    }
                });
        };

        $(function () {
            $('#selectAll').on('click', function () {
                toggleSelection();
            });

            $('input[id$= "Invoiced"]').change(function () {
                if (!$(this).is(":checked")) {                
                    $(this).prop('checked', false);
                    $(this).removeAttr('checked','checked');
                }
            });

            $('#InvoiceDate').on('change', function () {
                if ($(this).val() == '') {
                    $('#save').removeClass('btn-primary');
                    $('#save').addClass('btn-disabled saveDisabled');
                    $('#save').removeAttr('onClick');
                    $('#save').attr('title','Invoice Date required');
                } else {
                    $('#save').removeClass('btn-disabled saveDisabled');
                    $('#save').addClass('btn-primary');
                    $('#save').attr('onClick', 'save()');
                    $('#save').removeAttr('title');
                }
            });

            $('.table > tbody > tr > td').on('click', function () {
                if (!$(this).hasClass('taskNumColumn') && !$(this).hasClass('taskInvoicedColumn')) {
                    var row = $(this).closest('tr');
                    var invoiced = row.find('input[id$= "Invoiced"]');

                    if (!invoiced.is(':checked')) {
                        invoiced.prop('checked', true);
                    } else if (!invoiced.is("[disabled]")) {
                        invoiced.prop('checked', false);
                    }
                }
            });

           // table = new triangle.ui.table('#current', '/Contract/Report/ActiveTasks', 50, null, null, null, false);
        });

        

    </script>
}