﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Report.TimesheetInformationDetailViewModel

@{
    ViewBag.Title = "Timesheet Information Breakdown";
}

@section contentHeader
{
    <h1>@(Model.EmployeeName)'s Timesheet Information</h1>
}

<style>
    #current table tbody tr[data-rowData*="noschedule"] td:nth-child(2) {
        color: #b30000;
    }

    #current table tbody tr[data-rowData*="today"] {
        color: #1e1eff;
    }
</style>

@Html.HiddenFor(a => a.EmployeeID)

<div class="overview">
    <div class="primary-actions">
        @Html.ActionLink("Cancel", "TimesheetInformation", null, new { @class = "btn" })
    </div>
    <div id="current"></div>
    <span class="clearfix"></span>
</div>

@section scripts{

    <script type="text/javascript">
        var scheduleDetail = null;

        $(function () {
            scheduleDetail = new triangle.ui.table('#current', '/Contract/Report/GetTimesheetInformationDetail', 50, { employeeID: $('#EmployeeID').val() }, null, null, null, false);
        });

    </script>

}