﻿@{
    ViewBag.Title = "Timesheet Information";
}

@section contentHeader
{
    <h1>Timesheet Information</h1>
}

<div class="overview">
    <div class="primary-actions"></div>
    <div id="current"></div>
    <span class="clearfix"></span>
</div>

@section scripts{

    <script type="text/javascript">
        var schedule = null;

        $(function () {
            schedule = new triangle.ui.table('#current', '/Contract/Report/GetTimesheetInformation', 50, null, null, null, false);
        });

    </script>

}