﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Report.TrackerViewModel

@{
    ViewBag.Title = "Tracker";
}

@section contentHeader {
    <h1>Tracker</h1>
}

<style>
    #current table tr th {
        white-space: nowrap;
    }

        #current table tr th:not(:last-child) {
            width: 1%;
        }

    #current table tr td {
        white-space: nowrap;
    }

    .fieldset-compact {
        display: inline-block;
        padding-top: 39px;
        margin-bottom: 4px;
        padding-right: 35px;
    }

        .fieldset-compact legend span {
            margin-left: 9px;
        }

        .fieldset-compact .li-remove {
            right: -13px;
            top: 3px;
        }
</style>


<div class="primary-actions"></div>


<div class="overview">

    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <fieldset class="fieldset-compact">
            <legend><span>Filters</span></legend>
            <div class="span5 control-collection" style="margin-bottom: 0">
                @*<div class="control-group">
                        <label class="control-label" for="Date">Date</label>
                        <div class="controls">
                            <input type="text" id="Date" name="Date" autocomplete="off" value="@Model.Date.ToShortDateString()">
                        </div>
                    </div>*@
                @Bootstrap.DatePickerFor(a => a.Date)
                @Bootstrap.LookupFor(a => a.ContractID, a => a.ContractName, "Contract")
            </div>
        </fieldset>
    }

    <div id="current"></div>
    <span class="clearfix"></span>
</div>


@section scripts {
    <script type="text/javascript">
        var table = null;
        var contractLookup = null;

        $(function () {
            contractLookup = new triangle.ui.lookup("#ContractID", "/Contract/Contract/GetContractLookup", 7, false);
            contractLookup.SelectedEvent = function () {
                refreshTable();
            }
            contractLookup.RemovedEvent = function () {
                refreshTable();
            }

            table = new triangle.ui.table('#current', '/Contract/Report/ActiveTracker', 50, {
                Date: $('#Date').val().reformatDate(),
                ContractID: $('#ContractID').val()
            }, null, null, false);
        });

        $('#Date').on('change', function () {
            refreshTable();
        });

        function refreshTable() {
            table.urlParams = {
                Date: $('#Date').val().reformatDate(),
                ContractID: $('#ContractID').val()
            };

            table.GetPage(0);
        }

        // dd/mm/yyyy to yyyy-mm-dd
        String.prototype.reformatDate = function () {
            if (!this) return null;
            return this.split('/').reverse().join('-');
        }
    </script>
}