﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Report.WeeklyTimesheetViewModel

@{
    ViewBag.Title = "Weekly Timesheet";
}

@section contentHeader {
    <h1>Weekly Timesheet</h1>
}

<style>
    #current table tr th {
        white-space: nowrap;
    }

    #current table tr th:not(:last-child) {
        width: 1%;
    }

    #current table tr td {
        white-space: nowrap;
    }

    .fieldset-compact {
        display: inline-block;
        padding-top: 39px;
        margin-bottom: 4px;
        padding-right: 35px;
    }

    .fieldset-compact legend span {
        margin-left: 9px;
    }

    .fieldset-compact .li-remove {
        right: -13px;
        top: 3px;
    }
</style>


@using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
{
    <div class="primary-actions"></div>

    <fieldset class="fieldset-compact">
        <legend><span>Filters</span></legend>
        <div class="span5 control-collection" style="margin-bottom: 0">
            <div class="control-group">
                <label class="control-label" for="StartDate">Start Date</label>
                <div class="controls">
                    <input type="text" id="StartDate" name="StartDate" autocomplete="off" value="@Model.StartDate.ToShortDateString()">
                </div>
            </div>
            @Bootstrap.LookupFor(a => a.EmployeeID, a => a.EmployeeName, "Employee")
        </div>
    </fieldset>

    <span class="clearfix"></span>

    <div class="overview">
        <div id="current"></div>
        <span class="clearfix"></span>
    </div>
}

@section scripts {
    <script type="text/javascript">
        var table = null;
        var employeeLookup = null;

        $(function () {
            $("#StartDate").datepicker({
                dateFormat: "dd/mm/yy",
                beforeShowDay: function (date) {
                    return [date.getDay() == 1, ""];
                }
            });

            employeeLookup = new triangle.ui.lookup("#EmployeeID", "/Contract/Employee/GetEmployeeLookup", 7, false);
            employeeLookup.SelectedEvent = function () {
                refreshTable();
            }
            employeeLookup.RemovedEvent = function () {
                refreshTable();
            }

            table = new triangle.ui.table('#current', '/Contract/Report/ActiveWeeklyTimesheet', 999999, {
                StartDate: $('#StartDate').val().reformatDate(),
                EmployeeID: $('#EmployeeID').val()
            }, null, null, false);
            table.SearchBar = function () { };
        });

        $('#StartDate').on('change', function () {
            refreshTable();
        });

        function refreshTable() {
            table.urlParams = {
                StartDate: $('#StartDate').val().reformatDate(),
                EmployeeID: $('#EmployeeID').val()
            };

            table.GetPage(0);
        }

        // dd/mm/yyyy to yyyy-mm-dd
        String.prototype.reformatDate = function () {
            if (!this) return null;
            return this.split('/').reverse().join('-');
        }
    </script>
}