﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.WorkInstructionDetails.ChecksCompletedViewModel

@{
    ViewBag.Title = "Checks Completed";
}

@section contentHeader
{
    <h1>Checks Completed</h1>
}

<style>
    #briefing table {
        margin-bottom: 10px;
    }

    .briefing-info {
        font-style: italic;
        color: #000dff;
        font-size: 13px;
        text-align: center;
        margin-bottom: 5px;
    }
</style>

<div class="briefingsignatures">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.HiddenFor(m => m.JobID)
            @Html.HiddenFor(m => m.WorkInstructionID)
            @Html.HiddenFor(m => m.ShiftID)
            @Html.ActionLink("Cancel", "Update", "WorkInstruction", new { id = Model.WorkInstructionID }, new { @class = "btn" })
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Briefing Signatures</legend>
                    <div id="briefing"></div>
                </fieldset>
            </div>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">
        var briefing = null;

        $(function () {
            briefing = new triangle.ui.table('#briefing', '/Contract/WorkInstructionDetails/GetBriefingSignatures', 5, { workInstructionID: $("#WorkInstructionID").val() });
            briefing.searchBarExpandedSize = 300;

            briefing.LoadedEvent = function () {
                var trs = $('#briefing table tbody tr');
                if (trs.length == 1) {
                    var firstTd = trs.find('td:first-child');
                    if (firstTd.text() == 'No results found.') {
                        var briefingInfo = '<div class="briefing-info">Briefings will be synced once the task is completed.</div>';
                        $('#briefing').append(briefingInfo);
                    }
                }
            }
        });
    </script>
    
}