﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.WorkInstructionDetails.DetailsViewModel

@{
    ViewBag.Title = "Work Instruction Details";
}

@section contentHeader
{
    <h1>Work Instruction Details</h1>
}
<div class="workinstruction">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.HiddenFor(m => m.JobID)
            @Html.HiddenFor(m => m.WorkInstructionID)
            @Html.HiddenFor(m => m.ShiftID)
            @Html.ActionLink("Cancel", "Update", "WorkInstruction", new { id = Model.WorkInstructionID }, new { @class = "btn" })
            @* Add shift staff and vehicles to this screen in some form. *@
        </div>
        <div class="masonry">
            
            <div class="span12 control-collection">
                <fieldset>
                    <legend>Task Items</legend>
                    <div id="activeTasks">
                    </div>
                </fieldset>
            </div>

            <div class="span12 control-collection">
                <fieldset>
                    <legend>Vehicle Checklists</legend>
                    <div id="vchecks">
                    </div>  
                </fieldset>
            </div>

            <div class="span12 control-collection">
                <fieldset>
                    <legend>Loading Sheet Asset Checklists</legend>
                    <div id="equipmentItems">
                    </div>
                </fieldset>
            </div>

            <div class="span12 control-collection">
                <fieldset>
                    <legend>Maintenance</legend>
                    <div id="maintenance">
                    </div>
                    
                </fieldset>
            </div>

            <div class="span12 control-collection">
                <fieldset>
                    <legend>Shift Vehicles</legend>
                    <div id="vehicles">

                    </div>
                </fieldset>
            </div>

            <div class="span12 control-collection">
                <fieldset>
                    <legend>Shift Staff</legend>
                    <div id="staff">

                    </div>
                </fieldset>
            </div>

            <div class="span6 control-collection">
                <fieldset>
                    <legend>Accidents</legend>
                    <div id="accidents">
                    </div>
                </fieldset>
            </div>

            <div class="span6 control-collection" style="display: none">
                <fieldset>
                    <legend>Observations</legend>
                    <div id="observations">
                    </div>
                    
                </fieldset>
            </div>

            <div class="span6 control-collection">
                <fieldset>
                    <legend>Notes</legend>
                    <div id="notes">
                    </div>
                    
                </fieldset>
            </div>                                              

            <div class="span6 control-collection">
                <fieldset>
                    <legend>Briefing Signatures</legend>
                    <div id="briefing">
                    </div>
                    
                </fieldset>
            </div>

            <div class="span6 control-collection">
                <fieldset>
                    <legend>Loading Sheet Signatures</legend>
                    <div id="loading">
                    </div>
                    
                </fieldset>
            </div>
    </div>
    }
</div>

@section scripts{
    <script type="text/javascript">
        
        var tasks = null;
        var accidents = null;
        var observations = null;
        var notes = null;
        var vchecks = null;
        var maintenance = null;
        var briefing = null;
        var loading = null;
        var equipmentItems = null;

        var staff = null;
        var vehicles = null;

        $(function () {            

            tasks = new triangle.ui.table('#activeTasks', '/Contract/Task/ActiveTasks', 10, { workInstructionID: $("#WorkInstructionID").val() });
            tasks.searchBarExpandedSize = 300;

            accidents = new triangle.ui.table('#accidents', '/Contract/Accidents/GetAccidents', 5, { shiftID: $("#ShiftID").val(), workInstructionID: $("#WorkInstructionID").val() });
            accidents.searchBarExpandedSize = 300;

            observations = new triangle.ui.table('#observations', '/Contract/Observations/GetObservations', 5, { shiftID: $("#ShiftID").val(), workInstructionID: $("#WorkInstructionID").val() });
            observations.searchBarExpandedSize = 300;

            briefing = new triangle.ui.table('#briefing', '/Contract/WorkInstructionDetails/GetBriefingSignatures', 5, { workInstructionID: $("#WorkInstructionID").val() });
            briefing.searchBarExpandedSize = 300;

            loading = new triangle.ui.table('#loading', '/Contract/WorkInstructionDetails/GetLoadingSheetSignatures', 5, { workInstructionID: $("#WorkInstructionID").val() });
            loading.searchBarExpandedSize = 300;

            notes = new triangle.ui.table('#notes', '/Contract/WorkInstructionDetails/GetNotes', 5, { workInstructionID: $("#WorkInstructionID").val() });
            notes.searchBarExpandedSize = 300;

            vchecks = new triangle.ui.table('#vchecks', '/Contract/WorkInstructionDetails/GetVehicleChecklistAnswers', 20, { shiftID: $("#ShiftID").val(), workInstructionID: $("#WorkInstructionID").val() });
            vchecks.searchBarExpandedSize = 300;

            equipmentItems = new triangle.ui.table('#equipmentItems', '/Contract/WorkInstructionDetails/GetLoadingSheetEquipmentItems', 20, { workInstructionID: $("#WorkInstructionID").val() });
            equipmentItems.searchBarExpandedSize = 300;

            maintenance = new triangle.ui.table('#maintenance', '/Contract/WorkInstructionDetails/GetMaintenanceCheckAnswers', 20, { workInstructionID: $("#WorkInstructionID").val()  });
            maintenance.searchBarExpandedSize = 300;

            vehicles = new triangle.ui.table('#vehicles', '/Contract/WorkInstructionDetails/GetShiftVehicles', 5, { shiftID: $("#ShiftID").val() });
            vehicles.searchBarExpandedSize = 300;

            staff = new triangle.ui.table('#staff', '/Contract/WorkInstructionDetails/GetShiftStaff', 5, { shiftID: $("#ShiftID").val() });
            staff.searchBarExpandedSize = 300;
        });
    </script>
}