﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.WorkInstructionDetails.EquipmentItemChecklistViewModel

@{
    ViewBag.Title = "Equipment Item Checklist";
}

@section contentHeader
{
    <h1>Equipment Item Checklist</h1>
}

<div class="briefingsignatures">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Details", "WorkInstructionDetails", new { id = Model.EquipmentItemChecklist.WorkInstructionID }, new { @class = "btn" })
        </div>

        @Html.HiddenFor(a => a.EquipmentItemChecklist.EquipmentItemChecklistID)
        @Html.HiddenFor(a => a.EquipmentItemChecklist.WorkInstructionID)

        @Bootstrap.TextBoxFor(a => a.EquipmentItemChecklist.LoadingSheet, new { @readonly = "readonly" })
        @Bootstrap.TextBoxFor(a => a.EquipmentItemChecklist.Equipment, new { @readonly = "readonly" })
        @Bootstrap.TextBoxFor(a => a.EquipmentItemChecklist.VmsOrAsset, new { @readonly = "readonly" })
        @Bootstrap.TextBoxFor(a => a.EquipmentItemChecklist.ItemNumber, new { @readonly = "readonly" })

        <div class="masonry">
            <div class="span10 control-collection">
                <fieldset>
                    <legend>Checklist</legend>
                    <div id="equipmentItemChecklists"></div>
                </fieldset>
            </div>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">
        var equipmentItemChecklists = null;

        $(function () {
            equipmentItemChecklists = new triangle.ui.table('#equipmentItemChecklists', '/Contract/WorkInstructionDetails/GetEquipmentItemChecklistAnswersPaged', 15, { equipmentItemChecklistID: $("#EquipmentItemChecklist_EquipmentItemChecklistID").val() });
            equipmentItemChecklists.searchBarExpandedSize = 300;
        });
    </script>
    
}