﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.WorkInstructionDetails.MaintenanceDetailViewModel

@{
    ViewBag.Title = "Vehicle Defect Details";
}
@section contentHeader
{
    <h1>Vehicle Defect Details</h1>
}
<div class="accident">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            
            @Html.ActionLink("Cancel", "Details", "WorkInstructionDetails", new { id = Model.WorkInstructionID }, new { @class = "btn" })
            
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Accident Details</legend>
                    <div id="accident">
                        @Html.HiddenFor(m => m.MaintenanceCheckDetailID)
                        @Html.HiddenFor(m => m.MaintenanceCheckAnswerID) 
                        @Bootstrap.TextAreaFor(m => m.Question, new { @readonly = "readonly" })
                        @Bootstrap.TextAreaFor(m => m.Description, new { @readonly = "readonly"})
                    </div>
                    
                </fieldset>
            </div>

            <div class="span6 control-collection">
                <fieldset>
                    <legend>Detail Photos</legend>
                    <div id="detailPhotos">
                        
                    </div>
                    
                </fieldset>
            </div>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">

        var photos = null;

        $(function () {

            photos = new triangle.ui.table('#detailPhotos', '/Contract/WorkInstructionDetails/GetMaintenanceDetailPhotos', 5, { maintenanceCheckDetailID: $("#MaintenanceCheckDetailID").val() });
            photos.searchBarExpandedSize = 300;
        });
    </script>
    
}