﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.WorkInstructionDetails.ShiftVehicleViewModel

@{
    ViewBag.Title = "Shift Vehicle Details";
}
@section contentHeader
{
    <h1>Shift Vehicle Details</h1>
}
<div class="accident">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            
            @Html.ActionLink("Cancel", "Details", "WorkInstructionDetails", new { id = Model.WorkInstructionID }, new { @class = "btn" })
            
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Accident Details</legend>
                    <div id="accident">
                        @Html.HiddenFor(m => m.ShiftVehicleID)
                        @Html.HiddenFor(m => m.WorkInstructionID)

                        @Bootstrap.TextBoxFor(m => m.Vehicle, new { @readonly = "readonly" })
                        @Bootstrap.TextBoxFor(m => m.Registration, new { @readonly = "readonly" })
                        @Bootstrap.TextBoxFor(m => m.Driver, new { @readonly = "readonly" })
                        @Bootstrap.TextBoxFor(m => m.StartMileage, new { @readonly = "readonly" })
                        @*@Bootstrap.TextBoxFor(m => m.EndMileage, new { @readonly = "readonly" })*@
                        @Bootstrap.TextBoxFor(m => m.ReasonNotOn, new { @readonly = "readonly" })
                    </div>
                    
                </fieldset>
            </div>

            <div class="span6 control-collection">
                <fieldset>
                    <legend>Mileage Photos</legend>
                    <div id="mileagePhotos">
                        
                    </div>
                    
                </fieldset>
            </div>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">

        var photos = null;

        $(function () {
            photos = new triangle.ui.table('#mileagePhotos', '/Contract/WorkInstructionDetails/GetShiftVehicleMileagePhotos', 5, { shiftVehicleID: $("#ShiftVehicleID").val() });
            photos.searchBarExpandedSize = 300;
        });
    </script>
    
}