﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Contracts.ContractViewModel

@{
    ViewBag.Title = "Inactive Contracts";
}

@section contentHeader
{
    <h1>Inactive Contracts</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var activeContracts = null;

        $(function () {
            activeContracts = new triangle.ui.table('#current', '/Contract/Contract/InactiveContracts', 50);
        });

    </script>

}