﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Contracts.ContractViewModel

@{
    ViewBag.Title = "New Contract";
}

@section contentHeader
{
    <h1>New Contract</h1>
}

<div class="contract">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" id="save" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Contract.CreateScheme)
                    @Bootstrap.LookupFor(m => m.Contract.CustomerID, m => m.Contract.Customer.CustomerName, "Customer")
                    @Bootstrap.TextBoxFor(m => m.Contract.ContractNumber, new { label = "Sub Contract Code" })
                    @Bootstrap.TextBoxFor(m => m.Contract.ContractTitle, new { label = "Contract Title" })
                    @Bootstrap.DropDownListFor(m => m.Contract.ContractTypeID, Model.ContractType, new { @label = "Contract Type" })
                    @Bootstrap.LookupFor(m => m.Contract.DepotID, m => m.Contract.DepotLookup, "Depot")
                    @Bootstrap.DatePickerFor(m => m.Contract.DateAwarded, new { label = "Date Awarded" })
                    @Bootstrap.DatePickerFor(m => m.Contract.DateExpires, new { label = "Date Expires" })
                    @Bootstrap.DropDownListFor(m => m.Contract.StatusID, Model.ContractStatus, new { label = "Contract Status" })
                    @Bootstrap.TextBoxFor(m => m.Contract.TenderNumber, new { label = "Tender Number" })
                    @Bootstrap.LookupFor(m => m.Contract.EmployeeID, m => m.Contract.Employee.EmployeeName, "Contract Manager")
                    @Bootstrap.DropDownListFor(m => m.Contract.BillingRequirementID, Model.BillingRequirements, new { label = "Billing Requirements" })
                    @Bootstrap.TextBoxFor(m => m.Contract.SubmitDate, new { label = "Date to Submit" })
                    @Bootstrap.TextBoxFor(m => m.Contract.QuantitySurveyor, new { label = "Quantity Surveyor" })
                    @Bootstrap.CheckBoxFor(a => a.Contract.IsCleansingLogMandatory, new { label = "Cleansing Log Mandatory" })
                </fieldset>
            </div>
            @*<div class="span6 control-collection">
                    <fieldset>
                        <legend>Tender Details</legend>
                        @Bootstrap.TextBoxFor(m => m.Contract.TenderNumber, new { label = "Tender Number" })
                        @Bootstrap.MultiListLookupFor(m => m.TenderChecklists, "TenderChecklists")
                    </fieldset>
                </div>*@
            <div class="control-collection span6">
                <fieldset>
                    <legend>Cost Build Ups</legend>
                    <ul class="documents">
                        @if (Model.UploadedDocuments != null)
                        {
                            int documentCount = 0;
                            foreach (var document in Model.UploadedDocuments)
                            {
                                <li class="file-add">
                                    @Html.Hidden("Documents[" + documentCount + "].DocumentID", document.DocumentID, new { @class = "document-id" })
                                    @Html.Hidden("Documents[" + documentCount + "].Number", document.Number, new { @class = "document-number" })
                                    @Html.Hidden("Documents[" + documentCount + "].FileID", document.FileID, new { @class = "document-fileid" })
                                    @Html.Hidden("Documents[" + documentCount + "].Loaded", document.Loaded, new { @class = "document-loaded" })
                                    <a href="/File/GetFile/@document.FileID">
                                        <label>@document.Number</label>
                                    </a>
                                </li>

                                documentCount++;
                            }
                        }
                    </ul>
                    <div class="actions">
                        <div class="btn-group">
                            <button class="btn btn-large document-edit">Edit</button>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Phases</legend>
                    <div class="actions">
                        <a href="#" title="Please Add Contract First" class="ttip btn button-disabled">Add Phase</a>
                    </div>
                </fieldset>
            </div>
        </div>
    }
</div>


<input type="hidden" id="RequiresDocumentNumber" value="true" />

@section footer{
    <div id="DocumentModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Upload Document</h3>
        </div>
        <div class="modal-body form-horizontal">
            <div class="control-group">
                <label for="DocumentNumber" class="control-label">Document Number</label>
                <div class="controls">
                    <input type="text" autocomplete="off" id="DocumentNumber">
                </div>
            </div>
            <div class="control-group">
                <label for="File" class="control-label">Document</label>
                <div class="controls">
                    <input type="file" id="FileDocument">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" id="DocumentModalCancel" class="btn" data-dismiss="modal">Close</a>
            <a href="#" id="DocumentModalSave" class="btn btn-primary" data-dismiss="modal">Save</a>
        </div>
    </div>

    <div id="CreateScheme" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Create Scheme</h3>
        </div>
        <div class="modal-body form-horizontal" style="min-height:30px">
            Do you want to add a scheme based on the contract?
        </div>
        <div class="modal-footer">
            <a href="#" id="CreateSchemeCancel" class="btn" data-dismiss="modal">Cancel</a>
            <a href="#" id="CreateSchemeNo" class="btn btn-primary" data-dismiss="modal">No</a>
            <a href="#" id="CreateSchemeYes" class="btn btn-primary" data-dismiss="modal">Yes</a>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        //const { info } = require("console");

        var customerLookup = null;
        var depotLookup = null;
        var employeeLookup = null;
        var documentCollectionEditor = null;
        var checklistLookup = null;

        $(function () {
            SchemeModal();

            InitDocuments();

            customerLookup = new triangle.ui.lookup("#Contract-CustomerID" /*ID*/, "/Contract/Customer/GetCustomerLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            depotLookup = new triangle.ui.lookup("#Contract-DepotID" /*ID*/, "/Contract/Depot/GetDepotLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            employeeLookup = new triangle.ui.lookup("#Contract-EmployeeID" /*ID*/, "/Contract/Employee/GetContractManagerLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            checklistLookup = new triangle.ui.lookup("#TenderChecklists" /*ID*/, "/Contract/Maintenance/GetTenderChecklistLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);
        });

        function SchemeModal() {
            $('#save').on('click', function (e) {
                e.preventDefault();

                $('#CreateScheme').modal("show");

                //$('#CreateScheme').attr("style", "display:block");
                //$('#CreateScheme').addClass("in")
                //$('#CreateScheme').attr("aria-hidden", "false");
                //$('#CreateScheme .close').attr("aria-hidden", "false");
            });

            $('#CreateSchemeCancel').on('click', function () {
                //$('#CreateScheme').attr("style", "display:none");
                //$('#CreateScheme').removeClass("in")
                //$('#CreateScheme').attr("aria-hidden", "true");
                //$('#CreateScheme .close').attr("aria-hidden", "true");
                $('#CreateScheme').modal("hide");
            });

            $('#CreateSchemeNo').on('click', function () {
                $('#Contract_CreateScheme').val(false);

                $('#CreateScheme').modal("hide");
                $('#save').parents('form').submit();
            });

            $('#CreateSchemeYes').on('click', function () {
                $('#Contract_CreateScheme').val(true);

                $('#CreateScheme').modal("hide");
                $('#save').parents('form').submit();

            });

        }

        function InitDocuments() {
            documentCollectionEditor = new triangle.ui.collectionEditor(".documents");
            documentCollectionEditor.Delete = function (item) {
                $(item).remove();
                var documentContainer = $(".documents");
                var itemCount = documentContainer.children(".file-add");
                itemCount.each(function (idx, ele) {
                    $(ele).find(".document-number").attr("name", "UploadedDocuments[" + idx + "].Number");
                    $(ele).find(".document-loaded").attr("name", "UploadedDocuments[" + idx + "].Loaded");
                    $(ele).find(".document-file").attr("name", "UploadedDocuments[" + idx + "].Document");
                });
            }

            $(documentCollectionEditor).on("add", function () {
                $("#DocumentModal").modal("show");
            })

            $('.document-edit').on("click", function (e) {
                documentCollectionEditor.Edit();
                return false;
            });

            $('#DocumentModalCancel').on('click', function () {
                //Clean up validation
                $("#DocumentModal .error").removeClass("error");
                $("#DocumentModal .help-inline").remove();
                $("#DocumentModal input").val('');
            });

            $("#DocumentModal input").mousedown(function () {
                var controlGroup = $(this).parents(".control-group");
                controlGroup.removeClass("error");
                controlGroup.find(".help-inline").remove();
            });

            $('#DocumentModalSave').on('click', function () {
                var documentNumberInput = $("#DocumentNumber");
                var file = $("#FileDocument");
                var IsValid = true;
                //Validate Document
                $("#DocumentModal .error").removeClass("error");
                $("#DocumentModal .help-inline").remove();
                var requiresDocumentNumber = $("#RequiresDocumentNumber");
                if (requiresDocumentNumber != null && requiresDocumentNumber.val() === "true") {
                    if (documentNumberInput.val().length == 0) {
                        var controlGroup = documentNumberInput.parents(".control-group");
                        controlGroup.addClass("error");
                        $("<span>").addClass("help-inline").text("A document number must be supplied before continuing.").insertAfter(documentNumberInput);
                        IsValid = false;
                    }
                }
                if (file.val().length == 0) {
                    var controlGroup = file.parents(".control-group");
                    controlGroup.addClass("error");
                    $("<span>").addClass("help-inline").text("A document must be supplied before continuing.").insertAfter(file);
                    IsValid = false;
                }
                if (!IsValid)
                    return false;
                //Process Document
                var documentContainer = $(".documents");
                var itemCount = documentContainer.children(".file-add").length;
                var control = $("<li>").addClass("file-add");
                var documentNumberClone = documentNumberInput.clone().attr("id", "UploadedDocument_" + itemCount + "_Number").attr("type", "hidden").addClass("document-number").attr("name", "UploadedDocuments[" + itemCount + "].Number");
                control.append(documentNumberClone);
                $("#DocumentNumber").val('');
                //var securityLevelClone = $("<input>").attr("type", "hidden").attr("id", "UploadedDocument_" + itemCount + "_SecurityLevelID").addClass("document-security-level").attr("name", "UploadedDocuments[" + itemCount + "].SecurityLevelID").attr("value", securityLevel).hide();
                //control.append(securityLevelClone);
                var clone = file.clone().val('');
                clone.insertAfter(file);
                file.addClass("document-file").attr("id", "UploadedDocument_" + itemCount + "_Document").attr("name", "UploadedDocuments[" + itemCount + "].Document").hide().appendTo(control);
                var documentNumber = $(documentNumberClone).val();
                var lblText = documentNumber;
                if (lblText.length > 6) {
                    lblText = lblText.substring(0, 5) + "...";
                    control.attr("title", documentNumber)
                }
                var label = $("<label>").text(lblText);
                control.append(label);
                documentCollectionEditor.Add(control);
            });


        }
    </script>
}