﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Contracts.ContractViewModel

@{
    ViewBag.Title = "Inactive Contract";
}

@section contentHeader
{
    <h1>Inactive Contract</h1>
}

<div class="contract">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm())
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Contract.ID)

                    @Bootstrap.TextBoxFor(m => m.Contract.Customer.CustomerName, new { disabled = "disabled", label = "Customer" })
                    @Bootstrap.TextBoxFor(m => m.Contract.ContractNumber, new { disabled = "disabled", label = "Contract Number" })
                    @Bootstrap.TextBoxFor(m => m.Contract.ContractTitle, new { disabled = "disabled", label = "Contract Title" })                   
                    @Bootstrap.TextBoxFor(m => m.Contract.DepotLookup, new { disabled = "disabled", label = "Depot" })
                    @Bootstrap.DatePickerFor(m => m.Contract.DateAwarded, new { disabled = "disabled", label = "Date Awarded" })
                    @Bootstrap.DatePickerFor(m => m.Contract.DateExpires, new { disabled = "disabled", label = "Date Expires" })
                    @Bootstrap.TextBoxFor(m => m.Contract.Status.Status , new { disabled = "disabled", label = "Contract Status" })
                    @Bootstrap.TextBoxFor(m => m.Contract.Employee.EmployeeName , new { disabled = "disabled", label = "Contract Manager" })
                    @Bootstrap.TextBoxFor(m => m.Contract.BillingRequirement.BillingRequirement , new { disabled = "disabled", label = "Billing Requirement" })
                    @Bootstrap.TextBoxFor(m => m.Contract.SubmitDate, new { disabled = "disabled", label = "Date to Submit" })
                    @Bootstrap.TextBoxFor(m => m.Contract.QuantitySurveyor, new { disabled = "disabled", label = "Quantity Surveyor" })
                </fieldset>
            </div>

            @*<div class="span6 control-collection">
                <fieldset>
                    <legend>Tender Checklist Details</legend>
                    @Bootstrap.TextBoxFor(m => m.Contract.TenderNumber, new { disabled = "disabled", label = "Tender Number" })
                    @Bootstrap.MultiListLookupFor(m => m.TenderChecklists, "Tender Checklists", true)
                </fieldset>
            </div>*@

            <div class="control-collection span6">
                <fieldset>
                    <legend>Cost Build Ups</legend>

                    <ul class="documents">
                        @if (Model.Documents != null)
                        {
                            int documentCount = 0;
                            foreach (var document in Model.Documents)
                            {
                            <li data-document="@document.DocumentID">
                                <a href="/File/GetFile/@document.FileID">
                                    <img src="~/Content/images/docket.png" /><label>@document.Number</label></a>
                            </li>     
                                   
                                documentCount++;
                            }
                        }
                    </ul>
                </fieldset>
            </div>
        </div> 
    }
</div>

@section scripts{
    <script type="text/javascript">
        var customerLookup = null
        var employeeLookup = null

        $(function () {
            customerLookup = new triangle.ui.lookup("#Contract-CustomerID" /*ID*/, "/Contract/Customer/GetCustomerLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            employeeLookup = new triangle.ui.lookup("#Contract-EmployeeID" /*ID*/, "/Contract/Employee/GetContractManagerLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        });
    </script>
}