﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Contracts.ContractViewModel

@{
    ViewBag.Title = "Update Contract";
}

@section contentHeader
{
    <h1>Update Contract</h1>
}

<style>
    #activeSchemes table thead tr th:first-child {
        width: 35%;
    }
</style>

<div class="contract">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Active", null, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Details</legend>
                    @Html.HiddenFor(m => m.Contract.ID)

                    @Bootstrap.LookupFor(m => m.Contract.CustomerID, m => m.Contract.Customer.CustomerName, "Customer")
                    @Bootstrap.TextBoxFor(m => m.Contract.ContractNumber, new { label = "Sub Contract Code" })
                    @Bootstrap.TextBoxFor(m => m.Contract.ContractTitle, new { label = "Contract Title" })
                    @Bootstrap.DropDownListFor(m => m.Contract.ContractTypeID, Model.ContractType, new { label = "Contract Type" })
                    @Bootstrap.LookupFor(m => m.Contract.DepotID, m => m.Contract.DepotLookup, "Depot")
                    @Bootstrap.DatePickerFor(m => m.Contract.DateAwarded, new { label = "Date Awarded" })
                    @Bootstrap.DatePickerFor(m => m.Contract.DateExpires, new { label = "Date Expires" })
                    @Bootstrap.DropDownListFor(m => m.Contract.StatusID, Model.ContractStatus, new { label = "Contract Status" })
                    @Bootstrap.TextBoxFor(m => m.Contract.TenderNumber, new { label = "Tender Number" })
                    @Bootstrap.LookupFor(m => m.Contract.EmployeeID, m => m.Contract.Employee.EmployeeName, "Contract Manager")
                    @Bootstrap.DropDownListFor(m => m.Contract.BillingRequirementID, Model.BillingRequirements, new { label = "Billing Requirements" })
                    @Bootstrap.TextBoxFor(m => m.Contract.SubmitDate, new { label = "Date to Submit" })
                    @Bootstrap.TextBoxFor(m => m.Contract.QuantitySurveyor, new { label = "Quantity Surveyor" })
                    @Bootstrap.CheckBoxFor(a => a.Contract.IsCleansingLogMandatory, new { label = "Cleansing Log Mandatory" })
                    @Bootstrap.CheckBoxFor(mbox => mbox.Contract.IsActive)
                </fieldset>
            </div>
            @*<div class="span6 control-collection">
                    <fieldset>
                        <legend>Tender Checklist Details</legend>
                        @Bootstrap.TextBoxFor(m => m.Contract.TenderNumber, new { label = "Tender Number" })
                        @Bootstrap.MultiListLookupFor(m => m.TenderChecklists, "Tender Checklists")
                    </fieldset>
                </div>*@

            <div class="control-collection span6">
                <fieldset>
                    <legend>Cost Build Ups</legend>
                    <ul class="documents">
                        @if (Model.Documents != null)
                        {
                            int documentCount = 0;
                            foreach (var document in Model.Documents)
                            {
                                <li class="file-add">
                                    @Html.Hidden("Documents[" + documentCount + "].DocumentID", document.DocumentID, new { @class = "document-id" })
                                    @Html.Hidden("Documents[" + documentCount + "].Number", document.Number, new { @class = "document-number" })
                                    @Html.Hidden("Documents[" + documentCount + "].FileID", document.FileID, new { @class = "document-fileid" })
                                    @Html.Hidden("Documents[" + documentCount + "].Loaded", document.Loaded, new { @class = "document-loaded" })

                                    <a href="/File/GetFile/@document.FileID">
                                        <label>@document.Number</label>
                                    </a>
                                </li>

                                documentCount++;
                            }
                        }
                    </ul>
                    <div class="actions">
                        <div class="btn-group">
                            <button class="btn btn-large document-edit">Edit</button>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="span6 control-collection">
                <fieldset>
                    <legend>Phases</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeSchemes">
                    </div>
                    <div class="actions">
                        @Html.ActionLink("Add Phase", "Create", "Scheme", new { contractID = Model.Contract.ID }, new { @class = "btn" })
                    </div>
                </fieldset>
            </div>
        </div>
    }
</div>


<input type="hidden" id="RequiresDocumentNumber" value="true" />

@section footer{
    <div id="DocumentModal" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Upload Document</h3>
        </div>
        <div class="modal-body form-horizontal">
            <div class="control-group">
                <label for="DocumentNumber" class="control-label">Document Name</label>
                <div class="controls">
                    <input type="text" autocomplete="off" id="DocumentNumber">
                </div>
            </div>
            <div class="control-group">
                <label for="File" class="control-label">Document</label>
                <div class="controls">
                    <input type="file" id="FileDocument">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" id="DocumentModalCancel" class="btn" data-dismiss="modal">Close</a>
            <a href="#" id="DocumentModalSave" class="btn btn-primary" data-dismiss="modal">Save</a>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript">
        var customerLookup = null;
        var depotLookup = null;
        var employeeLookup = null;
        var documentCollectionEditor = null;
        var tenderChecklistLookup = null;
        var contractSchemes = null;

        $(function () {
            InitDocuments();

            customerLookup = new triangle.ui.lookup("#Contract-CustomerID" /*ID*/, "/Contract/Customer/GetCustomerLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            depotLookup = new triangle.ui.lookup("#Contract-DepotID" /*ID*/, "/Contract/Depot/GetDepotLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            employeeLookup = new triangle.ui.lookup("#Contract-EmployeeID" /*ID*/, "/Contract/Employee/GetContractManagerLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            tenderChecklistLookup = new triangle.ui.lookup("#TenderChecklists" /*ID*/, "/Contract/Maintenance/GetTenderChecklistLookup" /*URL*/, 7/*RowCount*/, true /*IsMultiSelect*/);

            contractSchemes = new triangle.ui.table('#activeSchemes', '/Contract/Scheme/ActiveSchemes', 5, { contractID: $("#Contract_ID").val() });
            contractSchemes.searchBarExpandedSize = 300;
        });

        function InitDocuments() {
            documentCollectionEditor = new triangle.ui.collectionEditor(".documents");
            documentCollectionEditor.Delete = function (item) {
                //$(item).find(".active-state").val("false");
                $(item).remove();//.hide();
                var documentContainer = $(".documents");
                var itemCount = documentContainer.children(".file-add");
                itemCount.each(function (idx, ele) {
                    $(ele).find(".document-id").attr("name", "Documents[" + idx + "].DocumentID");
                    $(ele).find(".document-number").attr("name", "Documents[" + idx + "].Number");
                    $(ele).find(".document-fileid").attr("name", "Documents[" + idx + "].FileID");
                    $(ele).find(".document-loaded").attr("name", "Documents[" + idx + "].Loaded");
                    $(ele).find(".document-file").attr("name", "Documents[" + idx + "].Document");
                });
            }

            $(documentCollectionEditor).on("add", function () {
                $("#DocumentModal").modal("show");
            })

            $('.document-edit').on("click", function (e) {
                documentCollectionEditor.Edit();
                return false;
            });

            $('#DocumentModalCancel').on('click', function () {
                //Clean up validation
                $("#DocumentModal .error").removeClass("error");
                $("#DocumentModal .help-inline").remove();
                $("#DocumentModal input").val('');
            });

            $("#DocumentModal input").mousedown(function () {
                var controlGroup = $(this).parents(".control-group");
                controlGroup.removeClass("error");
                controlGroup.find(".help-inline").remove();
            });

            function addControlGroupError(documentTitle, message) {
                documentTitle.closest('.control-group').addClass('error');
                var html = '<div class="help-inline">' + message + '</div>';
                $(html).insertAfter(documentTitle);
            }

            $('#DocumentModalSave').on('click', function () {
                var documentNumberInput = $("#DocumentNumber");
                var securityLevel = $("#Security_Levels option:selected").val();
                var file = $("#FileDocument");
                var IsValid = true;
                //Validate Document
                $("#DocumentModal .error").removeClass("error");
                $("#DocumentModal .help-inline").remove();
                var requiresDocumentNumber = $("#RequiresDocumentNumber");
                if (requiresDocumentNumber != null && requiresDocumentNumber.val() === "true") {
                    if (documentNumberInput.val().length == 0) {
                        addControlGroupError(documentNumberInput, "A document number must be supplied before continuing.");
                        IsValid = false;
                    }
                }

                if (file.val().length == 0) {
                    addControlGroupError(file, "A document must be supplied before continuing.");
                    IsValid = false;
                }

                if (!IsValid)
                    return false;
                //Process Document
                var documentContainer = $(".documents");
                var itemCount = documentContainer.children(".file-add").length;

                if (itemCount < 0) {
                    itemCount = 0;
                }

                var control = $("<li>").addClass("file-add");
                var documentNumberClone = documentNumberInput.clone().addClass("document-number").attr("type", "hidden").attr("id", "DocumentNumber-" + itemCount).attr("name", "Documents[" + itemCount + "].Number");
                control.append(documentNumberClone);
                $("#DocumentNumber").val('');
                //var securityLevelClone = $("<input>").attr("type", "hidden").addClass("document-slid").attr("id", "SecurityLevelID-" + itemCount).attr("name", "Documents[" + itemCount + "].SecurityLevelID").attr("value", securityLevel).hide();
                //control.append(securityLevelClone);
                var clone = file.clone().val('');
                clone.insertAfter(file);
                file.attr("id", "File-" + itemCount).addClass("document-file").attr("name", "Documents[" + itemCount + "].Document").hide().appendTo(control);
                var documentNumber = $(documentNumberClone).val();
                var lblText = documentNumber;
                if (lblText.length > 6) {
                    lblText = lblText.substring(0, 5) + "...";
                    control.attr("title", documentNumber)
                }
                var label = $("<label>").text(lblText);
                control.append(label);
                documentCollectionEditor.Add(control);
            });
        }
    </script>
}