﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.OutOfHours.OutOfHoursViewModel
@{
    ViewBag.Title = "Active Out Of Hours Shifts";
}

@section contentHeader
{
<h1>Out Of Hours Shift</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div class="assignOOH">
        <div class="tabbable">
            <ul class="nav nav-tabs" id="widataTab" style="width: auto">
                <li class="active">
                    <a href="#current" data-toggle="tab">To be Assigned</a>
                </li>
                <li>
                    <a href="#assigned" data-toggle="tab">Assigned</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="current">

                </div>
                <div class="tab-pane" id="assigned">

                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">
        $(document).ready(function () {
            $('#widataTab a').click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
        });


        var oohshifts = null;
        var assigned = null;

        $(function () {
            oohshifts = new triangle.ui.table('#current', '/Contract/OutOfHours/OutOfHoursShiftsToBeAssigned', 50);
            assigned = new triangle.ui.table('#assigned', '/Contract/OutOfHours/AssignedOutOfHoursShifts', 50);

        });

    </script>

}
