﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.OutOfHours.OutOfHoursViewModel
@{
    ViewBag.Title = "Out Of Hours Shifts";
}

@section contentHeader
{
    <h1>Inactive Out Of Hours Shifts</h1>
}
<div class="overview">
    <div class="primary-actions"></div>
    <div id="current">
    </div>
    <span class="clearfix"></span>
</div>
@section scripts{

    <script type="text/javascript">
        var oohshifts = null;

        $(function () {
            oohshifts = new triangle.ui.table('#current', '/Contract/OutOfHours/InactiveOutOfHoursShifts', 50);
        });

    </script>

}