﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.OutOfHours.OutOfHoursViewModel
@{
    if (Model.JobID != null)
    {
        ViewBag.Title = "View Out Of Hours";
    }
    else
    {
        ViewBag.Title = "Assign Out Of Hours";
    }
}

@section contentHeader
{
    @if (Model.JobID != null)
    {
        <h1>View Out Of Hours</h1>
    }
    else
    {
        <h1>Assign Out Of Hours</h1>
    }
}

<style>
    .primary-actions input.btn-primary[disabled] {
        background-color: #3071a9;
    }
</style>

<div class="outOfHours">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            <input type="submit" class="btn btn-primary" value="Save" @(Model.IsLocked ? "disabled=disabled" : "") />
            <a href="/Contract/Job/Update/@Model.JobID" class="btn btn-default" @(Model.JobID == null ? "disabled=disabled" : "")>Go To Job</a>
            <a href="/Contract/WorkInstruction/Update/@Model.WorkInstructionID" class="btn btn-default">Go To Task</a>
            <a href="/Contract/WorkInstructionDetails/Details/@Model.WorkInstructionID" class="btn btn-default">Go To Task Details</a>
        </div>
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Shift Details</legend>
                    @Html.HiddenFor(a => a.WorkInstructionID)
                    @Html.HiddenFor(a => a.IsLocked)

                    @Bootstrap.LookupFor(a => a.CustomerID, a => a.CustomerLookup, null, Model.IsLocked)
                    @Bootstrap.LookupFor(a => a.JobID, a => a.JobLookup, null, Model.CustomerID == null || Model.IsLocked)
                    @Bootstrap.TextBoxFor(a => a.WorkInstructionNumber, new { label = "Task" }).ReadonlyIf(true)
                    @Bootstrap.CheckBoxFor(a => a.NewJob, new { @label = "Create New Job" }).HiddenIf(Model.IsLocked)

                    <div class="new-job" @(!Model.NewJob ? "style=display:none" : "")>
                        @Bootstrap.LookupFor(a => a.ContractID, a => a.ContractLookup, null, Model.CustomerID == null).RequiredIf(true)
                        @Bootstrap.LookupFor(a => a.DepotID, a => a.DepotLookup).RequiredIf(true)
                        @Bootstrap.TextBoxFor(a => a.CustomerProjectCode)
                        @Bootstrap.TextBoxFor(a => a.JobTitle)
                        @Bootstrap.DatePickerFor(a => a.StartDate).RequiredIf(true)
                        @Bootstrap.DatePickerFor(a => a.FinishDate)
                    </div>

                    @Bootstrap.CheckBoxFor(a => a.IsActive).DisabledIf(Model.IsLocked)
                </fieldset>
            </div>
        </div>
    }
</div>

@section scripts{
    <script type="text/javascript">

        // customer lookup
        $('#CustomerID').attr('previous-customerid', $('#CustomerID').val());

        var customerLookup = new triangle.ui.lookup("#CustomerID" /*ID*/, "/Contract/Customer/GetCustomerLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
        customerLookup.SelectedEvent = function (a, b) {
            var previousCustomerID = $('#CustomerID').attr('previous-customerid');

            if (b != previousCustomerID) {
                jobLookup.Clear();
                contractLookup.Clear();
            }

            jobLookup.Enable();
            contractLookup.Enable();
            refreshCustomerUrlParams();
            $('#CustomerID').attr('previous-customerid', b);
        }
        customerLookup.RemovedEvent = function () {
            jobLookup.Disable();
            contractLookup.Disable();
            refreshCustomerUrlParams();
            $('#CustomerID').attr('previous-customerid', '');
            $('#NewJob').prop('checked', false);
            $('.new-job').hide();
        }

        // job lookup
        var jobLookup = new triangle.ui.lookup("#JobID" /*ID*/, "/Contract/Job/GetJobsLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);

        function refreshCustomerUrlParams() {
            jobLookup.UrlParameters = {
                customerID: $('#CustomerID').val(),
            };
            contractLookup.UrlParameters = {
                customerID: $('#CustomerID').val(),
            };
        }

        // create new job
        $('#NewJob').on('click', function () {
            var isChecked = $(this).prop('checked');
            $('.new-job').toggle(isChecked);

            if (isChecked) {
                jobLookup.Disable();
            } else {
                jobLookup.Enable();
            }
        });

        // contract lookup
        var contractLookup = new triangle.ui.lookup("#ContractID" /*ID*/, "/Contract/Contract/GetContractSchemeLookup" /*URL*/, 7 /*RowCount*/, false /*IsMultiSelect*/);

        // depot lookup
        var depotLookup = new triangle.ui.lookup("#DepotID" /*ID*/, "/Contract/Depot/GetDepotLookup" /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);

        // actions
        $('.primary-actions').on('click', 'input, a', function (e) {
            if ($(this).hasAttr('disabled')) {
                e.preventDefault();
            }
        });

        // init
        refreshCustomerUrlParams();

    </script>
}