﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Timesheets.TimesheetRecordViewModel

@{
    ViewBag.Title = "Create Timesheet Record";
}

@section contentHeader
{
    <h1>Create Timesheet Record for Week Beginning @Model.WeekStart.Day.ToString()/@Model.WeekStart.Month.ToString()/@Model.WeekStart.Year.ToString()</h1>
}

<div class="activity">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "UpdateTimesheet", "Timesheet", new { id = Model.TimesheetID }, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Timesheet Record</legend>
                    @Html.HiddenFor(m => m.EmployeeID)
                    @Html.HiddenFor(m => m.TimesheetID)
                    @Bootstrap.LookupFor(m => m.ShiftID, m => m.ShiftDate, "Shift")
                    @Bootstrap.TextBoxFor(m => m.WorkedHours, new { label = "Working Hours"})
                    @Bootstrap.TextBoxFor(m => m.WorkedMins, new { label = "Working Mins"})
                    @Bootstrap.TextBoxFor(m => m.BreakHours, new { label = "Break Hours"})
                    @Bootstrap.TextBoxFor(m => m.BreakMins, new { label = "Break Mins"})
                    @Bootstrap.TextBoxFor(m => m.TravelHours, new { label = "Travel Hours"})
                    @Bootstrap.TextBoxFor(m => m.TravelMins, new { label = "Travel Mins"})

                    @Bootstrap.CheckBoxFor(m => m.IPVAllowance)
                    @Bootstrap.CheckBoxFor(m => m.PaidBreakAllowance)
                    @Bootstrap.CheckBoxFor(m => m.OnCallAllowance)
                </fieldset>
            </div>
            
        </div> 
    }
</div>
@section scripts{
    <script type="text/javascript">
        var shiftLookup = null;

        $(function ()
        {
            shiftLookup = new triangle.ui.lookup("#ShiftID" /*ID*/, "/Contract/Timesheet/GetShiftsForTimesheetLookup?timesheetID=" + $("#TimesheetID").val() /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            //shiftLookup.UrlParameters = function () {
            //    return {
            //        timesheetID: $("#TimesheetID").val()
            //    };
            //}
        });
    </script>
}