﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Timesheets.TimesheetRecordViewModel

@{
    ViewBag.Title = "Create Timesheet";
}

@section contentHeader
{
    <h1>Create Timesheet</h1>
}

<div class="activity">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "Update", "Employee", new { id = Model.EmployeeID }, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
        
        <div class="masonry">
            <div class="span6 control-collection">
                <fieldset>
                    <legend>Timesheet Record</legend>
                    @Html.HiddenFor(m => m.EmployeeID)
                    @Bootstrap.LookupFor(m => m.ShiftID, m => m.ShiftDate, "Shift")
                    <div class="control-group time">
                        <label for="#Start-Hour" class="control-label">Start Time</label>
                        <div class="controls">
                            <input id="Start-Hour" name="StartHour" class="time-spinner spinner" type="number" min="0" max="23" value="@Model.StartHour" />
                            <input id="Start-Min" name="StartMin" class="time-spinner spinner" type="number" min="0" max="59"  value="@Model.StartMin"  />
                        </div>
                    </div>
                    <div class="control-group time">
                        <label for="#Finish-Hour" class="control-label">Finish Time</label>
                        <div class="controls">
                            <input id="Finish-Hour" name="FinishHour" class="time-spinner spinner" type="number" min="0" max="23" value="@Model.FinishHour" />
                            <input id="Finish-Min" name="FinishMin" class="time-spinner spinner" type="number" min="0" max="59"  value="@Model.FinishMin"  />
                        </div>
                    </div>      
                               
                    @Bootstrap.TextBoxFor(m => m.WorkedHours, new { label = "Working Hours" })
                    @Bootstrap.TextBoxFor(m => m.WorkedMins, new { label = "Working Mins" })
                    @Bootstrap.TextBoxFor(m => m.BreakHours, new { label = "Break Hours" })
                    @Bootstrap.TextBoxFor(m => m.BreakMins, new { label = "Break Mins" })

                    @Bootstrap.CheckBoxFor(m => m.IPVAllowance)
                    @Bootstrap.CheckBoxFor(m => m.PaidBreakAllowance)
                    @Bootstrap.CheckBoxFor(m => m.OnCallAllowance)
                    
                </fieldset>
            </div>
            
        </div> 
    }
</div>
@section scripts{
    <script type="text/javascript">
        var shiftLookup = null;

        $(function ()
        {
            shiftLookup = new triangle.ui.lookup("#ShiftID" /*ID*/, "/Contract/Timesheet/GetShiftsForEmployeeLookup?employeeID=" + $('#EmployeeID').val() /*URL*/, 7/*RowCount*/, false /*IsMultiSelect*/);
            shiftLookup.UrlParameters = function () {
                return { employeeID: $("#EmployeeID").val() };
            }
        });
    </script>
}