﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Timesheets.TimesheetViewModel

@{
    ViewBag.Title = "View Timesheet";
}

@section contentHeader
{
    <h1>View Timesheet</h1>
}

<style>
    #activeTimesheetRecords table tr {
        white-space: nowrap;
    }
</style>

<div class="activity">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @if (Model.EmployeeID != Guid.Empty)
            {
                @Html.ActionLink("Cancel", "Update", "Employee", new { id = Model.EmployeeID },new { @class = "btn" })
            }
            else
            {
                @Html.ActionLink("Cancel", "Active", "Timesheet",new { @class = "btn" })
            }
            <input type="submit" class="btn btn-primary" value="Save" />
            @Html.ActionLink("Print", "PrintTimesheet", "Timesheet", new { id = Model.TimesheetID }, new { @class = "btn btn-primary" })
        </div>
        @Html.HiddenFor(m => m.TimesheetID)
        <div class="masonry">
            <div class="span8 control-collection">
                <fieldset>
                    <legend>Timesheet Records</legend>
                    <div class="tab-pane table-Actions-Spacing" id="activeTimesheetRecords">
                    </div>
                
                    <div class="actions">@Html.ActionLink("Add Record", "CreateTimesheetRecord", "Timesheet", new { timesheetID = Model.TimesheetID }, new { @class = "btn" })
                    </div>
                </fieldset>
            </div>
            
        </div> 
    }
</div>
@section scripts{
    <script type="text/javascript">
        var timesheetRecords = null;

        $(function () {

            timesheetRecords = new triangle.ui.table('#activeTimesheetRecords', '/Contract/Timesheet/ActiveTimesheetRecords', 5, { timesheetID: $("#TimesheetID").val() });
            timesheetRecords.searchBarExpandedSize = 300;

        });
    </script>
}