﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Timesheets.TimesheetRecordViewModel

@{
    ViewBag.Title = "View Timesheet Record";
}

@section contentHeader
{
    <h1>View Timesheet Record</h1>
}

<div class="activity">
    @Bootstrap.Validation.ValidationSummary()
    @using (Bootstrap.BeginHorizontalForm(new { enctype = "multipart/form-data" }))
    {
        <div class="primary-actions">
            @Html.ActionLink("Cancel", "UpdateTimesheet", "Timesheet", new { id = Model.TimesheetID }, new { @class = "btn" })
            <input type="submit" class="btn btn-primary" value="Save" />            
        </div>
        @Html.HiddenFor(m => m.TimesheetID)
        @Html.HiddenFor(m => m.TimesheetRecordID)
        <div class="masonry">
            <div class="span8 control-collection">
                <fieldset>
                    <legend>Timesheet Record</legend>
                    @Bootstrap.TextBoxFor(m => m.StartTime, new { disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.EndTime, new { disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.WorkInstruction, new { disabled = "disabled" })
                    @Bootstrap.TextBoxFor(m => m.WorkedHours, new { label = "Working Hours"})
                    @Bootstrap.TextBoxFor(m => m.WorkedMins, new { label = "Working Mins"})
                    @Bootstrap.TextBoxFor(m => m.BreakHours, new { label = "Break Hours"})
                    @Bootstrap.TextBoxFor(m => m.BreakMins, new { label = "Break Mins"})
                    @Bootstrap.TextBoxFor(m => m.TravelHours, new { label = "Travel Hours"})
                    @Bootstrap.TextBoxFor(m => m.TravelMins, new { label = "Travel Mins"})

                    @Bootstrap.CheckBoxFor(m => m.IPVAllowance)
                    @Bootstrap.CheckBoxFor(m => m.PaidBreakAllowance)
                    @Bootstrap.CheckBoxFor(m => m.OnCallAllowance)
                </fieldset>
            </div>
            
        </div> 
    }
</div>
@section scripts{
    <script type="text/javascript">
        
    </script>
}