﻿@model FMConway.MVCApp.Areas.Contract.ViewModels.Timesheets.TimesheetViewModel

@{
    ViewBag.Title = "Weekly Timesheets";
}

@section contentHeader
{
    <h1>Weekly Timesheets</h1>
}

<div class="overview">
    <div class="primary-actions">

    </div>
    <div id="current">

    </div>
</div>

@section scripts{
    <script type="text/javascript">

        var activeTimesheets = null;

        $(function () {
            activeTimesheets = new triangle.ui.table('#current', '/Contract/Timesheet/ActiveTimesheetsAll', 50);
        });

    </script>
}